/* color of button */

/* background color of cancel button */

/* background color of previos button */

/* $indent for image : margin, padding */

.test-device {
  background: url(/images/BS4/test-device/xs320.png) center center no-repeat;
  border: 0 dotted #E90E0E;
}

/* COMMON LAYOUT BLOCK START */

main {
  width: calc(100% - 2px) !important;
}

#main_content {
  background-color: #FCFFFC !important;
  margin-right: auto;
  margin-left: auto;
  padding: 0 !important;
  max-width: 760px !important;
}

#page-wrapper {
  margin-right: 0;
  margin-left: 0;
  padding: 0 !important;
  width: calc(100% - 2px) !important;
  border: 0 solid blue !important;
  align-content: center;
}

.card-body {
  padding: 5px !important;
}

/* COMMON LAYOUT BLOCK END */

/* LEFT SIDEBAR BLOCK START https://bootstrapious.com/p/bootstrap-sidebar#sidebar-1 */

#sidebar {
  max-width: 750px !important;
  margin-right: 5px !important;
  border: 0px solid red !important;
}

/* LEFT SIDEBAR BLOCK END  */

/* FORMS BLOCK START */

.col-form-label {
  text-align: left;
}

.white-box,
.col-sm-12 {
  padding-left: 0;
  padding-right: 0;
}

/* FORMS BLOCK END */

/* MODAL DIALOGS BLOCK START */

.modal-title {
  font-size: medium;
}

.modal-dialog {
  /* width: 800px; */
  margin-top: 20px !important;
  background-color: #FCFFFC;
}

.modal-content {
  min-width: 300px;
  min-height: 440px;
  padding: 0.5em;
  margin: 0px;
  border: 0px red;
}

.modal-body {
  padding: 0.3em;
  overflow-x: hidden;
  overflow-y: scroll;
  align-content: center;
  margin: auto;
  max-height: 380px;
  border: 0px solid red;
  background-color: #FCFFFC;
}

.modal-dialog-3rows {
  max-width: 300px;
  max-height: 450px;
  position: relative;
  margin: 30px auto;
  margin-top: 20px;
  box-sizing: border-box;
  display: block;
}

.modal-content-3rows {
  min-width: 300px;
  min-height: 450px;
  padding: 0.5em;
  position: relative;
  background-color: #FCFFFC;
  border: 5px solid #999;
  border-radius: 6px;
  background-clip: padding-box;
  outline: 0;
}

.modal-body-3rows {
  padding: 0.5em;
  max-height: 410px;
  overflow-x: hidden;
  overflow-y: scroll;
  align-content: center;
  margin: auto;
  border: 0px solid red;
  background-color: #FCFFFC;
}

.modal-dialog-4rows {
  max-width: 300px;
  max-height: 790px;
  position: relative;
  margin: 30px auto;
  margin-top: 60px;
  box-sizing: border-box;
  display: block;
}

.modal-dialog-7rows {
  max-width: 300px;
  max-height: 1070px;
  position: relative;
  margin: 30px auto;
  margin-top: 60px;
  box-sizing: border-box;
  display: block;
}

.modal-dialog-full-width {
  padding: 0.5em;
  width: 300px;
  background-color: #FCFFFC;
  margin: auto;
}

.modal-content-4rows {
  min-width: 300px;
  min-height: 790px;
  padding: 0.5em;
  position: relative;
  background-color: #FCFFFC;
  border: 5px solid #999;
  border-radius: 6px;
  background-clip: padding-box;
  outline: 0;
}

.modal-content-7rows {
  min-width: 300px;
  min-height: 1070px;
  padding: 0.5em;
  position: relative;
  background-color: #FCFFFC;
  border: 5px solid #999;
  border-radius: 6px;
  background-clip: padding-box;
  outline: 0;
}

.modal-content-full-width {
  min-width: 600px;
  min-height: 1000px;
  border: 0px red;
  padding: 0.5em;
  margin: auto;
  background-color: #FCFFFC;
}

.modal-dialog-full-width {
  max-width: 600px;
  max-height: 1000px;
  margin-top: 20px;
  background-color: #FCFFFC;
}

.modal-body-full-width {
  padding: 0.5em;
  overflow-x: hidden;
  overflow-y: scroll;
  align-content: center;
  margin: auto;
  max-height: 840px;
  border: 0px solid red;
  background-color: #FCFFFC;
}

.modal-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* MODAL DIALOGS BLOCK END */

/* MARGINS_PADDINGS DIALOGS BLOCK START */

.top_margin_sm_only_on_xs {
  margin-top: 0.5em;
}

.top_margin_md_only_on_xs {
  margin-top: 0.5em;
}

.top_margin_lg_only_on_xs {
  margin-top: 2em;
}

.pull_right_only_on_xs {
  float: right !important;
}

.pull_left_only_on_xs {
  text-align: left !important;
}

.pull_left_only_on_xs {
  text-align: left !important;
}

/* MARGINS_PADDINGS DIALOGS BLOCK END */

/* IMAGE PREVIEW BLOCK START */

.image_preview {
  border: 1px dotted gray;
  padding: 2px;
  margin: 5px;
  max-width: 280px;
  height: auto;
}

/* IMAGE PREVIEW BLOCK END */

.block_2columns_md {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  justify-content: space-around;
  padding: 4px;
  border: 2px dotted grey !important;
  width: 100% !important;
}

.block_2columns_sm {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  justify-content: space-around;
  padding: 4px;
  border: 2px solid yellow !important;
  width: 100% !important;
}

