/* color of button */

/* background color of cancel button */

/* background color of previos button */

/* $indent for image : margin, padding */

.test-device {
  background: url(/images/BS4/test-device/sm.png) center center no-repeat;
  border: 0px dotted #2D27B6;
}

/* COMMON LAYOUT BLOCK START */

main {
  width: calc(100% - 2px) !important;
}

#main_content {
  background-color: #FCFFFC !important;
  margin-right: auto;
  margin-left: auto;
  padding: 0 !important;
  max-width: 760px !important;
}

#page-wrapper {
  margin-right: 0;
  margin-left: 0;
  padding: 0 !important;
  width: calc(100% - 2px) !important;
  align-content: center;
}

.card-body {
  padding: 5px !important;
}

/* COMMON LAYOUT BLOCK END */

/* LEFT SIDEBAR BLOCK START https://bootstrapious.com/p/bootstrap-sidebar#sidebar-1 */

#sidebar {
  max-width: 750px !important;
  margin-right: 5px !important;
}

/* LEFT SIDEBAR BLOCK END  */

/* MODAL DIALOGS BLOCK START */

.modal-dialog {
  max-width: 720px;
  max-height: 820px;
  margin-top: 60px;
  background-color: #FCFFFC;
}

.modal-content {
  min-width: 640px;
  min-height: 820px;
  padding: 0.5em;
  margin: 0;
  /* text-align: center; */
  /* align-content: center; */
  background-color: #FCFFFC;
}

.modal-body {
  padding: 1em;
  overflow-x: hidden;
  overflow-y: scroll;
  align-content: center;
  margin: auto;
  max-height: 680px;
  background-color: #FCFFFC;
}

.modal-dialog-3rows {
  max-width: 640px;
  max-height: 360px;
  position: relative;
  background-color: #FCFFFC;
  width: 640px;
  margin: 30px auto;
  margin-top: 60px;
  box-sizing: border-box;
  display: block;
}

.modal-content-3rows {
  min-width: 640px;
  min-height: 360px;
  padding: 0.5em;
  position: relative;
  background-color: #FCFFFC;
  border: 1px solid #999;
  border-radius: 6px;
  background-clip: padding-box;
  outline: 0;
}

.modal-body-3rows {
  padding: 0.5em;
  overflow-x: hidden;
  overflow-y: scroll;
  align-content: center;
  margin: auto;
  max-height: 310px;
  border: 0px solid red;
  background-color: #FCFFFC;
}

.modal-dialog-4rows {
  max-width: 720px;
  max-height: 420px;
  position: relative;
  background-color: #FCFFFC;
  width: 640px;
  margin: 30px auto;
  margin-top: 60px;
  box-sizing: border-box;
  display: block;
}

.modal-content-4rows {
  min-width: 640px;
  min-height: 420px;
  padding: 0.5em;
  position: relative;
  background-color: #FCFFFC;
  border: 1px solid #999;
  border-radius: 6px;
  background-clip: padding-box;
  outline: 0;
}

.modal-body-4rows {
  padding: 0.5em;
  overflow-x: hidden;
  overflow-y: scroll;
  align-content: center;
  margin: auto;
  max-height: 380px;
  border: 0px solid red;
  background-color: #FCFFFC;
}

.modal-dialog-7rows {
  max-width: 640px;
  max-height: 820px;
  position: relative;
  background-color: #FCFFFC;
  width: 640px;
  margin: 30px auto;
  margin-top: 60px;
  box-sizing: border-box;
  display: block;
}

.modal-content-7rows {
  min-width: 640px;
  min-height: 820px;
  /* border: 0px red; */
  padding: 0.5em;
  /* text-align: center; */
  position: relative;
  background-color: #FCFFFC;
  border: 1px solid #999;
  border-radius: 6px;
  background-clip: padding-box;
  outline: 0;
}

.modal-content-full-width {
  min-width: 768px;
  min-height: 1000px;
  border: 0px red;
  padding: 0.5em;
  margin: auto;
  margin-top: 30px;
  background-color: #FCFFFC;
}

.modal-dialog-full-width {
  max-width: 768px;
  max-height: 1000px;
  margin-top: 30px;
  background-color: #FCFFFC;
}

.modal-body-full-width {
  padding: 0.5em;
  overflow-x: hidden;
  overflow-y: scroll;
  align-content: center;
  margin: auto;
  max-height: 940px;
  border: 0px solid red;
  background-color: #FCFFFC;
}

.modal-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.modal-title {
  font-size: large;
}

/* MODAL DIALOGS BLOCK END */

/* IMAGE PREVIEW BLOCK START */

.image_preview {
  border: 1px dotted gray;
  padding: 2px;
  margin: 5px;
  max-width: 260px;
  height: auto;
}

/* IMAGE PREVIEW BLOCK END */

.block_2columns_md {
  /* sm */
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  justify-content: space-around;
  padding: 4px;
  border: 0 solid black !important;
  width: 100% !important;
}

.block_2columns_md {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  justify-content: space-around;
  padding: 4px;
  border: 0 dotted grey !important;
  width: 100% !important;
}

/*
.block_2columns_sm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 4px;
    border: 0 solid yellow !important;
    width: 100% !important;
}
*/

