<template>
	<div style="justify-content: flex-end;" class="row_content p-2">
		<button type="submit" class=" btn btn-primary editor_button_submit" :disabled="is_page_updating"><i v-if="show_icons" class="fa fa-save"></i>&nbsp;{{submit_label}}</button>

		<a v-bind:href="cancel_link" class="btn btn-cancel-action" :disabled="is_page_updating" v-if="cancel_label">
			<i v-if="show_icons" class="i_link fa fa-ban"></i>&nbsp;{{ cancel_label }}
		</a>
	</div>

</template>

<script>
    import {bus} from '../../../app';
    import appMixin from '../../../appMixin';

    export default {
        props: {
            submit_label: {
                type: String,
                required: true,
            },

            cancel_label: {
                type: String,
                required: true,
                default: ""
            },
            cancel_link: {
                type: String,
                required: false,
                default: "#/"
            },
            show_icons: {
                type: Boolean,
                required: false,
                default: true
            },
            is_page_updating: {
                type: Boolean,
                required: false,
                default: false
            }
        },

        mixins: [appMixin]


    }
</script>