<template>
	<div style="border: 0px dotted yellow; display: flex; flex: 0 0 40px" class="column_content_centered p-0 m-0">

		<div style="justify-content: left;" class="row_content p-0 m-0">

			<div v-if="show_loading_image" class="loading"></div>
			<div style="display:flex; flex : 1 0 320px; align-self: center; border: 0px dotted red; " class="text-primary">
				<h4>
					<i v-if="header_icon" :class="header_icon"></i>
                    <span v-html=" noWrapString(header_title)"></span>
				</h4>
			</div>

			<div v-if="right_icon!= ''" style="display:flex; align-self: flex-end; border: 0px dotted blue; " class="mb-2">
				<i :class="'i_link '+right_icon_class" title="Refresh" @click="triggerEditorHeaderRightButtonClickedEvent"></i>
			</div>

		</div>

		<div v-if="message" class="text-danger m-2" style="border: 0px dotted grey; ">
			<center><strong>{{ message }}</strong></center>
		</div>

	</div>

</template>

<script>

    import {bus} from '../../../app';
    import appMixin from '../../../appMixin';

    export default {
        props: {
            message: {
                required: false,
                default: ''
            },
            header_title: {
                type: String,
                required: true,
                default: ''
            },
            header_icon: {
                type: String,
                required: false,
                default: ''
            },
            show_loading_image: {
                type: Boolean,
                required: true,
                default: true
            },

            right_icon: {
                type: String,
                required: false,
                default: '' //'fa fa-refresh'
            },
            parent_component_key: {
                type: String,
                required: false,
                default: ''
            },

        },

        mixins: [appMixin],

        methods: {

            triggerEditorHeaderRightButtonClickedEvent() {
                bus.$emit('editorHeaderRightButtonClickedEvent', this.parent_component_key);
            }

        },
        computed: {

            right_icon_class() {
                return this.right_icon + ' a_link p-1 m-0';
            },

        }, // computed: {


    }
</script>

