<template>

	<!--SSrows_count::{{ rows_count }}<br>-->
	<!--item_title::{{ item_title }}<br>-->
	<!--current_page::{{ current_page }}<br>-->
	<!--right_icon::{{ right_icon }}<br>-->
<!--	header_icon::{{ header_icon }}<br>-->
	<!--right_add_button_link_title::{{ right_add_button_link_title }}<br>-->


	<div :class="'listing_header_' + parent_component_key" class="m-2">

		<div class="row_content">

			<div v-if="show_loading_image" class="loading"></div>
			<div class="column_content_centered" >
				<h4 class="text-primary">
					<i :class="header_icon" :title="header_title" v-if="header_icon"></i>&nbsp;<span v-html="noWrapString(header_title)"></span>
				</h4>
				<div style="flex: 1;" class="text-primary">
					<template v-if="!show_loading_image && itemsList.length && item_title">
						{{ itemsList.length }} {{ item_title, itemsList.length }}
						<span v-if="rows_count > 0 && current_page > 0">
							of {{rows_count}}
						</span>
					</template>
				</div>

			</div>

			<div v-if="( right_icon != '' )">
				<i :class="right_icon_class" title="Refresh" @click="triggerListingHeaderRightButtonClickedEvent"></i>
			</div>

			<div v-if="right_add_button_link">
				<router-link :to="{ name: right_add_button_link, params: { id: 'new' } }" :class="'btn btn-success listing_add_button_' + parent_component_key">
					{{ right_add_button_link_title }}
				</router-link>
			</div>

			<div v-if="right_add_button_link_2">&nbsp;&nbsp;
				<router-link :to="{ name: right_add_button_link_2, params: { id: 'new' } }" class="btn btn-success">
					{{ right_add_button_link_2_title }}
				</router-link>
			</div>

		</div>

		<div v-if="message" class="text-danger m-2">
			<center><strong>{{ message }}</strong></center>
		</div>

		<div v-if="( !show_loading_image && !itemsList.length && no_data_found_label ) && !message" class="no_data_found">
			From {{rows_count}} {{ item_title }} {{no_data_found_label }}
		</div>
	</div>

</template>

<script>

    import {bus} from '../../../app';
    import appMixin from '../../../appMixin';

    export default {
        props: {
            message: {
                type: String,
                required: false,
                default: ''
            },
            header_title: {
                type: String,
                required: false,
                default: ''
            },
            header_icon: {
                type: String,
                required: false,
                default: ''
            },
            item_title: {
                type: String,
                required: false,
                default: ''
            },
            no_data_found_label: {
                type: String,
                required: false,
                default: 'no data found. Try change filter options.'
            },
            show_loading_image: {
                type: Boolean,
                required: true,
                default: true
            },
            itemsList: {
                type: Array,
                required: false,
                default: () => [],
            },
            rows_count: {
                type: Number,
                required: false,
                default: 0
            },
            current_page: {
                type: Number,
                required: false,
                default: 0
            },


            right_icon: {
                type: String,
                required: false,
                default: ''
            },
            right_add_button_link: {
                type: String,
                required: false,
            },
            right_add_button_link_title: {
                type: String,
                required: false,
                default: 'Add'
            },

            right_add_button_link_2: {
                type: String,
                required: false,
                default: ''
            },
            right_add_button_link_2_title: {
                type: String,
                required: false,
                // default: 'Add 2'
            },
            parent_component_key: {
                type: String,
                required: false,
                default: ''
            },

        }, // props: {

        mixins: [appMixin],

        methods: {

            triggerListingHeaderRightButtonClickedEvent() {
                // alert("listingHeaderRightButtonClickedEvent::" + (-5))
                bus.$emit('listingHeaderRightButtonClickedEvent', this.parent_component_key);
            }

        }, //methods: {


        mounted() {
            this.show_loading_image = true;
        }, // mounted() {

        computed: {

            right_icon_class() {
                return this.right_icon + ' a_link p-1';
            },

        }, // computed: {


    }
</script>
