<template>
	<span>
		<!--000000rating::{{ rating}} <br> !!!-->
		<i class="fa fa-star-half-o" v-show="rating > 0 &&rating < 1 " :title="'rating : '+rating" v-bind:style="'color:'+this.getIconColor"></i>
		<i class="fa fa-star" v-show="rating >= 1" :title="'rating : '+rating" v-bind:style="'color:'+this.getIconColor"></i>

		<i class="fa fa-star-half-o" v-show="rating > 1 &&rating < 2 " :title="'rating : '+rating" v-bind:style="'color:'+this.getIconColor"></i>
		<i class="fa fa-star" v-show="rating >= 2" :title="'rating : '+rating" v-bind:style="'color:'+this.getIconColor"></i>

		<i class="fa fa-star-half-o" v-show="rating > 2 &&rating < 3 " :title="'rating : '+rating" v-bind:style="'color:'+this.getIconColor"></i>
		<i class="fa fa-star" v-show="rating >= 3" :title="'rating : '+rating" v-bind:style="'color:'+this.getIconColor"></i>

		<i class="fa fa-star-half-o" v-show="rating > 3 &&rating < 4 " :title="'rating : '+rating" v-bind:style="'color:'+this.getIconColor"></i>
		<i class="fa fa-star" v-show="rating >= 4" :title="'rating : '+rating" v-bind:style="'color:'+this.getIconColor"></i>

		<i class="fa fa-star-half-o" v-show="rating > 4 &&rating < 5 " :title="'rating : '+rating" v-bind:style="'color:'+this.getIconColor"></i>
		<i class="fa fa-star" v-show="rating >= 5" :title="'rating : '+rating" v-bind:style="'color:'+this.getIconColor"></i>
	</span>
</template>

<script>
    import {bus} from '../../../app';
    import appMixin from '../../../appMixin';
    export default {
        props: {
            rating: {
                required: true,
            },

        },

        computed: {
            getIconColor() {
                if ( this.rating >= 4.5 ) {
                    return '#fc010e';
                }
                if ( this.rating >= 4.0 ) {
                    return '#fc5a24';
                }
                if ( this.rating >= 3.5 ) {
                    return '#fca29a';
                }
                if ( this.rating >= 3.0 ) {
                    return '#bcc6a6';
                }
                if ( this.rating >= 2.5 ) {
                    return '#9ea68b';
                }
                if ( this.rating >= 2.0 ) {
                    return '#818871';
                }
                if ( this.rating >= 1.0 ) {
                    return '#505446';
                }
                if ( this.rating > 0 ) {
                    return '#000000';
                }
            },

        }, //computed: {


        mixins: [appMixin]

    }
</script>