<template>
	<div class="hostel_item_commands_row mb-3">
		<div v-for="nextStateWithRegion, index in statesWithRegionsList" :key="nextStateWithRegion.id" class="col-4 col-sm-3 m-0 p-0"
		     v-show="nextStateWithRegion.regionsOfStateArray.length > 0">
			<div class="col-12 m-0 p-0 mb-2">
				<v-select
						width="100%"
						:options="nextStateWithRegion.regionsOfStateArray"
						:id="'region_'+nextStateWithRegion.id"
						:name="'region_'+nextStateWithRegion.id"
						class="form-control editable_field"
						:placeholder="nextStateWithRegion.code+' region : '"
						@change="onChangeRegion($event, nextStateWithRegion.slug)"
				></v-select>
			</div>
		</div>
	</div>

</template>

<script>
    import {bus} from '../../../app';
    import appMixin from '../../../appMixin';

    export default {
        computed: {
            statesWithRegionsList() {
                return this.$store.getters.statesWithRegions.filter( state => {
                    if ( state.active != 'A' ) {
                        return false;
                    }
                    if ( !state.regionsOfStateArray.length ) {
                        return false;
                    }
                    var hostels_counter= 0;
                    var L= state.regionsOfStateArray.length;
                    for (var I= 0; I< L; I++) {
                        hostels_counter+= state.regionsOfStateArray[I].related_common_hostels_count
                    }
                    return hostels_counter > 0;
                });
            },
        }, //computed: {

        methods: {
            onChangeRegion(event, p_state_slug) {
                var region_slug = event.key
                this.$router.push({path: '/hostels-by-region/' + p_state_slug + '/' + region_slug});
            },
        },
	    
        mixins: [appMixin]

    }
</script>