<template>
    <div class="reversed_style_hard row_content_centered p-2">
        <div class="text-info">
            <span>{{ site_name }}</span>. {{ copyright_text }}
        </div>
        <div class="text-info">
            <span>Version</span> : <strong>{{ app_version }}</strong>
            <span v-if="is_running_under_docker" style="color: red"> : Docker
                <a href="http://127.0.0.1:8085/" target="_blank" class="external_link">
                    A
                </a>
            </span>


        </div>
    </div>


</template>

<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';

    export default {

        name: 'AppFooter',

        mixins: [appMixin],

        data: function () {
            return {
                is_backend: false,
            }
        },

        created() {
            bus.$on('page_changed', (from, to) => {
                // console.log("Footerpage_changed to::")
                // console.log(to)

                this.is_backend = to.path.indexOf("/admin/") >= 0;
            })


        }, //  created() {


        methods: {},
        computed: {
            site_name() {
                return window.SITE_NAME
            },
            copyright_text() {
                return window.COPYRIGHT_TEXT
            },
            app_version() {
                return window.APP_VERSION
            },
            is_running_under_docker() {
                return window.IS_RUNNING_UNDER_DOCKER
            },

        }
    }


</script>
