<template>
	<div class="app_header_container reversed_style_medium p-2 m-2">

		<div class="app_header_left_col reversed_style_hard" >

			<div class="app_header_top_col " style="flex-direction: column">

                <div style="justify-content: flex-start;" class="text-info">
					<template v-if="hostels_count">
						<strong>{{ hostels_count }}</strong> hostel{{ pluralize(hostels_count,'','s') }}
					</template>
					<template v-if="!hostels_count">
						Has no hostels yet
					</template>
				</div>
				<div style="justify-content: flex-start;" class="text-info">
					<template v-if="featured_hostels_count">
						<strong>{{ featured_hostels_count }}</strong> featured
					</template>
					<template v-if="!featured_hostels_count">
						Has no featured yet
					</template>
				</div>

				<div class="text-info" style="justify-content: flex-start">
					<template v-if="active_customers_count">
						<strong>{{ active_customers_count }}</strong>&nbsp;customer{{ pluralize(active_customers_count,'','s') }}
					</template>
					<template v-if="!active_customers_count">
						Has no customers yet
					</template>
				</div>

			</div>

		</div>

		<div class="app_header_center_col">
			<section class="app_header_top_col app_title">

				<router-link :to="{ name: 'HomePage' }" class="a_link">
					<h1 class="app_title">{{ site_name }}</h1>
				</router-link>
			</section>
			<div class="app_header_bottom_col mt-3 d-none d-sm-block">
				<span class="test-device">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>&nbsp;
				<router-link :to="{ name: 'HomePage' }" class="a_link">
					<h3 class="app_subtitle">
						<small>{{ site_heading }}</small>
					</h3>
				</router-link>
			</div>
		</div>

		<div class="app_header_right_col reversed_style_hard d-none d-sm-block">
			<div class="app_header_top_col">

				<template v-if="!currentLoggedUser">
					<router-link to="/login" class="a_link" active-class="active">Login</router-link>&nbsp;|&nbsp;
					<router-link :to="{ name : 'CustomerRegisterForm' }" class="a_link" active-class="active">
						Register
					</router-link>
				</template>

				<template v-else>

					<div class="app_header_top_col " style="flex-direction: column">

						<div style="justify-content: flex-start;" class="text-info">
							<router-link :to="{ name: 'Personal' }" class="a_link" active-class="active">
								<i :class="getHeaderIcon('profile')"></i>&nbsp;Personal
								<span class="small_size">({{ currentLoggedUser.id}}=>{{
									currentLoggedUser.username}})
								</span>
							</router-link>
							<img :src="comp_current_user_avatar_path" width="48" height="auto" title="profile avatar">
                            <span v-show="hostelBookmarks.length > 0" @click.prevent="showPersonalHostelBookmarksModal()">
                                <i :class="getHeaderIcon('bookmark')" :title="'You have ' + hostelBookmarks.length+' bookmarks' "></i>
                            </span>
						</div>
						<div style="justify-content: flex-start;" class="text-info">
							<a href="#" @click.prevent="logout" class="a_link">
								<i :class="getHeaderIcon('sign-out')"></i> Logout
							</a>
						</div>

						<div style="justify-content: flex-start;" class="text-info">
                            <router-link :to="{ name: 'editHostel', params: { id: 30 } }" class="a_link" >
                                <i :class="'i_link '+getHeaderIcon('hostel')"></i> Hostel Editor
                            </router-link>
						</div>

<!--                        {-->
<!--                        path: ':id/:additive_action?/:additive_action_id?',-->
<!--                        component: editHostel,-->
<!--                        name: 'editHostel'-->
<!--                        },-->

<!--
                        <div style="justify-content: flex-start;" class="text-info">
                            <router-link :to="{ name: 'editHostel', params: { id: 30, additive_action : 'open_hostel_inquery_feedback', additive_action_id:48 }
                             }"
                                         class="a_link" >
                                <i :class="'i_link '+getHeaderIcon('hostel')"></i> Hostel Editor+
                            </router-link>
						</div>
-->

						<div style="justify-content: flex-start;" class="text-info">
                            <router-link :to="{ name: 'DashboardIndex' }" class="a_link" >
                                Dashboard
                            </router-link>
						</div>


						<div style="justify-content: flex-start;" class="text-info">
                            <router-link :to="{ name: 'CustomerRegisterForm' }" class="a_link" >
                                Register
                            </router-link>
						</div>

						<div style="justify-content: flex-start;" class="text-info">
                            <router-link :to="{ name: 'AdminFeedbackIndex' }" class="a_link" >
                                Feedback
                            </router-link>
						</div>

<!--                        <div style="justify-content: flex-start;" class="text-info">-->
<!--                            <router-link :to="{ name: 'ForumThreadView', params: { slug: 'business&-marketing-general-business-thread-1' } }" class="a_link" >-->
<!--                                Forum Threa View-->
<!--                            </router-link>-->
<!--						</div>-->

					</div>

				</template>

			</div>
		</div>


        <!-- PERSONAL HOSTEL BOOKMARK MODAL START-->

        <modal :height="modalHeight" :width="modalWidth" name="modal-personal-hostel-bookmarks" transition="pop-out">

            <div class="modal_editor_container card">

                <div class="modal_editor_title card-title">
                    <h4 class="modal-title p-2">
                        Your hostel bookmarks
                        <button class="close" type="button" @click.prevent="cancelPersonalHostelBookmarks()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h4>
                </div>

                <div class="modal_editor_fields card-body" :style="'max-height: ' + ( modalHeight - 20 ) +'px; overflow-y: scroll;'"  >
                    <div class="form-row m-2">

                        <h4 class="card-header p-2">
                            <i :class="'i_link '+getHeaderIcon('bookmark')"></i> Your {{ hostelBookmarks.length }} hostel bookmark{{
                            pluralize(hostelBookmarks.length,'','s') }}
                        </h4>
                        <table class="table table-striped text-primary table-responsive td_nowrap">
                            <tr v-for="nextPersonalHostelBookmark, index in hostelBookmarks" :key="nextPersonalHostelBookmark.id">

                                <td>
                                    <button @click.prevent="selectPersonalHostelBookmark(nextPersonalHostelBookmark)" class="btn btn-primary btn-sm" type="button">
                                        <i :class="getHeaderIcon('select')"></i> Select
                                    </button>
                                </td>

                                <td>
                                    {{ nextPersonalHostelBookmark.name }}
                                </td>

                                <td>
                                    {{ nextPersonalHostelBookmark.region_name }}/{{ nextPersonalHostelBookmark.region_name }}
                                </td>

                                <td>
                                    {{ getDictionaryLabel(nextPersonalHostelBookmark.feature, hostelFeatureValueArray) }}
                                </td>

                                <td>
                                    <rating-stars-line :rating="nextPersonalHostelBookmark.rating"></rating-stars-line>
                                </td>

                                <td>
                                    {{ moneyFormat(nextPersonalHostelBookmark.min_hostel_rooms_price) }}
                                </td>

                                <td>
                                    <a v-on:click="confirmDeleteFromBookmarked(nextPersonalHostelBookmark.hostel_id, nextPersonalHostelBookmark.name, index)"
                                       :class="'a_exclude_from_bookmarked_'+nextPersonalHostelBookmark.hostel_id" class="ml-2">
                                        <i :class="getHeaderIcon('remove')" title="Exclude from bookmarks"></i>
                                    </a>
                                </td>

                            </tr>
                        </table>


                    </div>
                </div>  <!-- modal_editor_fields -->

                <div class="modal_editor_footer card-footer row_content_right_aligned">
                    <div class="m-2">
                        <button @click.prevent="cancelPersonalHostelBookmarks()" class="btn btn-cancel-action" type="button">
                            <i :class="getHeaderIcon('cancel')"></i> Cancel
                        </button>
                    </div>
                </div>  <!-- modal_editor_footer -->

            </div> <!-- <div class="modal_editor_container"> -->

        </modal>

        <!-- PERSONAL HOSTEL BOOKMARK MODAL END -->



    </div><!--end row-->


</template>

<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';

    import Vue from 'vue';
    import { /*deleteFromBookmarksKey,*/ getModalCalculatedWidth, getModalCalculatedHeight} from "../../helpers/commonFuncs";
    import {confirmAddToBookmarks, confirmDeleteFromBookmarked} from "../../helpers/commonFuncs";

    export default {

        name: 'AppHeader',

        mixins: [appMixin],

        data: function () {
            return {
                is_backend: false,
                // is_user_lists: false,
                // is_home_page: false,
                // is_websites_blogs: false,
                page_title: '',
                page_group: '',
            }
        },

        created() {
            bus.$on('appPageTitleSet', (page_group, page_title) => {
                this.page_group = page_group
                this.page_title = page_title
            })


            bus.$on('page_changed', (from, to) => {
                // console.log("page_changed to::")
                // console.log(to)

                this.is_backend = to.path.indexOf("/admin/") >= 0;
            })


        }, //  created() {


        methods: {
            confirmAddToBookmarks, confirmDeleteFromBookmarked,

            logout() {
                this.$store.commit('setLogout');

                // clear all personal info
                this.$store.commit('refreshPersonalOptions', []);
                this.$store.commit('refreshHostelBookmarks', []);
                this.$router.push('/');
            },

            showPersonalHostelBookmarksModal() {
                if ( this.currentLoggedUser == null || typeof this.currentLoggedUser.id == "undefined" ) {
                    this.showPopupMessage("Bookmarks", 'You need to login into the system for this functionality !', 'warn');
                    return;
                }
                this.$modal.show('modal-personal-hostel-bookmarks', {
                    title: "Your hostel bookmarks",
                })
            },

            selectPersonalHostelBookmark(selected_personal_hostel_bookmark) {
                if ( this.currentLoggedUser == null || typeof this.currentLoggedUser.id == "undefined" ) {
                    this.showPopupMessage("Bookmarks", 'You need to login into the system for this functionality !', 'warn');
                    return;
                }
                let routeData = this.$router.resolve(  { path:
                        '/hostel/' + selected_personal_hostel_bookmark.slug +"/"+selected_personal_hostel_bookmark.state_slug+"/"+selected_personal_hostel_bookmark.region_slug+"/"+selected_personal_hostel_bookmark.subregion_slug });
                window.open(routeData.href);
                this.cancelPersonalHostelBookmarks();
            },

            cancelPersonalHostelBookmarks() {
                // return;
                // alert( "cancelPersonalHostelBookmarks::"+var_dump(-78) )
                // this.new_user_list_title = ''
                // this.selection_existing_user_list_id = ''
                // this.user_list_label = ' -Select- '
                // this.vueErrorsList.clear();
                this.$modal.hide('modal-personal-hostel-bookmarks');
/*
                this.new_hostel_inquery_full_name = ''
                this.new_hostel_inquery_email = ''
                this.new_hostel_inquery_phone = ''
                this.new_hostel_inquery_info = ''
                this.new_hostel_inquery_request_callback = false
                this.new_hostel_inquery_start_date = this.addDaysToDate(1)
                this.new_hostel_inquery_end_date = this.addDaysToDate(45)
*/
            },

        },
        computed: {
            modalWidth() {
                var deviceParams = this.effectiveDeviceWidth()
                var calculated_width = getModalCalculatedWidth(deviceParams.width) - 20
                return calculated_width;
            },

            modalHeight() {
                var deviceParams = this.effectiveDeviceWidth()
                var calculated_height = getModalCalculatedHeight(deviceParams.height)
                return calculated_height;
            },

            comp_current_user_avatar_path() {
                return this.$store.getters.currentUserAvatarPath;
            },

            active_customers_count() {
                return this.$store.getters.activeCustomersCount;
            },
            hostels_count() {
                return this.$store.getters.hostels_count;
            },
            featured_hostels_count() {
                return this.$store.getters.featured_hostels.length;
            },
            currentLoggedUser() {
                return this.$store.getters.currentLoggedUser
            },
            site_name() {
                return window.SITE_NAME
            },
            site_heading() {
                return window.settings_site_heading
            },
            hostelBookmarks() {
                return this.$store.getters.hostelBookmarks;
            },

            hostelFeatureValueArray() {
                return this.$store.getters.hostelFeatureValueArray;
            },

        }
    }


    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof (oElem) == 'string' || typeof (oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof (oElem) == 'innerHTML' || typeof (oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }


</script>


<style lang="scss">

	.reversed_style_light {
		background-color: #83A190;
		color: white;
	}

	.reversed_style_medium {
		background-color: #426A57;
		color: #eeeeee;
	}

	.reversed_style_medium .text-info {
		color: #eeeeee !important;
	}

	.reversed_style_medium .app_title {
		background-color: #426A57;
		color: #eeeeee !important;
	}

	.reversed_style_medium .app_subtitle {
		background-color: #426A57;
		color: #eeeeee !important;
	}


	.reversed_style_hard {
		background-color: #224A37;
		color: #eeeeee;
	}

	.reversed_style_hard .a_link {
		color: #eeeeee !important;
	}

	/*

		.breadBoxTop, .breadBoxBottom {
			padding: 10px 0;
			overflow: hidden;
			zoom: 1;
			clear: both;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			box-sizing: border-box;
		}
		.breadcrumb {
			background: #f2faf7 linear-gradient(rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0) 100%);
		}


		.breadcrumb {
			font-size: 11px;
			background: #f2faf7 url(/images/gradients/category-23px-light.png) repeat-x top;
			border: 1px solid #92baa7;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			-khtml-border-radius: 5px;
			border-radius: 5px;
			overflow: hidden;
			zoom: 1;
			max-width: 100%;
			height: 24px;
		}

		.boardTitle {
			display: none;
		}

		.breadcrumb .crust {
			display: block;
			float: left;
			position: relative;
			zoom: 1;
			max-width: 50%;
		}
	*/

</style>
