<template>

    <div>
<h1>breadcrumbs</h1>

        00000
        <breadcrumbs>
        </breadcrumbs>
        111111

    </div>
</template>


<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';

    import Vue from 'vue';

    import VueBreadcrumbs from 'vue-breadcrumbs';
    //    Vue.use(VueBreadcrumbs)

    Vue.use(VueBreadcrumbs, {
        template: '<nav class="breadcrumb" v-if="$breadcrumbs.length"> ' +
            '<router-link class="breadcrumb-item" v-for="(crumb, key) in $breadcrumbs" :to="linkProp(crumb)" :key="key">{{ crumb | crumbText }}</router-link> ' +
            '</nav>'
    });

    export default {

        name: 'AppHeader',

        mixins: [appMixin],

        /*
				components: {
					VueBreadcrumbs // Register your component
				},
		*/

        data: function () {
            return {
                is_backend: false,
                // is_user_lists: false,
                // is_home_page: false,
                // is_websites_blogs: false,
                page_title: '',
                page_group: '',
            }
        },

        created() {
/*
            bus.$on('appPageTitleSet', (page_group, page_title) => {
                this.page_group = page_group
                this.page_title = page_title
            })


            bus.$on('page_changed', (from, to) => {
                this.is_backend = to.path.indexOf("/admin/") >= 0;
            })
*/


        }, //  created() {


        methods: {
/*
            logout() {
                this.$store.commit('setLogout');

                // clear all personal info
                this.$store.commit('refreshPersonalOptions', []);
                this.$store.commit('refreshHostelBookmarks', []);
                this.$router.push('/');
            }
*/
        },
        computed: {
/*
            comp_current_user_avatar_path() {
                return this.$store.getters.currentUserAvatarPath;
            },

            active_customers_count() {
                return this.$store.getters.activeCustomers.length;
            },
            hostels_count() {
                return this.$store.getters.hostels_count;
            },
            featured_hostels_count() {
                return this.$store.getters.featured_hostels.length;
            },
            currentLoggedUser() {
                return this.$store.getters.currentLoggedUser
            },
            site_name() {
                return window.SITE_NAME
            },
            site_heading() {
                return window.settings_site_heading
            },
            hostelBookmarks() {
                return this.$store.getters.hostelBookmarks;
            },
*/

        }
    }



</script>

