<template>

    <div class="page_content_content">
        <TopNewsSlider></TopNewsSlider>
        <HostelsHomepageSpotlight></HostelsHomepageSpotlight>
    </div>

</template>

<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';
    // import HostelsByLocation from './hostels/HostelsByLocation.vue';
    import HostelsHomepageSpotlight from './hostels/HostelsHomepageSpotlight.vue';
    import TopNewsSlider from './news/TopNewsSlider.vue';  //resources/js/components/BS4/news/TopNewsSlider.vue
    // import HostelsByRegion from './hostels/HostelsByRegion.vue';
    // import HostelView from './hostels/HostelView.vue';

    export default {

        name: 'home',
        components: {HostelsHomepageSpotlight, TopNewsSlider},
        mixins: [appMixin],

        created() {
//            this.$router.push({path: '/admin/hostels'});
        }, //  created() {

        computed: {},
        mounted() {
//            alert( "resources/js/components/Home.vue mounted::"+(-1) )
//             console.log('Home Component mounted.')
            this.setAppTitle('', 'Home', bus);
        }
    }
</script>


