<template>
	<div id="div_main_app">
<!--		        is_backend::{{ is_backend}}<br>-->
<!--		        is_personal::{{ is_personal}}<br>-->

		<notifications group="hostels2_notification"/>

		<v-dialog name="example"
		          :width="600"
		          :height="450"
		          @before-open="beforeOpen"
		          @before-close="beforeClose">
			<b>{{time}}</b>
		</v-dialog>

<!--		<navigation></navigation>-->

		<router-view></router-view>

		<!-- NEW HOSTEL_INQUERY MODAL START-->

		<modal :height="modalHeight" :width="modalWidth" name="modal-show-image" transition="pop-out">

			<div class="modal_editor_container card" >

				<div class="modal_editor_title card-title">
					<h4 class="modal-title p-2">
						Image <View></View>
						<button class="close" type="button" @click.prevent="cancelShowImageDialog()">
							<span aria-hidden="true">&times;</span>
						</button>
					</h4>
				</div>

				<div class="modal_editor_fields card-body" >
					<h3 class="p-2">{{ image_filename }}</h3>
					<div class="card">
						<div class="modal_image_view_container">
							<img :src="image_file_url" v-show="image_file_url" :width="modalWidth-40" height="auto" class="m-1">
						</div>
					</div>
				</div>  <!-- modal_editor_fields -->

				<div class="modal_editor_details" style="max-height: 320px; overflow-y: scroll;">
					<p v-html="image_info" class="card-text mt-3 description-text"></p>
				</div>  <!-- modal_editor_details-->

				<div class="modal_editor_footer card-footer row_content_right_aligned" >
					<div class="m-2">
						<button @click.prevent="cancelShowImageDialog()" class="btn btn-cancel-action" type="button">
							<i :class="getHeaderIcon('cancel')"></i> Cancel
						</button>
					</div>
				</div>  <!-- modal_editor_footer -->

			</div> <!-- <div class="modal_editor_container"> -->

		</modal>

		<!-- NEW HOSTEL_INQUERY MODAL END -->

		<div class="footer">
			<!--<status-line></status-line>-->
		</div>
	</div>
</template>


<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';
    // import MainHeader from './MainHeader.vue';
    // import BackendHeader from './admin/BackendHeader.vue';
    import {addToBookmarksKey, deleteFromBookmarksKey, getModalCalculatedWidth, getModalCalculatedHeight } from "../../helpers/commonFuncs";


    export default {
        name: 'main-app',
        mixins: [appMixin],
        // components: {navigation},
        data: function () {
            return {
                is_backend: false,
                is_personal: false,
                time: 0,
                duration: 5000,
                image_type: {},
                imageFilenameData: {},
                image_filename: '',
                image_info: '',
                image_file_url: ''
            }
        },

        created() {
            this.$store.commit("setPageParams", {modal_page_width: this.modalWidth, modal_page_height: this.modalHeight});  // calling mutation

            bus.$on('page_changed', (from, to) => {

                // console.log("to.path.indexOf(\"/admin/\")::")
                // console.log( to.path.indexOf("/admin/") )
                // //
                //
                // console.log("to.path::")
                // console.log( to.path )

                this.is_backend = to.path.indexOf("/admin/") >= 0;

                if (this.is_backend) {
                    if (typeof this.currentLoggedUser.id != 'number') {
                        this.showPopupMessage("Access", 'Your session is expired !', 'warn');
                        this.$store.commit('setLogout');
                    }
                }
                this.is_personal = to.path.indexOf("/personal") >= 0;
                if (this.is_personal) {
                    if (typeof this.currentLoggedUser.id != 'number') {
                        this.showPopupMessage("Access", 'Your session is expired !', 'warn');
                        this.$store.commit('setLogout');
                    }
                }


            })

            bus.$on('eventShowShowImageDialog', (image_type, imageFilenameData) => {
                this.image_type = image_type
                this.imageFilenameData = imageFilenameData
                this.image_filename = imageFilenameData.image
                this.image_info = imageFilenameData.file_info
                this.image_file_url = imageFilenameData.image_url
                this.$modal.show('modal-show-image', {
                    title: "modal-show-image",
                })

            })

        }, //  created() {

        mounted() {
            bus.$on('dialog_confirmed', (paramsArray) => {
                // alert( " mounted BEFORE resources/js/components/BS4/MainApp.vue dialog_confirmed paramsArray::"+var_dump(paramsArray) )
                if (paramsArray.key == this.addToBookmarksKey(paramsArray.hostel_id)) {
                    this.runAddToBookmarks(paramsArray.hostel_id, paramsArray.hostel);
                }
                if (paramsArray.key == this.deleteFromBookmarksKey(paramsArray.hostel_id)) {
                    this.runDeleteFromBookmarks(paramsArray.hostel_id, paramsArray.hostel);
                }
            })

        }, // mounted() {

        beforeDestroy(){
            // bus.$off( 'dialog_confirmed' )
        },


        methods: {
            addToBookmarksKey, deleteFromBookmarksKey,

            cancelShowImageDialog: function () {
                this.$modal.hide('modal-show-image');
            },


            runAddToBookmarks(hostel_id, hostel) {
                // alert( "runAddToBookmarks hostel_id::"+var_dump(hostel_id)+"  hostel::"+var_dump(hostel) )
                // debugger
                this.$store.dispatch('hostelBookmarkStore', hostel);
            }, // runAddToBookmarks()  {

            runDeleteFromBookmarks(hostel_id, hostel) {
                // hostelBookmarkDelete(context, relatedHostel ) {
                this.$store.dispatch('hostelBookmarkDelete', hostel);
            }, // runDeleteFromBookmarks()  {

            beforeOpen(event) {
                console.log(event)
                // Set the opening time of the modal
                this.time = Date.now()
            },
            beforeClose(event) {
                console.log(event)
                // If modal was open less then 5000 ms - prevent closing it
                if (this.time + this.duration < Date.now()) {
                    event.stop()
                }
            }
        }, // methods: {

        computed: {
            modalWidth() {
                var deviceParams= this.effectiveDeviceWidth()
                var calculated_width= getModalCalculatedWidth(deviceParams.width) - 20
                return  calculated_width;
            },

            modalHeight() {
                var deviceParams = this.effectiveDeviceWidth()
                var calculated_height = getModalCalculatedHeight(deviceParams.height)
                return calculated_height;
            },

            currentLoggedUser() {
                return this.$store.getters.currentLoggedUser;
            },
            hostelBookmarks() {
                return this.$store.getters.hostelBookmarks;
            },

        }, //computed: {

    }

    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof (oElem) == 'string' || typeof (oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof (oElem) == 'innerHTML' || typeof (oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }

</script>


<style lang="scss">

	@import "./resources/sass/_variables.scss"; // resources/sass/_variables.scss

	body {
		min-height: 100vh;
		/*border: 0.2rem dotted red;*/
	}


	.wrapper {
		border: none !important;
		width: 100%;
		min-height: 100vh;
	}

	#app {
		display: flex;
		flex: 1;
		flex-direction: column;
		//@if ($debug_mode) {
			/*border: 0.2rem dotted blue;*/
		/*}*/
		width: 100%;
		min-height: 100vh;
		/*height: calc(100vh - 27px);*/
		/*width: calc(100vh - 50px);*/
		//margin-right: 15px;
		margin: 0;
		padding: 0;
		background-color: $background_color !important;
	}

	@media screen and (max-width:900px) {
		.resp2 td {
			white-space: normal;
		}

		.resp2 td:last-child {
			white-space: nowrap;
			word-wrap: normal;
		}
	}
</style>
