<template>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand " href="#">
            <span class="reversed_style_hard">{{ site_name }}</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <!--					<li class="nav-item ">-->
                <!--						<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
                <!--					</li>-->
                <li class="nav-item active">
                    <router-link :to="{ name: 'HomePage' }" class="nav-link">
                        Home
                    </router-link>
                </li>

<!--                v-show="!is_backend"-->
                <li class="nav-item" >
                    <router-link :to="{ name: 'NewsList' }" class="nav-link">
                        News
                    </router-link>
                </li>

<!--                v-show="!is_backend "-->
                <li class="nav-item" >
                    <router-link :to="{ name: 'ForumsList' }" class="nav-link">
                        Forums
                    </router-link>
                </li>


                <li class="nav-item dropdown" v-show="!is_backend">
                    <a class="nav-link " href="#" id="navbardrop_hostels" data-toggle="dropdown">Hostels</a>

                    <ul class="dropdown-menu dropdown-menu-right sm-menu" aria-labelledby="navbardrop_hostels">

                        <li class="mt-2">
                            <router-link to="/hostels-sorted/price" class="nav-link">
                                Hostels By Price
                            </router-link>
                        </li>
                        <li class="mt-2">
                            <router-link to="/hostels-sorted/rating" class="nav-link">
                                Hostels By Rating
                            </router-link>
                        </li>

                        <li class="mt-2">
                            <router-link to="/hostels-sorted/name" class="nav-link">
                                Hostels By Name
                            </router-link>
                        </li>
                        <li class="mt-2">
                            <router-link to="/hostels-sorted/name" class="nav-link">
                                Featured Hostels ??
                            </router-link>
                        </li>
                        <li class="mt-2">
                            <router-link to="/hostels-by-location" class="nav-link">
                                Hostels By states
                            </router-link>
                        </li>
                        <li class="mt-2">
                            <router-link to="/hostels-sorted/name" class="nav-link">
                                Most Rating Hostels
                            </router-link>
                        </li>

                    </ul>
                </li>


                <li class="nav-item dropdown" v-show="is_backend">
                    <a class="nav-link " href="#" id="navbardrop_backend_customers" data-toggle="dropdown">bCustomers</a>

                    <ul class="dropdown-menu dropdown-menu-right sm-menu" aria-labelledby="navbardrop_backend_customers">

                        <li class="mt-2">
                            <router-link :to="{name : 'listCustomers'}" class="nav-link">
                                Customers
                            </router-link>
                        </li>
                        <li class="mt-2">
                            <router-link :to="{name : 'listCustomers', params: { filter: 'new' } }" class="nav-link">
                                New Customer
                            </router-link>
                        </li>
                        <li class="mt-2">
                            <router-link :to="{name : 'listCustomers', params: { filter: 'inactive' } }" class="nav-link">
                                Inactive Customers
                            </router-link>
                        </li>
                        <li class="mt-2">
                            <router-link :to="{ name: 'newCustomer' }" class="nav-link">Add Customer</router-link>
                        </li>

                    </ul>
                </li>

                <li class="nav-item dropdown" v-show="is_backend">
                    <a class="nav-link " href="#" id="navbardrop_backend_dictionaries" data-toggle="dropdown">bDictionaries</a>

                    <ul class="dropdown-menu dropdown-menu-right sm-menu" aria-labelledby="navbardrop_backend_dictionaries">

                        <li class="mt-2">
                            <router-link :to="{name : 'listFacilities'}" class="nav-link">
                                Facilities
                            </router-link>
                        </li>
                        <li class="mt-2">
                            <router-link :to="{name : 'newFacility' }" class="nav-link">
                                New Facility
                            </router-link>
                        </li>

                        <li role="separator" class="divider"></li>

                        <li class="mt-2">
                            <router-link :to="{name : 'listStates'}" class="nav-link">
                                States
                            </router-link>
                        </li>
                    </ul>
                </li>


                <li class="nav-item" v-show="is_backend">
                    <router-link :to="{ name: 'AdminFeedbackIndex' }" class="nav-link">
                        bFeedback
                    </router-link>
                </li>


                <li class="nav-item dropdown" v-show="is_backend">
                    <a class="nav-link " href="#" id="navbardrop_backend_hostels" data-toggle="dropdown">bHostels</a>

                    <ul class="dropdown-menu dropdown-menu-right sm-menu" aria-labelledby="navbardrop_backend_hostels">

                        <li class="mt-2">
                            <router-link :to="{name : 'filterListHostels', params: { filter: 'new' } }" class="nav-link">
                                Hostels
                            </router-link>
                        </li>
                        <li class="mt-2">
                            <router-link :to="{name : 'filterListHostels', params: { filter: 'new' } }" class="nav-link">
                                New Hostels
                            </router-link>
                        </li>
                        <li class="mt-2">
                            <router-link :to="{name : 'filterListHostels', params: { filter: 'inactive' } }" class="nav-link">
                                Inactive Hostels
                            </router-link>
                        </li>
                        <li class="mt-2">
                            <router-link :to="{name : 'filterListHostels', params: { filter: 'active' } }" class="nav-link">
                                Active Hostels
                            </router-link>
                        </li>
                        <li class="mt-2">
                            <router-link :to="{ name: 'newHostel' }" class="nav-link">
                                Add Hostel
                            </router-link>
                        </li>
                    </ul>
                </li>

<!--                v-show="!is_backend"-->
                <li class="nav-item" >
                    <a href="#" @click.prevent="showHostelsFilterSearch()" class="a_link nav-link">Search</a>
                </li>


            </ul>
        </div>


        <!-- HOSTELS SEARCH MODAL START-->

        <modal :height="modalHostelsFilterSearch" :width="modalWidth" name="modal-hostels-filter-search" transition="pop-out" >

            <div class="modal_editor_container card" >

                <div class="modal_editor_title card-title">
                    <h4 class="modal-title m-2">
                        <i :class="'i_link '+getHeaderIcon('search')"></i>&nbsp;
                        &nbsp;Search in hostels
                        <button class="close" type="button" @click.prevent="cancelHostelsFilterSearch()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h4>
                </div>

                <div class="modal_editor_fields p-2 card-body " :style="'overflow-y: scroll;   max-height: modalHostelsFilterSearch();'">

                    <div class="label_control_row bottom_split_border">
                        <div class="label_control_row_label">
                            <label :for="'filter_search_text'" class="col-12 col-form-label p-0 m-0">&nbsp;
                                Search text:
                            </label>
                        </div>
                        <div class="label_control_row_control">
<!--                            filter_search_text::{{ filter_search_text}}-->
                            <input :id="'filter_search_text'"
                                   type="text"
                                   v-model="filter_search_text"
                                   v-focus.lazy="true"
                                   maxlength="255"
                                   placeholder="Enter descriptive text"
                                   :class="{ 'form-control':true,	'editable_field':true, 'input': true  }"
                            >
                        </div>

                    </div>



                    <div class="label_control_row bottom_split_border mt-5"> <!-- Price range -->
                        <div class="label_control_row_label">
<!--                            filter_slider_range_filter_price_values::{{ filter_slider_range_filter_price_values}}<br>-->
<!--                            filter_slider_range_filter_price_values_disabled::{{ filter_slider_range_filter_price_values_disabled}}<br>-->
                            <label :for="'filter_search_text'" class="col-12 col-form-label p-0 m-0">&nbsp;
                                Price range&nbsp;<i :class="'i_link '+getHeaderIcon('arrow_right')"></i>&nbsp;<br>
                                <span class="small_size" v-show="filter_slider_range_filter_price_values_disabled">Click on slider to enable it</span>
                                <span class="small_size" v-show="!filter_slider_range_filter_price_values_disabled">Click on "Clear price range" button to disable Price
                                    range</span>
                            </label>
                        </div>

                        <div class="label_control_row_control">

                            <div class="content_with_right_button">

                                <div @click.prevent="enableRange('filter_price_values')" class="content_with_right_button_left_content">
                                    <div class="col-md-12 p-0 m-0" @click.prevent="enableRange('filter_price_values')">

                                        <vue-slider
                                            id="filter_slider_range_filter_price_values"
                                            v-model="filter_slider_range_filter_price_values"
                                            :enable-cross="false"
                                            v-bind="sliderRangersValuesPriceOptions"
                                            tooltip="always"
                                            tooltipPlacement="top"
                                            :disabled="filter_slider_range_filter_price_values_disabled"
                                            class="p-1 pl-3 pr-3"
                                        ></vue-slider>
                                        <div class="alert alert-info m-1 mt-4 p-1 small_size" role="alert" v-show="!filter_slider_range_filter_price_values_disabled">
                                            Price Range&nbsp;: {{ moneyFormat(filter_slider_range_filter_price_values[0]) }} to {{moneyFormat(filter_slider_range_filter_price_values[1])
                                             }}
                                        </div>

                                        <div class="alert alert-disable m-1 mt-4 p-1" role="alert" v-show="filter_slider_range_filter_price_values_disabled">
                                            Filter on price disabled
                                        </div>

                                    </div>
                                </div>
                                <div v-show="!filter_slider_range_filter_price_values_disabled" class="content_with_right_button_right_button">
                                    <i :class="'action_link '+getHeaderIcon('remove')" @click.prevent="clearRangeValues('filter_price_values')"
                                       style="background: white; color: #6c6c6c;" title="Clear price range"></i>
                                </div>

                            </div>

                        </div>

                    </div> <!-- <div class="label_control_row"> Price range  -->




                    <div class="label_control_row bottom_split_border mt-5"> <!-- Rating range -->
<!--                        filter_slider_range_filter_rating_values::{{ filter_slider_range_filter_rating_values }}<br>-->
<!--                        filter_slider_range_filter_rating_values_disabled::{{ filter_slider_range_filter_rating_values_disabled }}-->
                        <div class="label_control_row_label">
                            <label :for="'filter_search_text'" class="col-12 col-form-label p-0 m-0">&nbsp;
                                Rating range <i :class="'i_link '+getHeaderIcon('arrow_right')"></i><br>
                                <span class="small_size" v-show="filter_slider_range_filter_rating_values_disabled">Click on slider to enable it</span>
                                <span class="small_size" v-show="!filter_slider_range_filter_rating_values_disabled">Click on "Clear rating range" button to disable Rating
                                    range</span>
                            </label>
                        </div>

                        <div class="label_control_row_control">

                            <div class="content_with_right_button">

                                <div @click.prevent="enableRange('filter_rating_values')" class="content_with_right_button_left_content">
                                    <div class="col-md-12 p-0 m-0" @click.prevent="enableRange('filter_rating_values')">

                                        <vue-slider
                                            id="filter_slider_range_filter_rating_values"
                                            v-model="filter_slider_range_filter_rating_values"
                                            :enable-cross="false"
                                            v-bind="sliderRangersValuesRatingOptions"
                                            tooltip="always"
                                            tooltipPlacement="top"
                                            :disabled="filter_slider_range_filter_rating_values_disabled"
                                            class="p-1 pl-3 pr-3"
                                        ></vue-slider>
                                        <div class="alert alert-info m-1 mt-4 p-1 small_size" role="alert" v-show="!filter_slider_range_filter_rating_values_disabled">
                                            Rating Range : {{ filter_slider_range_filter_rating_values[0] }} to {{ filter_slider_range_filter_rating_values[1] }}
                                        </div>

                                        <div class="alert alert-disable m-1 mt-4 p-1" role="alert" v-show="filter_slider_range_filter_rating_values_disabled">
                                            Filter on rating disabled
                                        </div>

                                    </div>
                                </div>
                                <div v-show="!filter_slider_range_filter_rating_values_disabled" class="content_with_right_button_right_button">
                                    <i :class="'action_link '+getHeaderIcon('remove')" @click.prevent="clearRangeValues('filter_rating_values')"
                                       style="background: white; color: #6c6c6c;" title="Clear rating range">
                                    </i>
                                </div>

                            </div>

                        </div>

                    </div> <!-- <div class="label_control_row"> Rating range  -->


                    <div class="label_control_row bottom_split_border">
                        <div class="label_control_row_label">
                            <label class="col-12 col-form-label">&nbsp;
                                Feature
                            </label>
                        </div>

                        <div class="label_control_row_control row_content_centered">
                            <div class="custom-control custom-checkbox p-2 m-2">
                                <input
                                    type="checkbox"
                                    class="custom-control-input"
                                    id="custom_filter_check_only_feature"
                                    name="custom_filter_check_only_feature"
                                    v-model="filter_check_only_feature"
                                >
                                <label class="custom-control-label" for="custom_filter_check_only_feature">Only feature</label>
                            </div>
                        </div>
                    </div>


                    <div class="column_content_left_aligned bottom_split_border m-4">
                        <fieldset >
                            <legend class="blocks">Facilities&nbsp;:</legend>

                            filter_facilitiesSelectionArray::{{ filter_facilitiesSelectionArray }}
                            <div class="form-row m-0 p-0">
                                <div class="col-12 col-sm-6 m-0 p-2" v-for="nextFacilitySelection in filter_facilitiesSelectionArray"
                                     :key="nextFacilitySelection.id">
                                    <input
                                        type="checkbox"
                                        class="custom-control-input"
                                        :id="'custom_check_facility_'+nextFacilitySelection.key"
                                        :name="'custom_check_facility_'+nextFacilitySelection.id"
                                        :checked="nextFacilitySelection.is_checked"
                                        v-model="nextFacilitySelection.is_checked"
                                    >
                                    <label class="custom-control-label" :for="'custom_check_facility_'+nextFacilitySelection.key">{{ nextFacilitySelection
                                    .key}}->{{ nextFacilitySelection.label}}</label>
                                </div>
                            </div>

                        </fieldset>

                    </div>


                    <div class="column_content_left_aligned bottom_split_border m-4">
                        <fieldset >
                            <legend class="blocks">Order by&nbsp;:</legend>
                            <div class="block_2columns_md m-0">

                                <div class="block_2columns_sm p-3">
                                    <div class="key_values_rows_label_half">
                                        <label for="hostels_search_by_fields" class="col-form-label">&nbsp;
                                            <span>Sort by :</span>
                                        </label>
                                    </div>
                                    <div class="key_values_rows_value_half">
                                        <v-select
                                            v-model="selection_hostels_search_by_fields"
                                            :options="filter_hostelsSearchByFieldsArray"
                                            id="hostels_search_by_fields"
                                            name="hostels_search_by_fields"
                                            class="form-control editable_field"
                                            placeholder="Select option"
                                        ></v-select>
                                    </div>
                                </div>

                                <div class="block_2columns_sm p-3">
                                    <div class="key_values_rows_label_half">
                                        <label for="search_by_fields_ordering" class="col-form-label">&nbsp;
                                            <span>Sorting order :</span>
                                        </label>
                                    </div>
                                    <div class="key_values_rows_value_half">
                                        <v-select
                                            v-model="selection_search_by_fields_ordering"
                                            :options="filter_searchByFieldsOrderingArray"
                                            id="search_by_fields_ordering"
                                            name="search_by_fields_ordering"
                                            class="form-control editable_field"
                                            placeholder="Select option"
                                        ></v-select>
                                    </div>
                                </div>

                            </div> <!-- <div class="block_2columns_md m-0"> reception_hours_start  reception_hours_end -->

                        </fieldset>

                    </div>


                </div>  <!-- modal_editor_fields -->

                <div class="modal_editor_footer card-footer row_content_right_aligned">
                    <div class="m-2 mb-2">

                        <i :class="'action_link '+getHeaderIcon('remove2x')" @click.prevent="clearFilters()"
                           style="background: white; color: #6c6c6c;" title="Clear filters">
                        </i>

                        <button @click.prevent,stop="runHostelsFilterSearch()" class="btn btn-primary editor_button_submit ml-5" type="button">
                            <i :class="getHeaderIcon('search')"></i> Search
                        </button>

                        <button @click.prevent="cancelHostelsFilterSearch()" class="btn btn-cancel-action" type="button">
                            <i :class="getHeaderIcon('cancel')"></i> Cancel
                        </button>

                    </div>
                </div>  <!-- modal_editor_footer -->

            </div> <!-- <div class="modal_editor_container"> -->


        </modal> <!-- modal-hostels-filter-search  -->


        <!-- HOSTELS SEARCH MODAL END-->


    </nav>


</template>

<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';
    import {focus} from 'vue-focus';

    // import Vue from 'vue';
    import VueSlider from 'vue-slider-component'
    import 'vue-slider-component/theme/antd.css' // https://github.com/NightCatSama/vue-slider-component
    import {retrieveAppDictionaries, getModalCalculatedHeight, getModalCalculatedWidth} from "../../helpers/commonFuncs";
    import {addToBookmarksKey, deleteFromBookmarksKey} from "../../helpers/commonFuncs";


    export default {

        name: 'AppNavigation',

        mixins: [appMixin],
        directives: {focus: focus},

        components: {
            VueSlider
        },

        data: function () {
            return {
                is_backend: true,
                is_search_results_page_opened:false,

                min_hostel_rating : 0,
                max_hostel_rating : 5,

                filter_search_text: '',
                filter_check_only_feature:false,
                filter_facilitiesSelectionArray : [],
                filter_hostelsSearchByFieldsArray : [],
                filter_searchByFieldsOrderingArray : [],

                filter_slider_range_filter_price_values: [0, 0],
                filter_slider_range_filter_price_values_disabled: true,
                filter_slider_range_filter_rating_values: [0, 5],
                filter_slider_range_filter_rating_values_disabled: true,
                sliderRangersValuesPriceOptions: {},
                sliderRangersValuesRatingOptions: {},
                defaultRangeValues: {
                    range_filter_price_from: 0,
                    range_filter_price_to: 0,
                    range_filter_rating_from: 0,
                    range_filter_rating_to: 5,
                },
                selection_hostels_search_by_fields: { "key": "price", "label": "Price" },
                selection_search_by_fields_ordering: { "key": "desc", "label": "Descending" },

            }
        }, // data: function () {

        watch: {
            max_hostel_rooms_price: function (val) {
                // alert( "watch  max_hostel_rooms_price ::"+var_dump(-77) )
                this.sliderRangersValuesPriceOptions= {
                    min: this.min_hostel_rooms_price,
                    max: val,
                    interval: 0.5,
                    marks: val => {
                        return val % 10 === 0
                    },
                },
                this.filter_slider_range_filter_price_values= [this.min_hostel_rooms_price, val]
                this.defaultRangeValues.range_filter_price_from= this.min_hostel_rooms_price;
                this.defaultRangeValues.range_filter_price_to= val;

            },


        }, // watch: {


        created() {
            bus.$on('page_changed', (from, to) => {
                this.is_backend = to.path.indexOf("/admin/") >= 0;
                console.log("to.path::")
                console.log( to.path )
                this.is_search_results_page_opened = to.path == '/search-results';
            })

        }, //  created() {
        mounted() {
            bus.$on('triggerSearchModalForm', (searchParameters) => {
                // debugger
                console.log("INSIDE STZART triggerSearchModalForm ::")
                console.log( searchParameters )

                // debugger
                this.filter_search_text= searchParameters.filter_search_text
                this.filter_slider_range_filter_price_values= searchParameters.filter_price_values
                this.filter_slider_range_filter_rating_values= searchParameters.filter_rating_values
                this.filter_check_only_feature= searchParameters.filter_only_feature
                this.filter_facilitiesSelectionArray= searchParameters.filter_facilitiesSelectionArray
                this.filter_hostels_search_by_fields= searchParameters.filter_hostels_search_by_fields
                this.filter_search_by_fields_ordering= searchParameters.filter_search_by_fields_ordering

                if ( this.filter_slider_range_filter_price_values.length == 2 ) {
                    this.filter_slider_range_filter_price_values_disabled = false;
                    if (this.filter_slider_range_filter_price_values[0] == this.defaultRangeValues.range_filter_price_from &&
                        this.filter_slider_range_filter_price_values[1] == this.defaultRangeValues.range_filter_price_to) {
                        this.filter_slider_range_filter_price_values_disabled = true;
                    }
                }

                if ( this.filter_slider_range_filter_rating_values_disabled.length == 2 ) {
                    this.filter_slider_range_filter_rating_values_disabled = false;
                    if (this.filter_slider_range_filter_rating_values[0] == this.defaultRangeValues.range_filter_price_from &&
                        this.filter_slider_range_filter_rating_values[1] == this.defaultRangeValues.range_filter_price_to) {
                        this.filter_slider_range_filter_rating_values_disabled = true;
                    }
                }

                console.log("INSIDE STZART -2 triggerSearchModalForm ::")
                this.showHostelsFilterSearch()
                console.log("INSIDE STZART -3 triggerSearchModalForm ::")
                // bus.$off('triggerSearchModalForm')
            })


            // this.showHostelsFilterSearch();
        },


        methods: {

            showHostelsFilterSearch() {
                console.log("showHostelsFilterSearch is_search_results_page_opened::")
                console.log( this.is_search_results_page_opened )

                if ( typeof this.filter_facilitiesSelectionArray != "undefined" && this.filter_facilitiesSelectionArray != null &&
                    !this.filter_facilitiesSelectionArray.length )
                {
                    retrieveAppDictionaries(['facilitiesSelectionArray', 'hostelsSearchByFieldsArray',
                        'hostelsSearchByFieldsArray', 'searchByFieldsOrderingArray']);
                    bus.$on('appDictionariesRetrieved', (data) => {
                        this.filter_facilitiesSelectionArray = data.facilitiesSelectionArray
                        this.filter_hostelsSearchByFieldsArray = data.hostelsSearchByFieldsArray
                        this.filter_searchByFieldsOrderingArray = data.searchByFieldsOrderingArray
                        this.initHostelsFilterSearch();
                    })
                } else {
                    this.initHostelsFilterSearch();
                }
            }, // showHostelsFilterSearch()

            initHostelsFilterSearch() {
                this.$modal.show('modal-hostels-filter-search', {
                    title: "Search Hostels",
                })
                // alert( "watch  min_hostel_rating ::"+(this.min_hostel_rating) + "  max_hostel_rating ::"+(this.max_hostel_rating) )
                this.sliderRangersValuesRatingOptions= {
                    min: this.min_hostel_rating,
                    max: this.max_hostel_rating,
                    interval: 0.1,
                    marks: val => {
                        return val % 0.5 === 0
                    },
                };
                // debugger
                // this.filter_slider_range_filter_rating_values= [this.min_hostel_rating, this.max_hostel_rating]
                this.defaultRangeValues.range_filter_rating_from= this.min_hostel_rating;
                this.defaultRangeValues.range_filter_rating_to= this.max_hostel_rating;
            },

            runHostelsFilterSearch() {
                // alert( "runHostelsFilterSearch is_search_results_page_opened::"+(this.is_search_results_page_opened) )
                let hostels_search_by_fields= null;
                if (this.selection_hostels_search_by_fields != null && typeof this.selection_hostels_search_by_fields == "object" && typeof this.selection_hostels_search_by_fields.key != "undefined") {
                    hostels_search_by_fields = this.selection_hostels_search_by_fields.key
                }

                console.log("hostels_search_by_fields::")
                console.log( hostels_search_by_fields )

                let search_by_fields_ordering= null;
                if (this.selection_search_by_fields_ordering != null && typeof this.selection_search_by_fields_ordering == "object" && typeof this.selection_search_by_fields_ordering.key != "undefined") {
                    search_by_fields_ordering = this.selection_search_by_fields_ordering.key
                }

                console.log("search_by_fields_ordering::")
                console.log( search_by_fields_ordering )

                // selection_hostels_search_by_fields: null,
                //     selection_search_by_fields_ordering: null,

                let hostelsFilterSearchData= {
                    filter_search_text : this.filter_search_text,
                    filter_price_values: this.filter_slider_range_filter_price_values,
                    filter_rating_values: this.filter_slider_range_filter_rating_values,
                    filter_only_feature: ( this.filter_check_only_feature ? 1 : '' ),
                    filter_facilitiesSelectionArray: this.filter_facilitiesSelectionArray,
                    filter_hostelsSearchByFieldsSelection: this.filter_hostelsSearchByFieldsArray,
                    filter_searchByFieldsOrderingSelection: this.filter_searchByFieldsOrderingArray,
                    filter_hostels_search_by_fields: hostels_search_by_fields,
                    filter_search_by_fields_ordering: search_by_fields_ordering,
                }

                this.cancelHostelsFilterSearch()
                console.log("hostelsFilterSearchData::")
                console.log( hostelsFilterSearchData )

                if (this.is_search_results_page_opened) { // DO NOT NEED to redirect to SearchResultsPage - just show results
                    bus.$emit('triggerSearchResultsParametersApplied', hostelsFilterSearchData );

                } else { //  NEED to redirect to SearchResultsPage and show results
                    this.$router.push({name: 'SearchResultsPage', params: hostelsFilterSearchData})
                }

            }, // runHostelsFilterSearch() {

            cancelHostelsFilterSearch() {
                this.$modal.hide('modal-hostels-filter-search');
                this.clearFilters();
/*
                this.filter_search_text = '';
                this.filter_facilitiesSelectionArray= [];
                this.filter_hostelsSearchByFieldsArray= [];
                this.filter_searchByFieldsOrderingArray= [];

                this.filter_slider_range_filter_price_values= [0, 0];
                this.filter_slider_range_filter_price_values_disabled= true;
                this.filter_slider_range_filter_rating_values= [0, 5];
                this.filter_slider_range_filter_rating_values_disabled= true;
*/
            },

            clearFilters() {
                // this.$modal.hide('modal-hostels-filter-search');
                this.filter_search_text = '';
                this.filter_check_only_feature= false;
                // this.filter_facilitiesSelectionArray= [];
                this.filter_facilitiesSelectionArray.map((nextFilterFacilitySelection, index) => {
                    nextFilterFacilitySelection.is_checked= false;
                });
                this.selection_hostels_search_by_fields= { "key": "price", "label": "Price" };
                this.selection_search_by_fields_ordering= { "key": "desc", "label": "Descending" };

                this.filter_slider_range_filter_price_values= [0, this.max_hostel_rooms_price];
                this.filter_slider_range_filter_price_values_disabled= true;
                this.filter_slider_range_filter_rating_values= [0, 5];
                this.filter_slider_range_filter_rating_values_disabled= true;
            },

            enableRange(field) {
                // alert("enableRange field::" + var_dump(field))
                if (field == 'filter_price_values') {
                    this.filter_slider_range_filter_price_values_disabled = false
                    // bus.$emit('triggerInternalFiltersChanged', this.internalFilters);
                }
                if (field == 'filter_rating_values') {
                    this.filter_slider_range_filter_rating_values_disabled = false
                    // bus.$emit('triggerInternalFiltersChanged', this.internalFilters);
                }
            },

            clearRangeValues(field) {
                if (field == 'filter_price_values') {
                    this.filter_slider_range_filter_price_values_disabled = true;
                    this.filter_slider_range_filter_price_values = [this.defaultRangeValues.range_filter_price_from, this.defaultRangeValues.range_filter_price_to];
                }

                if (field == 'filter_rating_values') {
                    this.filter_slider_range_filter_rating_values_disabled = true;
                    this.filter_slider_range_filter_rating_values = [this.defaultRangeValues.range_filter_rating_from, this.defaultRangeValues.range_filter_rating_to];
                }

            }, // clearRangeValues(field) {


        },
        computed: {
            site_name() {
                return window.SITE_NAME
            },
            modalHostelsFilterSearch() {
                var deviceParams = this.effectiveDeviceWidth()
                var calculated_height = getModalCalculatedHeight(deviceParams.height)
                return calculated_height;
            },
            modalWidth() {
                var deviceParams = this.effectiveDeviceWidth()
                var calculated_width = getModalCalculatedWidth(deviceParams.width)
                return calculated_width;
            },

            min_hostel_rooms_price() {
                return this.$store.getters.min_hostel_rooms_price;
            },

            max_hostel_rooms_price() {
                return this.$store.getters.max_hostel_rooms_price;
            },

        }
    }


    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof (oElem) == 'string' || typeof (oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof (oElem) == 'innerHTML' || typeof (oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }


</script>

<style lang="scss">
    @import "./resources/sass/_variables.scss";


    fieldset {
        border: 0.1rem $border-separator-color #ddd !important;
        font-size: small !important;
        padding: 0 0.4em 0.4em 0.5em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
        width: 100%;
        background-color: $background_color !important;
        color: $text-color !important;
        /*background-color: greenyellow;*/
    }


    legend.blocks {
        /*border: 2px dotted red;*/
        font-size: medium !important;
        font-weight: bold !important;
        text-align: left !important;
        width: auto;
        padding: 0 0.6rem;
        border-bottom: none;
        /*background-color: yellow !important;*/
        background-color: $background_color !important;
        color: $text-color !important;

    }

</style>
