<template>
	<section class="card col-sm-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2">

		<div class="card-title p-2">
			<h2>
				<i class="fa fa-bug">Error.</i>
			</h2>
		</div>

		<div class="card-body p-2">
			<h4>
				The requested "{{ invalid_url }}" page not found.
			</h4>
		</div>

		<div class="card-footer p-2">
			<h5>
				<router-link :to="{ name: '/' }">Home</router-link>
			</h5>
		</div>
		<div class="card-footer p-2">
			<h5>
				<router-link :to="{ name: 'dashboardIndex' }">Backend Dashboard</router-link>
			</h5>
		</div>

	</section>

</template>

<script>

    import {bus} from '../../app';
    import appMixin from '../../appMixin';

    export default {
        mixins: [appMixin],

        data: () => ({
            invalid_url: "",
        }),

        created() {
            this.invalid_url = this.$route.params.invalid_url
        }, // created() {

        mounted() {
        },
    }


</script>


