<template>

    <div class="page_content_container">

        hostelBookmarks::{{ hostelBookmarks}}
        <fieldset v-show="is_debug">
            <legend class="blocks">debug:</legend>

            search_results_per_page::
            <pre>{{ search_results_per_page }}</pre>
            getRowNumberPaginationStarts::{{ getRowNumberPaginationStarts }}<br>
            <!--        hostelsFoundResults::{{ hostelsFoundResults }}<br>-->
            table_rows_count::{{ table_rows_count }}<br>
            current_page::{{ current_page }}<br>

            filter_search_text::{{ filter_search_text }}<br>
            filter_price_values::{{ filter_price_values }}<br>
            filter_rating_values::{{ filter_rating_values }}<br>
            filter_only_feature::{{ filter_only_feature }}<br>
            filter_facilitiesSelectionArray::{{ filter_facilitiesSelectionArray }}<br>
            filter_hostels_search_by_fields::{{ filter_hostels_search_by_fields }}<br>
            filter_search_by_fields_ordering::{{ filter_search_by_fields_ordering }}<br>
        </fieldset>


        <section class="page_content_header row_content" v-show="hostelsFoundResults.length > 0 && is_page_loaded">
            <h3 class="hostel_items_group_title">Found hostels
                <span class="small_size">( Page # {{ current_page}} from {{ hostelsFoundResults.length }} {{ hostelsFoundResults.length |
					pluralize(['hostel', 'hostels']) }} )
				</span>
            </h3>

            <div class="row_content_right_aligned btn_right_aligned" >
                <a class="action_button" @click.prevent="repeatSearch()">
                    Repeat Search
                </a>
            </div>

        </section>

        <div class="hostel_items_listings_container m-3" v-show="hostelsFoundResults.length && is_page_loaded">

            <template v-for="nextHostel, index in limitBy(hostelsFoundResults, search_results_per_page,getRowNumberPaginationStarts)">
                <hostel-list-item
                    :currentLoggedUser="currentLoggedUser"
                    :nextHostel="nextHostel"
                    :index="index"
                    :hostelBookmarks="hostelBookmarks"
                    :delete_from_bookmarks_key="deleteFromBookmarksKey(nextHostel.id)"
                    :add_to_bookmarks_key="addToBookmarksKey(nextHostel.id)"
                    :is_show_location="true"
                ></hostel-list-item>
            </template> <!-- class="hostel_item_container" -->

        </div>  <!-- hostel_items_listings_container  -->

        <div class="hostel_items_listings_container row_content m-3" v-show="!hostelsFoundResults.length && is_page_loaded">

            <div class="alert alert-warning m-1 p-1" role="alert">
                No data found ! Change search criteria.
            </div>

            <div class="row_content_right_aligned btn_right_aligned">
                <a class="action_button" @click.prevent="repeatSearch()">
                    Repeat Search
                </a>
            </div>
        </div>  <!-- hostel_items_listings_container  -->

        <div class="hostel_item_pagination_container">
            <listing-pagination :current="current_page" :total="hostelsFoundResults.length" :items_per_page="search_results_per_page"
                                :show_next_prior_buttons=false
                                @paginationPageChangedEvent="paginationPageClicked"></listing-pagination>
        </div>

    </div> <!-- 	<div class="page_content_container"> -->

</template>

<script>
    import {bus} from '../../app';
    import appMixin from '../../appMixin';
    import {addToBookmarksKey, deleteFromBookmarksKey} from "../../helpers/commonFuncs";

    import Vue from 'vue';

    import Vue2Filters from 'vue2-filters' // https://github.com/freearhey/vue2-filters#placeholder
    Vue.use(Vue2Filters)

    import {VLazyImagePlugin} from "v-lazy-image";

    Vue.use(VLazyImagePlugin);


    export default {
        data: function () {
            return {
                is_debug: false,
                is_page_loaded: false,
                message: '',
                filter_search_text: '',
                filter_price_values: [],
                filter_rating_values: [],
                filter_only_feature: '',
                filter_facilitiesSelectionArray: '',
                filter_hostels_search_by_fields: '',
                filter_search_by_fields_ordering: '',
                current_page: 1,
                hostelsFoundResults: [],
                table_rows_count: 0,
                search_results_per_page: 10,
            }

        },

        name: 'SearchResults',

        created() {
//            alert( "this.$route.params::"+var_dump(this.$route.params) )

        }, // created() {

        mounted() {
            bus.$on('triggerSearchResultsParametersApplied', (searchResultsParameters) => {
                console.log("triggerSearchResultsParametersApplied searchResultsParameters::")
                console.log( searchResultsParameters )
                this.filter_search_text = searchResultsParameters.filter_search_text;
                this.filter_price_values = searchResultsParameters.filter_price_values;
                this.filter_rating_values = searchResultsParameters.filter_rating_values;
                this.filter_only_feature = searchResultsParameters.filter_only_feature;
                this.filter_facilitiesSelectionArray = searchResultsParameters.filter_facilitiesSelectionArray;
                this.filter_hostels_search_by_fields = searchResultsParameters.filter_hostels_search_by_fields;
                this.filter_search_by_fields_ordering = searchResultsParameters.filter_search_by_fields_ordering;
                // bus.$off('triggerSearchResultsParametersApplied')
                this.loadSearchResults()
            })

            bus.$on('beforeHostelBookmarkStore', (relatedHostel) => {
                this.message = ''
                this.is_page_updating = true
                bus.$off('beforeHostelBookmarkStore')
            })
            bus.$on('onHostelBookmarkStoreSuccess', (response) => {
                this.is_page_updating = false
                this.message = ''
                this.vueErrorsList.clear();
                this.showPopupMessage("Hostel Bookmarks", "Hostel Bookmark successfully added !", 'success');
                bus.$off('onHostelBookmarkStoreSuccess')
            })
            bus.$on('onHostelBookmarkStoreFailure', (error) => {
                console.error(error)
                this.$setLaravelValidationErrorsFromResponse(error.response.data);
                this.is_page_updating = false
                this.showPopupMessage("Hostel Bookmarks", 'Error adding Hostel Bookmark !', 'warn');
                bus.$off('onHostelBookmarkStoreFailure')
            })


            bus.$on('beforeHostelBookmarkDelete', (relatedHostel) => {
                this.message = ''
                this.is_page_updating = true
                bus.$off('beforeHostelBookmarkDelete')
            })
            bus.$on('onHostelBookmarkDeleteSuccess', (response) => {
                this.is_page_updating = false
                this.message = ''
                this.vueErrorsList.clear();
                this.showPopupMessage("Hostel Bookmarks", "Hostel Bookmark successfully deleted !", 'success');
                bus.$off('onHostelBookmarkDeleteSuccess')
            })
            bus.$on('onHostelBookmarkDeleteFailure', (error) => {
                console.error(error)
                this.$setLaravelValidationErrorsFromResponse(error.response.data);
                this.is_page_updating = false
                this.showPopupMessage("Hostel Bookmarks", 'Error deleting Hostel Bookmark !', 'warn');
                bus.$off('onHostelBookmarkDeleteFailure')
            })


            this.search_results_per_page = window.settings_search_results_per_page
            this.setAppTitle('Search', 'Search', bus);
            console.log("this.$route::")
            console.log(this.$route)

            console.log("this.$route.params::")
            console.log(this.$route.params)

            if (typeof this.$route.params.filter_search_text != "undefined") {
                this.filter_search_text = this.$route.params.filter_search_text;
            }
            if (typeof this.$route.params.filter_price_values != "undefined") {
                this.filter_price_values = this.$route.params.filter_price_values;
            }
            if (typeof this.$route.params.filter_rating_values != "undefined") {
                this.filter_rating_values = this.$route.params.filter_rating_values;
            }
            if (typeof this.$route.params.filter_only_feature != "undefined") {
                this.filter_only_feature = this.$route.params.filter_only_feature;
            }
            if (typeof this.$route.params.filter_facilitiesSelection != "undefined") {
                this.filter_facilitiesSelectionArray = this.$route.params.filter_facilitiesSelection;
            }
            if (typeof this.$route.params.filter_hostels_search_by_fields != "undefined") {
                this.filter_hostels_search_by_fields = this.$route.params.filter_hostels_search_by_fields;
            }
            if (typeof this.$route.params.filter_search_by_fields_ordering != "undefined") {
                this.filter_search_by_fields_ordering = this.$route.params.filter_search_by_fields_ordering;
            }
            this.loadSearchResults()
        }, // mounted() {


        mixins: [appMixin, Vue2Filters.mixin],

        methods: {
            addToBookmarksKey, deleteFromBookmarksKey,

            loadSearchResults() {
                // alert("loadSearchResults this.filter_search_text::" + (this.filter_search_text))
                this.is_page_loaded = false
                let searchParameters = {
                    filter_search_text: this.filter_search_text,
                    filter_price_values: this.filter_price_values,
                    filter_rating_values: this.filter_rating_values,
                    filter_only_feature: this.filter_only_feature,
                    filter_facilitiesSelectionArray: this.filter_facilitiesSelectionArray,
                    filter_hostels_search_by_fields: this.filter_hostels_search_by_fields,
                    filter_search_by_fields_ordering: this.filter_search_by_fields_ordering,
                    page: this.current_page,
                }
                console.log("-1 loadSearchResults searchParameters::")
                console.log(searchParameters)

                axios.post(window.API_VERSION_LINK + '/search/run_hostels_filter_search', searchParameters).then((response) => {
                    console.log("run_hostels_filter_search response::")
                    console.log(response)

                    // this.current_page = page
                    this.is_page_loaded = true;
                    this.hostelsFoundResults = response.data.hostels;
                    // alert( "::"+(this.hostelsFoundResults.length)+var_dump(this.hostelsFoundResults) )
                    this.table_rows_count = response.data.hostel_rows_count;
                }).catch((error) => {
                    console.error(error)
                    if (error.response.data.error_code == 11) {
                        this.showPopupMessage(error.response.data.message, 'warn');
                        this.$router.push({path: '/'});
                    }
                    this.is_page_loaded = true
                });

            }, // loadSearchResults() {

            paginationPageClicked(par1) {
                // alert("paginationPageClicked  par1::" + var_dump(par1))
                this.current_page = par1
            },
            repeatSearch() {
                // debugger
                // alert( "triggerSearchModalForm :this.filter_search_text:"+(this.filter_search_text) )
                console.log("repeatSearch::")

                let filterData= {
                    search_results_per_page: this.search_results_per_page,
                    filter_search_text: this.filter_search_text,
                    filter_price_values: this.filter_price_values,
                    filter_rating_values: this.filter_rating_values,
                    filter_only_feature: this.filter_only_feature,
                    filter_facilitiesSelectionArray: this.filter_facilitiesSelectionArray,
                    filter_hostels_search_by_fields: this.filter_hostels_search_by_fields,
                    filter_search_by_fields_ordering: this.filter_search_by_fields_ordering
                };
                console.log("repeatSearch filterData::")
                console.log( filterData )

                bus.$emit('triggerSearchModalForm', filterData);
                // alert("repeatSearch() {::" + (-6))
            } // repeatSearch() {

        }, // methods: {

        computed: {
            currentLoggedUser() {
                return this.$store.getters.currentLoggedUser;
            },

            hostelBookmarks() {
                return this.$store.getters.hostelBookmarks;
            },

            getRowNumberPaginationStarts() {
                return (this.current_page - 1) * this.search_results_per_page;
            },

        } //computed: {

    }

    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof (oElem) == 'string' || typeof (oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof (oElem) == 'innerHTML' || typeof (oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }


</script>

<style lang="scss">
    @import "./resources/sass/_variables.scss";

</style>
