<template>
	<div class="container">


        <slider animation="fade">
            <slider-item
                v-for="(i, index) in list"
                :key="index"
                :style="i"
                @click="hello"
            >
                <p style="line-height: 280px; font-size: 5rem; text-align: center;">Page{{ index + 1 }}</p>
            </slider-item>
        </slider>
<!--        <TopNewsSlider></TopNewsSlider>-->

<!--
        00000
        <breadcrumbs>
            </breadcrumbs>
        111111
-->
	</div>
</template>


<script>
    import {bus} from '../../app';
    import Vue from 'vue';
    import EasySlider from 'vue-easy-slider'

    import { Slider, SliderItem } from 'vue-easy-slider'

    Vue.use(EasySlider)

    // import TopNewsSlider from './news/TopNewsSlider.vue';  //resources/js/components/BS4/news/TopNewsSlider.vue
    // import VueBreadcrumbs from 'vue-breadcrumbs'

    // Vue.use(VueBreadcrumbs, {
    //     template: '<nav class="breadcrumb" v-if="$breadcrumbs.length"> ' +
    //         '<router-link class="breadcrumb-item" v-for="(crumb, key) in $breadcrumbs" :to="linkProp(crumb)" :key="key">{{ crumb | crumbText }}</router-link> ' +
    //         '</nav>'
    // });
    // Vue.use(VueBreadcrumbs)
    export default {

        components: {    Slider,
            SliderItem,/* TopNewsSlider*/ },

        data: function () {
            return {
                message: '',
                show: false,
                is_page_loaded: false,
                list: [
                    { backgroundColor: '#3f51b5', width: '100%', height: '100%' },
                    { backgroundColor: '#eee', width: '100%', height: '100%' },
                    { backgroundColor: '#f44336', width: '100%', height: '100%' },
                ],
            }

        },

        name: 'test',
        // mixins: [appMixin],



        computed: {

        },

        mounted() {
            console.log('Test Component mounted.')


        },

        methods: {

            hello($event) {
                console.log(`hello index: ${$event}`)
            },
        },

    }

</script>

<style lang="scss">
	@import "./resources/sass/_variables.scss";

	dl {
		margin-bottom:50px !important;
		border: 2px dotted red;
		width: 100% !important;
	}

	dl dt {
		background:#5f9be3 !important;
		color:#fff !important;
		/*float:left !important;*/
		font-weight:bold !important;
		margin-right:10px !important;
		padding:5px !important;
		/*width:100px !important;*/
		/*display: flex;*/
		border: 2px dotted green;
		width: 100% !important;
	}

	dl dd {
		margin:2px 0 !important;
		padding:5px 0 !important;
		width: 100% !important;
	}


	/* FORUM VIEW BLOCK START */

</style>

