<template>
    <div class="container" >
        <div class="row justify-content-center  p-0 m-0"  style="width: 100%;">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'customers-main-container'
    }
</script>