<template//>
	<section class="card col-sm12 col-md-12 offset-md-0 p-2 m-0">
		<!--getHeaderIcon('customer'::{{ getHeaderIcon('customer')}}-->

		<editor-header :show_loading_image="!is_page_loaded || is_page_updating" :header_icon="getHeaderIcon('customer')" :header_title=header_title
		               :message=message></editor-header>

		settings_js_moment_datetime_format::{{ settings_js_moment_datetime_format }}<br>
		customerAccountTypeValueArray::{{ customerAccountTypeValueArray }}<br>
		<!--customerStatusValueArray::{{ customerStatusValueArray }}<br>-->
		<!--usersSelectionList::{{ usersSelectionList }}<br>-->
		shortUsersSelectionList::{{ shortUsersSelectionList }}<br>
		customerRow::{{ customerRow }}<br>
		<!--customer_id::{{ customer_id }}<br>-->
		<!--is_page_loaded::{{ is_page_loaded }}<br>-->
		<!--is_page_updating::{{ is_page_updating }}<br>-->
		<!--is_insert::{{ is_insert }}<br>-->
		vueErrorsList::{{ vueErrorsList }}<br>


		<form v-on:submit.prevent="validateBeforeSubmit()">
			<div class="editor_content_body_block card-body" v-show="is_page_loaded">

				<!--&& customerRow.id-->
				<div class="form-row mb-3" v-if="!is_insert">
					<label class="col-12 col-sm-4 col-form-label" for="id">ID</label>
					<div class="col-12 col-sm-8">
						<input type="text" v-model="customerRow.id" id="id" class="form-control" readonly>
					</div>
				</div>


				<div class="form-row mb-3">
					<label class="col-12 col-sm-4 col-form-label" for="username">Username<span class="required"> * </span></label>
					<div class="col-12 col-sm-8">
						<input id="username" name="username" v-model="customerRow.username" type="text" placeholder="Enter unique username of customer" :class="{ 'form-control':true, 'editable_field':true, 'input':
						true, 'text-danger': vueErrorsList.has('username') }"   v-validate="'required|max:100'">
						<span v-show="vueErrorsList.has('username')" class="text-danger">{{ clearErrorLabel(vueErrorsList.first('username')) }}</span>
					</div>
				</div>

				<div class="form-row mb-3">
					<label class="col-12 col-sm-4 col-form-label" for="email">Email<span class="required"> * </span></label>
					<div class="col-12 col-sm-8">
						<input id="email" name="email" :class="{ 'form-control':true, 'editable_field':true, 'input':true, 'text-danger': vueErrorsList.has('email') }" v-model="customerRow.email"
						       type="text" placeholder="Enter unique email of customer" v-validate="'required|max:255|email'">
						<span v-show="vueErrorsList.has('email')" class="text-danger">{{ clearErrorLabel(vueErrorsList.first('email')) }}</span>
					</div>
				</div>

				<div class="form-row mb-3">
					<label class="col-12 col-sm-4 col-form-label" for="first_name">First name</label>
					<div class="col-12 col-sm-8">
						<input id="first_name" name="first_name" v-model="customerRow.first_name" type="text" placeholder="Enter first name of customer" :class="{
						    'form-control':true, 'editable_field':true, 'input':
						true, 'text-danger': vueErrorsList.has('first_name') }"   v-validate="'max:50'">
						<span v-show="vueErrorsList.has('first_name')" class="text-danger">{{ vueErrorsList.first('first_name') }}</span>
					</div>
				</div>

				<div class="form-row mb-3">
					<label class="col-12 col-sm-4 col-form-label" for="last_name">Last name</label>
					<div class="col-12 col-sm-8">
						<input id="last_name" name="last_name" v-model="customerRow.last_name" type="text" placeholder="Enter last name of customer" :class="{
						    'form-control':true, 'editable_field':true, 'input':
						true, 'text-danger': vueErrorsList.has('last_name') }"   v-validate="'max:50'">
						<span v-show="vueErrorsList.has('last_name')" class="text-danger">{{ clearErrorLabel(vueErrorsList.first('last_name')) }}</span>
					</div>
				</div>



				<div class="form-row mb-3">
					<label class="col-12 col-sm-4 col-form-label" for="account_type">Account Type<span class="required"> * </span></label>
					<div class="col-12 col-sm-8">
						<v-select
								v-model="selection_account_type"
								data-vv-name="customerRow.account_type"
								:options="customerAccountTypeValueArray"
								v-validate="'required'"
								id="account_type"
								name="account_type"
								class="form-control editable_field"
								placeholder="Select option"
						></v-select>
						<span v-show="vueErrorsList.has('customerRow.account_type')" class="text-danger">{{ clearErrorLabel(vueErrorsList.first('customerRow.account_type') ) }}
						</span>
					</div>
				</div>


				<div class="form-row mb-3">
					<label class="col-12 col-sm-4 col-form-label" for="status">Status<span class="required"> * </span></label>
					<div class="col-12 col-sm-8">
						<v-select
								v-model="selection_status"
								data-vv-name="customerRow.status"
								:options="customerStatusValueArray"
								v-validate="'required'"
								id="status"
								name="status"
								class="form-control editable_field"
								placeholder="Select option"
						></v-select>
						<span v-show="vueErrorsList.has('customerRow.status')" class="text-danger">{{ clearErrorLabel(vueErrorsList.first('customerRow.status') ) }}</span>
					</div>
				</div>


				<div class="form-row mb-3">
					<label class="col-12 col-sm-4 col-form-label" for="phone">Phone</label>
					<div class="col-12 col-sm-8">
						<input id="phone" name="phone" v-model="customerRow.phone"
						       :class="{ 'form-control':true, 'editable_field':true, 'input':true, 'text-danger': vueErrorsList.has('phone') }" type="text" placeholder="Enter phone of customer"
						       v-validate="'max:255'">
						<span v-show="vueErrorsList.has('phone')" class="text-danger">{{ clearErrorLabel(vueErrorsList.first('phone')) }}</span>
					</div>
				</div>

				<div class="form-row mb-3">
					<label class="col-12 col-sm-4 col-form-label" for="website">Website</label>
					<div class="col-12 col-sm-8">
						<input id="website" name="website" v-model="customerRow.website"
						       :class="{ 'form-control':true,  'editable_field':true, 'input':true, 'text-danger': vueErrorsList.has('website') }" type="text"
						       placeholder="Enter website of customer" v-validate="'max:255|url:{require_protocol: false }'" >
						<span v-show="vueErrorsList.has('website')" class="text-danger">{{ clearErrorLabel(vueErrorsList.first('website')) }}</span>
					</div>
				</div>

				<div class="form-row mb-3">
					<label class="col-12 col-sm-4 col-form-label" for="notes">Notes</label>
					<div class="col-12 col-sm-8">
						<!--<textarea id="notes" name="notes" v-model="customerRow.notes"-->
						<!--:class="{ 'form-control':true, 'editable_field':true, 'input':true, 'text-danger': vueErrorsList.has('notes') }"></textarea>-->
						<span v-show="vueErrorsList.has('notes')" class="text-danger">{{ clearErrorLabel(vueErrorsList.first('notes')) }}</span>

						<!--<froala :tag="'textarea'" :config="config" v-model="customerRow.notes"></froala>-->
						<wysiwyg v-model="customerRow.notes" />



					</div>
				</div>
				<div class="form-row mb-3" v-if="!is_insert && creator_username">
					<label class="col-12 col-sm-4 col-form-label">Creator</label>
					<div class="col-12 col-sm-8">
						<input type="text" v-model="creator_username" class="form-control" readonly>
					</div>
				</div>

				<div class="form-row mb-3" v-if="!is_insert">
					<label class="col-12 col-sm-4 col-form-label">Created at</label>
					<div class="col-12 col-sm-8">
						<input type="text" v-model="created_at_label" class="form-control" readonly>
					</div>
				</div>

				<div class="form-row mb-3" v-if="!is_insert && updated_at_label">
					<label class="col-12 col-sm-4 col-form-label">Updated at</label>
					<div class="col-12 col-sm-8">
						<input type="text" v-model="updated_at_label" class="form-control" readonly>
					</div>
				</div>


				<div class="card-footer">
					<editor-buttons submit_label="Submit" cancel_label="Cancel" :cancel_link="'/admin/customers'" :is_page_updating="is_page_updating"></editor-buttons>
				</div>
			</div> <!-- <div class="editor_content_body_block card-body" v-show="is_page_loaded">  -->
		</form>

	</section>
</template>

<script>
    import {bus} from '../../../../app';
    import appMixin from '../../../../appMixin';
    import { retrieveAppDictionaries } from "../../../../helpers/commonFuncs";
    //    import VueFroala from 'vue-froala-wysiwyg';
    //    import Multiselect from 'vue-multiselect'
    //    import validate from 'validate.js';

    import wysiwyg from "vue-wysiwyg"; // https://github.com/chmln/vue-wysiwyg
    Vue.use(wysiwyg, {}); // config is optional. more below
    //    @import "~vue-wysiwyg/dist/vueWysiwyg.css";


    import Vue from 'vue';
    import vSelect from 'vue-select'
    Vue.component('v-select', vSelect)

    export default {
        name: 'new',
//        components: { Multiselect },
        data() {
            return {
//                config: {      // https://www.froala.com/wysiwyg-editor/docs/options
//                    height: 300,
//                    heightMax: 500,
//                    toolbarButtonsXS: ['fullscreen', 'bold', 'italic', 'underline', 'fontFamily', 'fontSize', 'insertLink', 'insertImage', 'insertTable', 'undo', 'redo'],
//                    toolbarButtonsMD: ['fullscreen', 'bold', 'italic', 'underline', 'fontFamily', 'fontSize', 'insertLink', 'insertImage', 'insertTable', 'undo', 'redo'],
//                    toolbarButtonsSM: ['fullscreen', 'bold', 'italic', 'underline', 'fontFamily', 'fontSize', 'insertLink', 'insertImage', 'insertTable', 'undo', 'redo'],
//
//                    events: {
//                        'froalaEditor.initialized': function () {
//                            console.log('initialized')
//                        }
//                    }
//                },
                customerRow: {
//                    id: null,
//                    name: '',
//                    account_type: '',
//                    status: '',
//                    email: 'me@site.com',
//                    phone: '',
//                    website: 'site.com',
//                    notes: ''
                    id: null,
                    username: 'customer1',
                    first_name: 'first_name 1',
                    last_name: 'last_name 1',
                    account_type: 'I',
                    status: 'I',
                    email: 'customer1@email.com',
                    phone: '9876543210',
                    website: 'http://customer1.com',
                    notes: 'notes text'
                },
                selection_account_type: null,
                selection_status: null,
                errorsList: null,
                is_page_loaded: false,
                is_page_updating: false,
                is_insert: false,
                submit_label: "Update",
                customer_id: null,
                message: '',
                settings_js_moment_datetime_format: '',
                customerAccountTypeValueArray : [],
                customerStatusValueArray :      [],
                shortUsersSelectionList  :      [],
            };
        },
        mixins: [appMixin],

        created() {
//            alert( "this.$route.params::"+var_dump(this.$route.params) )

            if (this.$route.fullPath == "/admin/customers/new") {
                this.is_insert = true
                this.is_page_loaded = true
                this.customer_id = "new"
                this.submit_label = 'Insert'
            } else {
                this.customer_id = this.$route.params.id
            }
        }, // created() {

        mounted() {
            retrieveAppDictionaries( [ 'customerAccountTypeValueArray', 'customerStatusValueArray', 'shortUsersSelectionList' ] );
            bus.$on('appDictionariesRetrieved', (data) => {
                this.customerAccountTypeValueArray = data.customerAccountTypeValueArray
                this.customerStatusValueArray      = data.customerStatusValueArray
                this.shortUsersSelectionList       = data.shortUsersSelectionList
            })

            this.settings_js_moment_datetime_format = window.settings_js_moment_datetime_format
//	        debugger
            if (!this.is_insert) { // retrieve row for editing
                this.loadCustomer();
            }
            this.setAppTitle( 'Backend', 'Customer Editor', bus);
        }, // mounted() {


        computed: {
            header_title: function () {
                if (!this.is_insert) return "Edit customer";
                return "Add customer";
            },
            creator_username: function () {
                return this.getDictionaryLabel(this.customerRow.creator_id, this.shortUsersSelectionList, this.customerRow.creator_id);
            },
            created_at_label: function () {
                return this.momentDatetime(this.customerRow.created_at, settings_js_moment_datetime_format);
            },
            updated_at_label: function () {
                return this.momentDatetime(this.customerRow.updated_at, settings_js_moment_datetime_format);
            },
        }, //computed: {

        methods: {

            loadCustomer() {
                this.is_page_loaded = false
                axios.get(window.API_BACKEND_VERSION_LINK + '/admin/customers/' + this.customer_id, {})
                    .then((response) => {
//                    debugger
                        this.customerRow = response.data.customer
                        this.customerAccountTypeValueArray.map((nextCustomerAccountTypeValue, index) => {
                            if (nextCustomerAccountTypeValue.key == this.customerRow.account_type) {
                                this.selection_account_type = {key: this.customerRow.account_type, label: nextCustomerAccountTypeValue.label};
                            }
                        });

                        this.customerStatusValueArray.map((nextCustomerStatusValue, index) => {
                            if (nextCustomerStatusValue.key == this.customerRow.status) {
                                this.selection_status = {key: this.customerRow.status, label: nextCustomerStatusValue.label};
                            }
                        });

                        this.is_page_loaded = true
                    })
                    .catch((error) => {
                        console.error(error)
                        this.showPopupMessage("Customers", 'Error loading customer !', 'warn');
                    });

            }, // loadCustomer() {

            validateBeforeSubmit() {
                if ( this.selection_account_type!= null && typeof this.selection_account_type == "object" && typeof this.selection_account_type.key != "undefined") {
                    this.customerRow.account_type = this.selection_account_type.key
                }
                if ( this.selection_account_type == null /* && typeof this.selection_account_type == "object" && */ || typeof this.selection_account_type.key == "undefined" ) {
                    this.customerRow.account_type = null
                }

                if ( this.selection_status!= null && typeof this.selection_status == "object" && typeof this.selection_status.key != "undefined") {
                    this.customerRow.status = this.selection_status.key
                }
                if ( this.selection_status == null /*&& typeof this.selection_status == "object" && */ || typeof this.selection_status.key  == "undefined" ) {
                    this.customerRow.status = null
                }
//                this.updateCustomer()
//	            return;
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.updateCustomer()
                    } else {
                        bus.$emit('editorValidationFail', 'customer', this.customer_id);
                        this.showPopupMessage('Document category', 'Error ' + ( this.is_insert ? 'adding' : 'updating' ) + ' customer. ', 'warn');
                    }
                })
            }, // validateBeforeSubmit() {

            updateCustomer() {
                this.is_page_updating = true
                axios({
                    method: ( this.is_insert ? 'post' : 'patch' ),
//                    url: window.API_BACKEND_VERSION_LINK + '/admin/customers/' + ( !this.is_insert ? "/" + this.customer_id : ''),
                    url: window.API_BACKEND_VERSION_LINK + '/admin/customers' + ( !this.is_insert ? "/" + this.customer_id : ''),
                    data: this.$data.customerRow,
                }).then((response) => {
                    this.is_page_updating = false
                    this.showPopupMessage("Customers", 'Customer ' + ( this.is_insert ? 'added' : 'updated' ) + ' successfully !', 'success');
//                    return;
                    this.$router.push({path: '/admin/customers'});
                }).catch((error) => {
                    console.error(error)
                    this.$setLaravelValidationErrorsFromResponse(error.response.data);
                    this.is_page_updating = false
                    this.showPopupMessage("Customers", 'Error ' + ( this.is_insert ? 'adding' : 'updating' ) + ' customer !', 'warn');
                });


            }, //updateCustomer() {
            // clearErrorLabel(s) {
            //     if (typeof s == "undefined") return "";
            //     return s.replace(/customerRow./g, "").replace(/_/g, " ")
            // }

        } // methods: {
    }


    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof(oElem) == 'string' || typeof(oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof(oElem) == 'innerHTML' || typeof(oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }

</script>
