<template>
	<section class="card col-sm12 col-md-12 offset-md-0 p-2 m-0" style="width: 100%;">

		<listing-header :show_loading_image=!is_page_loaded :current_page=current_page :itemsList="customersList" :rows_count="table_rows_count" :header_icon="getHeaderIcon('customer')"
		                :header_title=header_title :right_add_button_link="'editCustomer'" :item_title="'row(s)'" :message=message
		                :right_add_button_link_title="'New'"
		                parent_component_key="customers"></listing-header>

		<!--settings_js_moment_datetime_format::{{ settings_js_moment_datetime_format }}<br>-->
		<!--filter_username::{{ filter_username }}<br>-->
		filter_status::{{ filter_status }}<br>
		<!--is_page_loaded::{{ is_page_loaded }}<br>-->
		<!--current_page::{{ current_page }}<br>-->
		<!--table_rows_count::{{ table_rows_count }}<br>-->
		<!--filtered_rows_count::{{ filtered_rows_count }}<br>-->
		<!--per_page::{{ per_page }}<br>-->
		<!--customersList::{{ customersList }}<br>-->
		<!--customerStatusValueArray::{{ customerStatusValueArray }}<br>-->
		<!--customerAccountTypeValueArray::{{ customerAccountTypeValueArray }}<br>-->
		<div class="card-title ml-0 mr-0 pb-2 pt-2">
			<fieldset class="blocks text-muted p-0 m-0">
				<legend class="blocks"><span class="legend_title">Filters</span></legend>

				<div class="form-row">
					<label class="col-12 col-sm-3 col-form-label" for="filter_username">Filter by name</label>
					<div class="col-12 col-sm-3">
						<input name="filter_username" type="input" value="" v-model="filter_username" v-on:change="customersFilterApplied(filter_status)">
					</div>
				</div>

				<div class="form-row">
					<div class="col-12 col-sm-3 pl-2">
						<input name="filter_status" type="radio" value="all" v-model="filter_status" v-on:click="customersFilterApplied('all')"> All customers
					</div>
					<div class="col-12 col-sm-3 pr-2">
						<input name="filter_status" type="radio" value="active" v-model="filter_status" v-on:click="customersFilterApplied('active')"> Active
					</div>
					<div class="col-12 col-sm-3 pr-2">
						<input name="filter_status" type="radio" value="inactive" v-model="filter_status" v-on:click="customersFilterApplied('inactive')"> Inactive
					</div>
					<div class="col-12 col-sm-3 pr-2">
						<input name="filter_status" type="radio" value="new" v-model="filter_status" v-on:click="customersFilterApplied('new')"> New
					</div>
				</div>

			</fieldset>
		</div>

		<div class="card-body listing_content_body_block" v-show="is_page_loaded && customersList.length" style="width: 100%;">
			<table class="table listing_content_table table-striped text-primary table-responsive td_nowrap">
				<thead>
				<th>#</th>
				<th>Name</th>
				<th>Status</th>
				<th>Account Type</th>
				<th>Email</th>
				<th>Created at</th>
				<th></th>
				<th></th>
				</thead>
				<tbody>
				<tr v-for="nextCustomer, index in customersList" :key="nextCustomer.id">
					<td>{{ nextCustomer.id }}</td>
					<td>{{ nextCustomer.name }}</td>
					<td>{{ nextCustomer.status, customerStatusValueArray }} : {{ getDictionaryLabel(nextCustomer.status, customerStatusValueArray, '') }}</td>
					<td>{{ nextCustomer.account_type, customerAccountTypeValueArray }} : {{ getDictionaryLabel(nextCustomer.account_type, customerAccountTypeValueArray, '') }}
					</td>
					<td>{{ nextCustomer.email }}</td>
					<td>{{ momentDatetime(nextCustomer.created_at, settings_js_moment_datetime_format) }}</td>
					<td>
						<router-link :to="`/admin/customers/${nextCustomer.id}`"><i :class="getHeaderIcon('edit')" title="'Edit customer') )"></i></router-link>
					</td>
					<td>
						<a v-on:click="removeCustomer(nextCustomer.id, nextCustomer.name, index)" :class="'a_delete_item_'+nextCustomer.id">
							<i :class="getHeaderIcon('remove')" title="Delete Customer"></i>
						</a>
					</td>
				</tr>

				</tbody>
			</table>
			<div class="card-footer" v-show="per_page > 0">
				<listing-pagination :current="current_page" :total="filtered_rows_count" :items_per_page="per_page" :show_next_prior_buttons=false
				                    @paginationPageChangedEvent="loadCustomersList"></listing-pagination>
			</div>
		</div> <!-- <div class="card-body listing_content_body_block" v-show="is_page_loaded && customersList.length"> -->

	</section> <!-- class="card" -->
</template>

<script>
    import {bus} from '../../../../app';
    import appMixin from '../../../../appMixin';
    import { retrieveAppDictionaries } from "../../../../helpers/commonFuncs";

    export default {
        data: function () {
            return {
                customersList : [],
                is_page_loaded: false,
                message: '',
                table_rows_count: 0,
                filtered_rows_count: 0,
                per_page: 2,
                current_page: 1,
                order_by: 'username',
                order_direction: 'desc',
                filter_username: '',
                filter_status: '',

                settings_js_moment_datetime_format: '',
                customerAccountTypeValueArray : [],
                customerStatusValueArray :      [],
            }

        },
        name: 'list',

        created() {
            this.filter_status = this.$route.params.filter
        }, //  created() {

        mounted() {
            retrieveAppDictionaries( [ 'customerAccountTypeValueArray', 'customerStatusValueArray' ] );
            bus.$on('appDictionariesRetrieved', (data) => {
                this.customerAccountTypeValueArray = data.customerAccountTypeValueArray
                this.customerStatusValueArray =      data.customerStatusValueArray
            })

            this.settings_js_moment_datetime_format = window.settings_js_moment_datetime_format
            this.is_page_loaded = false
            this.loadCustomersList(1, this.order_by, this.order_direction)
            this.setAppTitle( 'Backend', 'Customers Listing', bus);
        }, // mounted() {


        mixins: [appMixin],

        methods: {

            loadCustomersList(page, order_by, order_direction) {
                this.message = '';
                this.is_page_loaded = false

                if (typeof order_by == "undefined") {
                    order_by = this.order_by
                }
                if (typeof order_direction == "undefined") {
                    order_direction = this.order_direction
                }
                var params_str = '';// this.getPaginationParams(page, order_by, order_direction, true)
//	            alert( "loadCustomersList params_str ::"+var_dump(params_str) )
//	            alert( "::"+var_dump(window.API_BACKEND_VERSION_LINK + '/admin/customers' + params_str) )
//                axios.get(window.API_BACKEND_VERSION_LINK + '/admin/customers' + params_str).then((response) => {
                axios.post(window.API_BACKEND_VERSION_LINK + '/admin/customers-filter', { page : page, order_by : order_by, order_direction : order_direction, filter_username :
                    this.filter_username,  filter_status : this.filter_status }).then((response) => {
                    this.current_page = page
                    this.is_page_loaded = true
                    this.customersList = response.data.customersList;
                    this.filtered_rows_count = response.data.filtered_rows_count;
                    this.table_rows_count = response.data.table_rows_count;
                    this.per_page = response.data.per_page
                }).catch((error) => {
                    console.error(error)
                    this.is_page_loaded = true
                });

            }, // loadCustomersList() {


            removeCustomer(id, customer_name, index) {
                this.message = '';
                this.confirmMsg("Do you want to delete '" + customer_name + "' customer ?", () => {
                    debugger
                    //     Route::delete('customers/{id}', 'Admin\CustomersController@destroy');
                    alert( window.API_BACKEND_VERSION_LINK + '/customers/' + id )
                    axios.delete(window.API_BACKEND_VERSION_LINK + '/customers/' + id).then((response) => {
                        this.loadCustomersList(1, this.order_by, this.order_direction)
                        this.showPopupMessage("Customers", "Customer deleted successfully !", 'success');
                    }).catch((error) => {
                        console.error(error)
                        this.showPopupMessage("Customers", 'Error deleting Customer. ', 'warn');
                    });
                });
            }, //removeCustomer(id, customer_name, index) {
            customersFilterApplied(new_filter_status) {
                this.filter_status = new_filter_status
                this.loadCustomersList( 1, this.order_by, this.order_direction )
            },

        }, // methods: {

        computed: {

            header_title() {
                if (this.filter_status == 'active') return "Active customers";
                if (this.filter_status == 'inactive') return "Inactive customers";
                if (this.filter_status == 'new') return "New customers";
                return "Customers";
            },

        } //computed: {

    }

    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof(oElem) == 'string' || typeof(oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof(oElem) == 'innerHTML' || typeof(oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }


</script>

