<template>

	<div class="page_content_container" v-show="is_page_loaded && hostelsIsHomepageSpotlightList.length">

<!--		current_page::-->
<!--		<pre>{{ current_page}}</pre>-->
<!--				hostelBookmarks:{{ hostelBookmarks}}-->
<!--		hostels_per_page::<pre>{{ hostels_per_page }}</pre>-->
<!--				getRowNumberPaginationStarts::<pre>{{ getRowNumberPaginationStarts }}</pre>-->
<!--				hostelsIsHomepageSpotlightList::<pre>{{ hostelsIsHomepageSpotlightList}}</pre>-->
		<section class="page_content_header" v-show="hostelsIsHomepageSpotlightList.length > 0">
			<h3 class="hostel_items_group_title">
                <center>Homepage spotlight hostels
				    <span class="small_size">( Page # {{ current_page}} from {{ hostelsIsHomepageSpotlightList.length }} {{ hostelsIsHomepageSpotlightList.length |
					    pluralize(['hostel', 'hostels']) }} )
				    </span>
                </center>
			</h3>
		</section>

		<div class="hostel_items_listings_container mb-5">

			<template v-for="nextHostel, index in limitBy(hostelsIsHomepageSpotlightList, hostels_per_page,getRowNumberPaginationStarts)">
				<hostel-list-item
						:currentLoggedUser="currentLoggedUser"
						:nextHostel="nextHostel"
						:index="index"
						:hostelBookmarks="hostelBookmarks"
						:delete_from_bookmarks_key="deleteFromBookmarksKey(nextHostel.id)"
						:add_to_bookmarks_key="addToBookmarksKey(nextHostel.id)"
                        :is_show_location="true"
				></hostel-list-item>
			</template> <!-- class="hostel_item_container" -->

		</div>
		<!-- hostel_items_listings_container  -->

		<div class="hostel_item_pagination_container">
			<listing-pagination :current="current_page" :total="hostelsIsHomepageSpotlightList.length" :items_per_page="hostels_per_page" :show_next_prior_buttons=false
			    @paginationPageChangedEvent="paginationPageClicked"></listing-pagination>
		</div>

	</div>   <!-- <div class="page_content_container"> -->

</template>

<script>
    import {bus} from '../../../app';
    import appMixin from '../../../appMixin';
    import {addToBookmarksKey, deleteFromBookmarksKey} from "../../../helpers/commonFuncs";

    import Vue from 'vue';

    // Vue.component('pagination', require('laravel-vue-pagination'));
    Vue.component('listing-pagination', require('../lib/ListingPagination.vue'));

    // import Paginate from 'vuejs-paginate'  //			https://github.com/lokyoung/vuejs-paginate
    // Vue.component('paginate', Paginate)

    import Vue2Filters from 'vue2-filters' // https://github.com/freearhey/vue2-filters#placeholder
    Vue.use(Vue2Filters)

    export default {
        data: function () {
            return {
                is_debug: true,
                is_page_loaded: false,
                message: '',
                current_page: 1,
                hostels_per_page: 10,
            }

        },
        name: 'HostelsHomepageSpotlight',

        mounted() {
            this.is_page_loaded = true
            // this.hostels_per_page= window.hostels_per_page;
            this.setAppTitle('Hostels', 'Spotlight Hostels ', bus);
            bus.$on('beforeHostelBookmarkStore', (relatedHostel) => {
                this.message = ''
                this.is_page_updating = true
                bus.$off('beforeHostelBookmarkStore')
            })
            bus.$on('onHostelBookmarkStoreSuccess', (response) => {
                this.is_page_updating = false
                this.message = ''
                this.vueErrorsList.clear();
                this.showPopupMessage("Hostel Bookmarks", "Hostel Bookmark successfully added !", 'success');
                bus.$off('onHostelBookmarkStoreSuccess')
            })
            bus.$on('onHostelBookmarkStoreFailure', (error) => {
                this.$setLaravelValidationErrorsFromResponse(error.response.data);
                this.is_page_updating = false
                this.showPopupMessage("Hostel Bookmarks", 'Error adding Hostel Bookmark !', 'warn');
                bus.$off('onHostelBookmarkStoreFailure')
            })


            bus.$on('beforeHostelBookmarkDelete', (relatedHostel) => {
                this.message = ''
                this.is_page_updating = true
                bus.$off('beforeHostelBookmarkDelete')
            })
            bus.$on('onHostelBookmarkDeleteSuccess', (response) => {
                this.is_page_updating = false
                this.message = ''
                this.vueErrorsList.clear();
                this.showPopupMessage("Hostel Bookmarks", "Hostel Bookmark successfully deleted !", 'success');
                bus.$off('onHostelBookmarkDeleteSuccess')
            })
            bus.$on('onHostelBookmarkDeleteFailure', (error) => {
                this.$setLaravelValidationErrorsFromResponse(error.response.data);
                this.is_page_updating = false
                this.showPopupMessage("Hostel Bookmarks", 'Error deleting Hostel Bookmark !', 'warn');
                bus.$off('onHostelBookmarkDeleteFailure')
            })

        }, // mounted() {


        mixins: [appMixin, Vue2Filters.mixin],

        methods: {
            addToBookmarksKey, deleteFromBookmarksKey,

            paginationPageClicked(current_page) {
                this.current_page = current_page
            },

            getHostelById(hostel_id) {
                let L = this.hostelsIsHomepageSpotlightList.length;
                for (let I = 0; I < L; I++) {
                    if (this.hostelsIsHomepageSpotlightList[I].id == hostel_id) {
                        return this.hostelsIsHomepageSpotlightList[I];
                    }
                }
                return null;
            }

        }, // methods: {

        computed: {
            currentLoggedUser() {
                return this.$store.getters.currentLoggedUser;
            },
            hostelBookmarks() {
                return this.$store.getters.hostelBookmarks;
            },

            getRowNumberPaginationStarts() {
                return (this.current_page - 1) * this.hostels_per_page;
            },

            hostelsIsHomepageSpotlightList() {
                return this.$store.getters.hostels.filter(state => {
                    if (state.status == 'A' && state.is_homepage_spotlight == 'Y') {
                        return true;
                    }
                    return false;
                });
            },

        } //computed: {

    }

    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof (oElem) == 'string' || typeof (oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof (oElem) == 'innerHTML' || typeof (oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }

    function compareByPrice(a, b) {
        if (a.min_hostel_rooms_price == null || typeof a.min_hostel_rooms_price == "undefined") a.min_hostel_rooms_price = 0;
        if (b.min_hostel_rooms_price == null || typeof b.min_hostel_rooms_price == "undefined") b.min_hostel_rooms_price = 0;
        if (parseFloat(a.min_hostel_rooms_price) < parseFloat(b.min_hostel_rooms_price))
            return -1;
        if (parseFloat(a.min_hostel_rooms_price) > parseFloat(b.min_hostel_rooms_price))
            return 1;
        return 0;
    }// function compareByPrice(a, b) {

</script>

