<template>
	<div class="page_content_container card">

		<fieldset v-show="is_debug">
			<legend class="blocks">debug:</legend>
<!--			hostelBookmarks::{{ hostelBookmarks }}<br>-->

		<!--is_page_loaded::{{ is_page_loaded }}<br>-->
		<!--hostelsList::{{ hostelsList }}<br>-->
		<!--state_slug::{{ state_slug }}<br>-->
		<!--region_slug::{{ region_slug }}<br>-->
		<!--this.currentState::{{ currentState }}<br>-->
		<!--this.currentRegion::{{ currentRegion }}<br>-->
<!--		hostelsByRegionIdStateIdList::<pre>{{ hostelsByRegionIdStateIdList }}</pre><br>-->
		</fieldset>

		<div class="page_content_header card-title">
			<h4 v-show="currentRegion.name && currentState.name">Available hostels in {{ currentRegion.name }} ( {{ currentState.name }} state )</h4>
			<h5>{{ get_hostels_count }}</h5>
			<p class="loading m-1 p-1" v-if="is_page_updating || !is_page_loaded"></p>
		</div>

		<div class="page_content_content card">
		<div v-for="nextHostelsSubregionGroup, index in hostelsByRegionIdStateIdList" :key="nextHostelsSubregionGroup.id" class=" mb-4">
			<div class="hostel_items_group_title m-2 p-0 pl-4" v-show="nextHostelsSubregionGroup.hostelsSubGroupArray.length">
				<span v-show="is_debug">{{ nextHostelsSubregionGroup.subregion_id }}:</span>{{ nextHostelsSubregionGroup.subregion_name }}
				<span class="small_size"> {{ nextHostelsSubregionGroup.hostelsSubGroupArray.length }}
				Hostel{{pluralize(nextHostelsSubregionGroup.hostelsSubGroupArray.length,'','s') }}
				 </span>
			</div>

			<div v-for="nextHostel, index in nextHostelsSubregionGroup.hostelsSubGroupArray" :key="nextHostel.id" class="m-0 p-0">

				<hostel-list-item
						:currentLoggedUser="currentLoggedUser"
						:nextHostel="nextHostel"
						:index="index"
						:hostelBookmarks="hostelBookmarks"
						:delete_from_bookmarks_key="deleteFromBookmarksKey(nextHostel.id)"
						:add_to_bookmarks_key="addToBookmarksKey(nextHostel.id)"
				></hostel-list-item>

			</div>
		</div> <!-- <div class="page_content_content card"> -->


		</div>
		<template v-show="is_page_loaded && !hostelsByRegionIdStateIdList.length">
			<div class="card-body listing_content_body_block">
				<div class="alert alert-warning m-1 p-1" role="alert">
					No Hostels available for selected region
				</div>
			</div>
		</template>

	</div> <!-- 	<div class="page_content_container card" -->
</template>

<script>
    import {bus} from '../../../app';
    import appMixin from '../../../appMixin';
    import { addToBookmarksKey, deleteFromBookmarksKey } from "../../../helpers/commonFuncs";

    export default {
        data: function () {
            return {
                is_debug: false,
                is_page_loaded: false,
                is_page_updating: false,
                message: '',
                currentState: {},
                currentRegion: {},
                state_slug: null,
                region_slug: null,
            }

        },
        name: 'HostelsByRegion',

        created() {
            this.state_slug= this.$route.params.state_slug;
            this.region_slug= this.$route.params.region_slug;

        }, //  created() {

        mounted() {
            this.is_page_loaded = true
            this.setAppTitle( 'Hostels', 'Hostels By Region', bus);

            bus.$on('beforeHostelBookmarkStore', (relatedHostel) => {
                this.message = ''
                this.is_page_updating = true
                bus.$off('beforeHostelBookmarkStore')
            })
            bus.$on('onHostelBookmarkStoreSuccess', (response) => {
                this.is_page_updating = false
                this.message = ''
                this.vueErrorsList.clear();
                this.showPopupMessage("Hostel Bookmarks", "Hostel Bookmark successfully added !", 'success');
                bus.$off('onHostelBookmarkStoreSuccess')
            })
            bus.$on('onHostelBookmarkStoreFailure', (error) => {
                console.error(error)
                this.$setLaravelValidationErrorsFromResponse(error.response.data);
                this.is_page_updating = false
                this.showPopupMessage("Hostel Bookmarks", 'Error adding Hostel Bookmark !', 'warn');
                bus.$off('onHostelBookmarkStoreFailure')
            })


            bus.$on('beforeHostelBookmarkDelete', (relatedHostel) => {
                this.message = ''
                this.is_page_updating = true
                bus.$off('beforeHostelBookmarkDelete')
            })
            bus.$on('onHostelBookmarkDeleteSuccess', (response) => {
                this.is_page_updating = false
                this.message = ''
                this.vueErrorsList.clear();
                this.showPopupMessage("Hostel Bookmarks", "Hostel Bookmark successfully deleted !", 'success');
                bus.$off('onHostelBookmarkDeleteSuccess')
            })
            bus.$on('onHostelBookmarkDeleteFailure', (error) => {
                console.error(error)
                this.$setLaravelValidationErrorsFromResponse(error.response.data);
                this.is_page_updating = false
                this.showPopupMessage("Hostel Bookmarks", 'Error deleting Hostel Bookmark !', 'warn');
                bus.$off('onHostelBookmarkDeleteFailure')
            })

        }, // mounted() {


        mixins: [appMixin],

        methods: {
            addToBookmarksKey, deleteFromBookmarksKey,


	        getHostelById(hostel_id) {
                let L= this.hostelsByRegionIdStateIdList.length;
                for ( let I = 0; I< L; I++ ) {
                    var LLL= this.hostelsByRegionIdStateIdList[I].hostelsSubGroupArray.length;

                    for (let III= 0; III< LLL; III++) {
                        if (this.hostelsByRegionIdStateIdList[I].hostelsSubGroupArray[III].id == hostel_id ) {
                            return this.hostelsByRegionIdStateIdList[I].hostelsSubGroupArray[III];
                        }
                    }
                }
                return null;
	        }



    }, // methods: {

        computed: {
            currentLoggedUser() {
                return this.$store.getters.currentLoggedUser;
            },
            hostelBookmarks() {
                return this.$store.getters.hostelBookmarks;
            },

            hostelsByRegionIdStateIdList() { // hostels grouped by Regions and States {
                var tempHostels= this.$store.getters.hostels.filter( state => {
                    if ( state.status == 'A' && state.state_slug == this.state_slug && state.region_slug == this.region_slug ) {
                        return true;
                    }
	                return false;
                });
	            var L= tempHostels.length
	            var is_debug= false;
                if ( is_debug ) {
                    console.log("tempHostels::")
                    console.log(tempHostels)
                    console.log("tempHostels.length::")
                    console.log(tempHostels.length)
                }
//                var retArray= []
                var L= tempHostels.length
                var is_first_row= true
                var current_subregion_id= ''
                var current_subregion_name= ''
                var current_region_name= ''
                var current_state_name= ''
                var current_subregion_slug= ''

                var hostelsSubGroupArray= []
                var subregionGroups=      []

                for (var I=0; I< L; I++) { // all Hostel rows in tempHostels
	                if ( I == 0) {
                        this.currentState = {
                            name : tempHostels[I].state_name,
                            slug : tempHostels[I].state_slug,
		                };
                        this.currentRegion= {
                            name : tempHostels[I].region_name,
                            slug : tempHostels[I].region_slug,
                        }
                    }

                    if ( is_debug ) {
                        console.log("+1  I::")
                        console.log(I)
                        console.log("+2  tempHostels[I].id::")
                        console.log(tempHostels[I].id)
                        console.log("+3  is_first_row::")
                        console.log(is_first_row)
                    }
//                        echo '<pre>0 tempHostels[I].id::' . print_r(tempHostels[I].id, true) . '</pre>';
//                        echo '<pre>0 is_first_row::' . print_r(is_first_row, true) . '</pre>';
                    if ( is_first_row || current_subregion_id != tempHostels[I].subregion_id ) {

                        if ( !is_first_row ) { // That is NOT first Row
                            //    echo '<pre>-3 tempHostels[I].subregion_id::' . print_r(tempHostels[I].subregion_id, true) . '</pre>';

                            var subregionGroup = { subregion_id : current_subregion_id, subregion_name : current_subregion_name, state_name : tempHostels[I].state_name, region_name : tempHostels[I].region_name, subregion_slug : current_subregion_slug,
	                            hostelsSubGroupArray : hostelsSubGroupArray.sort(compareByPrice) };
                            subregionGroups[subregionGroups.length] = {
                                subregion_id : current_subregion_id,
                                subregion_name : current_subregion_name,
                                subregion_slug : current_subregion_slug,
                                state_name : tempHostels[I].state_name,
	                            region_name : tempHostels[I].region_name,
                                hostelsSubGroupArray : hostelsSubGroupArray.sort(compareByPrice) } ;
                            hostelsSubGroupArray= [];
                            current_subregion_name= tempHostels[I].subregion_name;
                            current_subregion_slug= tempHostels[I].subregion_slug;
                            current_subregion_id= tempHostels[I].subregion_id;
                        } // if ( !is_first_row ) { // That is NOT first Row
                        else { // That is first Row
                            current_subregion_name= tempHostels[I].subregion_name;
                            current_region_name= tempHostels[I].region_name;
                            current_state_name= tempHostels[I].state_name;
                            current_subregion_slug= tempHostels[I].subregion_slug;
                            current_subregion_id= tempHostels[I].subregion_id;
                            hostelsSubGroupArray[ hostelsSubGroupArray.length ]= {
                                id : tempHostels[I].id,
                                name : tempHostels[I].name,
                                town : tempHostels[I].town,
                                feature : tempHostels[I].feature,
                                slug : tempHostels[I].slug,
                                state_slug : tempHostels[I].state_slug,
                                region_slug : tempHostels[I].region_slug,
                                subregion_slug : tempHostels[I].subregion_slug,
                                short_descr : tempHostels[I].short_descr,
                                rating : tempHostels[I].rating,
                                website : tempHostels[I].website,
                                phone : tempHostels[I].phone,
                                email : tempHostels[I].email,
                                is_priority_listing : tempHostels[I].is_priority_listing,
                                hostel_reviews_count : tempHostels[I].hostel_reviews_count,
                                hostel_inqueries_count : tempHostels[I].hostel_inqueries_count,
                                min_hostel_rooms_price : tempHostels[I].min_hostel_rooms_price,
                                filenameData : tempHostels[I].filenameData }
                            if ( is_debug ) {
                                console.log("+3 hostelsSubGroupArray::")
                                console.log(hostelsSubGroupArray)
                            }

                        } //else { // That is first Row

                    } else { // That is first Row
                        hostelsSubGroupArray[hostelsSubGroupArray.length] = {
                            id: tempHostels[I].id,
                            name: tempHostels[I].name,
                            town: tempHostels[I].town,
                            feature: tempHostels[I].feature,
                            slug: tempHostels[I].slug,
                            state_slug : tempHostels[I].state_slug,
                            region_slug : tempHostels[I].region_slug,
                            subregion_slug : tempHostels[I].subregion_slug,
                            short_descr: tempHostels[I].short_descr,
                            rating: tempHostels[I].rating,
                            website: tempHostels[I].website,
                            phone: tempHostels[I].phone,
                            email: tempHostels[I].email,
                            is_priority_listing: tempHostels[I].is_priority_listing,
                            hostel_reviews_count: tempHostels[I].hostel_reviews_count,
                            hostel_inqueries_count: tempHostels[I].hostel_inqueries_count,
                            min_hostel_rooms_price: tempHostels[I].min_hostel_rooms_price,
                            filenameData: tempHostels[I].filenameData
                        }
                        if ( is_debug ) {
                            console.log("+4 hostelsSubGroupArray::")
                            console.log(hostelsSubGroupArray)
                        }

                    } // } else { // That is first Row

                    is_first_row= false;
//                        echo '<pre>$current_subregion_id::' . print_r($current_subregion_id, true) . '</pre>';
//                        echo '<pre>$current_subregion_name::' . print_r($current_subregion_name, true) . '<hr><hr><hr><hr></pre>';
                }  // for (var I=0; I< L; I++) { // all Hostel rows in tempHostels

                if ( current_subregion_id != null) {
                    if ( is_debug ) {
                        console.log("+8 subregionGroups::")
                        console.log(subregionGroups)
                    }
                    subregionGroups[subregionGroups.length] = {
                        subregion_id: current_subregion_id,
                        subregion_name: current_subregion_name,
                        region_name: current_region_name,
                        state_name: current_state_name,
                        subregion_slug: current_subregion_slug,
                        hostelsSubGroupArray: hostelsSubGroupArray.sort(compareByPrice),
                    }

                } // for (var I=0; I< L; I++) { // all Hostel rows in tempHostels


                if ( is_debug ) {
                    console.log("subregionGroups::")
                    console.log(subregionGroups)
                    console.log("subregionGroups.length::")
                    console.log(subregionGroups.length)
                }
                return subregionGroups;
//                return this.$store.getters.statesWithRegions;
            }, // hostelsByRegionIdStateIdList() { // hostels grouped by Regions and States

            get_hostels_count() {
//                return 'get_hostels_count';
//	            console.log("this.hostelsByRegionIdStateIdList::")
//	            console.log( typeof this.hostelsByRegionIdStateIdList )
//	            console.log( this.hostelsByRegionIdStateIdList )
                if (typeof this.hostelsByRegionIdStateIdList == "undefined" || !this.hostelsByRegionIdStateIdList.length) {
	                return;
                }
                var L= this.hostelsByRegionIdStateIdList.length;
                if (L == 0) {
                    return '';
                }
                var related_common_hostels_count= 0
                var related_featured_hostels_count= 0

                for (var I=0; I< L; I++) {
                    var hostelsSubGroupArray= this.hostelsByRegionIdStateIdList[I].hostelsSubGroupArray;
//                    console.log("hostelsSubGroupArray::")
//                    console.log( hostelsSubGroupArray )
	                var LLL= hostelsSubGroupArray.length
	                for ( var III= 0; III< LLL; III++ ) {
                        related_common_hostels_count++;
                        if ( hostelsSubGroupArray[III].feature == "F" ) {
                             related_featured_hostels_count++
                        }
	                }
                }
                if ( related_featured_hostels_count == 0 ) {
                    return "Has no hostels yet";
                }
                return related_common_hostels_count + " hostels ( " +related_featured_hostels_count+" featured )";
            }, // get_hostels_count() {

            header_title() {
                return "Hostels by Region";
            },

        } //computed: {

    }

    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof(oElem) == 'string' || typeof(oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof(oElem) == 'innerHTML' || typeof(oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }

    function compareByPrice(a, b) {
        if ( a.min_hostel_rooms_price == null || typeof a.min_hostel_rooms_price == "undefined" ) a.min_hostel_rooms_price= 0;
        if ( b.min_hostel_rooms_price == null || typeof b.min_hostel_rooms_price == "undefined"  ) b.min_hostel_rooms_price= 0;
        if ( parseFloat(a.min_hostel_rooms_price) < parseFloat(b.min_hostel_rooms_price) )
            return -1;
        if ( parseFloat(a.min_hostel_rooms_price) > parseFloat(b.min_hostel_rooms_price) )
            return 1;
        return 0;
    }// function compareByPrice(a, b) {

</script>

