<template>
	<div class="page_content_container">

		<fieldset v-show="is_debug">
			<legend class="blocks">debug:</legend>
			<!--currentLoggedUser::{{ currentLoggedUser }}<br>-->
			<!--			hostelBookmarks::{{ hostelBookmarks }}<br>-->
			<!--		is_page_loaded::{{ is_page_loaded }}<br>-->
			<!--sort_by::{{ sort_by }}<br>-->
			<!--hostelsList{{ hostelsList }}-->
		</fieldset>


		<div class="page_content_header card-title p-3">
			<h4>
				Available hostels
			</h4>
			<h5>
				{{ get_hostels_count }}
			</h5>
			<p class="loading m-1 p-1" v-if="is_page_updating || !is_page_loaded"></p>
			<regions-dropdown-selector></regions-dropdown-selector>

			<div class="form-row mt-3 description-text m-2  mt-4">
				<div class="col-12 col-sm-3 pl-2">
					Sort by
				</div>
				<div class="col-12 col-sm-3 pl-2">
					<input name="sort_by" type="radio" value="price" v-model="sort_by" v-on:click="hostelsSortByApplied('price')"> Price
				</div>
				<div class="col-12 col-sm-3 pr-2">
					<input name="sort_by" type="radio" value="rating" v-model="sort_by" v-on:click="hostelsSortByApplied('rating')"> Rating
				</div>
				<div class="col-12 col-sm-3 pr-2">
					<input name="sort_by" type="radio" value="name" v-model="sort_by" v-on:click="hostelsSortByApplied('name')"> Name
				</div>
			</div>

		</div>


		<div class="page_content_content card-body">

		<div class="hostel_items_listings_container mb-5" v-if="hostelsList.length">
			<template v-for="nextHostel, index in hostelsList">
				<hostel-list-item
						:currentLoggedUser="currentLoggedUser"
						:nextHostel="nextHostel"
						:index="index"
						:hostelBookmarks="hostelBookmarks"
						:add_to_bookmarks_key="addToBookmarksKey(nextHostel.id)"
						:delete_from_bookmarks_key="deleteFromBookmarksKey(nextHostel.id)"
                        :is_show_location="true"
				></hostel-list-item>
			</template>
		</div>

		<template v-show="is_page_loaded && !hostelsList.length">
			<div class="hostel_items_listings_container card-body listing_content_body_block">
				<div class="alert alert-warning m-1 p-1" role="alert">
					No Hostels available
				</div>
			</div>
		</template>

	</div> <!-- 		<div class="page_content_content card-body"> -->

	</div> <!-- <div class="page_content_container"> -->
</template>

<script>
    import {bus} from '../../../app';
    import appMixin from '../../../appMixin';
    import {addToBookmarksKey, deleteFromBookmarksKey} from "../../../helpers/commonFuncs";

    export default {
        data: function () {
            return {
                is_debug: false,
                is_page_loaded: false,
                is_page_updating: false,
                message: '',
                currentState: {},
                currentRegion: {},
                current_page: 1,
                sort_by: null,
//                hostelsList: [],
            }

        },


        name: 'HostelsSorted',

        created() {
            this.sort_by = this.$route.params.sort_by;

        }, //  created() {


        mounted() {
            bus.$on('beforeHostelBookmarkStore', (relatedHostel) => {
                this.message = ''
                this.is_page_updating = true
                bus.$off('beforeHostelBookmarkStore')
            })
            bus.$on('onHostelBookmarkStoreSuccess', (response) => {
                this.is_page_updating = false
                this.message = ''
                this.vueErrorsList.clear();
                this.showPopupMessage("Hostel Bookmarks", "Hostel Bookmark successfully added !", 'success');
                bus.$off('onHostelBookmarkStoreSuccess')
            })
            bus.$on('onHostelBookmarkStoreFailure', (error) => {
                console.error(error)
                this.$setLaravelValidationErrorsFromResponse(error.response.data);
                this.is_page_updating = false
                bus.$off('onHostelBookmarkStoreFailure')
            })


            bus.$on('beforeHostelBookmarkDelete', (relatedHostel) => {
                this.message = ''
                this.is_page_updating = true
                bus.$off('beforeHostelBookmarkDelete')
            })
            bus.$on('onHostelBookmarkDeleteSuccess', (response) => {
                this.is_page_updating = false
                this.message = ''
                this.vueErrorsList.clear();
                this.showPopupMessage("Hostel Bookmarks", "Hostel Bookmark successfully deleted !", 'success');
                bus.$off('onHostelBookmarkDeleteSuccess')
            })
            bus.$on('onHostelBookmarkDeleteFailure', (error) => {
                console.error(error)
                this.$setLaravelValidationErrorsFromResponse(error.response.data);
                this.is_page_updating = false
                this.showPopupMessage("Hostel Bookmarks", 'Error deleting Hostel Bookmark !', 'warn');
                bus.$off('onHostelBookmarkDeleteFailure')
            })
            this.is_page_loaded = true
        }, // mounted() {


        mixins: [appMixin],

        methods: {
            addToBookmarksKey, deleteFromBookmarksKey,

            hostelsSortByApplied(new_sort_by) {
                this.sort_by = new_sort_by
            },

        }, // methods: {

        computed: {
            currentLoggedUser() {
                return this.$store.getters.currentLoggedUser;
            },
            hostelBookmarks() {
                return this.$store.getters.hostelBookmarks;
            },
            get_hostels_count() {
                var L = this.hostelsList.length;
                if (L == 0) {
                    return '';
                }
                var related_common_hostels_count = 0
                var related_featured_hostels_count = 0

                for (var I = 0; I < L; I++) {
                    related_common_hostels_count++;
                    if (this.hostelsList[I].feature == "F") {
                        related_featured_hostels_count++
                    }
                }
                if (related_featured_hostels_count == 0) {
                    return related_common_hostels_count + " hostels";
                }
                return related_common_hostels_count + " hostels ( " + related_featured_hostels_count + " featured )";
            },

            hostelsList: function () {
//                console.log("!!!hostelsList::")

                if (this.sort_by == null || typeof this.sort_by == "undefined") {
                    this.sort_by = 'price' // rating name
                }
                // alert( "this.sort_by::"+var_dump(this.sort_by) )

                this.setAppTitle('Hostels', 'Sorted by ' + this.sort_by, bus);
//                console.log("this.sort_by::")
//                console.log(this.sort_by)
//
//                console.log("this::")
//                console.log(this)

                function compareByName(a, b) {
                    if (a.name < b.name)
                        return -1;
                    if (a.name > b.name)
                        return 1;
                    return 0;
                } // function compareByName(a, b) {

                function compareByPrice(a, b) {
                    if (a.min_hostel_rooms_price == null || typeof a.min_hostel_rooms_price == "undefined") a.min_hostel_rooms_price = 0;
                    if (b.min_hostel_rooms_price == null || typeof b.min_hostel_rooms_price == "undefined") b.min_hostel_rooms_price = 0;
                    if (parseFloat(a.min_hostel_rooms_price) < parseFloat(b.min_hostel_rooms_price))
                        return -1;
                    if (parseFloat(a.min_hostel_rooms_price) > parseFloat(b.min_hostel_rooms_price))
                        return 1;
                    return 0;
                } // function compareByPrice(a, b) {

                function compareByRating(a, b) {
                    if (a.rating == null || typeof a.rating == "undefined") a.rating = 0;
                    if (b.rating == null || typeof b.rating == "undefined") b.rating = 0;
                    if (a.rating < b.rating)
                        return 1;
                    if (a.rating > b.rating)
                        return -1;

                    return 0;
                } // function compareByRating(a, b) {

                if (this.sort_by == null || this.sort_by == 'name') {
                    return this.$store.getters.hostels.sort(compareByName);
                }
                if (this.sort_by == null || this.sort_by == 'price') {
                    return this.$store.getters.hostels.sort(compareByPrice);
                }
                if (this.sort_by == null || this.sort_by == 'rating') {
                    return this.$store.getters.hostels.sort(compareByRating);
                }
            },  // hostelsList: function() {

            header_title() {
                return "Hostels";
            },

        } //computed: {

    }

    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof (oElem) == 'string' || typeof (oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof (oElem) == 'innerHTML' || typeof (oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }

</script>

