<template>

    <article class="hostel_item_container">

        <h2 class="hostel_item_title">
            <router-link :to="{ name: 'hostelViewPage', params: { slug: nextHostel.slug, state_slug : nextHostel.state_slug, region_slug : nextHostel.region_slug,
							subregion_slug : nextHostel.subregion_slug } }">
<!--                					# {{ index }},-->
<!--                id::{{ nextHostel.id }}::-->
                <i :class="'i_link '+getHeaderIcon('forum_category')"></i>&nbsp;<span class="hidden_info">{{ nextHostel.id }}:</span>{{ nextHostel.name }}
            </router-link>
        </h2>

        <div class="hostel_item_content">

            <v-lazy-image
                class="pull-left m-3 single_hostel_image_left_aligned"
                src="/images/emptyImg.png" alt="No Image"
                v-if="!hostelHasImage(nextHostel)"
            />

            <template v-if="hostelHasImage(nextHostel)">
                <router-link :to="{ name: 'hostelViewPage', params: { slug: nextHostel.slug, state_slug : nextHostel.state_slug, region_slug : nextHostel.region_slug,
							subregion_slug : nextHostel.subregion_slug } }">
                    <v-lazy-image
                        class="pull-left single_hostel_image_left_aligned m-3"
                        :src="nextHostel.filenameData.image_url"
                        :alt="nextHostel.filenameData.image"
                    />
                </router-link>
            </template>

            <div class="filter_box_items_row_left_aligned">
                <button type="button" class="btn no_cursor"><i :class="'i_link '+getHeaderIcon('money')"></i>
                    Prices from : <strong>{{ moneyFormat(nextHostel.min_hostel_rooms_price) }}</strong>
                </button>
                <button type="button" class="btn no_cursor">
                    <rating-stars-line :rating="nextHostel.rating"></rating-stars-line>
                </button>

                <button type="button" class="btn no_cursor" v-show="nextHostel.feature == 'F'" v-tooltip="featured_hostel_tooltip_text">
					<span class="badge badge-primary badge-pill">
						<i :class="' '+getHeaderIcon('featured')"></i>&nbsp;Featured
					</span>
                </button>
            </div>

            <p class="card-text m-3 description-text" v-html="nextHostel.short_descr"></p>
            <p v-show="nextHostel.id==301" class="card-text m-3 description-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque
                laudantium,
                totam rem aperiam,
                eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
                dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam
                aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea
                commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui
                dolorem eum fugiat quo voluptas nulla pariatur?
            </p>
            <p v-show="nextHostel.id==30" class="card-text m-3 description-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                doloremque
                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
                labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
                nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae
                consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
            </p>

        </div> <!-- <div class="hostel_item_content"> -->

        <div class="hostel_item_commands_row mt-2" v-show="is_show_location">
            <div class="hostel_item_commands_row_cell ">
                <button type="button" class="btn">
                    <i :class="'i_link '+getHeaderIcon('state')"></i> {{ nextHostel.state_name }} / {{ nextHostel.region_name }} / {{
                    nextHostel.subregion_name }}
                </button>
            </div>
        </div>

        <div class="hostel_item_commands_row mt-2">
            <div class="hostel_item_commands_row_cell ">
                <button type="button" class="btn" v-show="nextHostel.phone">
                    <i :class="'i_link '+getHeaderIcon('phone')"></i> {{ nextHostel.phone }}
                </button>
            </div>
            <div class="hostel_item_commands_row_cell">

                <button type="button" class="btn" v-show="nextHostel.email" @click="mailTo(nextHostel.email)">
                    <i :class="'i_link '+getHeaderIcon('email')"></i>
                    {{ spaceStringValue(nextHostel.email,20) }}
                </button>
            </div>
            <div class="hostel_item_commands_row_cell">
                <button type="button" class="btn btn-link" v-show="nextHostel.website">
                    <i :class="'i_link '+getHeaderIcon('website')"></i>
                    <a :href="checkUrlPrefix(nextHostel.website)" target="_blank">
                        {{ spaceStringValue(nextHostel.website,20) }}
                    </a>
                </button>
            </div>
        </div>

        <div class="hostel_item_commands_row mt-2">
            <button type="button" class="btn">
                <i :class="'i_link '+getHeaderIcon('inqueries')"></i> Inqueries : {{ nextHostel.hostel_inqueries_count }}
            </button>

            <button type="button" class="btn"><i :class="'i_link '+getHeaderIcon('reviews')"></i> Reviews : {{ nextHostel.hostel_reviews_count }}</button>

            <button type="button" class="btn">
                <a v-on:click="confirmAddToBookmarks(nextHostel.id, nextHostel, nextHostel.name, index)" :class="'a_add_to_bookmarks_'+nextHostel.id"
                   class="ml-2"
                   v-show="!isHostelBookmarked(nextHostel.id)">
                    <i :class="'i_link '+getHeaderIcon('bookmark')"
                       title="Add to bookmarks"
                       v-onelementhover="'underline'"
                       v-checkislogged="{ action_type :'grayed', loggedUser : this.currentLoggedUser }"
                    ></i>Add to bookmarks
                </a>

                <span class="badge badge-secondary badge-pill" v-show="isHostelBookmarked(nextHostel.id)">
					<i :class="'i_link '+getHeaderIcon('bookmark')"></i>&nbsp;Bookmarked
				</span>
                <a v-on:click="confirmDeleteFromBookmarked(nextHostel.id, nextHostel, nextHostel.name, index)"
                   :class="'a_exclude_from_bookmarked_'+nextHostel.id" class="ml-2"
                   v-show="isHostelBookmarked(nextHostel.id)"><i :class="getHeaderIcon('remove')" title="Exclude from bookmarks"></i>
                </a>
            </button>
        </div>

    </article>

</template>

<script>
    import {bus} from '../../../app';
    import appMixin from '../../../appMixin';
    import {confirmAddToBookmarks, confirmDeleteFromBookmarked} from "../../../helpers/commonFuncs";

    import Vue from "vue";
    import {VLazyImagePlugin} from "v-lazy-image";

    Vue.use(VLazyImagePlugin);

    export default {

        props: {

            currentLoggedUser: {
                required: true,
            },

            nextHostel: {
                required: true,
            },

            index: {
                required: true,
            },

            hostelBookmarks: {
                required: true,
            },

            delete_from_bookmarks_key: {
                required: true,
            },

            add_to_bookmarks_key: {
                required: true,
            },
            is_show_location: {
                required: false,
                default: false,
            },

        }, //props: {

        computed: {
            text_color() {
                return window.TEXT_COLOR
            },
            disabled_text_color() {
                return window.DISABLED_TEXT_COLOR
            },
            featured_hostel_tooltip_text() {
                return 'Featured hostel means lorem ipsum dolor sit amet'
            },

        }, //computed: {

        methods: {

            confirmAddToBookmarks, confirmDeleteFromBookmarked,

            hostelHasImage(hostel) {
                if (typeof hostel['filenameData'] == "undefined") return false;
                if (typeof hostel['filenameData'].image_url == "undefined") return false;
                if (typeof hostel['filenameData'].image_url == "string") return true;
                return true;
            },

            isHostelBookmarked(hostel_id) {
                let hostelBookmarked = this.$store.getters.hostelBookmarkByHostelId(hostel_id);
                // console.log("isHostelBookmarked hostelBookmarked::")
                // console.log( hostelBookmarked )
                return (typeof hostelBookmarked != "undefined");
                // var L = this.hostelBookmarks.length
                // for (var I = 0; I < L; I++) {
                //     if (hostel_id == this.hostelBookmarks[I].hostel_id) {
                //         return true;
                //     }
                // }
                // return false;
            },

        }, // methods: {

        mixins: [appMixin]

    }
</script>

<style lang="scss">
    @import "./resources/sass/_variables.scss";


    .hostel_item_content {
        @if ($debug_mode) {
            border: 1px solid red;
        }
        flex: 1 1 140px;
        flex-direction: column;
        margin: 0 !important;
        padding: 0 !important;
    }

</style>
