<template>
	<article class="card item_container">


		<section class="hostel_item_title card-title" v-show="header_title" v-if="is_page_loaded">
			<fieldset v-show="is_debug">
				<legend class="blocks">debug:</legend>
				<!--hostelRoomTypeValueArray : {{hostelRoomTypeValueArray}}<br>-->
				<!--hostelRoomIsDormValueArray : {{hostelRoomIsDormValueArray}}<br>-->
				<!--hostelRoomIsPrivateValueArray : {{hostelRoomIsPrivateValueArray}}<br>-->

				<!--hostelBookmarks::{{ hostelBookmarks }}<br>-->
				<!--hostelImages : {{hostelImages}}<br>-->
				<!--hostelRooms : {{hostelRooms}}<br>-->
				<!--hostelFacilities : {{ hostelFacilities }}<br>-->
<!--								hostelRow:{{ hostelRow }}<br>-->
				<!--				is_page_updating::{{ is_page_updating }}<br>-->
				<!--				is_page_loaded::{{ is_page_loaded }}<br>-->
				<!--hostel_slug::{{ hostel_slug }}<br>-->
			</fieldset>


            <h4 class="app_title">
                <span class="hidden_info">{{ hostelRow.id }}:</span>
                <i :class="'i_link '+getHeaderIcon('location')" :title="'Hostel\'s location'"></i>
                {{ header_title }}
            </h4>
            <h5 class="app_subtitle">
                <i :class="'i_link '+getHeaderIcon('address')" :title="'Hostel\'s address'"></i>
                {{ hostelRow.street_addr }}
            </h5>
			<!--<h4>{{ hostelRow.name }} in {{ hostelRow.region_name }} ( {{ hostelRow.state_name }} state )</h4>-->
		</section>

		<div class="hostel_item_content card-body" v-if="is_page_loaded">


			<div class="col-sm-12">

				<div class="pull-left slider-item-image-images" v-show="hostelImages.length">
					<slider
							:indicators="'center'"
							animation="fade"
					>
						<slider-item
								v-for="(nextHostelImage, index) in hostelImages"
								:key="index"
								@click="sliderItemImageClicked($event, nextHostelImage.filenameData)"
								class="slider-item-image"
						>
							<img :src="nextHostelImage.filenameData.image_url" :width="( modalWidth / 2 ) - 10" height="auto">
							<p>{{ nextHostelImage.info }}</p>
						</slider-item>
					</slider>
				</div>

				<a class="a_link pull-left slider-item-image-images" href="/images/emptyImg.png" v-show="!hostelImages.length">
					<!--{{  "?dt=".time()  }}-->
					<img alt="alt text" class="single_vote_image_left_aligned slider-item-image" src="/images/emptyImg.png">
				</a>

				<p class="card-text mt-3 mb-3 description-text" v-html="hostelRow.descr"></p>


			</div>

		</div>

		<div class="hostel_item_commands_row p-3" v-if="is_page_loaded">
            <div class="hostel_item_commands_row_cell ">
                <button type="button" class="btn" v-show="hostelRow.phone">
                    <i :class="'i_link '+getHeaderIcon('phone')"></i> {{ hostelRow.phone }}
                </button>
            </div>
            <div class="hostel_item_commands_row_cell">

                <button type="button" class="btn" v-show="hostelRow.email" @click="mailTo(hostelRow.email)">
                    <i :class="'i_link '+getHeaderIcon('email')"></i>
                    {{ spaceStringValue(hostelRow.email,20) }}
                </button>
            </div>
            <div class="hostel_item_commands_row_cell">
                <button type="button" class="btn btn-link" v-show="hostelRow.website">
                    <i :class="'i_link '+getHeaderIcon('website')"></i>
                    <a :href="checkUrlPrefix(hostelRow.website)" target="_blank">
                        {{ spaceStringValue(hostelRow.website,20) }}
                    </a>
                </button>
            </div>
		</div>

		<div class="hostel_item_commands_row p-3" v-if="is_page_loaded">
			<div class="hostel_item_commands_row_cell ">

				<button @click="showNewHostelInqueryDialog()" class=" btn btn-primary" type="submit"  v-tooltip="booking_enquiry_tooltip_text">
					<i :class="'i_link '+getHeaderIcon('inqueries')"></i>&nbsp;Booking enquiry
				</button>

			</div>
			<div class="hostel_item_commands_row_cell">

<!--				<popover name="foo2"  :pointer="false" >-->
<!--					Hello 22-->
<!--				</popover>-->
				<button class=" btn btn-primary" type="submit"   v-tooltip="add_review_tooltip_text">
					<i :class="'i_link '+getHeaderIcon('reviews')"></i>&nbsp;Add review
				</button>
			</div>
			<div class="hostel_item_commands_row_cell">
				<button class="btn" type="button">
					<a :class="'a_add_to_bookmarks_'+hostelRow.id" class="ml-2" v-on:click="confirmAddToBookmarks(hostelRow.id, hostelRow, hostelRow.name, 0)"
					   v-show="!isHostelBookmarked(hostelRow.id)">
						<i v-onelementhover="'underline'"
						   v-checkislogged="{ action_type :'grayed', loggedUser : this.currentLoggedUser }"
						   :class="'i_link '+getHeaderIcon('bookmark')"
						   title="Add to bookmarks"> Add to bookmarks</i>
					</a>
					<span class="badge badge-secondary badge-pill" v-show="isHostelBookmarked(hostelRow.id)">
								<i :class="'i_link '+getHeaderIcon('bookmark')"></i>&nbsp;Bookmarked
							</span>
					<a :class="'a_exclude_from_bookmarked_'+hostelRow.id" class="ml-2" v-on:click="confirmDeleteFromBookmarked(hostelRow.id, hostelRow, hostelRow.name, 0)"
					   v-show="isHostelBookmarked(hostelRow.id)"><i :class="getHeaderIcon('remove')" title="Exclude from bookmarks"></i>
					</a>
				</button>
			</div>
		</div>

		<div class="hostel_item_commands_row p-3" v-if="is_page_loaded">
			<div class="hostel_item_commands_row_cell ">
				<button class="btn no_cursor" type="button"><i :class="'i_link '+getHeaderIcon('inqueries')"></i> Inqueries : {{ hostelRow.hostel_inqueries_count }}</button>
				<button class="btn no_cursor" type="button" v-show="hostelRow.feature == 'F'"  v-tooltip="featured_hostel_tooltip_text">
							<span class="badge badge-primary badge-pill p-2">
								<i :class="' '+getHeaderIcon('featured')"></i>&nbsp;Featured
							</span>
				</button>
			</div>
			<div class="hostel_item_commands_row_cell">
				<button class="btn no_cursor" type="button">
					<rating-stars-line :rating="hostelRow.rating"></rating-stars-line>
				</button>
			</div>
			<div class="hostel_item_commands_row_cell">
				<button class="btn no_cursor" type="button">
					<i :class="'i_link '+getHeaderIcon('reviews')"></i> Reviews : {{ hostelRow.hostel_reviews_count }}
				</button>
			</div>

		</div>

		<div class="item_columns_container p-3" v-show="hostelRooms.length > 0 && is_page_loaded">
			<template v-if="hostelRooms.length">
				<h4 class="m-2 mt-4">
					<i :class="'i_link '+getHeaderIcon('room')"></i> Rooms
				</h4>
				<table class="table table-striped text-primary">
					<tr :key="nextHostelRoom.id" v-for="nextHostelRoom, index in hostelRooms">
						<td>{{ nextHostelRoom.type }}</td>
						<td>{{ getDictionaryLabel(nextHostelRoom.type, hostelRoomTypeValueArray) }}</td>
						<td>{{ moneyFormat(nextHostelRoom.price) }}</td>
						<td>{{ getDictionaryLabel(nextHostelRoom.is_private, hostelRoomIsPrivateValueArray) }}</td>
						<td>{{ getDictionaryLabel(nextHostelRoom.is_dorm, hostelRoomIsDormValueArray) }}</td>
					</tr>
				</table>
			</template>
		</div>


		<div class="item_columns_container p-3" v-show="hostelFacilities.length > 0 && is_page_loaded">
			<h4 class="m-2 mt-4">
				<i :class="'i_link '+getHeaderIcon('facility')"></i> Has facilities
			</h4>
			<div class="row m-2">
				<div :key="nextFacility.id" class="list-group-item col-12 col-sm-4" v-for="nextFacility, index in hostelFacilities">
					<i :class="'i_link '+getHeaderIcon('check')"></i>&nbsp;{{ nextFacility.name }}
				</div>
			</div>
		</div>


		<div class="item_columns_container" v-show="is_page_loaded">

            <vue-tabs active-tab-color="#224A37"
                      active-text-color="white"
                      class="m-0 mt-4 p-1"
            >

                <v-tab title="Extra Details" :icon="getHeaderIcon('filled_text')" v-show="hostelExtraDetails > 0">
                    <div class="row m-1 p-0">
                        <div class="list-group-item col-12 col-sm-4" v-if="hostelExtraDetails.num_beds > 0">
                            <i :class="'i_link '+getHeaderIcon('check')"></i>Beds number : <strong>{{ hostelExtraDetails.num_beds }}</strong>
                        </div>
                        <div class="list-group-item col-12 col-sm-4" v-if="hostelExtraDetails.min_nights > 0">
                            <i :class="'i_link '+getHeaderIcon('check')"></i>Minimum nights : <strong>{{ hostelExtraDetails.min_nights }}</strong>
                        </div>
                        <div class="list-group-item col-12 col-sm-4" v-if="hostelExtraDetails.max_nights > 0">
                            <i :class="'i_link '+getHeaderIcon('check')"></i>Maximum nights : <strong>{{ hostelExtraDetails.max_nights }}</strong>
                        </div>
                        <div class="list-group-item col-12 col-sm-4" v-if="hostelExtraDetails.bedsheets == 'Y'">
                            <i :class="'i_link '+getHeaderIcon('check')"></i>Bed Sheets: <strong>Yes</strong>
                        </div>
                        <div class="list-group-item col-12 col-sm-4" v-if="hostelExtraDetails.towels == 'Y'">
                            <i :class="'i_link '+getHeaderIcon('check')"></i>Towels: <strong>Yes</strong>
                        </div>
                        <div class="list-group-item col-12 col-sm-4" v-if="hostelExtraDetails.parking == 'Y'">
                            <i :class="'i_link '+getHeaderIcon('check')"></i>Parking: <strong>Yes</strong>
                        </div>
                        <div class="list-group-item col-12 col-sm-4" v-if="hostelExtraDetails.airport_train == 'Y'">
                            <i :class="'i_link '+getHeaderIcon('check')"></i>Airport train: <strong>Yes</strong>
                        </div>
                        <div class="list-group-item col-12 col-sm-4" v-if="hostelExtraDetails.luggage == 'Y'">
                            <i :class="'i_link '+getHeaderIcon('check')"></i>Luggage: <strong>Yes</strong>
                        </div>
                        <div class="list-group-item col-12 col-sm-4" v-if="hostelExtraDetails.coed_dorm == 'Y'">
                            <i :class="'i_link '+getHeaderIcon('check')"></i>Coed dorm: <strong>Yes</strong>
                        </div>
                        <div class="list-group-item col-12 col-sm-4" v-if="hostelExtraDetails.bathroom == 'Y'">
                            <i :class="'i_link '+getHeaderIcon('check')"></i>Bath room: <strong>Yes</strong>
                        </div>
                        <div class="list-group-item col-12 col-sm-4" v-if="hostelExtraDetails.credit_cards == 'Y'">
                            <i :class="'i_link '+getHeaderIcon('check')"></i>Credit cards: <strong>Yes</strong>
                        </div>
                        <div class="list-group-item col-12 col-sm-4" v-if="hostelExtraDetails.nonsmoking_rooms == 'Y'">
                            <i :class="'i_link '+getHeaderIcon('check')"></i>Non smoking rooms: <strong>Yes</strong>
                        </div>
                        <div class="list-group-item col-12 col-sm-4" v-if="hostelExtraDetails.smoke_free == 'Y'">
                            <i :class="'i_link '+getHeaderIcon('check')"></i>Smoke free: <strong>Yes</strong>
                        </div>
                        <div class="list-group-item col-12 col-sm-4" v-if="hostelExtraDetails.pets_allowed == 'Y'">
                            <i :class="'i_link '+getHeaderIcon('check')"></i>Pets allowed: <strong>Yes</strong>
                        </div>
                        <div class="list-group-item col-12 col-sm-4" v-if="hostelExtraDetails.service_animals == 'Y'">
                            <i :class="'i_link '+getHeaderIcon('check')"></i>Service animals: <strong>Yes</strong>
                        </div>
                        <div class="list-group-item col-12 col-sm-4" v-if="hostelExtraDetails.wheelchair == 'Y'">
                            <i :class="'i_link '+getHeaderIcon('check')"></i>Wheel chair: <strong>Yes</strong>
                        </div>
                        <div class="list-group-item col-12 col-sm-4" v-if="hostelExtraDetails.internet_computers == 'Y'">
                            <i :class="'i_link '+getHeaderIcon('check')"></i>Internet computers: <strong>Yes</strong>
                        </div>
                        <div class="list-group-item col-12 col-sm-4" v-if="hostelExtraDetails.wireless_internet == 'Y'">
                            <i :class="'i_link '+getHeaderIcon('check')"></i>Wireless internet: <strong>Yes</strong>
                        </div>
                        <div class="list-group-item col-12 col-sm-4" v-if="hostelExtraDetails.checkout == 'Y'">
                            <i :class="'i_link '+getHeaderIcon('check')"></i>Checkout: <strong>Yes</strong>
                        </div>
                        <div class="list-group-item col-12 col-sm-4" v-if="hostelExtraDetails.towels == 'Y'">
                            <i :class="'i_link '+getHeaderIcon('check')"></i>Towels: <strong>Yes</strong>
                        </div>
                        <div class="list-group-item col-12 col-sm-4" v-if="hostelExtraDetails.reception_hours_start">
                            <i :class="'i_link '+getHeaderIcon('check')"></i>Reception: <strong>{{ formatTimeLabel(hostelExtraDetails.reception_hours_start)
                            }} - {{formatTimeLabel(hostelExtraDetails.reception_hours_end) }}</strong>
                        </div>
                    </div>

                </v-tab>  <!-- Extra Details Tab -->


                <v-tab title="About us" :icon="getHeaderIcon('filled_text')">
                    <div style="overflow-y: scroll; max-height: 400px" >
                        <span class="pre-formatted" v-html="hostelRow.about_us"></span>
                    </div>
                </v-tab>  <!-- About us Tab -->

                <v-tab title="Cancellation policy" :icon="getHeaderIcon('filled_text')">
                    <div style="overflow-y: scroll; max-height: 400px" >
                        <span class="pre-formatted" v-html="hostelRow.cancellation_policy"></span>
                    </div>
                </v-tab>  <!-- Cancellation policy Tab -->

                <v-tab title="Must read information" :icon="getHeaderIcon('filled_text')">
                    <div style="overflow-y: scroll; max-height: 400px" >
                        <span class="pre-formatted" v-html="hostelRow.must_read_information"></span>
                    </div>
                </v-tab>  <!-- Must read information Tab -->

            </vue-tabs>





        </div>


		<div class="item_columns_container card-footer" v-show="hostelRow > 0 && is_page_loaded">
			<p class=" m-2 mt-4"><i :class="'i_link '+getHeaderIcon('modified')"></i> Modified {{ last_modified_label(hostelRow) }}</p>
		</div>


		<!-- NEW HOSTEL_INQUERY MODAL START-->

		<modal :height="modalHeight" :width="modalWidth" name="modal-add-booking-enquery" transition="pop-out">

			<div class="modal_editor_container card">

				<div class="modal_editor_title card-title">
					<h4 class="modal-title p-2">
						Create Booking Enquery
						<button class="close" type="button" @click.prevent="cancelSubmitBookingEnquery()">
							<span aria-hidden="true">&times;</span>
						</button>
					</h4>
				</div>

				<div class="modal_editor_fields card-body" :style="'max-height: ' + ( modalHeight - 20 ) +'px; overflow-y: scroll;'"  >
					<div class="form-row m-2">
						<label class="col-12 col-sm-4 col-form-label" for="new_hostel_inquery_full_name">Full name<span class="required"> * </span></label>
						<div class="col-12 col-sm-8">
							<input :class="{ 'form-control':true, 'editable_field':true, 'input':true, 'text-danger': vueErrorsList.has('new_hostel_inquery_full_name') }"
							       id="new_hostel_inquery_full_name"
							       name="new_hostel_inquery_full_name"
							       placeholder="Enter your full name"
							       type="text"
							       v-focus.lazy="true"
							       v-model="new_hostel_inquery_full_name"
							       v-validate="'required|max:100'"
							>
							<span class="text-danger"
							      v-show="vueErrorsList.has('new_hostel_inquery_full_name')">{{ clearErrorLabel(vueErrorsList.first('new_hostel_inquery_full_name')) }}</span>
						</div>
					</div>

					<div class="form-row m-2">
						<label class="col-12 col-sm-4 col-form-label" for="new_hostel_inquery_email">Email<span class="required"> * </span></label>
						<div class="col-12 col-sm-8">
							<input :class="{ 'form-control':true, 'editable_field':true, 'input':true, 'text-danger': vueErrorsList.has('new_hostel_inquery_email') }"
							       id="new_hostel_inquery_email"
							       name="new_hostel_inquery_email"
							       placeholder="Enter unique email of hostel"
							       type="text" v-model="new_hostel_inquery_email"
							       v-validate="'required|max:50|email'"
							>
							<span class="text-danger" v-show="vueErrorsList.has('new_hostel_inquery_email')">{{
														clearErrorLabel(vueErrorsList.first('new_hostel_inquery_email')) }}</span>
						</div>
					</div>

					<div class="form-row m-2">
						<label class="col-12 col-sm-4 col-form-label" for="new_hostel_inquery_phone">Phone<span class="required"> * </span></label>
						<div class="col-12 col-sm-8">
							<input :class="{ 'form-control':true, 'editable_field':true, 'input':true, 'text-danger': vueErrorsList.has('new_hostel_inquery_phone') }"
							       id="new_hostel_inquery_phone"
							       name="new_hostel_inquery_phone"
							       placeholder="Enter your phone"
							       type="text" v-model="new_hostel_inquery_phone"
							       v-validate="'required|max:50'"
							>
							<!--						|phone-->
							<span class="text-danger" v-show="vueErrorsList.has('new_hostel_inquery_phone')">{{
														clearErrorLabel(vueErrorsList.first('new_hostel_inquery_phone')) }}</span>
						</div>
					</div>

					<div class="form-row m-2">
						<textarea
							:class="{ 'form-control':true, 'editable_field':true, 'input':true, 'text-danger': vueErrorsList.has('new_hostel_inquery_info') }"
							name="new_hostel_inquery_info"
							placeholder="You can add notes text"
							rows="8"
							v-model="new_hostel_inquery_info"
						></textarea>
						<span class="text-danger" v-show="vueErrorsList.has('new_hostel_inquery_info')">{{ clearErrorLabel(vueErrorsList.first('new_hostel_inquery_info'))
													}}</span>
					</div>

					<div class="form-row m-2 ml-5">
						<input class="editable_field custom-control-input "
						       id="new_hostel_inquery_request_callback" style="width: 50px;margin-left: 40px;"
						       type="checkbox"
						       value="1"
						       v-model="new_hostel_inquery_request_callback"
						       v-bind:value="new_hostel_inquery_request_callback"
						>

						<label class="custom-control-label" for="new_hostel_inquery_request_callback">&nbsp;
							<span v-html="noWrapString('Check to request callback')"></span>
						</label>

					</div>

					<div class="row alert alert-info m-2 p-2" role="alert" v-if="new_hostel_inquery_request_callback">
						We will connect with you within next 24 hours.
					</div>


					<div class="form-row m-2">
						<label class="col-12 col-sm-4 col-form-label" for="new_hostel_inquery_start_date">Start date<span class="required"> * </span></label>
						<div class="col-12 col-sm-8">
							<date-picker
									:class="{ 'form-control':true, 'editable_field':true, 'input':true, 'text-danger': vueErrorsList.has('new_hostel_inquery_start_date') }"
									:first-day-of-week="1"
									:format="'DD MMM YYYY'"
									:lang="lang"
									:time-picker-options="timePickerOptions"
                                    v-validate="'required'"
                                    data-vv-name="new_hostel_inquery_start_date"
									id="new_hostel_inquery_start_date"
									v-model="new_hostel_inquery_start_date"
							>
							</date-picker>
							<div class="text-danger" v-show="vueErrorsList.has('new_hostel_inquery_start_date')">
                                {{ clearErrorLabel(vueErrorsList.first('new_hostel_inquery_start_date')) }}
                            </div>
						</div>
					</div>


					<div class="form-row m-2">
						<label class="col-12 col-sm-4 col-form-label" for="new_hostel_inquery_end_date">End date<span class="required"> * </span></label>
						<div class="col-12 col-sm-8">
<!--                            |after:new_hostel_inquery_start_date-->
							<date-picker
									:class="{ 'form-control':true, 'editable_field':true, 'input':true, 'text-danger': vueErrorsList.has('new_hostel_inquery_end_date') }"
									:first-day-of-week="1"
									:format="'DD MMM YYYY'"
									:lang="lang"
									:time-picker-options="timePickerOptions"
                                    v-validate="'required'"
                                    data-vv-name="new_hostel_inquery_end_date"
                                    id="new_hostel_inquery_end_date"
									v-model="new_hostel_inquery_end_date"
							>
							</date-picker>
							<div class="text-danger" v-show="vueErrorsList.has('new_hostel_inquery_end_date')">
                                {{ clearErrorLabel(vueErrorsList.first('new_hostel_inquery_end_date')) }}
                            </div>
						</div>
					</div>

				</div>  <!-- modal_editor_fields -->

				<div class="modal_editor_details m-2 card-body" style="display: none; max-height: 220px; overflow-y: scroll;">
					<h3>modal_editor_details</h3>
					<p>Sed  ut perspiciatis unde omnis iste natus error sit voluptatem accusantium  doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo  inventore veritatis et quasi architecto beatae vitae dicta sunt  explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut  odit aut fugit, sed quia consequuntur magni dolores eos qui ratione  voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum  quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam  eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat  voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam  corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?  Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse  quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo  voluptas nulla pariatur?
					</p>
					<p>Sed  ut perspiciatis unde omnis iste natus error sit voluptatem accusantium  doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo  inventore veritatis et quasi architecto beatae vitae dicta sunt  explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut  odit aut fugit, sed quia consequuntur magni dolores eos qui ratione  voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum  quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam  eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat  voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam  corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?  Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse  quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo  voluptas nulla pariatur?
					</p>
					<p>Sed  ut perspiciatis unde omnis iste natus error sit voluptatem accusantium  doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo  inventore veritatis et quasi architecto beatae vitae dicta sunt  explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut  odit aut fugit, sed quia consequuntur magni dolores eos qui ratione  voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum  quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam  eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat  voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam  corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?  Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse  quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo  voluptas nulla pariatur?
					</p>
				</div>  <!-- modal_editor_details-->

				<div class="modal_editor_footer card-footer row_content_right_aligned">
					<div class="m-2">
						<button @click.prevent,stop="submitBookingEnquery()" class="btn btn-primary editor_button_submit ml-5" type="button">
							<i :class="getHeaderIcon('save')"></i> Submit
						</button>
						<button @click.prevent="cancelSubmitBookingEnquery()" class="btn btn-cancel-action" type="button">
							<i :class="getHeaderIcon('cancel')"></i> Cancel
						</button>
					</div>
				</div>  <!-- modal_editor_footer -->

			</div> <!-- <div class="modal_editor_container"> -->

		</modal>

		<!-- NEW HOSTEL_INQUERY MODAL END -->

	</article>

</template>

<script>
    import Vue from 'vue';
    import {bus} from '../../../app';
    import appMixin from '../../../appMixin';
    // import {Carousel, Slide} from 'vue-carousel';

    import {focus} from 'vue-focus';
    import {confirmAddToBookmarks, confirmDeleteFromBookmarked} from "../../../helpers/commonFuncs";
    import {addToBookmarksKey, deleteFromBookmarksKey, getModalCalculatedWidth, getModalCalculatedHeight} from "../../../helpers/commonFuncs";

    import EasySlider from 'vue-easy-slider'  // https://github.com/shhdgit/vue-easy-slider
    Vue.use(EasySlider)
    import {Slider, SliderItem} from 'vue-easy-slider'


    import Tabs from 'vue-nav-tabs/dist/vue-tabs.js' // https://github.com/cristijora/vue-tabs
    Vue.use(Tabs)

    import {VueTabs, VTab} from 'vue-nav-tabs/dist/vue-tabs.js'
    Vue.use(VueTabs)
    Vue.use(VTab)
    import 'vue-nav-tabs/themes/vue-tabs.css'

    import DatePicker from 'vue2-datepicker'
    import ForumView from "../forum/ForumThreadView";

    export default {
        // FOR DEBUGING
//				props: {
//                    hostel_slug: {
//						required: true,
//					},
//
//				}, // props: {


        directives: {focus: focus},
        components: {
            ForumView,
            DatePicker
            // Carousel,
            // Slide
        },


        data: function () {
            return {
                lang: {
                    days: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
                    months: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                    pickers: ['next 7 days', 'next 30 days', 'previous 7 days', 'previous 30 days'],
                    placeholder: {
                        date: 'Select Date',
                        dateRange: 'Select Date Range'
                    }
                },
                // custom range shortcuts
                shortcuts: [
                    {
                        text: 'Today',
                        onClick: () => {
                            this.time3 = [new Date(), new Date()]
                        }
                    }
                ],
                timePickerOptions: {
                    start: '00:00',
                    step: '00:30',
                    end: '23:30'
                },


                is_debug: false,
                is_page_loaded: false,
                is_page_updating: false,
                message: '',
                hostelRow: {},
                hostelExtraDetails: [],
                hostelRooms: {},
                hostelImages: {},
                hostelFacilities: {},
                hostel_slug: '',

                list: [
                    {backgroundColor: '#3f51b5', width: '100%', height: '100%'},
                    {backgroundColor: '#eee', width: '100%', height: '100%'},
                    {backgroundColor: '#f44336', width: '100%', height: '100%'},
                ],

                new_hostel_inquery_full_name: 'Full name',
                new_hostel_inquery_email: 'mail@site.com..',
                new_hostel_inquery_phone: '',
                new_hostel_inquery_info: ' info text Lorem  ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim  veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea  commodo consequat. Duis aute irure dolor in reprehenderit in voluptate  velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint  occaecat cupidatat non proident, sunt in culpa qui officia deserunt  mollit anim id est laborum.' +
                    'Lorem  ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim  veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea  commodo consequat. Duis aute irure dolor in reprehenderit in voluptate  velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint  occaecat cupidatat non proident, sunt in culpa qui officia deserunt  mollit anim id est laborum.' +
                    'Lorem  ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim  veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea  commodo consequat. Duis aute irure dolor in reprehenderit in voluptate  velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint  occaecat cupidatat non proident, sunt in culpa qui officia deserunt  mollit anim id est laborum.',
                //         addDaysToDate(add_days, current_date) {

                new_hostel_inquery_start_date: this.addDaysToDate(1),
                new_hostel_inquery_end_date: this.addDaysToDate(45),
                new_hostel_inquery_request_callback: false,
            }

        },
        name: 'HostelView',

        created() {
            this.hostel_slug = this.$route.params.slug;
        }, //  created() {

        mounted() {
            bus.$on('beforeHostelBookmarkStore', (relatedHostel) => {
                this.message = ''
                this.is_page_updating = true
                bus.$off('beforeHostelBookmarkStore')
            })

            bus.$on('onHostelBookmarkStoreSuccess', (response) => {
                // console.log("onHostelBookmarkStoreSuccess::")
                // console.log( response )

                this.is_page_updating = false
                this.message = ''
                this.vueErrorsList.clear();
                this.showPopupMessage("Hostel Bookmarks", "Hostel Bookmark successfully added !", 'success');
                bus.$off('onHostelBookmarkStoreSuccess')
            })

            bus.$on('onHostelBookmarkStoreFailure', (error) => {
                console.error(error)
                this.$setLaravelValidationErrorsFromResponse(error.response.data);
                this.is_page_updating = false
                this.showPopupMessage("Hostel Bookmarks", 'Error adding Hostel Bookmark !', 'warn');
                bus.$off('onHostelBookmarkStoreFailure')
            })


            bus.$on('beforeHostelBookmarkDelete', (relatedHostel) => {
                this.message = ''
                this.is_page_updating = true
                bus.$off('beforeHostelBookmarkDelete')
            })

            bus.$on('onHostelBookmarkDeleteSuccess', (response) => {
                this.is_page_updating = false
                this.message = ''
                this.vueErrorsList.clear();
                this.showPopupMessage("Hostel Bookmarks", "Hostel Bookmark successfully deleted !", 'success');
                bus.$off('onHostelBookmarkDeleteSuccess')
            })

            bus.$on('onHostelBookmarkDeleteFailure', (error) => {
                console.error(error)
                this.$setLaravelValidationErrorsFromResponse(error.response.data);
                this.is_page_updating = false
                this.showPopupMessage("Hostel Bookmarks", 'Error deleting Hostel Bookmark !', 'warn');
                bus.$off('onHostelBookmarkDeleteFailure')
            })

            this.loadHostel();
            // this.showNewHostelInqueryDialog();
        }, // mounted() {

        beforeDestroy(){
            bus.$off( 'onHostelBookmarkStoreSuccess' )
            bus.$off( 'onHostelBookmarkStoreFailure' )
            bus.$off( 'onHostelBookmarkDeleteSuccess' )
            bus.$off( 'onHostelBookmarkDeleteFailure' )
        },


        mixins: [appMixin],

        methods: {

            confirmAddToBookmarks, confirmDeleteFromBookmarked,

            showNewHostelInqueryDialog() {
                if ( this.currentLoggedUser == null || typeof this.currentLoggedUser.id == "undefined" ) {
                    this.showPopupMessage("Bookmarks", 'You need to login into the system for this functionality !', 'warn');
                    return;
                }
                this.$modal.show('modal-add-booking-enquery', {
                    title: "Hostel booking enquery",
                })
            },

            loadHostel() {

                this.is_page_loaded = false;
                // if (this.is_debug) {
                    // this.hostel_slug = 'hostel-at-adelaide';
                    // console.log("loadHostel this.hostel_slug::")
                    // console.log( this.hostel_slug )

                    axios.get('/api/get_hostel_by_slug/' + this.hostel_slug)
                        .then((response) => {
                            this.hostelRow = response.data.hostel;
                            if ( this.hostelRow.status != "A" ) {
                                this.showPopupMessage("Hostel View", 'This hostel is not active !', 'warn');
                                this.$router.push( {path: '/' } );
                            }
                            this.hostelExtraDetails = response.data.hostelExtraDetails;
                            this.setAppTitle('Hostels', this.hostelRow.name, bus);
                            this.$store.dispatch('storeRetrieveDictionaries', ['hostelRoomIsDormValueArray', 'hostelRoomIsPrivateValueArray', 'hostelRoomTypeValueArray']);
                            this.loadHostelImages();
                            this.is_page_loaded = true;
                        })

            },  // loadHostel() {

            loadHostelImages(fill_store_hostel_row) {
                this.is_page_loaded = false;
                axios.get('/api/get_hostel_details/' + this.hostelRow.id)
                    .then((response) => {
                        this.hostelImages = response.data.hostelImages;
                        this.hostelRooms = response.data.hostelRooms;
                        this.hostelFacilities = response.data.hostelFacilities;
/*
                        if (fill_store_hostel_row) {
                            this.hostelRow.hostelImages = this.hostelImages;
                            this.hostelRow.hostelRooms = this.hostelRooms;
                            this.hostelRow.hostelFacilities = this.hostelFacilities;
                            this.hostelRow.details_loaded = true;
                            let L = this.hostels.length;
                            for (var I = 0; I < L; I++) {
                                if (this.hostels[I].id == this.hostelRow.id) {
                                    this.hostels[I] = this.hostelRow
                                    this.$store.commit("refreshHostels", this.hostels);
                                    break;
                                }
                            }
                        }
*/
                        this.is_page_loaded = true;
                    })
            },  // loadHostelImages() {

            isHostelBookmarked(hostel_id) {
                let hostelBookmarked = this.$store.getters.hostelBookmarkByHostelId(hostel_id);
                return (typeof hostelBookmarked != "undefined");
            },

            sliderItemImageClicked($event, hostelImageFilenameData) {
                // console.log(`sliderItemImageClicked index: ${$event}`)
                // console.log("$event::")
                // console.log($event)
                // console.log("hostelImageFilenameData::")
                // console.log(hostelImageFilenameData)
                //             bus.$on('eventShowShowImageDialog', ( image_type, imageFilenameData ) => {
                bus.$emit('eventShowShowImageDialog', 'hostel', hostelImageFilenameData);
            },

            submitBookingEnquery() {
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.addBookingEnquery()
                    } else {
                        bus.$emit('editorValidationFail', 'customer', this.customer_id);
                        this.showPopupMessage("Hostel enquery", 'Error adding enquery. ', 'warn');
                    }
                })
            }, // submitBookingEnquery() {

            addBookingEnquery() {
                if ( this.currentLoggedUser == null || typeof this.currentLoggedUser.id == "undefined" ) {
                    this.showPopupMessage("Bookmarks", 'You need to login into the system for this functionality !', 'warn');
                    return;
                }
                this.message = '';
                this.is_page_updating = true
                axios({
                    method: ('post'),
                    url: window.API_VERSION_LINK + '/personal/hostel-enquery',
                    data: {
                        creator_id: ( this.currentLoggedUser != null && typeof this.currentLoggedUser != "undefined" ? this.currentLoggedUser.id : null),
                        hostel_id: this.hostelRow.id,
                        full_name: this.new_hostel_inquery_full_name,
                        email: this.new_hostel_inquery_email,
                        phone: this.new_hostel_inquery_phone,
                        info: this.new_hostel_inquery_info,
                        start_date: this.dateToMySqlFormat(this.new_hostel_inquery_start_date),
                        end_date: this.dateToMySqlFormat(this.new_hostel_inquery_end_date),
                        request_callback: this.new_hostel_inquery_request_callback,
                    },
                }).then((response) => {
                    if (typeof this.hostelRow.id != "undefined") {
                    }
                    this.is_page_updating = false
                    this.showPopupMessage("Hostel enquery", 'Your hostel enquery request was successfully sent !', 'success');
                    this.cancelSubmitBookingEnquery();
                }).catch((error) => {
                    console.error(error)
                    this.$setLaravelValidationErrorsFromResponse(error.response.data);
                    this.is_page_updating = false
                    this.showPopupMessage("Hostel enquery", 'Error sending hostel enquery request !', 'warn');
                });
            }, //addBookingEnquery

            cancelSubmitBookingEnquery() {
                // return;
                // alert( "cancelSubmitBookingEnquery::"+var_dump(-78) )
                // this.new_user_list_title = ''
                // this.selection_existing_user_list_id = ''
                // this.user_list_label = ' -Select- '
                this.vueErrorsList.clear();
                this.$modal.hide('modal-add-booking-enquery');
                this.new_hostel_inquery_full_name = ''
                this.new_hostel_inquery_email = ''
                this.new_hostel_inquery_phone = ''
                this.new_hostel_inquery_info = ''
                this.new_hostel_inquery_request_callback = false
                this.new_hostel_inquery_start_date = this.addDaysToDate(1)
                this.new_hostel_inquery_end_date = this.addDaysToDate(45)
            },

        }, // methods: {

        computed: {
            text_color() {
                return window.TEXT_COLOR
            },
            disabled_text_color() {
                return window.DISABLED_TEXT_COLOR
            },
            modalHeight() {
                var deviceParams= this.effectiveDeviceWidth()
                var calculated_height= getModalCalculatedHeight(deviceParams.height)
	            return  calculated_height;
            },

            modalWidth() {
                var deviceParams= this.effectiveDeviceWidth()
                var calculated_width= getModalCalculatedWidth(deviceParams.width) - 20
                return  calculated_width;
            },

            // hostels() {
            //     return this.$store.getters.hostels;
            // },
            currentLoggedUser() {
                return this.$store.getters.currentLoggedUser
            },
            hostelRoomIsDormValueArray() {
                return this.$store.getters.hostelRoomIsDormValueArray;
            },
            hostelRoomIsPrivateValueArray() {
                return this.$store.getters.hostelRoomIsPrivateValueArray;
            },
            hostelRoomTypeValueArray() {
                return this.$store.getters.hostelRoomTypeValueArray;
            },

            header_title() {
                return this.hostelRow.name + " in " + this.hostelRow.town + " / " + this.hostelRow.region_name + " / " + this.hostelRow.subregion_name + " ( " +
                    this.hostelRow.state_name +
                " state )";
            },


            hostelBookmarks() {
                return this.$store.getters.hostelBookmarks;
            },

            add_to_bookmarks_key() {
                return addToBookmarksKey(this.hostelRow.id);
            },
            delete_from_bookmarks_key() {
                return deleteFromBookmarksKey(this.hostelRow.id)
            },

            booking_enquiry_tooltip_text() {
                return 'You can make booking enquiry for this hostel for dates range and our managers will respond you.'
            },

            add_review_tooltip_text() {
                return 'You can add review to booking enquiry and share your expierence.'
            },
            featured_hostel_tooltip_text() {
                return 'Featured hostel means lorem ipsum dolor sit amet'
            },


        } //computed: {

    }

    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof (oElem) == 'string' || typeof (oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof (oElem) == 'innerHTML' || typeof (oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }

    // <!--@if (not $debug_mode) {-->
    // <!--	border: $border-separator-color;-->
    // <!--}-->

</script>

<style lang="scss">
	@import "./resources/sass/_variables.scss";


	.slider-item-image-images {
		width: 300px;
		min-height: 350px;
		border: 0 dotted green;
		padding: 10px;
	}

	.slider-item-image {
		max-width: 220px;
		height: auto;
		border: 0 dotted red;
	}

	#container {
		padding: 0 60px;
	}

	.VueCarousel-slide {
		position: relative;
		background: #42b983;
		border: 2px dotted green;
		color: #fff;
		font-size: 24px;
		text-align: center;
		min-height: 100px;
	}

	.label {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

    .extra-details-tab-content {
        border: $border-separator-color;
        padding: 0.4rem;
        background-color: olive;
    }


    /*.pre-formatted > p {
        white-space: normal !important;
        margin: 0 !important;
        padding: 2px !important;
        line-height: 1.6em !important;
        border: 2px dotted blue !important;
    }
*/

/*
    p {
        white-space: normal !important;
        margin: 0 !important;
        padding: 0 !important;
        background-color: red !important;
    }
*/

</style>
