<template>
	<div class="page_content_container card">
<!--		statesWithRegionsList::{{ statesWithRegionsList }}-->
		<div class="page_content_header card-title">
			<h4>Available states/regions with hostels</h4>
			<h5>{{ get_hostels_count }}</h5>
		</div>


		<div class="page_content_content card-body">
			<div class="accordion p-3" id="accordion_hostels_by_location">

				<div v-for="nextStateWithRegion, index in statesWithRegionsList" :key="nextStateWithRegion.id" class="card z-depth-0">
					<div class="card-header m-1 p-0" :id="'heading'+nextStateWithRegion.id">
						<h5 class="m-0 p-0">
							<button class="btn btn-link a_link m-0 p-0" type="button" data-toggle="collapse" :data-target="'#collapse'+nextStateWithRegion.id"
							        aria-expanded="false" aria-controls="'collapse'+nextStateWithRegion.id">
<!--								{{ nextStateWithRegion.id }}- -->
								{{ nextStateWithRegion.name }}
							</button>
						</h5>
					</div>
					<div :id="'collapse'+nextStateWithRegion.id" v-bind:class="['m-0 p-0 collapse', { ' show' : nextStateWithRegion.id == debugging_state_id }]"
					     :aria-labelledby="'heading'+nextStateWithRegion.id"
					     data-parent="#accordion_hostels_by_location">
						<div class="card-body m-0 p-0 ml-3">
							<ul>

								<li v-for="nextRegionOfState, index in nextStateWithRegion.regionsOfStateArray" :key="nextRegionOfState.id" class="m-0 p-0">
									<router-link :to="{ name: 'hostelsByRegion', params: { state_slug: nextStateWithRegion.slug, region_slug : nextRegionOfState.slug } }"
									             class="a_link">{{ nextRegionOfState.name }}
										<span class="description-text">( {{ nextRegionOfState.related_common_hostels_count }} hostels with {{ nextRegionOfState.related_featured_hostels_count }}
										featured)</span>
										<i v-if="debugging_region_id == nextRegionOfState.id" class="fa fa-angle-down fa-3"></i>
									</router-link>
								</li>

							</ul>
						</div>
					</div>

				</div>

			</div>
		</div> <!-- <div class="page_content_content card-body"> -->

	</div> <!-- class="page_content_container card" -->
</template>

<script>
    import {bus} from '../../../app';
    import appMixin from '../../../appMixin';

    export default {
        data: function () {
            return {
                is_page_loaded: false,
                message: '',
                debugging_state_id: 4,
                debugging_region_id: 11,
            }
        },
        name: 'HostelsByLocation',

        created() {
        }, //  created() {

        mounted() {
            this.is_page_loaded = true
            this.setAppTitle('Hostels', 'Hostels By Location', bus);
        }, // mounted() {


        mixins: [appMixin],

        methods: {}, // methods: {

        computed: {
            statesWithRegionsList() {
                return this.$store.getters.statesWithRegions.filter(state => {
//                    return true;
                    if (!state.regionsOfStateArray.length) return false;
                    var hostels_counter = 0;
                    var L = state.regionsOfStateArray.length;
                    for (var I = 0; I < L; I++) {
                        hostels_counter += state.regionsOfStateArray[I].related_common_hostels_count
                    }
                    return hostels_counter > 0;
                });
            },

            header_title() {
                return "Hostels by location";
            },

            get_hostels_count() {
//                return 'get_hostels_count';
//                console.log("this.statesWithRegionsList::")
//                console.log( typeof this.statesWithRegionsList )
                if (typeof this.statesWithRegionsList == "undefined" || !this.statesWithRegionsList.length) {
                    return;
                }
                var L = this.statesWithRegionsList.length;
                if (L == 0) {
                    return '';
                }
                var related_common_hostels_count = 0
                var related_featured_hostels_count = 0
                for (var I = 0; I < L; I++) {
                    var regionsOfStateArray = this.statesWithRegionsList[I].regionsOfStateArray;
//                    console.log("regionsOfStateArray::")
//                    console.log( regionsOfStateArray )
                    var LLL = regionsOfStateArray.length
                    for (var III = 0; III < LLL; III++) {
                        related_common_hostels_count += regionsOfStateArray[III].related_common_hostels_count;
                        related_featured_hostels_count += regionsOfStateArray[III].related_featured_hostels_count;
                    }
                }
                if (related_featured_hostels_count == 0) {
                    return related_common_hostels_count + " hostels";
                }
                return related_common_hostels_count + " hostels ( " + related_featured_hostels_count + " featured )";
            }, // get_hostels_count() {

        } //computed: {

    }

    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof (oElem) == 'string' || typeof (oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof (oElem) == 'innerHTML' || typeof (oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }

</script>

