<template>
	<div class="page_content_container">
		<section class="page_content_header">
			<h3 class="app_title">
				Login
			</h3>
		</section>     <!-- class="page_content_header" -->

		<div class="page_content_content col-xs-12 col-sm-10 col-md-6 mx-auto">

            <form @submit.prevent="authenticate">
				<div class="form-row m-3">
					<label class="col-12 col-form-label" for="email">Email:</label>
					<div class="col-12">
						<input type="email" v-model="form.email" id="email" class="form-control editable_field" placeholder="Email Address">
					</div>
				</div>

				<div class="form-row m-3">
					<label class="col-12 col-form-label" for="password">Password:</label>
					<div class="col-12">
						<input type="password" v-model="form.password" id="password" class="form-control editable_field" placeholder="Password">
					</div>
				</div>

				<div class="form-row m-3" style="justify-content: flex-end;">
<!--                    <input type="button" value="Preview..." class="button PreviewButton JsOnly">-->

                    <a href="/" class="btn m-2"><i class="i_link fa fa-ban"></i>&nbsp;Home
                    </a>

					<input type="submit" value="Login" class="action_button m-2">
				</div>

			</form>

		</div>

	</div>
</template>

<script>
    import {login} from '../../../helpers/authFuncs';

    export default {
        name: "loginPage",
        data() {
            return {
                form: {
                    email: 'admin@mail.com',
                    password: '111111'
                },
                error: null
            };
        },
        methods: {
            authenticate() {
                this.$store.dispatch('login');    // calling action

//	            alert( "authenticate::"+(-3) )
                login(this.$data.form)
                    .then((res) => {
                        console.log("authenticate res::")  //user_avatar_path
                        console.log(res)

                        this.$store.commit("setLoginSuccess", res);  // calling mutation
                        this.$store.dispatch('retrieveHostelBookmarks', res.user.id);
                        this.$store.dispatch('retrievePersonalOptions', res.user.id);


                        // this.$store.dispatch('retrieveHostelBookmarks', res.user.id);
                        // this.$store.dispatch('retrieveHostelBookmarks', res.user.id);
                        this.$router.push({path: '/personal'}); // For debugging!
                        // this.$router.push({path: '/hostels-sorted/price'}); // For debugging!
//                        this.$router.push({path: '/personal'}); // For debugging!
//                        this.$router.push({path: '/admin/hostels/1'}); // For debugging!
                    })
                    .catch((error) => {
                        this.$store.commit("setLoginFailed", {error});   // calling mutation

                    });
            }
        },  // methods: {

        computed: {
            authError() {
                return this.$store.getters.authError;
            }
        } // computed: {
    }

</script>

<style lang="scss">
    @import "./resources/sass/_variables.scss";

	.error {
		text-align: center;
		color: red;
	}

</style>

