<template>
	<div class="page_content_container">

		<div class="page_content_content card m-3">


			<form-wizard
					title="Register"
					subtitle="Enter your data"
					:start-index="2"
			>

				<tab-content
						title="Customer's details"
						subtitle="Enter your data"
						:before-change="beforeTabSwitch"
						class="p-2"
				>


					<div class="form-row mb-3">
						<label class="col-12 col-sm-4 col-form-label" for="username">Username<span class="required"> * </span></label>
						<div class="col-12 col-sm-8">
							<input id="username" name="username" v-model="customerRow.username" type="text" placeholder="Enter unique username of customer" :class="{ 'form-control':true, 'editable_field':true, 'input':
						true, 'text-danger': vueErrorsList.has('username') }"   v-validate="'required|max:100'">
							<span v-show="vueErrorsList.has('username')" class="text-danger">{{ clearErrorLabel(vueErrorsList.first('username')) }}</span>
						</div>
					</div>

					<div class="form-row mb-3">
						<label class="col-12 col-sm-4 col-form-label" for="email">Email<span class="required"> * </span></label>
						<div class="col-12 col-sm-8">
							<input id="email" name="email" :class="{ 'form-control':true, 'editable_field':true, 'input':true, 'text-danger': vueErrorsList.has('email') }" v-model="customerRow.email"
							       type="text" placeholder="Enter unique email of customer" v-validate="'required|max:255|email'">
							<span v-show="vueErrorsList.has('email')" class="text-danger">{{ clearErrorLabel(vueErrorsList.first('email')) }}</span>
						</div>
					</div>

					<div class="form-row mb-3">
						<label class="col-12 col-sm-4 col-form-label" for="first_name">First name</label>
						<div class="col-12 col-sm-8">
							<input id="first_name" name="first_name" v-model="customerRow.first_name" type="text" placeholder="Enter first name of customer" :class="{
						    'form-control':true, 'editable_field':true, 'input':
						true, 'text-danger': vueErrorsList.has('first_name') }" v-validate="'max:50'">
							<span v-show="vueErrorsList.has('first_name')" class="text-danger">{{ vueErrorsList.first('first_name') }}</span>
						</div>
					</div>


					<div class="form-row mb-3">
						<label class="col-12 col-sm-4 col-form-label" for="account_type">Account type<span class="required"> * </span></label>
						<div class="col-12 col-sm-8">
							selection_account_type::{{ selection_account_type}}<br>
							customerRow.account_type:{{ customerRow.account_type }}
							<v-select
									v-if="is_page_loaded"
									v-model="selection_account_type"
									data-vv-name="customerRow.account_type"
									:options="customerAccountTypeValueArray"
									v-validate="'required'"
									id="account_type"
									name="account_type"
									class="form-control editable_field"
									placeholder="Select option"
							></v-select>
							<span v-show="vueErrorsList.has('customerRow.account_type')" class="text-danger">{{ clearErrorLabel(vueErrorsList.first('customerRow.account_type')) }}</span>
						</div>
					</div>


				</tab-content>


				<tab-content title="Additional Info">
					<div class="form-row mb-3">
						<label class="col-12 col-sm-6 col-form-label">Access to privacy details<span class="required"> * </span></label>
						<div class="col-12 col-sm-6">
							<input
									class="editable_field custom-control-input "
									value="1" id="access_to_privacy_details" type="checkbox"
									style="width: 50px;margin-left: 40px;"
									:checked="personalOptions.access_to_privacy_details=='Y'"
									v-model="personalOptions.access_to_privacy_details"
							>
							<label for="access_to_privacy_details" class="custom-control-label">&nbsp;
								<span v-html="noWrapString('Select all have access')"></span>
							</label>
						</div>
					</div>


					<div class="form-row mb-3" style="border: 2px dotted green">
						<label class="col-12 col-sm-6 col-form-label" style="border: 2px dotted blue">Select show online
							status<span class="required"> * </span></label>
						<div class="col-12 col-sm-6" style="border: 2px dotted red">
							<input
									class="editable_field custom-control-input "
									value="1" id="show_online_status" type="checkbox"
									style="width: 50px;margin-left: 40px;padding-left: 140px;"
									:checked="personalOptions.show_online_status=='Y'"
									v-model="personalOptions.show_online_status"
							>
							<label for="show_online_status" class="custom-control-label">&nbsp;
								<span v-html="noWrapString('Select yes')"></span>
							</label>
						</div>
					</div>
				</tab-content>

				<tab-content title="Avatar">

					<file-upload
							ref="upload"
							v-model="files"
							post-action="/post.method"
							put-action="/put.method"
							@input-file="inputFile"
							@input-filter="inputFilter"
					>
						Upload avatar
					</file-upload>

				</tab-content>


				<tab-content title="Preview">
					Preview 1234
				</tab-content>


			</form-wizard>


		</div>  <!-- <div class="page_content_content card mb-4"> -->


		<!--		<div class="backend_listing_footer card-footer" v-if="is_page_loaded && per_page > 0 && filtered_rows_count > per_page">-->
		<!--			<listing-pagination :current="current_page" :total="filtered_rows_count" :items_per_page="per_page" :show_next_prior_buttons=true-->
		<!--			                    @paginationPageChangedEvent="loadFacilitiesList"></listing-pagination>-->
		<!--		</div> &lt;!&ndash; backend_listing_footer &ndash;&gt;-->


	</div>  <!-- 	<div class="page_content_container"> -->

</template>

<script>
    import {bus} from '../../../app';
    import appMixin from '../../../appMixin';

    // import VueFormWizard from 'vue-form-wizard'  // https://binarcode.github.io/vue-form-wizard/#/
    // import 'vue-form-wizard/dist/vue-form-wizard.min.css'
    import Vue from 'vue';
    // Vue.use(VueFormWizard)

    import {FormWizard, TabContent} from 'vue-form-wizard'
    import 'vue-form-wizard/dist/vue-form-wizard.min.css'

    const VueUploadComponent = require('vue-upload-component')
    Vue.component('file-upload', VueUploadComponent)

    export default {

        name:'CustomerRegister',
        components: {
            FormWizard,
            TabContent,
            FileUpload: VueUploadComponent
        },

        data() {
            return {
                selection_account_type: [],
                customerRow: {
                    id: null,

                    username: 'man',
                    first_name: 'fman',
                    last_name: '',
                    account_type: '',
                    status: '',
                    email: 'man@mail.com',

                    phone: '',
                    website: '',
                    notes: ''
                },

                files: [],

                personalOptions: {
                    access_to_privacy_details: '',
                    chat_background_color: '',
                    chat_color: '',
                    show_online_status: '',
                    skin_name: '',
                },

                errorsList: null,
                is_page_loaded: false,
                is_page_updating: false,

            }
        },

        mixins: [appMixin],

        created() {
//            this.$router.push({path: '/admin/hostels'});
        }, //  created() {

        computed: {
        },

        methods: {
            /**
             * Has changed
             * @param  Object|undefined   newFile   Read only
             * @param  Object|undefined   oldFile   Read only
             * @return undefined
             */
            inputFile(newFile, oldFile) {
                if (newFile && oldFile && !newFile.active && oldFile.active) {
                    // Get response data
                    console.log('response', newFile.response)
                    if (newFile.xhr) {
                        //  Get the response status code
                        console.log('status', newFile.xhr.status)
                    }
                }
            },
            /**
             * Pretreatment
             * @param  Object|undefined   newFile   Read and write
             * @param  Object|undefined   oldFile   Read only
             * @param  Function           prevent   Prevent changing
             * @return undefined
             */
            inputFilter(newFile, oldFile, prevent) {
                if (newFile && !oldFile) {
                    // Filter non-image file
                    if (!/\.(jpeg|jpe|jpg|gif|png|webp)$/i.test(newFile.name)) {
                        return prevent()
                    }
                }

                // Create a blob field
                newFile.blob = ''
                let URL = window.URL || window.webkitURL
                if (URL && URL.createObjectURL) {
                    newFile.blob = URL.createObjectURL(newFile.file)
                }
            },


            onComplete: function(){
                alert('Yay. Done!');
            },
            beforeTabSwitch: function(){
                // alert("This is called before switching tabs")

                //
                // console.log("this.vueErrorsList.items::")
                // console.log( this.vueErrorsList.items )
                // console.log( typeof this.vueErrorsList.items )
                //
                // console.log("this.toObject(this.vueErrorsList)::")
                // console.log( typeof this.toObject(this.vueErrorsList) )
                // console.log( this.toObject(this.vueErrorsList) )
                //
                return this.vueErrorsList.items.length == 0;
            }
            // clearErrorLabel(s) {
            //     if (typeof s == "undefined") return "";
            //     return s.replace(/userRow./g, "").replace(/_/g, " ")
            // }

        }, // methods: {

        mounted() {
//            alert( "resources/js/components/CustomerRegister.vue mounted::"+(-1) )
            console.log('CustomerRegister Component mounted.')
            this.setAppTitle( '', 'Customer Register', bus);
        },


    }

</script>
