<template>

    <div class="page_content_container">

        <div class="page_content_header">

            <listing-header :show_loading_image=!is_page_loaded :current_page=0 :itemsList="threadPosts"
                            :rows_count="table_rows_count.length"
                            :header_icon="getHeaderIcon('forum')"
                            :header_title=header_title :right_add_button_link="''" :item_title=" ' post(s)'" :message=message
                            :right_add_button_link_title="''"
                            parent_component_key="forum">

            </listing-header>

            <!--            forumPostActionValueArray::{{ forumPostActionValueArray }}<br>-->
            <fieldset v-show="is_debug">
                <legend class="blocks">debug:</legend>
                <!--                comp_currentUserGroups::{{ comp_currentUserGroups}}<br>-->
                <!--                currentLoggedUser::{{ currentLoggedUser}}<br>-->
<!--                threadPosts : {{threadPosts}}<br>-->

                singleForumThreadRow::{{ singleForumThreadRow}}<br>
                singleForumThreadRow.is_salved::{{ singleForumThreadRow.is_salved}}<br>
                is_forum_thread_owner::{{ is_forum_thread_owner}}<br>
                has_access_role_content_editor::{{ has_access_role_content_editor}}<br>
                has_access_role_content_editor_label::{{ has_access_role_content_editor_label}}<br>

                <!--                currentLoggedUser::{{ currentLoggedUser}}<br>-->
                <!--                singleForumThreadRow::{{ singleForumThreadRow}}<br>-->

                <!--                                parentForum::{{ parentForum}}<br>-->
                <!--                if ( this.has_access_role_content_editor || this.is_forum_thread_owner) {-->

                <!--
                                table_rows_count : {{ table_rows_count }}<br>
                                per_page : {{ per_page }}<br>
                                current_page::{{ current_page }}<br>
                                currentLoggedUser::{{ currentLoggedUser }}<br>
                                &lt;!&ndash;				single_forum_thread_slug : {{ single_forum_thread_slug }}<br>&ndash;&gt;
                                &lt;!&ndash;				singleForumThreadRow : {{ singleForumThreadRow}}<br>&ndash;&gt;
                                thread_posts_count : {{thread_posts_count}}<br>
                -->
                <!--				singleForumThreadRow.id::{{ singleForumThreadRow.id }}<br>-->
            </fieldset>

        </div>   <!-- <div class="page_content_header"> -->


        <div class="forum_view_container" v-if="singleForumThreadRow && is_page_loaded">

            <h2 class="forum_title">
                <span class="hidden_info">{{ singleForumThreadRow.id }}::</span>
                <i :class="'i_link '+getHeaderIcon('check')" :title="'Salved'" v-if="singleForumThreadRow.is_salved"></i>
                <i :class="'i_link '+getHeaderIcon('owner')" :title="'You are owner of this thread'" v-if="is_forum_thread_owner"></i>
                <i :class="'i_link '+getHeaderIcon('content_editor')" :title="'You are content editor'" v-if="has_access_role_content_editor"></i>


                {{ singleForumThreadRow.title }}::: {{ singleForumThreadRow.is_salved }}
                <span class="small_size">(&nbsp;{{ singleForumThreadRow.forum_categories_title }}&nbsp;):</span>
                <span class="small_size">
					{{ threadPosts.length }} thread{{ pluralize(threadPosts.length,'','s') }}&nbsp;/&nbsp;
					{{ thread_posts_count }} post{{ pluralize(thread_posts_count,'','s') }}
				</span>
            </h2>

            <div class="forum_description  m-0` p-0">
                <span v-html="singleForumThreadRow.description"></span>
            </div>

            <div class="row_content p-1 pt-3">
                    <listing-pagination :current="current_page"
                                        :total="table_rows_count" :items_per_page="per_page" :show_next_prior_buttons=false
                                        @paginationPageChangedEvent="loadThreadPosts" :show_rows_label="true"
                                        :show_page_number_label="true">
                    </listing-pagination>
            </div>


            <div class="forum_threads_listing_container" v-show="threadPosts.length > 0">

                <div class="forum_threads_listing bottom_split_border" v-for="nextThreadPost, index in threadPosts" :key="nextThreadPost.id">

                        <UserBlockInfo
                            :nextThreadPost="nextThreadPost"
                            :index="index"
                            :currentLoggedUser="currentLoggedUser"
                        >
                        </UserBlockInfo>


                    <div class="column_content_left_aligned" >
                        <div class="column_content_left_aligned text_wrapper">

                            <div class="pre-formatted" v-html="nextThreadPost.body"></div>

                            <div style="border: 0px dotted green" class="row_content ml-3">

                                <div class="block_2columns_md m-0">

                                    <div class="block_2columns_sm p-2">
                                        <div class="key_values_rows_label_13 mt-1 mr-2">
                                            <span class="hidden_info">:{{ nextThreadPost.id }}</span>
                                            {{ forumPostLastModifiedLabel(nextThreadPost) }}
                                        </div>
                                    </div>

                                    <div class="block_2columns_sm p-2 m-1">

                                        <div class="key_values_rows_value_13">
                                            <v-select
                                                v-model="selection_forum_post_action"
                                                :options="forumPostActionValueArray"
                                                id="forum_post_action"
                                                name="forum_post_action"
                                                class="form-control editable_field"
                                                placeholder="Select action"
                                                @input="forumPostActionSelected(nextThreadPost.id, nextThreadPost.body, nextThreadPost.creator_name, index)"
                                                :closeOnSelect="true"
                                            ></v-select>

                                        </div>
                                    </div>

                                </div> <!-- <div class="block_2columns_md m-0"> -->

                            </div>

                        </div>
                    </div>

                    <div class="column_content_right_aligned" style="flex: 0 0 80px;">
                            <!--                            selection_forum_post_action::{{ selection_forum_post_action }}-->
                            <!--                            nextThreadPost.id::{{ nextThreadPost.id}}-->

                            <div style="justify-content: flex-end; align-items: flex-start">
                                # {{ index + 1}}&nbsp;
                            </div>

                            <div style="justify-content: flex-start;flex-wrap: nowrap" class="bottom_split_border m-0 p-0">
                                <i style="color:red;" :class="'a_link '+getHeaderIcon('report_flag')"
                                   @click="showPostReportAbuse(nextThreadPost.id)">&nbsp;Report</i>
                            </div>

                            <div style="justify-content: flex-start" class="bottom_split_border">
                                Quote
                            </div>
                            <div style="justify-content: flex-start" class="bottom_split_border">
                                Reply
                            </div>

                            <div style="justify-content: flex-start" class="p-1 m-0"
                                 v-if="nextThreadPost.is_best_decision == 1 && singleForumThreadRow.is_salved">
                                <i :class="'i_link '+getHeaderIcon('check')" :title="'That is best decision'"></i>&nbsp;<strong>Best</strong>
                            </div>

                            <div style="justify-content: flex-start"
                                 v-if="is_forum_thread_owner && !singleForumThreadRow.is_salved && !nextThreadPost.is_best_decision" class="p-1 m-0">
                                <a class="action_button" @click.prevent="setAsBestDecision(nextThreadPost.id, index)" :title="'Set Best decision'">
                                    <i :class="'i_link '+getHeaderIcon('check')" :title="'Set Best decision'"></i>&nbsp;Set&nbsp;Best
                                </a>
                            </div>

                    </div>
                </div>


            </div> <!-- forum_threads_listing -->

            <div class="row_content p-1 pt-3">
                <listing-pagination :current="current_page"
                                    :total="table_rows_count" :items_per_page="per_page" :show_next_prior_buttons=false
                                    @paginationPageChangedEvent="loadThreadPosts" :show_rows_label="true"
                                    :show_page_number_label="true">
                </listing-pagination>
            </div>

            <div class="forum_threads_listing" v-show="threadPosts.length == 0">
                <div class="alert alert-warning m-3 p-3" role="alert">
                    There are no posts yet.
                </div>
            </div>

            <div class="p-1 pt-3 column_content_left_aligned">
                <div class=" m-0 p-2">
                    <label class="col-12 col-form-label" for="new_thread_post_body">
                        Reply in the thread<span v-show="singleForumThreadRow.is_salved" class="small_size">(Though this thread is salved)</span>:&nbsp;
                    </label>
                    <div class="col-12 ckeditor_wrapper">
							<span v-show="vueErrorsList.has('new_thread_post_body')"
                                  class="text-danger">{{ clearErrorLabel(vueErrorsList.first('new_thread_post_body'), '') }}</span>
                        <ckeditor
                            :editor="editor"
                            v-model="new_thread_post_body"
                            :config="editorConfig"
                        >
                        </ckeditor>
                    </div>
                </div>

                <div class="m-0 ml-2 p-2 pr-4">
                    <a class="action_button" @click.prevent="addForumPost()">
                        Add Post
                    </a>
                </div>
            </div>


        </div> <!-- <div class="forum_view_container" -->


        <!-- FORUM_VIEW_NEW_THREAD MODAL START-->

        <modal :height="modalReportAbuseHeight" :width="modalWidth" name="modal-post-report-abuse" transition="pop-out">

            <div class="modal_editor_container card">

                <div class="modal_editor_title card-title">
                    <h4 class="modal-title m-2">
                        <i :class="'i_link '+getHeaderIcon('forum')"></i>&nbsp;
                        &nbsp;Report abuse to post
                        <button class="close" type="button" @click.prevent="cancelReportAbuseModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h4>
                </div>

                <div class="modal_editor_fields p-2 card-body">

                    <div class="form-row m-3">
                        <label :for="'report_abuse_text'" class="col-12 col-form-label">&nbsp;
                            Report text <span class="small_size">(optional)</span>
                        </label>
                        <div class="col-12">
                            <input :id="'report_abuse_text'"
                                   type="text"
                                   v-model="report_abuse_text"
                                   v-focus.lazy="true"
                                   maxlength="255"
                                   placeholder="Enter descriptive text"
                                   :class="{ 'form-control':true,	'editable_field':true, 'input': true, 'text-danger': vueErrorsList.has('report_abuse_text')  }"
                            >
                        </div>
                    </div>


                </div>  <!-- modal_editor_fields -->

                <div class="modal_editor_footer card-footer row_content_right_aligned">
                    <div class="m-2 mb-2">

                        <button @click.prevent,stop="saveReportAbuse()" class="btn btn-primary editor_button_submit ml-5" type="button">
                            <i :class="getHeaderIcon('save')"></i> Submit
                        </button>

                        <button @click.prevent="cancelReportAbuseModal()" class="btn btn-cancel-action" type="button">
                            <i :class="getHeaderIcon('cancel')"></i> Cancel
                        </button>

                    </div>
                </div>  <!-- modal_editor_footer -->

            </div> <!-- <div class="modal_editor_container"> -->

        </modal> <!-- modal-post-report-abuse  -->


        <modal :height="modalPostEditContentHeight" :width="modalWidth" name="modal-post-edit-content" transition="pop-out">

            <div class="modal_editor_container card">

                <div class="modal_editor_title card-title">
                    <h4 class="modal-title m-2">
                        <i :class="'i_link '+getHeaderIcon('forum')"></i>&nbsp;
                        &nbsp;Edit <span v-if="post_edit_content">content by {{ forum_post_creator_name }}</span>
                        <button class="close" type="button" @click.prevent="cancelPostEditContentModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </h4>
                </div>

                <!--                this.post_edit_content = forum_post_body;-->
                <!--                this.forum_post_creator_name = forum_post_creator_name;-->

                <div class="modal_editor_fields p-2 card-body">
                    <div class="form-row m-3">
                        <!--                        post_edit_content::{{ post_edit_content}}<br>-->
<!--                        action_forum_post_id::{{ action_forum_post_id}}<br>-->
<!--                        action_forum_post_id_index::{{ action_forum_post_id_index}}<br>-->
                        <div class="col-12 ckeditor_wrapper m-0 p-1">
							<span v-show="vueErrorsList.has('post_edit_content')"
                                  class="text-danger">{{ clearErrorLabel(vueErrorsList.first('post_edit_content'), '') }}</span>
                            <ckeditor
                                :editor="editor"
                                v-model="post_edit_content"
                                :config="editorConfig"
                                v-focus.lazy="true"
                            >
                            </ckeditor>
                        </div>
                    </div>
                </div>  <!-- modal_editor_fields -->

                <div class="modal_editor_footer card-footer row_content_right_aligned">
                    <div class="m-2 mb-2">

                        <button @click.prevent,stop="savePostEditContent()" class="btn btn-primary editor_button_submit ml-5" type="button">
                            <i :class="getHeaderIcon('save')"></i> Submit
                        </button>

                        <button @click.prevent="cancelPostEditContentModal()" class="btn btn-cancel-action" type="button">
                            <i :class="getHeaderIcon('cancel')"></i> Cancel
                        </button>

                    </div>
                </div>  <!-- modal_editor_footer -->

            </div> <!-- <div class="modal_editor_container"> -->

        </modal> <!-- modal-post-edit-content  -->

        <!-- FORUM_VIEW_NEW_THREAD MODAL END-->


    </div>   <!-- <div class="page_content_container"> -->

</template>

<script>
    import {bus} from '../../../app';
    import appMixin from '../../../appMixin';
    import {focus} from 'vue-focus';
    import moment from 'moment'


    import UserBlockInfo from '../personal/UserBlockInfo.vue';   // resources/js/components/BS4/personal/UserBlockInfo.vue


    import Vue from 'vue';
    import {retrieveAppDictionaries, getModalCalculatedHeight, getModalCalculatedWidth} from "../../../helpers/commonFuncs";

    import CKEditor from '@ckeditor/ckeditor5-vue';  //https://ckeditor.com/docs/ckeditor5/latest/builds/guides/integration/frameworks/vuejs.html
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';

    Vue.use(CKEditor);

    export default {
        data: function () {
            return {
                is_debug: false,
                is_page_loaded: false,
                message: '',
                table_rows_count: 0,
                per_page: 20,
                current_page: 1,
                settings_js_moment_datetime_format: '',
                settings_js_moment_date_format: '',
                single_forum_thread_slug: '',
                singleForumThreadRow: [],
                is_forum_thread_owner: false,
                has_access_role_content_editor: false,
                has_access_role_content_editor_label: '-',


                parentForum: [],
                threadPosts: [],
                thread_posts_count: [],

                report_abuse_thread_post_id: '',
                report_abuse_text: '',


                selection_forum_post_action: null,
                forumPostActionValueArray: [],


                new_thread_post_body: '',
                post_edit_content: '',
                forum_post_creator_name: '',
                action_forum_post_id: '',
                action_forum_post_id_index: null,
                editor: ClassicEditor,
                editorData: '<p>Content of the editor.</p>',
                editorConfig: {
                    // The configuration of the editor.
                    indent_style: 'tab',
                    tab_width: 4,
                    charset: 'utf-8',
                    end_of_line: 'lf',
                    trim_trailing_whitespace: true,
                    insert_final_newline: true
                },

            }

        },

        name: 'ForumView',
        components: {UserBlockInfo},
        directives: {focus: focus},

        created() {
            this.single_forum_thread_slug = this.$route.params.slug;
        }, //  created() {

        mounted() {


            // this.is_page_loaded = true
            this.settings_js_moment_datetime_format = window.settings_js_moment_datetime_format
            this.settings_js_moment_date_format = window.settings_js_moment_date_format
            this.setAppTitle('Forum', '++', bus);
            retrieveAppDictionaries(['forum_posts_per_page', 'forumPostActionValueArray']);
            bus.$on('appDictionariesRetrieved', (data) => {
                this.forumPostActionValueArray = data.forumPostActionValueArray

                // this.has_access_role_content_editor
                // this.has_access_role_content_editor_label = window.ACCESS_ROLE_CONTENT_EDITOR_LABEL;

                if (this.has_access_role_content_editor || this.is_forum_thread_owner) {
                    this.forumPostActionValueArray.map((nextForumPostActionValueArray, index) => {
                        if (nextForumPostActionValueArray.key == 'Ed') {
                            this.forumPostActionValueArray[index].label = (this.has_access_role_content_editor ? "You can edit this post" : "")
                        }
                        if (nextForumPostActionValueArray.key == 'Del') {
                            this.forumPostActionValueArray[index].label = (this.has_access_role_content_editor ? "You can delete post" : "")
                        }
                    });
                }

                this.per_page = data.forum_posts_per_page
                this.loadForumThread();
            })
            if (this.checkAccessRoleContent(this.comp_currentUserGroups, window.ACCESS_ROLE_CONTENT_EDITOR)) {
                this.has_access_role_content_editor = true;
                this.has_access_role_content_editor_label = window.ACCESS_ROLE_CONTENT_EDITOR_LABEL;
            }
        }, // mounted() {

        // beforeDestroy(){
        //     bus.$off( 'page_changed' )
        //     bus.$off( 'appDictionariesRetrieved' )
        // },

        mixins: [appMixin],

        methods: {

            loadForumThread() {

                this.is_page_loaded = false
                axios.get(window.API_VERSION_LINK + '/forum/get_single_forum_thread_by_slug/' + this.single_forum_thread_slug).then((response) => {
                    this.is_page_loaded = true;
                    // console.log("response.data::")
                    // console.log(response.data)
                    this.is_forum_thread_owner = response.data.is_forum_thread_owner;
                    this.singleForumThreadRow = response.data.singleForumThread;
                    this.parentForum = response.data.parentForum;
                    this.thread_posts_count = response.data.thread_posts_count;
                    this.loadThreadPosts(1);
                    // this.modal_new_thread_actions_forum_name= this.singleForumThreadRow.title;
                    // this.showPostReportAbuse()
                }).catch((error) => {
                    console.error(error)
                    if (error.response.data.error_code == 11) {
                        this.showPopupMessage(error.response.data.message, 'warn');
                        this.$router.push({path: '/'});
                    }
                    this.is_page_loaded = true
                });
            },  // loadForumThread() {

            loadThreadPosts(page, order_by, order_direction) {
                // alert( "loadThreadPosts page::"+var_dump(page) )
                this.is_page_loaded = false
                this.message = '';

                if (typeof order_by == "undefined") {
                    order_by = this.order_by
                }
                if (typeof order_direction == "undefined") {
                    order_direction = this.order_direction
                }

                axios.post(window.API_VERSION_LINK + '/forum/get_thread_posts', {
                    forum_thread_id: this.singleForumThreadRow.id,
                    page: page,
                    order_by: order_by,
                    order_direction: order_direction,
                }).then((response) => {
                    // console.log("response::")
                    // console.log(response)

                    this.current_page = page
                    this.is_page_loaded = true;
                    this.threadPosts = response.data.threadPosts;
                    this.table_rows_count = response.data.thread_posts_count;
                }).catch((error) => {
                    console.error(error)
                    if (error.response.data.error_code == 11) {
                        this.showPopupMessage(error.response.data.message, 'warn');
                        this.$router.push({path: '/'});
                    }
                    this.is_page_loaded = true
                });
            },  // loadThreadPosts() {

            showPostReportAbuse(report_abuse_thread_post_id) {
                if (this.currentLoggedUser == null || typeof this.currentLoggedUser.id == 'undefined') {
                    this.showPopupMessage("Report abuse", 'You need to login !', 'warn');
                    return;
                }
                this.$modal.show('modal-post-report-abuse', {
                    title: "Add forum thread",
                })
                this.report_abuse_thread_post_id = report_abuse_thread_post_id;
                this.report_abuse_text = '';
            },


            saveReportAbuse() {
                if (this.currentLoggedUser == null || typeof this.currentLoggedUser.id == 'undefined') {
                    this.showPopupMessage("Report abuse", 'You need to login !', 'warn');
                    return;
                }

                this.message = '';
                this.is_page_loaded = false
                axios.post(window.API_VERSION_LINK + '/forum/report_abuse_thread_post', {
                    user_id: this.currentLoggedUser.id,
                    forum_post_id: this.report_abuse_thread_post_id,
                    text: this.report_abuse_text
                }).then((response) => {
                    this.is_page_loaded = true
                    this.showPopupMessage("Forum", "Your report abuse was successfully added !", 'success');
                    this.cancelReportAbuseModal()
                }).catch((error) => {
                    console.error(error)
                    this.is_page_loaded = true
                });
            }, // saveReportAbuse() {

            cancelReportAbuseModal() {
                this.$modal.hide('modal-post-report-abuse');
                this.report_abuse_text = '';
                this.report_abuse_thread_post_id = '';
            },

            addForumPost() {
                if (this.currentLoggedUser == null || typeof this.currentLoggedUser.id == 'undefined') {
                    this.showPopupMessage("Report abuse", 'You need to login !', 'warn');
                    return;
                }

                if (this.trim(this.new_thread_post_body) < 5) {
                    this.showPopupMessage("Forum Post", 'Your message must be at least 5 chars !', 'warn');
                    return;
                }

                this.message = '';
                this.is_page_loaded = false

                axios.post(window.API_VERSION_LINK + '/forum/forum_post_store', {
                    user_id: this.currentLoggedUser.id,
                    forum_post_body: this.new_thread_post_body,
                    forum_thread_id: this.singleForumThreadRow.id,
                }).then((response) => {
                    this.is_page_loaded = true
                    let forumPost = response.data.forumPost
                    forumPost.created_at = Vue.moment()
                    this.threadPosts.push(forumPost)
                    this.showPopupMessage("Forum", "Your post was successfully added !", 'success');
                    this.new_thread_post_body = ''
                }).catch((error) => {
                    console.error(error)
                    this.is_page_loaded = true
                });
            }, // addForumPost {


            setAsBestDecision(forum_post_id, index) {
                if (this.currentLoggedUser == null || typeof this.currentLoggedUser.id == 'undefined') {
                    this.showPopupMessage("Best Decision", 'You need to login !', 'warn');
                    return;
                }
                if (!confirm("Do you want to set Best Decision for this thread ?")) {
                    return;
                }


                this.message = '';
                this.is_page_loaded = false

                axios.post(window.API_VERSION_LINK + '/forum/set_forum_as_best_decision', {
                    user_id: this.currentLoggedUser.id,
                    forum_post_id: forum_post_id,
                    forum_thread_id: this.singleForumThreadRow.id,
                }).then((response) => {
                    this.is_page_loaded = true
                    console.log("this.threadPosts[index].is_best_decision::")
                    console.log(typeof this.threadPosts[index].is_best_decision)
                    console.log(this.threadPosts[index].is_best_decision)

                    this.threadPosts[index].is_best_decision = 1
                    this.singleForumThreadRow.is_salved = 1
                    this.showPopupMessage("Forum", "You set the post as best decision successfully !", 'success');
                }).catch((error) => {
                    console.error(error)
                    this.is_page_loaded = true
                });
            }, // setAsBestDecision {


            forumPostActionSelected(forum_post_id, forum_post_body, forum_post_creator_name, index) {
                // alert( " forumPostActionSelected selection_forum_post_action::"+(this.selection_forum_post_action.key) )
                if (this.currentLoggedUser == null || typeof this.currentLoggedUser.id == 'undefined') {
                    this.showPopupMessage("Post operation", 'You need to login !', 'warn');
                    return;
                }
                setTimeout(() => { // hide select dropdown menu vefore any action(modal dialog opened) done
                    if (this.selection_forum_post_action.key == 'Ed') { // edit existing post
                        this.$modal.show('modal-post-edit-content', {
                            title: "Edit post content ",
                        })

                        this.post_edit_content = forum_post_body;
                        this.forum_post_creator_name = forum_post_creator_name;
                        this.action_forum_post_id = forum_post_id;
                        this.action_forum_post_id_index = index;
                    } // if (this.selection_forum_post_action.key == 'Ed') { // edit existing post

                    if (this.selection_forum_post_action.key == 'Del') {  // delete existing post

                        if (!confirm("Do you want to delete this post ?")) {
                            this.selection_forum_post_action = '';
                            return;
                        }
                        axios({
                            method: ('post'),
                            url: window.API_VERSION_LINK + "/forum/forum_post_delete",
                            data: {forum_post_id: forum_post_id},
                        }).then((response) => {
                            // console.log("stripeTokenHandlerresponse::")
                            // console.log( response )
                            this.showPopupMessage("Forum Post", 'Forum Post deleted successfully !', 'success');

                            let forum_thread_deleted = response.data.forum_thread_deleted;
                            console.log("forum_thread_deleted::")
                            console.log(forum_thread_deleted)

                            debugger
                            if (forum_thread_deleted && (typeof this.parentForum.slug != "undefined")) {
                                this.$router.push({path: '/forum/' + this.parentForum.slug});
                                // /forum/general-business
                            } else {
                                this.loadThreadPosts(1);
                            }
                        }).catch((error) => {
                            console.error(error)
                            this.$setLaravelValidationErrorsFromResponse(error.response.data);
                            this.showPopupMessage("Forum Post", error.response.data.message, 'warn');
                        });

                    } // if (this.selection_forum_post_action.key == 'Del') {  // delete existing post

                    if (this.selection_forum_post_action.key == 'Sub') { // Subscribe to existing post

                        if (!confirm("Do you want to subscribe this post ?")) {
                            this.selection_forum_post_action = '';
                            return;
                        }
                        axios({
                            method: ('post'),
                            url: window.API_VERSION_LINK + "/forum/forum_post_store_user_subscribed",
                            data: {forum_post_id: forum_post_id},
                        }).then((response) => {
                            this.showPopupMessage("Forum Post", 'You successfully subscribed to this Forum Post !', 'success');
                        }).catch((error) => {
                            console.error(error)
                            this.$setLaravelValidationErrorsFromResponse(error.response.data);
                            this.showPopupMessage("Forum Post", error.response.data.message, 'warn');
                        });

                    } // if (this.selection_forum_post_action.key == 'Sub') { // Subscribe to existing post

                    this.selection_forum_post_action = '';
                }, 300); // setTimeout(() => { // hide select dropdown menu vefore any action(modal dialog opened) done



            },


            savePostEditContent() {
                if (this.currentLoggedUser == null || typeof this.currentLoggedUser.id == 'undefined') {
                    this.showPopupMessage("Post Content Edit", 'You need to login !', 'warn');
                    return;
                }

                if (this.trim(this.post_edit_content) < 5) {
                    this.showPopupMessage("Post Content Edit", 'Post content must be bigger 5 chars !', 'warn');
                    return;
                }

                this.message = '';
                this.is_page_loaded = false

                axios.post(window.API_VERSION_LINK + '/forum/forum_post_update', {
                    user_id: this.currentLoggedUser.id,
                    forum_post_id: this.action_forum_post_id,
                    forum_post_body: this.post_edit_content,
                    forum_thread_id: this.singleForumThreadRow.id,
                }).then((response) => {
                    if ( typeof this.threadPosts[this.action_forum_post_id_index] != "undefined" ) {
                        this.threadPosts[this.action_forum_post_id_index].body= this.post_edit_content
                        this.threadPosts[this.action_forum_post_id_index].body= this.post_edit_content
                        if ( typeof response.data.forumPost.updated_at.date != "undefined" ) {
                            this.threadPosts[this.action_forum_post_id_index].updated_at = response.data.forumPost.updated_at.date
                        }
                    }
                    this.showPopupMessage("Post Content Edit", "Your post was successfully updated !", 'success');
                    this.post_edit_content = ''
                    this.cancelPostEditContentModal();

                    this.is_page_loaded = true
                }).catch((error) => {
                    console.error(error)
                    this.showPopupMessage("Post Content Edit", error.response.data.message, 'warn');
                    this.is_page_loaded = true
                });


                this.cancelPostEditContentModal;
            },


            cancelPostEditContentModal() {
                this.$modal.hide('modal-post-edit-content');
                this.post_edit_content = '';
                this.action_forum_post_id = '';
                this.action_forum_post_id_index = null;
            },

            forumPostLastModifiedLabel(nextForumPost) {
                if (typeof nextForumPost.updated_at == "string") {
                    return this.timeInAgoFormat(nextForumPost.updated_at);
                }
                return this.timeInAgoFormat(nextForumPost.created_at);
            },

        }, // methods: {

        computed: {
            header_title() {
                return "Forum";
            },

            comp_current_user_avatar_path() {
                return this.$store.getters.currentUserAvatarPath;
            },

            comp_currentUserGroups() {
                return this.$store.getters.currentUserGroups;
            },

            modalReportAbuseHeight() {
                return 320;
            },
            modalPostEditContentHeight() {
                return 520;
            },

            modalWidth() {
                var deviceParams = this.effectiveDeviceWidth()
                var calculated_width = getModalCalculatedWidth(deviceParams.width)
                return calculated_width;
            },


            currentLoggedUser() {
                return this.$store.getters.currentLoggedUser;
            },
        } //computed: {

    }


</script>


<style lang="scss">
    @import "./resources/sass/_variables.scss";

    /* FORUM VIEW BLOCK START */


    .ckeditor_wrapper > .ck-editor .ck-editor__main .ck-content {
        min-height: 250px !important;
        max-height: 250px !important;
        border: 1px solid grey !important;
    }

    .ckeditor_wrapper p {
        margin: 0.3rem !important;
        padding: 0 !important;
    }

    .ck.ck-editor__editable_inline {
        margin: 0 !important;
        border: 3px dotted red !important;
    }


    /* FORUM VIEW BLOCK END */

</style>
