<template>

	<div class="page_content_container">

		<!--		single_forum_slug : {{ single_forum_slug }}<br>-->
		<!--		singleForumRow : {{singleForumRow}}<br>-->

		<div class="page_content_header">

            <listing-header :show_loading_image=!is_page_loaded :current_page=current_page :itemsList="forumThreads"
                            :rows_count="table_rows_count.length"
                            :header_icon="getHeaderIcon('forum')"
                            :header_title=header_title :right_add_button_link="''" :item_title=" singleForumRow.title +' thread(s)'" :message=message
                            :right_add_button_link_title="''"
                            parent_component_key="forum">

            </listing-header>

			<fieldset v-show="is_debug">
				<legend class="blocks">debug:</legend>
				current_page::{{ current_page }}<br>
				table_rows_count::{{ table_rows_count }}<br>
				per_page::{{ per_page }}<br>
				<!--hostelRoomTypeValueArray : {{hostelRoomTypeValueArray}}<br>-->
				<!--hostelRoomIsDormValueArray : {{hostelRoomIsDormValueArray}}<br>-->
				forumThreads : {{forumThreads}}<br>
				single_forum_slug : {{ single_forum_slug }}<br>
				singleForumRow : {{singleForumRow}}<br>
				latestPost : {{latestPost}}<br>
				forum_posts_count : {{forum_posts_count}}<br>
				singleForumRow.id::{{ singleForumRow.id }}<br>
				<!--				is_page_updating::{{ is_page_updating }}<br>-->
				<!--				is_page_loaded::{{ is_page_loaded }}<br>-->
				<!--single_forum_slug::{{ single_forum_slug }}<br>-->
			</fieldset>

		</div>   <!-- <div class="page_content_header"> -->


		<div class="forum_view_container" v-if="singleForumRow && is_page_loaded">


			<h2 class="forum_title">
                <span class="hidden_info">{{ singleForumRow.id }}::</span>
				{{ singleForumRow.title }}
				<span class="small_size">(&nbsp;{{ singleForumRow.forum_categories_title }}&nbsp;category ):</span>
				<span class="small_size">
					{{ forumThreads.length }} thread{{ pluralize(forumThreads.length,'','s') }}&nbsp;/&nbsp;
					{{ forum_posts_count }} post{{ pluralize(forum_posts_count,'','s') }}
				</span>
			</h2>

			<div class="forum_description">
				<span v-html="cleartags(singleForumRow.description)"></span>
			</div>

			<div class="latest_post mb-4" v-show="latestPost">
				<span class="service_key_word">Latest:</span>&nbsp;
				<span><strong>{{ latestPost.title }}</strong>, by {{ singleForumRow.creator_name }},</span>
				<span class="date_ago_label" title="Published">{{ last_modified_label(latestPost) }}</span>
			</div>


			<div class="row_content p-1 pt-3">
				<div class="row_content_left_aligned">
					<listing-pagination :current="current_page"
					                    :total="table_rows_count" :items_per_page="per_page" :show_next_prior_buttons=false
					                    @paginationPageChangedEvent="loadForumThreads" :show_rows_label="true"
					                    :show_page_number_label="true">
					</listing-pagination>
				</div>

				<div class="row_content_right_aligned btn_right_aligned" >
					<a class="action_button" @click.prevent="showNewForumThread()">
						Post New Thread
					</a>
				</div>
			</div>


			<div class="forum_threads_listing bottom_split_border" v-show="forumThreads.length > 0 && is_page_loaded" style="width: 100%;">

				<table class="table listing_content_table table-striped text-primary table-responsive td_nowrap">
					<thead class="forum_threads_header">
<!--					<th>#</th>-->
					<th>Title</th>
					<th>Start&nbsp;Date</th>
					<th>Replies/Views</th>
					<th>Last&nbsp;Message</th>
					</thead>
					<tbody>
					<tr v-for="nextForumThread, index in forumThreads" :key="nextForumThread.id">
						<!--									<td>nextForumThread::{{ nextForumThread }}</td>-->
<!--						<td>{{ nextForumThread.id }}</td>-->
						<td>
							<router-link :to="{ name: 'ForumThreadView', params: { slug: nextForumThread.slug } }">
								<i :class="'i_link '+getHeaderIcon('forum')"></i>&nbsp;
								<i :class="'i_link '+getHeaderIcon('check')" :title="'Salved'" v-if="nextForumThread.is_salved"></i>&nbsp;
                                <span class="hidden_info">{{ nextForumThread.id }}</span>{{ nextForumThread.title }}
							</router-link>

						</td>

						<td>
							{{ momentDatetime(nextForumThread.created_at, settings_js_moment_datetime_format) }}
						</td>

						<td>
							{{ nextForumThread.forum_posts_count }}/{{ nextForumThread.views }}
						</td>

						<td>
							<div class="latest_post m-1 p-1">
								<span class="service_key_word">Latest:&nbsp;</span>
								<span class="pre-formatted" v-html="concatStr(nl2br(nextForumThread.latest_forum_post.body), 30)"></span>
								<span class="date_ago_label" title="Published">{{ timeInAgoFormat(nextForumThread.latest_forum_post.created_at) }}</span>
							</div>
						</td>

					</tr>

					</tbody>
				</table>

			</div>

			<div class="forum_threads_listing" v-show="forumThreads.length == 0 && is_page_loaded">
				<div class="alert alert-warning m-3 p-3" role="alert">
					There are no threads yet.
				</div>
			</div>
		</div> <!-- <div class="forum_view_container" -->


		<!-- FORUM_VIEW_NEW_THREAD MODAL modalWidthSTART-->

		<modal :height="modalHeight" :width="modalWidth" name="modal-new-thread-actions" transition="pop-out">

			<div class="modal_editor_container card">

				<div class="modal_editor_title card-title">
					<h4 class="modal-title m-2">
						<i :class="'i_link '+getHeaderIcon('forum')"></i>&nbsp;
						&nbsp;Add new thread to&nbsp;<span>"{{ modal_new_thread_actions_forum_name}}" forum</span>
						<button class="close" type="button" @click.prevent="cancelNewThreadActions()">
							<span aria-hidden="true">&times;</span>
						</button>
					</h4>
				</div>

				<div class="modal_editor_fields p-2 card-body">

					<div class="form-row m-3">
						<label :for="'new_thread_title'" class="col-12 col-form-label">&nbsp;
							<span>New thread title</span>
						</label>
						<div class="col-12">
							<input :id="'new_thread_title'"
							       type="text"
							       v-model="new_thread_title"
							       v-focus.lazy="true"
							       maxlength="255"
							       placeholder="Enter descriptive text"
							       :class="{ 'form-control':true,	'editable_field':true, 'input': true, 'text-danger': vueErrorsList.has('new_thread_title')  }"
							>
						</div>
					</div>

					<div class="form-row m-3">
						<label class="col-12 col-form-label" for="new_thread_body">Content</label>
						<div class="col-12">
							<span v-show="vueErrorsList.has('new_thread_body')"
							      class="text-danger">{{ clearErrorLabel(vueErrorsList.first('new_thread_body'), '') }}</span>
							<ckeditor
									:editor="editor"
									v-model="new_thread_body"
									:config="editorConfig"
									:height="12" :rows="6"
									:class="{ 'form-control':true,	'editable_field':true, 'input': true, 'text-danger': vueErrorsList.has('new_thread_body')
									  }">
							</ckeditor>
						</div>
					</div>


				</div>  <!-- modal_editor_fields -->

				<div class="modal_editor_footer card-footer row_content_right_aligned">
					<div class="m-2 mb-2">

						<button @click.prevent,stop="saveNewThreadActions()" class="btn btn-primary editor_button_submit ml-5" type="button">
							<i :class="getHeaderIcon('save')"></i> Submit
						</button>

						<button @click.prevent="cancelNewThreadActions()" class="btn btn-cancel-action" type="button">
							<i :class="getHeaderIcon('cancel')"></i> Cancel
						</button>

					</div>
				</div>  <!-- modal_editor_footer -->

			</div> <!-- <div class="modal_editor_container"> -->

		</modal> <!-- modal-view-new-thread-actions -->

		<!-- FORUM_VIEW_NEW_THREAD MODAL END-->

	</div>   <!-- <div class="page_content_container"> -->

</template>

<script>
    import {bus} from '../../../app';
    import appMixin from '../../../appMixin';
    import {focus} from 'vue-focus';

    import Vue from 'vue';
    import {retrieveAppDictionaries, getModalCalculatedHeight, getModalCalculatedWidth} from "../../../helpers/commonFuncs";

    import CKEditor from '@ckeditor/ckeditor5-vue';  // https://ckeditor.com/docs/ckeditor5/latest/builds/guides/integration/frameworks/vuejs.html
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
    Vue.use(CKEditor);

    export default {
        data: function () {
            return {
                is_debug: false,
                is_page_loaded: false,
                message: '',
                table_rows_count: 0,
                per_page: 20,
                current_page: 1,

                settings_js_moment_datetime_format: '',
                single_forum_slug: '',
                singleForumRow: [],
                latestPost: {},
                forumThreads: [],
                forum_posts_count: [],

                modal_new_thread_actions_forum_name: '',
                new_thread_title: '',
                new_thread_body: '',

                editor: ClassicEditor,
                editorData: '<p>Content of the editor.</p>',
                editorConfig: {
                    // The configuration of the editor.
                    indent_style: 'tab',
                    tab_width: 4,
                    charset: 'utf-8',
                    end_of_line: 'lf',
                    trim_trailing_whitespace: true,
                    insert_final_newline: true
                },

            }

        },
        name: 'ForumView',
        directives: {focus: focus},

        created() {
            this.single_forum_slug = this.$route.params.slug;
        }, //  created() {

        mounted() {
            // this.is_page_loaded = true
            this.settings_js_moment_datetime_format = window.settings_js_moment_datetime_format
            this.setAppTitle('Forum View', this.site_name, bus);
            retrieveAppDictionaries(['forum_threads_per_page']);
            bus.$on('appDictionariesRetrieved', (data) => {
                this.per_page = data.forum_threads_per_page
                this.loadForum();
            })

        }, // mounted() {


        mixins: [appMixin],

        methods: {

            loadForum() {
                this.is_page_loaded = false
                axios.post(window.API_VERSION_LINK + '/forum/get_single_forum_by_slug/' + this.single_forum_slug).then((response) => {
                    this.is_page_loaded = true;
                    this.singleForumRow = response.data.singleForum;
                    this.latestPost = response.data.latestPost;
                    this.forum_posts_count = response.data.forum_posts_count;
                    this.modal_new_thread_actions_forum_name = this.singleForumRow.title;
                    this.loadForumThreads(1);
                }).catch((error) => {
                    console.error(error)
                    if (error.response.data.error_code == 11) {
                        this.showPopupMessage(error.response.data.message, 'warn');
                        this.$router.push({path: '/'});
                    }
                    this.is_page_loaded = true
                });
            },  // loadForum() {

            loadForumThreads(page, order_by, order_direction) {
                // alert( "loadForumThreads page::"+var_dump(page) )
                this.is_page_loaded = false
                this.message = '';

                if (typeof order_by == "undefined") {
                    order_by = this.order_by
                }
                if (typeof order_direction == "undefined") {
                    order_direction = this.order_direction
                }

                axios.post(window.API_VERSION_LINK + '/forum/get_forum_threads', {
                    forum_id: this.singleForumRow.id,
                    page: page,
                    order_by: order_by,
                    order_direction: order_direction,
                }).then((response) => {
                    this.current_page = page
                    this.is_page_loaded = true;
                    this.forumThreads = response.data.forumThreads;
                    this.table_rows_count = response.data.forum_threads_count;
                }).catch((error) => {
                    console.error(error)
                    if (error.response.data.error_code == 11) {
                        this.showPopupMessage(error.response.data.message, 'warn');
                        this.$router.push({path: '/'});
                    }
                    this.is_page_loaded = true
                });
            },  // loadForumThreads() {

            showNewForumThread() {
                // alert("showNewForumThread::" + (-88))
                this.$modal.show('modal-new-thread-actions', {
                    title: "Add forum thread",
                })
                this.new_thread_title = '';
                this.new_thread_body = '';
            },


            saveNewThreadActions() {
                console.log("this.currentLoggedUser::")
                console.log( this.currentLoggedUser )

                if (this.currentLoggedUser == null || typeof this.currentLoggedUser.id == 'undefined') {
                    this.showPopupMessage("New Thread", 'You need to login !', 'warn');
                    return;
                }

                if (this.new_thread_title.trim() == '' || this.new_thread_body.trim() == '') {
                    this.showPopupMessage("New Thread", 'Fill both title and body !', 'warn');
                    return;
                }

                this.message = '';
                this.is_page_loaded = false
                axios.post(window.API_VERSION_LINK + '/forum/add_new_thread', {
                    forum_id: this.singleForumRow.id,
                    title: this.new_thread_title,
                    body: this.new_thread_body
                }).then((response) => {
                    this.is_page_loaded = true
                    this.showPopupMessage("Forum", "New thread was successfully added !", 'success');
                    // console.log("response.data::")
                    // console.log( response.data )
                    // this.forumThreads.push(response.data.forumThreadRow)
                    this.loadForumThreads()
                    this.cancelNewThreadActions()
                }).catch((error) => {
                    console.error(error)
                    this.is_page_loaded = true
                });
            },

            cancelNewThreadActions() {
                this.$modal.hide('modal-new-thread-actions');
                this.new_thread_title = '';
                this.new_thread_body = '';
            },


        }, // methods: {

        computed: {

            site_name() {
                return window.SITE_NAME
            },

            header_title() {
                return "Forum View";
            },

            modalHeight() {
                var deviceParams = this.effectiveDeviceWidth()
                var calculated_height = getModalCalculatedHeight(deviceParams.height)
                return calculated_height;
            },

            modalWidth() {
                var deviceParams = this.effectiveDeviceWidth()
                var calculated_width = getModalCalculatedWidth(deviceParams.width)
                return calculated_width;
            },


            currentLoggedUser() {
                return this.$store.getters.currentLoggedUser;
            },
        } //computed: {

    }

    function var_dump(oElem, from_line, till_line) {
        return ;
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof (oElem) == 'string' || typeof (oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof (oElem) == 'innerHTML' || typeof (oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }


</script>


<style lang="scss">
	@import "./resources/sass/_variables.scss";

	/* FORUM VIEW BLOCK START */


	.ck-editor .ck-editor__main .ck-content {
		min-height: 350px  !important;
		border: 0px dotted green !important;
	}


	/* FORUM VIEW BLOCK START */

</style>
