<template>

	<div class="page_content_container">

		<section class="page_content_header" >

            <listing-header :show_loading_image=!is_page_loaded :current_page=0 :itemsList="publishedForumsByCategoriesArray"
                            :rows_count="publishedForumsByCategoriesArray.length"
                            :header_icon="getHeaderIcon('forum')"
                            :header_title=header_title :right_add_button_link="''" :item_title="' ' +
                            ' categories ,'+ forums_total_count +' forums'" :message=message
                            :right_add_button_link_title="''"
                            parent_component_key="forums">

            </listing-header>

		</section>     <!-- class="page_content_header" -->


		<div class="forums_listings_container mb-5">

			<div class="forum_category_block" v-for="nextForumCategory, index in publishedForumsByCategoriesArray" :key="nextForumCategory.id">

				<h2 class="forum_category_title" v-tooltip="concatStr(cleartags(nextForumCategory.description),200)">
					<i :class="'i_link '+getHeaderIcon('forum_category')"></i>&nbsp;<span class="hidden_info">{{ nextForumCategory.id }}::</span>{{ nextForumCategory.title }}
				</h2>


				<div class="forum_category_forums_sublistings_container" v-show="nextForumCategory.forumsList.length && is_page_loaded">


					<div class="forum_category_info" v-for="nextForum, index in nextForumCategory.forumsList" :key="nextForum.id">

						<div style="flex: 4 1 100px; flex-direction: column;" class="p-0 m-0">
							<div style="display: flex; flex-direction: row; justify-content: flex-start; border: 0px dotted blue; flex:1"
							     class="p-1 m-0">
								<h4 style="flex: 1 0 250px; align-items: center; " class="forum_title">
									<router-link :to="{ name: 'ForumView', params: { slug: nextForum.slug } }">
										<i :class="'i_link '+getHeaderIcon('forum')"></i>&nbsp;
										<!--										{{ nextForumCategory.title }} ==>>-->
                                        <span class="hidden_info">{{ nextForum.id }}::</span>
										{{ nextForum.title }}
									</router-link>
								</h4>

								<p class="form-text text-muted" v-html="concatStr(cleartags(nextForum.description), 160)"></p>
							</div>
							<div style="display: flex; flex-direction: row; align-items: center;justify-content: flex-start; border: 0px dotted green;">
								<span v-if="nextForum.forum_threads_count" class="p-1 m-0">
									Discussions:&nbsp;<strong>{{ nextForum.forum_threads_count }}</strong>
								</span>
								<span v-if="nextForum.forum_posts_count" class="p-1 m-0">
									Messages:&nbsp;<strong>{{ nextForum.forum_posts_count }}</strong>
								</span>
							</div>
						</div>

						<div v-if="nextForum.latestPost" class="p-2 latest_forum">
							Latest:&nbsp;<strong>{{ nextForum.latestPost.title }}</strong>, by {{ nextForum.creator_name }},
							{{ last_modified_label(nextForum.latestPost) }}
						</div>

						<div v-if="!nextForum.latestPost" class="p-2 latest_forum">
							<div class="alert alert-info m-1 p-1" role="alert" >
								There are no posts yet!
							</div>

						</div>

					</div>
				</div>

				<div class="m-0 p-0" v-show="!nextForumCategory.forumsList.length && is_page_loaded">
					<div class="alert alert-warning m-3 p-3" role="alert">
						{{ nextForumCategory.title }} == There are no forums yet.
					</div>
				</div>


			</div> <!-- <div class="forum_category_block" -->

		</div><!-- <div class="forums_listings_container mb-4"> -->


	</div> <!-- 	<div class="page_content_container"> -->

</template>

<script>
    import {bus} from '../../../app';
    import appMixin from '../../../appMixin';

    import Vue from 'vue';

    import Vue2Filters from 'vue2-filters' // https://github.com/freearhey/vue2-filters#placeholder
    Vue.use(Vue2Filters)

    import {VLazyImagePlugin} from "v-lazy-image";

    Vue.use(VLazyImagePlugin);


    export default {
        data: function () {
            return {
                is_debug: true,
                is_page_loaded: false,
                message: '',
                publishedForumsByCategoriesArray: [],
                forums_total_count: 0,
                // forum_posts_published_count : 0,
                // forum_threads_published_count : 0,
            }

        },
        name: 'forumsList',

        mounted() {
            // this.is_page_loaded = true
            this.setAppTitle('Forums', 'Forums', bus);
            this.loadForumCategoriesData()
        }, // mounted() {


        mixins: [appMixin, Vue2Filters.mixin],

        methods: {
            loadForumCategoriesData() {
                // alert("loadForumCategoriesData::" + (-7))
                this.is_page_loaded = false
                //                axios.get(window.API_BACKEND_VERSION_LINK + href, {})
                //    Route::get('categorized_forums', 'ForumController@categorized_forums');

                axios.get(window.API_VERSION_LINK + '/forum/categorized_forums').then((response) => {
                    this.is_page_loaded = true
                    this.publishedForumsByCategoriesArray = response.data.forumCategoriesList;
                    this.forums_total_count = response.data.forums_total_count;
                }).catch((error) => {
                    console.error(error)
                    if (error.response.data.error_code == 11) {
                        this.showPopupMessage(error.response.data.message, 'warn');
                        this.$router.push({path: '/'});
                    }
                    this.is_page_loaded = true
                });

            }, // loadForumCategoriesData() {

        }, // methods: {

        computed: {
            header_title() {
                return "Forums";
            },

            currentLoggedUser() {
                return this.$store.getters.currentLoggedUser;
            },

        } //computed: {

    }

    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof (oElem) == 'string' || typeof (oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof (oElem) == 'innerHTML' || typeof (oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }


</script>

<style lang="scss">
	@import "./resources/sass/_variables.scss";

</style>
