//// Body
//
//// Typography
//$font-family-sans-serif: "Nunito", sans-serif;
//$font-size-base: 0.9rem;
//$line-height-base: 1.6;
//
//// Colors
//$blue: #3490dc;
//$indigo: #6574cd;
//$purple: #9561e2;
//$pink: #f66D9b;
//$red: #e3342f;
//$orange: #f6993f;
//$yellow: #ffed4a;
//$green: #38c172;
//$teal: #4dc0b5;
//$cyan: #6cb2eb;





$current_dashboard_template: 'BS4';
// Body

// Typography
$font-family-sans-serif: "Roboto", sans-serif;
//$font-size-base: 0.9rem;
$line-height-base: 1.6;

$title-color: #3f5e5d;  // #e1e100
$subtitle-color: #517978;   // #ab0701

$text-color: #4d4d4d; // #ff3b0a
$warning-text-color: #8F6404;

$border-separator-color: 0.05rem solid #b3b3b3;
$navigation-color:#224A37;
$item-border: 1px solid #92baa7;

$font_size: 1rem;
$font_size_bigger: 1.2rem;
$font_size_big: 1.4rem;

$link_color: #3f5e5d; //maroon;
$toggle_color: #3f5e5d; // olive;
$action_color: #3f5e5d; // red;
$external_color: red; // red;

$background_color: #FCFFFC ; //#f5f8fa;
$border_color: #999;


$button_color: #FFFFFF;             /* color of button */

$cancel_background_color: #949494;  /* background color of cancel button */
$prev_background_color: #45A6F9;    /* background color of previos button */
$text_error_color: red;

$indent_xs_1: 0.1em;
$indent_xs_2: 0.2em;
$indent_xs: 0.3em;

$indent_sm: 0.5em;
$indent_md: 1em;
$indent_lg: 2em;
$disabled_text_color : #7e7876;
$indent_img : 0.7em; /* $indent for image : margin, padding */

$current_dashboard_template: 'BS4';

$debug_mode: false;
