<template>
	<div class="backend_listing_container card p-0">

		<div class="backend_listing_title">

			<listing-header :show_loading_image=!is_page_loaded :current_page=current_page :itemsList="hostelsList" :rows_count="table_rows_count"
			                :header_icon="getHeaderIcon('hostel')"
			                :header_title=header_title :right_add_button_link="'editHostel'" :item_title="'row(s)'" :message=message
			                :right_add_button_link_title="'New'"
			                parent_component_key="hostels"></listing-header>

			<!--settings_js_moment_datetime_format::{{ settings_js_moment_datetime_format }}<br>-->
			<!--filter_name::{{ filter_name }}<br>-->
			<!--is_page_loaded::{{ is_page_loaded }}<br>-->
			<!--current_page::{{ current_page }}<br>-->
			<!--table_rows_count::{{ table_rows_count }}<br>-->
			<!--filtered_rows_count::{{ filtered_rows_count }}<br>-->
			<!--per_page::{{ per_page }}<br>-->
			<!--hostelsList::{{ hostelsList }}<br>-->
<!--			filter_status::{{ filter_status }}<br>-->
<!--            filter_hostel_inqueries::{{ filter_hostel_inqueries }}<br>-->
<!--			filter_feature::{{ filter_feature }}<br>-->


		</div> <!-- backend_listing_title -->


        <div class="backend_listing_filters card-title ml-0 mr-0 pb-2 pt-2">
			<fieldset class="blocks bordered text-muted p-0 m-0">
				<legend class="blocks "><span class="legend_title">Filters</span></legend>


				<div class="filter_box_columns">
					<div class="filter_box_items_row">
						<label class="filter_box_input_label" for="filter_name">Filter by name</label>
						<input class="filter_box_input" name="filter_name" id="filter_name" type="input" value="" v-model="filter_name"
						       v-on:change="hostelsStatusFilterApplied(filter_status)">
					</div>
					<div class="filter_box_items_row">
						<div class="filter_box_radio_cell">
							<input name="filter_status" id="filter_status_all" type="radio" value="all" v-model="filter_status" v-on:click="hostelsStatusFilterApplied('all')"
							       class="filter_box_radio">
							<label class="filter_box_radio_label" for="filter_status_all">All Hostels</label>
						</div>
						<div class="filter_box_radio_cell">
							<input name="filter_status" id="filter_status_active" type="radio" value="active" v-model="filter_status"
							       v-on:click="hostelsStatusFilterApplied('active')" class="filter_box_radio">
							<label class="filter_box_radio_label" for="filter_status_active">Active</label>
						</div>
						<div class="filter_box_radio_cell">
							<input name="filter_status" id="filter_status_inactive" type="radio" value="inactive" v-model="filter_status"
							       v-on:click="hostelsStatusFilterApplied('inactive')" class="filter_box_radio">
							<label class="filter_box_radio_label" for="filter_status_inactive">Inactive</label>
						</div>
						<div class="filter_box_radio_cell">
							<input name="filter_status" id="filter_status_new" type="radio" value="new" v-model="filter_status" v-on:click="hostelsStatusFilterApplied('new')"
							       class="filter_box_radio">
							<label class="filter_box_radio_label" for="filter_status_new">New</label>
						</div>
					</div>

					<div class="filter_box_items_row">
						<div class="filter_box_radio_cell">
							<input name="filter_feature" id="filter_feature_all" type="radio" value="all" v-model="filter_feature" v-on:click="hostelsFeatureFilterApplied('all')"
							       class="filter_box_radio">
							<label class="filter_box_radio_label" for="filter_feature_all">All Hostels</label>
						</div>
						<div class="filter_box_radio_cell">
							<input name="filter_feature" id="filter_feature_active" type="radio" value="feature" v-model="filter_feature"
							       v-on:click="hostelsFeatureFilterApplied('feature')" class="filter_box_radio">
							<label class="filter_box_radio_label" for="filter_feature_active">Feature</label>
						</div>
						<div class="filter_box_radio_cell">
							<input name="filter_feature" id="filter_feature_inactive" type="radio" value="not_feature" v-model="filter_feature"
							       v-on:click="hostelsFeatureFilterApplied('not_feature')" class="filter_box_radio">
							<label class="filter_box_radio_label" for="filter_feature_inactive">Not Feature</label>
						</div>
					</div>

					<div class="filter_box_items_row">
						<div class="filter_box_radio_cell">
							<input name="filter_hostel_inqueries" id="filter_hostel_inqueries_all" type="radio" value="all" v-model="filter_hostel_inqueries"
                                   v-on:click="hostelsHostelInqueryFilterApplied('all')"
							       class="filter_box_radio">
							<label class="filter_box_radio_label" for="filter_hostel_inqueries_all">All Hostels</label>
						</div>
						<div class="filter_box_radio_cell">
							<input name="filter_hostel_inqueries" id="filter_hostel_inqueries_new" type="radio" value="new" v-model="filter_hostel_inqueries"
							       v-on:click="hostelsHostelInqueryFilterApplied('new')" class="filter_box_radio">
							<label class="filter_box_radio_label" for="filter_hostel_inqueries_new">Only with new inqueries</label>
						</div>
						<div class="filter_box_radio_cell">
							<input name="filter_hostel_inqueries" id="filter_hostel_inqueries_accepted" type="radio" value="accepted" v-model="filter_hostel_inqueries"
							       v-on:click="hostelsHostelInqueryFilterApplied('accepted')" class="filter_box_radio">
							<label class="filter_box_radio_label" for="filter_hostel_inqueries_accepted">Only with accepted inqueries</label>
						</div>
					</div>

				</div>


			</fieldset>
		</div> <!-- backend_listing_filters -->


		<div class="backend_listing_content card-body listing_content_body_block" v-show="is_page_loaded && hostelsList.length" style="width: 100%;">
			<table class="table listing_content_table table-striped text-primary table-responsive td_nowrap">
				<thead>
				<th>#</th>
				<th>Name</th>
				<th>Status</th>
				<th>New/Accepted inqueries</th>
				<th>State</th>
				<th>Feature</th>
				<th>Region</th>
				<th>Created at</th>
				<th></th>
				<th></th>
				</thead>

				<!-- ->select( 'name', 'status', 'state_id', 'feature', 'region_id', 'created_at' )-->

				<tbody>
				<tr v-for="nextHostel, index in hostelsList" :key="nextHostel.id">
					<td>{{ nextHostel.id }}</td>
					<td>{{ nextHostel.name }}</td>
					<td>{{ getDictionaryLabel(nextHostel.status, hostelStatusValueArray, '') }}</td>
					<td>{{ nextHostel.new_hostel_inqueries_count }} / {{ nextHostel.accepted_hostel_inqueries_count }}</td>
					<td>{{ nextHostel.state_name }}</td>

					<td>{{ getDictionaryLabel(nextHostel.feature, hostelFeatureValueArray, '') }}</td>
					<td>{{ nextHostel.region_name }}</td>
					<td>{{ momentDatetime(nextHostel.created_at, settings_js_moment_datetime_format) }}</td>
					<td>
						<router-link :to="`/admin/hostels/${nextHostel.id}`"><i :class="getHeaderIcon('edit')" title="'Edit hostel') )"></i></router-link>
					</td>
					<td>
						<a v-on:click="removeHostel(nextHostel.id, nextHostel.name, index)" :class="'a_delete_item_'+nextHostel.id">
							<i :class="getHeaderIcon('remove')" title="Delete Hostel"></i>
						</a>
					</td>
				</tr>

				</tbody>
			</table>
		</div> <!-- <div class="backend_listing_content card-body listing_content_body_block" v-show="is_page_loaded && hostelsList.length"> -->

		<div class="backend_listing_footer card-footer" v-show="is_page_loaded && per_page > 0 && filtered_rows_count > per_page">
			<listing-pagination :current="current_page" :total="filtered_rows_count" :items_per_page="per_page" :show_next_prior_buttons=false
			                    @paginationPageChangedEvent="loadHostelsList"></listing-pagination>
		</div> <!-- backend_listing_footer -->

	</div> <!-- class="backend_listing_container" -->
</template>

<script>
    import {bus} from '../../../../app';
    import appMixin from '../../../../appMixin';
    import {retrieveAppDictionaries} from "../../../../helpers/commonFuncs";

    export default {
        data: function () {
            return {
                hostelsList: [],
                is_page_loaded: false,
                message: '',
                table_rows_count: 0,
                filtered_rows_count: 0,
                per_page: 2,
                current_page: 1,
                order_by: 'hostels.name',
                order_direction: 'desc',
                filter_name: '',
                filter_status: '',
                filter_feature: '',
                filter_hostel_inqueries: '',
                settings_js_moment_datetime_format: '',
                hostelStatusValueArray: [],
                hostelFeatureValueArray: [],
            }

        },
        name: 'hostelsListing',

        created() {
            console.log("this.$route.params::")
            console.log( this.$route.params )

            this.filter_status = this.$route.params.filter
            if ( this.filter_status == 'with_new_hostel_inqueries' ) {
                this.filter_hostel_inqueries= 'new',
                this.filter_status= '';
            }
            if ( this.filter_status == 'with_accepted_hostel_inqueries' ) {
                this.filter_hostel_inqueries= 'accepted',
                this.filter_status= '';
            }
        }, //  created() {

        mounted() {
            retrieveAppDictionaries(['hostelFeatureValueArray', 'hostelStatusValueArray']);
            bus.$on('appDictionariesRetrieved', (data) => {
                this.hostelFeatureValueArray = data.hostelFeatureValueArray
                this.hostelStatusValueArray = data.hostelStatusValueArray
            })

            this.settings_js_moment_datetime_format = window.settings_js_moment_datetime_format
            this.is_page_loaded = false
            this.loadHostelsList(1, this.order_by, this.order_direction)
            this.setAppTitle('Backend', 'Hostels Listing', bus);
        }, // mounted() {


        mixins: [appMixin],

        methods: {

            loadHostelsList(page, order_by, order_direction) {
                this.message = '';
                this.is_page_loaded = false

                if (typeof order_by == "undefined") {
                    order_by = this.order_by
                }
                if (typeof order_direction == "undefined") {
                    order_direction = this.order_direction
                }
                var params_str = '';// this.getPaginationParams(page, order_by, order_direction, true)
//	            alert( "loadHostelsList params_str ::"+var_dump(params_str) )
//	            alert( "::"+var_dump(window.API_BACKEND_VERSION_LINK + '/admin/hostels' + params_str) )
//                axios.get(window.API_BACKEND_VERSION_LINK + '/admin/hostels' + params_str).then((response) => {
                axios.post(window.API_BACKEND_VERSION_LINK + '/admin/hostels-filter', {
                    page: page,
                    order_by: order_by,
                    order_direction: order_direction,
                    filter_name: this.filter_name,
                    filter_status: this.filter_status,
                    filter_feature: this.filter_feature,
                    filter_hostel_inqueries: this.filter_hostel_inqueries
                }).then((response) => {
                    this.current_page = page
                    this.is_page_loaded = true
                    this.hostelsList = response.data.hostelsList;
                    this.filtered_rows_count = response.data.filtered_rows_count;
                    this.table_rows_count = response.data.table_rows_count;
                    this.per_page = response.data.per_page
                }).catch((error) => {
                    console.error(error)
                    this.is_page_loaded = true
                });

            }, // loadHostelsList() {

            hostelsStatusFilterApplied(new_filter_status) {
                this.filter_status = new_filter_status
                this.loadHostelsList(1, this.order_by, this.order_direction)
            },

            hostelsFeatureFilterApplied(new_filter_feature) {
                this.filter_feature = new_filter_feature
                this.loadHostelsList(1, this.order_by, this.order_direction)
            },

            hostelsHostelInqueryFilterApplied(new_filter_hostel_inqueries) {
                this.filter_hostel_inqueries = new_filter_hostel_inqueries
                this.loadHostelsList(1, this.order_by, this.order_direction)
            },


            removeHostel(id, hostel_name, index) {
                this.message = '';
                if (!confirm("Do you want to delete '" + hostel_name + "' hostel ?")) return;

                // this.confirmMsg("Do you want to delete '" + hostel_name + "' hostel ?", () => {
//                    debugger
                //     Route::delete('hostels/{id}', 'Admin\HostelsController@destroy');
//                    alert(window.API_BACKEND_VERSION_LINK + '/hostels/' + id)
                axios.delete(window.API_BACKEND_VERSION_LINK + '/admin/hostels/' + id).then((response) => {
                    this.loadHostelsList(1, this.order_by, this.order_direction)
                    this.showPopupMessage("Hostels", "Hostel deleted successfully !", 'success');
                }).catch((error) => {
                    console.error(error)
                    this.showPopupMessage("Hostels", 'Error deleting Hostel. ', 'warn');
                });
                // });
            }, //removeHostel(id, hostel_name, index) {
            hostelsFilterApplied() {
                this.loadHostelsList(1, this.order_by, this.order_direction)
            },

        }, // methods: {

        computed: {

            header_title() {
                if (this.filter_status == 'active') return "Active hostels";
                if (this.filter_status == 'inactive') return "Inactive hostels";
                if (this.filter_status == 'new') return "New hostels";
                return "Hostels";
            },

        } //computed: {

    }

    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof (oElem) == 'string' || typeof (oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof (oElem) == 'innerHTML' || typeof (oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }


</script>

