<template>
    <div class="page_content_container personal card p-2">


        <!--        forumPostBookmarks::{{ forumPostBookmarks}}<br>-->
        <!--        forumPostsUserSubscribed::{{ forumPostsUserSubscribed}}<br>-->



            <!--            personalOptions.chat_color::{{ personalOptions.chat_color}}-->

            <div class="page_content_header row_content_left_aligned">

                <editor-header :show_loading_image="!is_page_loaded || is_page_updating" :header_icon="getHeaderIcon('profile')" :header_title=header_title
                               :message=message></editor-header>

                <div class="row_content_right_aligned ml-5">
                    <router-link :to="{ name: 'PublicUserProfile', params: { id: userRow.id }  }" class="a_link public_user_name" target="_blank">
                        Public profile
                    </router-link>
                </div>

                <!--			settings_js_moment_datetime_format::{{ settings_js_moment_datetime_format }}<br>-->
                <!--							customerAccountTypeValueArray::{{ customerAccountTypeValueArray }}<br>-->
                <!--				selection_account_type::{{ selection_account_type }}<br>-->
                <!--			shortUsersSelectionList::{{ shortUsersSelectionList }}<br>-->
                <!--			customerRow::{{ customerRow }}<br>-->
                <!--			vueErrorsList::{{ vueErrorsList }}<br>-->

            </div> <!-- page_content_header -->


            <div class="editor_content_body_block card-body" v-show="is_page_loaded">




                        <div class="form-row mb-3">
                            <label class="col-12 col-sm-4 col-form-label" for="id">ID</label>
                            <div class="col-12 col-sm-8">
                                <input type="text" v-model="userRow.id" id="id" class="form-control editable_field" readonly>
                            </div>
                        </div>

                        <div class="form-row mb-3">
                            <label class="col-12 col-sm-4 col-form-label" for="username">Username</label>
                            <div class="col-12 col-sm-8">
                                <input type="text" id="Username" v-model="userRow.username" class="form-control" readonly>
                            </div>
                        </div>

                        <div class="form-row mb-3">
                            <label class="col-12 col-sm-4 col-form-label" for="email">Email</label>
                            <div class="col-12 col-sm-8">
                                <input type="text" id="email" v-model="userRow.email" class="form-control" readonly>
                            </div>
                        </div>



                        <div class="form-row mb-3">
                            <label class="col-12 col-sm-4 col-form-label" for="first_name">First name<span class="required"> * </span></label>
                            <div class="col-12 col-sm-8">
                                <input id="first_name" name="first_name" v-model="userRow.first_name" type="text" placeholder="Enter first name" :class="{
											'form-control':true, 'editable_field':true, 'input': true, 'text-danger': vueErrorsList.has('first_name') }"
                                       v-validate="'required|max:50'">
                                <span v-show="vueErrorsList.has('first_name')"
                                      class="text-danger">{{ clearErrorLabel(vueErrorsList.first('first_name')) }}</span>
                            </div>
                        </div>

                        <div class="form-row mb-3">
                            <label class="col-12 col-sm-4 col-form-label" for="last_name">Last name<span class="required"> * </span></label>
                            <div class="col-12 col-sm-8">
                                <input id="last_name" name="last_name" v-model="userRow.last_name" type="text" placeholder="Enter last_name"
                                       :class="{ 'form-control':true, 'editable_field':true, 'input':	true, 'text-danger': vueErrorsList.has('last_name') }"
                                       v-validate="'required|max:50'">
                                <span v-show="vueErrorsList.has('last_name')" class="text-danger">{{ clearErrorLabel(vueErrorsList.first('last_name')) }}</span>
                            </div>
                        </div>

                        <div class="form-row mb-3">
                            <label class="col-12 col-sm-4 col-form-label" for="phone">Phone</label>
                            <div class="col-12 col-sm-8">
                                <input id="phone" name="phone" v-model="userRow.phone" type="text" placeholder="Enter phone" :class="{ 'form-control':true,
											'editable_field':true, 'input':	true, 'text-danger': vueErrorsList.has('phone') }"
                                       v-validate="'required|max:255'">
                                <span v-show="vueErrorsList.has('phone')" class="text-danger">{{ clearErrorLabel(vueErrorsList.first('phone')) }}</span>
                            </div>
                        </div>

                        <div class="form-row mb-3">
                            <label class="col-12 col-sm-4 col-form-label" for="website">Website</label>
                            <div class="col-12 col-sm-8">
                                <input id="website" name="website" v-model="userRow.website" type="text" placeholder="Enter website" :class="{ 'form-control':true,
											'editable_field':true, 'input':	true, 'text-danger': vueErrorsList.has('website') }"
                                       v-validate="'required|max:100'">
                                <!--											|url: {require_protocol: false }}/-->
                                <span v-show="vueErrorsList.has('website')" class="text-danger">{{ clearErrorLabel(vueErrorsList.first('website')) }}</span>
                            </div>
                        </div>


                        <div class="form-row mb-3">
                            <label class="col-12 col-sm-12 col-form-label" for="notes">Notes</label>
                            <div class="col-12 col-sm-12">
                                <!--											<div style=" width:500px; height:400px; border: 2px dotted green;"  >-->
                                <div :style="'border: 0px dotted green; width:'+wysiwyg_editor_width+'px; outline-style: outset; outline-color:#eaeaea;' ">
                                    <wysiwyg
                                        v-model="userRow.notes"
                                    />
                                </div>
                            </div>
                        </div>


                        <div class="form-row mb-3">
                            <label class="col-12 col-sm-4 col-form-label">Created at</label>
                            <div class="col-12 col-sm-8">
                                <input type="text" v-model="created_at_label" class="form-control" readonly>
                            </div>
                        </div>

                        <div class="form-row mb-3" v-if="updated_at_label">
                            <label class="col-12 col-sm-4 col-form-label">Updated at</label>
                            <div class="col-12 col-sm-8">
                                <input type="text" v-model="updated_at_label" class="form-control" readonly>
                            </div>
                        </div>




            </div>

            <div class="card-footer">
                <editor-buttons submit_label="Submit" cancel_label="Cancel" :cancel_link="'/'" :is_page_updating="is_page_updating"></editor-buttons>
            </div>



    </div> <!-- <div class="page_content_container personal card p-2"> -->

</template>

<script>
    import {bus} from '../../../app';
    import appMixin from '../../../appMixin';
    //    import 'vue-color';
    //    import 'vue-color/dist/vue-color';


    // import { retrieveAppDictionaries } from "../../helpers/commonFuncs";
    //    import Multiselect from 'vue-multiselect'
    //    import validate from 'validate.js';

    import Vue from 'vue';
    import vSelect from 'vue-select'

    Vue.component('v-select', vSelect)

    import wysiwyg from "vue-wysiwyg"; // https://github.com/chmln/vue-wysiwyg
    Vue.use(wysiwyg, {
        maxHeight: "400px",
        width: "500px"
    });
    import 'vue-wysiwyg/dist/vueWysiwyg.css'       //
    //    var Chrome = VueColor.Chrome;
    import {Photoshop, Compact} from 'vue-color'


    /*
		import { compact } from 'vue-color' ;// https://github.com/xiaokaike/vue-color , https://codepen.io/Brownsugar/pen/NaGPKy
		var Chrome = VueColor.Chrome;
		Vue.component('colorpicker', {
			components: {
				'chrome-picker': Chrome,
			}
		});
	*/


    import Tabs from 'vue-nav-tabs/dist/vue-tabs.js' // https://github.com/cristijora/vue-tabs
    Vue.use(Tabs)

    import {VueTabs, VTab} from 'vue-nav-tabs/dist/vue-tabs.js'

    Vue.use(VueTabs)
    Vue.use(VTab)
    import 'vue-nav-tabs/themes/vue-tabs.css'
    import { /*deleteFromBookmarksKey,*/ getModalCalculatedWidth, getModalCalculatedHeight} from "../../../helpers/commonFuncs";


    export default {
        name: "Personal",
        components: {
            'photoshop-picker': Photoshop
        },
        data() {
            return {
                user_id: null,
                has_subscription: false,
                userRow: {
                    id: null,
                    username: '',
                    first_name: '',
                    last_name: '',
                    account_type: '',
                    status: '',
                    email: '',
                    phone: '',
                    website: '',
                    notes: ''
                },

                deviceParams: {},
                wysiwyg_editor_width: 500,
                personalOptions: {
                    access_to_privacy_details: '',
                    chat_background_color: '',
                    chat_color: '',
                    show_online_status: '',
                    skin_name: '',
                },

                selection_account_type: [],
                selection_status: [],
                selection_skin_name: [],

                errorsList: null,
                is_page_loaded: false,
                is_page_updating: false,
                // active_tab: "customerHostelBookmarks",
                active_tab: "Options",
                // active_tab: "Personal",
                // active_tab: "",
                hostel_id: null,
                message: '',
                settings_js_moment_datetime_format: '',
                personalIdValueArray: [],
                statesIdValueArray: [],
                subregionsIdValueArray: [],

            };
        },  // data() {

        mixins: [appMixin],


        watch: {
            customerStatusValueArray: function (newVal, oldVal) {
                if (newVal.length > 0) {
                    this.loadUser()
                }
            }
        },


        created() {
            this.user_id = this.currentLoggedUser.id
            this.height = "auto"


            this.deviceParams = this.effectiveDeviceWidth()
            // alert( "this.deviceParams::"+var_dump(this.deviceParams) )

            this.wysiwyg_editor_width = 800;  // lg

            if (parseInt(this.deviceParams.width) <= 1024) { // md
                this.wysiwyg_editor_width = 620;
            }

            if (parseInt(this.deviceParams.width) <= 768) { // sm
                this.wysiwyg_editor_width = 470;
            }

            if (parseInt(this.deviceParams.width) <= 600) {
                this.wysiwyg_editor_width = 420;
            }
            if (parseInt(this.deviceParams.width) <= 480) {
                this.wysiwyg_editor_width = 400;
            }
            if (parseInt(this.deviceParams.width) <= 320) {  // xs 320
                this.wysiwyg_editor_width = 280;
            }

        }, // created() {

        mounted() {
//            this.user_id = this.currentLoggedUser.id
//             this.loadUser();
            this.setAppTitle('Personal', 'Personal Page', bus);
            this.settings_js_moment_datetime_format = window.settings_js_moment_datetime_format
            bus.$on('dialog_confirmed', (paramsArray) => {
                alert("resources/js/components/BS4/personal/Personal.vue:: " + var_dump(paramsArray))
                if (paramsArray.key == this.personalRemoveAccount()) {
                    this.runPersonalRemoveAccount();
                }
                // if ( paramsArray.key == this.deleteFromBookmarksKey(paramsArray.hostel_id) ) {
                //     this.runDeleteFromBookmarks(paramsArray.hostel_id, paramsArray.hostel);
                // }
            })

//             bus.$on('dialog_confirmed', (paramsArray) => {
// //                alert( "dialog_confirmed paramsArray::"+var_dump(paramsArray) )
//                 if ( paramsArray.key == this.deleteFromBookmarksKey(paramsArray.hostel_id) ) {
//                     this.runDeleteFromBookmarks(paramsArray.hostel_id, paramsArray.index);
//                 }
//             })

            this.$store.dispatch('storeRetrieveDictionaries', ['customerAccountTypeValueArray', 'customerStatusValueArray', 'customerSkinsArray']);


            //effectiveDeviceWidth
        }, // mounted() {

        beforeDestroy() {
            bus.$off('dialog_confirmed')
        },

        methods: {
            // 														<button class="btn btn-primary" @click.prevent="showColorDialog('chat_font_color')">

            changeTab() {
                this.tabName = this.tabToChange
            },

            cancelColorPicker() {
                // alert( "cancelColorPicker::"+var_dump(-78) )
                // this.new_user_list_title = ''
                // this.selection_existing_user_list_id = ''
                // this.user_list_label = ' -Select- '
                this.vueErrorsList.clear();
                this.$modal.hide('modal-color-picker');
                this.select_color_type = {}
            },




            tabClicked(selectedTab) {
                console.log('Current tab re-clicked:' + selectedTab.tab.name);
            },
            tabChanged(selectedTab) {
                console.log('Tab changed to:' + selectedTab.tab.name);
            },


            loadUser() {
                this.is_page_loaded = false

                // alert( "window.API_VERSION_LINK::"+var_dump(window.API_VERSION_LINK) )
                axios.get(window.API_VERSION_LINK + '/personal/personal/' + this.user_id).then((response) => {
                    // debugger
                    this.userRow = response.data.user;
                    this.personalOptions = response.data.personalOptions;

                    this.customerAccountTypeValueArray.map((nextCustomerAccountTypeValue, index) => {
                        // debugger
                        if (nextCustomerAccountTypeValue.key == this.userRow.account_type) {
                            this.selection_account_type = {key: this.userRow.account_type, label: nextCustomerAccountTypeValue.label};
                        }
                    });

                    this.customerStatusValueArray.map((nextCustomerStatusValue, index) => {
                        if (nextCustomerStatusValue.key == this.userRow.status) {
                            this.selection_status = {key: this.userRow.status, label: nextCustomerStatusValue.label};
                        }
                    });

                    // customerSkinsArray
                    /*
										debugger
											this.customerSkinsArray.map((nextSkin, index) => {
												if (nextSkin.key == 'BS4') {
													this.selection_skin_name = {key: nextSkin.key, label: nextSkin.label};
												}
											});
					*/

                    // this.$store.dispatch( 'storeRetrieveDictionaries', ['customerAccountTypeValueArray','customerStatusValueArray', 'hostelFeatureValueArray'] );
                    this.is_page_loaded = true;
                    // this.showColorDialog('chat_font_color'); // DEBUGGING
                }).catch((error) => {
                    console.error(error)
                    if (error.response.data.error_code == 11) {
                        this.showPopupMessage('Personal', error.response.data.message, 'warn');
                        this.$router.push({path: '/'});
                    }
                    this.is_page_loaded = true
                });


            }, // loadUser() {


            // clearErrorLabel(s) {
            //     if (typeof s == "undefined") return "";
            //     return this.Capitalize(s.replace(/userRow./g, "").replace(/_/g, " "))
            // }

        }, // methods: {


        computed: {
            header_title: function () {
                // if (!this.is_insert) return "Edit customer";
                return "Personal Area";
            },

            modalWidth() {
                var deviceParams = this.effectiveDeviceWidth()
                var calculated_width = getModalCalculatedWidth(deviceParams.width) - 20
                return calculated_width;
            },

            modalHeight() {
                var deviceParams = this.effectiveDeviceWidth()
                var calculated_height = getModalCalculatedHeight(deviceParams.height)
                return calculated_height;
            },

            set_btn_chat_font_color() {
                if (typeof this.personalOptions.chat_color != 'undefined') {
                    return 'backgroundColor:' + this.personalOptions.chat_color
                }
                return '#ccc'
            },

            hostelFeatureValueArray() {
                return this.$store.getters.hostelFeatureValueArray;
            },
            hostelBookmarks() {
                return this.$store.getters.hostelBookmarks;
            },


            forumPostBookmarks() {
                return this.$store.getters.forumPostBookmarks;
                /*  ad_forum_post_bookmark
    id	bigint(20) unsigned Автоматическое приращение
    user_id	int(10) unsigned
    forum_post_id	bigint(20) unsigned
    info	varchar(255) NULL
    created_at	timestamp [CURRENT_TIMESTAMP] */
            },


            /* ad_forum_post_user_subscribed
id	bigint(20) unsigned Автоматическое приращение
user_id	int(10) unsigned
forum_post_id	bigint(20) unsigned
created_at	timestamp [CURRENT_TIMESTAMP] */
            forumPostsUserSubscribed() {
                return this.$store.getters.forumPostsUserSubscribed;
            },

            currentLoggedUser() {
                return this.$store.getters.currentLoggedUser;
            },
            // personalOptions() {
            //     return this.$store.getters.personalOptions;
            // },
            authError() {
                return this.$store.getters.authError;
            },
            customerStatusValueArray() {
                return this.$store.getters.customerStatusValueArray;
            },
            customerSkinsArray() {
                return this.$store.getters.customerSkinsArray;
            },
            customerAccountTypeValueArray() {
                return this.$store.getters.customerAccountTypeValueArray;
            },

            last_login_label: function () {
                return this.momentDatetime(this.personalOptions.last_login, this.settings_js_moment_datetime_format);
            },

            chat_last_visit_label: function () {
                return this.momentDatetime(this.personalOptions.chat_last_visit, this.settings_js_moment_datetime_format);
            },
            created_at_label: function () {
                return this.momentDatetime(this.userRow.created_at, this.settings_js_moment_datetime_format);
            },
            updated_at_label: function () {
                return this.momentDatetime(this.userRow.updated_at, this.settings_js_moment_datetime_format);
            },


            status_label: function () {
                return this.selection_status.label;
            }
        }
    }

    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof (oElem) == 'string' || typeof (oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof (oElem) == 'innerHTML' || typeof (oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }

</script>

<style scoped>
    .error {
        text-align: center;
        color: red;
    }

</style>
