<template>

	<div class="page_content_container">

        <listing-header :show_loading_image=!is_page_loaded :no_data_found_label="''" :header_icon="getHeaderIcon('admin_feedback')" :header_title="header_title"
                        :message=message :item_title="''" parent_component_key="admin_feedback" :right_icon="'fa fa-refresh'"></listing-header>

        <!--		https://bootsnipp.com/snippets/4Mzzm-->
		<section v-show="is_debug">
			usedDays: {{ usedDays}}<br>
<!--            hostelInqueriesEvents: {{ hostelInqueriesEvents}}<br>-->
<!--			hostelInqueriesStatusValueArray: {{ hostelInqueriesStatusValueArray}}<br>-->
<!--			feedbackHostelInqueries::{{ feedbackHostelInqueries }}-->
<!--			feedbackForumPostReportAbuses::{{ feedbackForumPostReportAbuses }}<br><br><hr>-->
<!--			usedForumPosts::{{ usedForumPosts }}<br>-->
		</section>     <!-- class="page_content_header" -->


		<section class="page_content_header p-3">
			<h3 class="app_title">
				<i :class="getHeaderIcon('admin_feedback')"></i> Admin's Feedback
			</h3>
		</section>


		<div class="row_content mb-5" v-show="is_page_loaded">
			<div class="hostel_items_listings_container m-4">





<!--                <date-picker-->
<!--                    :class="{ 'form-control':true, 'editable_field':true, 'input':true, 'text-danger': vueErrorsList.has('new_hostel_inquery_start_date') }"-->
<!--                    :first-day-of-week="1"-->
<!--                    :format="'DD MMM YYYY'"-->
<!--                    :lang="lang"-->
<!--                    :time-picker-options="timePickerOptions"-->
<!--                    v-validate="'required'"-->
<!--                    data-vv-name="new_hostel_inquery_start_date"-->
<!--                    id="new_hostel_inquery_start_date"-->
<!--                    v-model="new_hostel_inquery_start_date"-->
<!--                >-->
<!--                </date-picker>-->
<!--                <div class="text-danger" v-show="vueErrorsList.has('new_hostel_inquery_start_date')">-->
<!--                    {{ clearErrorLabel(vueErrorsList.first('new_hostel_inquery_start_date')) }}-->
<!--                &lt;!&ndash;                            |after:new_hostel_inquery_start_date&ndash;&gt;-->
<!--                <date-picker-->
<!--                    :class="{ 'form-control':true, 'editable_field':true, 'input':true, 'text-danger': vueErrorsList.has('new_hostel_inquery_end_date') }"-->
<!--                    :first-day-of-week="1"-->
<!--                    :format="'DD MMM YYYY'"-->
<!--                    :lang="lang"-->
<!--                    :time-picker-options="timePickerOptions"-->
<!--                    v-validate="'required'"-->
<!--                    data-vv-name="new_hostel_inquery_end_date"-->
<!--                    id="new_hostel_inquery_end_date"-->
<!--                    v-model="new_hostel_inquery_end_date"-->
<!--                >-->
<!--                </date-picker>-->




                <h3>Hostel Inqueries</h3>


                <fieldset class="blocks text-muted p-0 m-0">
                    <legend class="blocks"><span class="legend_title">Filters</span></legend>


                    <div class="filter_box_columns">
                        <div class="filter_box_items_row">
                            <label class="filter_box_input_label" for="filter_name">Filter by name</label>
                            <input class="filter_box_input" name="filter_name" id="filter_name" type="input" value="" v-model="filter_name"
                                   v-on:change="hostelsStatusFilterApplied(filter_status)">
                        </div>
                        <div class="filter_box_items_row">
                            <div class="filter_box_radio_cell">
                                <input name="filter_status" id="filter_status_all" type="radio" value="all" v-model="filter_status" v-on:click="hostelsStatusFilterApplied('all')"
                                       class="filter_box_radio">
                                <label class="filter_box_radio_label" for="filter_status_all">All Hostels</label>
                            </div>
                            <div class="filter_box_radio_cell">
                                <input name="filter_status" id="filter_status_active" type="radio" value="active" v-model="filter_status"
                                       v-on:click="hostelsStatusFilterApplied('active')" class="filter_box_radio">
                                <label class="filter_box_radio_label" for="filter_status_active">Active</label>
                            </div>
                            <div class="filter_box_radio_cell">
                                <input name="filter_status" id="filter_status_inactive" type="radio" value="inactive" v-model="filter_status"
                                       v-on:click="hostelsStatusFilterApplied('inactive')" class="filter_box_radio">
                                <label class="filter_box_radio_label" for="filter_status_inactive">Inactive</label>
                            </div>
                            <div class="filter_box_radio_cell">
                                <input name="filter_status" id="filter_status_new" type="radio" value="new" v-model="filter_status" v-on:click="hostelsStatusFilterApplied('new')"
                                       class="filter_box_radio">
                                <label class="filter_box_radio_label" for="filter_status_new">New</label>
                            </div>
                        </div>

                        <div class="filter_box_items_row">
                            <div class="filter_box_radio_cell">
                                <input name="filter_feature" id="filter_feature_all" type="radio" value="all" v-model="filter_feature" v-on:click="hostelsFeatureFilterApplied('all')"
                                       class="filter_box_radio">
                                <label class="filter_box_radio_label" for="filter_feature_all">All Hostels</label>
                            </div>
                            <div class="filter_box_radio_cell">
                                <input name="filter_feature" id="filter_feature_active" type="radio" value="feature" v-model="filter_feature"
                                       v-on:click="hostelsFeatureFilterApplied('feature')" class="filter_box_radio">
                                <label class="filter_box_radio_label" for="filter_feature_active">Feature</label>
                            </div>
                            <div class="filter_box_radio_cell">
                                <input name="filter_feature" id="filter_feature_inactive" type="radio" value="not_feature" v-model="filter_feature"
                                       v-on:click="hostelsFeatureFilterApplied('not_feature')" class="filter_box_radio">
                                <label class="filter_box_radio_label" for="filter_feature_inactive">Not Feature</label>
                            </div>
                        </div>
                    </div>

                </fieldset>



                <!--                periodStart::{{ periodStart }}-->
                <p class="m-2 description-text" style="color:red">For this app some demo data are shown.</p>

                <calendar-view
                    :show-date="periodStart"
                    @click-date="clickDate"
                    @click-event="clickEvent"
                    @show-date-change="showDateChange"
                    :showEventTimes=true
                    :startingDayOfWeek=1
                    :class="themeClasses"
                    :events="hostelInqueriesEvents"
                    :disablePast="false"
                    :height="'22em'"
                    :eventContentHeight="'5.4em'"
                >
                    <calendar-view-header
                        slot="header"
                        slot-scope="t"
                        :header-props="t.headerProps"
                        @input="setShowDate"
                    />

                </calendar-view>
<!--
                <calendar-view
                    :show-date="showDate"
                    @click-date="clickDate"
                    @click-event="clickEvent"
                    @show-date-change="showDateChange"
                    :showEventTimes=true
                    :startingDayOfWeek=1
                    :class="themeClasses"
                    :events="hostelInqueriesEvents"
                    :periodStart="'2013-08-01'"
                    :currentPeriod="'2013-08-01'"
                    :disablePast="false"
                    :height="'22em'"
                    :eventContentHeight="'5.4em'"
                >
                    <calendar-view-header
                        slot="header"
                        slot-scope="t"
                        :header-props="t.headerProps"
                        @input="setShowDate"
                    />

                </calendar-view>
-->
            </div>
        </div>


            <div class="row_content mb-5" v-show="is_page_loaded">
			<div class="hostel_items_listings_container m-4">


<!--				<listing-header :show_loading_image="!is_page_loaded" :itemsList="feedbackHostelInqueries" :rows_count="feedbackHostelInqueries.length"-->
<!--				                :header_icon="getHeaderIcon('inqueries')" :right_add_button_link="'editHostel'" :right_add_button_link_title="'New Hostel'"-->
<!--				                :item_title="'Hostel Inqueries'" :message=message-->
<!--				                parent_component_key="admin_feedback_hostel_inqueries">-->
<!--				</listing-header>-->

				<template v-for="nextUsedDay, index in usedDays">

					<h4 class="hostel_item_title">
						<i :class="'i_link '+getHeaderIcon('inqueries')"></i>&nbsp;<strong>{{ momentDatetime(nextUsedDay, settings_js_moment_date_format)
						}}:</strong>
					</h4>

					<template class="hostel_item_content" v-for="nextFeedbackHostelInquery, index2 in feedbackHostelInqueries">

						<div class="column_content_left_aligned m-3 bottom_split_border" v-if="nextFeedbackHostelInquery.start_date == nextUsedDay">
							<div class="p-2 pt-3">
								{{ nextFeedbackHostelInquery.id}}:
								<i class="fa fa-2x fa-american-sign-language-interpreting"
								   :style="setColorByStatus(nextFeedbackHostelInquery.status)"
								   :title="setTitleByStatus(nextFeedbackHostelInquery.status)">
								</i>&nbsp;Enquery on dates :
								<strong>{{ momentDatetime(nextFeedbackHostelInquery.start_date, settings_js_moment_date_format) }} -
									{{ momentDatetime(nextFeedbackHostelInquery.end_date, settings_js_moment_date_format) }}
								</strong>
							</div>

							<div class="p-2">
								<i :class="'i_link '+getHeaderIcon('users')"></i>&nbsp;status:
								<strong>{{ setTitleByStatus(nextFeedbackHostelInquery.status) }}</strong>
							</div>

							<div class="p-2">
								<i :class="'i_link '+getHeaderIcon('users')"></i>&nbsp;By <strong>{{ nextFeedbackHostelInquery.full_name}}</strong>
							</div>

							<div class="p-2" v-if="nextFeedbackHostelInquery.request_callback == 'Y'">
								<i :class="'i_link '+getHeaderIcon('request_callback')"></i>&nbsp;<strong> Request callback</strong>
							</div>

							<div v-if="nextFeedbackHostelInquery.email" class="p-2">
								<i :class="'i_link '+getHeaderIcon('email')"></i>&nbsp;Email : <strong> {{ nextFeedbackHostelInquery.email }}</strong>
							</div>

							<div v-if="nextFeedbackHostelInquery.phone" class="p-2">
								<i :class="'i_link '+getHeaderIcon('phone')"></i>&nbsp;Phone: <strong> {{ nextFeedbackHostelInquery.phone }}</strong>
							</div>

							<div v-if="nextFeedbackHostelInquery.created_at" class="p-2">
								Created at : <strong> {{ momentDatetime( nextFeedbackHostelInquery.created_at, settings_js_moment_datetime_format ) }}</strong>
							</div>

							<p class="card-text m-2 description-text" v-html="nextFeedbackHostelInquery.info"></p>

							<div class="row_content m-2 ml-4">
								<div class="p-1 m-0" style="display: flex; align-items: center">
									<router-link :to="{ name: 'editHostel', params: { id: nextFeedbackHostelInquery.hostel_id } }" class="a_link"
									             target="_blank">
										<i :class="'i_link '+getHeaderIcon('hostel')"></i> Open Hostel Editor
									</router-link>
								</div>

								<div class="p-1 m-0" style="align-items: center">
									<button type="button" class="btn"
									        @click="removeHostelInquery(nextFeedbackHostelInquery.id, nextFeedbackHostelInquery.full_name)">
										<i :class="'i_link '+getHeaderIcon('remove')"></i>&nbsp;Remove
									</button>
								</div>
							</div>

						</div>

					</template>

				</template> <!-- class="hostel_item_container" -->

			</div> <!-- 		<div class="hostel_items_listings_container mb-5"> -->



<!--			feedbackForumPostReportAbuses::{{ feedbackForumPostReportAbuses }}<br>-->
<!--			usedForumPosts::{{ usedForumPosts }}<br>-->

			<div class="hostel_items_listings_container m-4">
<!--				<listing-header :show_loading_image="!is_page_loaded" :itemsList="feedbackHostelInqueries" :rows_count="feedbackHostelInqueries.length"-->
<!--				                :header_icon="getHeaderIcon('inqueries')" :right_add_button_link="'editHostel'" :right_add_button_link_title="'New Hostel'"-->
<!--				                :item_title="'Hostel Inqueries'" :message=message-->
<!--				                parent_component_key="admin_feedback_hostel_inqueries">-->
<!--				</listing-header>-->

<!--				"forum_post_id": 8, "forum_post_body":-->
				<template v-for="nextUsedForumPost, index in usedForumPosts">

					<h4 class="hostel_item_title">
						<i :class="'i_link '+getHeaderIcon('inqueries')"></i>&nbsp;<strong>{{ nextUsedForumPost.text }}:</strong>
					</h4>

					<template class="hostel_item_content" v-for="nextFeedbackForumPostReportAbuse, index2 in feedbackForumPostReportAbuses">

						<div class="column_content_left_aligned m-3 bottom_split_border" v-if="nextFeedbackForumPostReportAbuse.forum_post_id == nextUsedForumPost.id">
							<div class="p-2 pt-3">
								{{ nextFeedbackForumPostReportAbuse.id}}:
<!--								<i class="fa fa-2x fa-american-sign-language-interpreting"-->
<!--								   :style="setColorByStatus(nextFeedbackForumPostReportAbuse.status)"-->
<!--								   :title="setTitleByStatus(nextFeedbackForumPostReportAbuse.status)">-->
<!--								</i>&nbsp;Enquery on dates :-->
<!--								<strong>{{ momentDatetime(nextFeedbackForumPostReportAbuse.start_date, settings_js_moment_date_format) }} - -->
<!--									{{ momentDatetime(nextFeedbackForumPostReportAbuse.end_date, settings_js_moment_date_format) }}-->
<!--								</strong>-->
							</div>

							<div class="p-2">
								<i :class="'i_link '+getHeaderIcon('text')"></i>&nbsp;Content:
								<strong>{{ nextFeedbackForumPostReportAbuse.text }}</strong>
							</div>

<!--
							<div class="p-2">
								<i :class="'i_link '+getHeaderIcon('users')"></i>&nbsp;By <strong>{{ nextFeedbackForumPostReportAbuse.full_name}}</strong>
							</div>

							<div class="p-2" v-if="nextFeedbackForumPostReportAbuse.request_callback == 'Y'">
								<i :class="'i_link '+getHeaderIcon('request_callback')"></i>&nbsp;<strong> Request callback</strong>
							</div>

							<div v-if="nextFeedbackForumPostReportAbuse.email" class="p-2">
								<i :class="'i_link '+getHeaderIcon('email')"></i>&nbsp;Email : <strong> {{ nextFeedbackForumPostReportAbuse.email }}</strong>
							</div>

							<div v-if="nextFeedbackForumPostReportAbuse.phone" class="p-2">
								<i :class="'i_link '+getHeaderIcon('phone')"></i>&nbsp;Phone: <strong> {{ nextFeedbackForumPostReportAbuse.phone }}</strong>
							</div>

							<div v-if="nextFeedbackForumPostReportAbuse.created_at" class="p-2">
								Created at : <strong> {{ momentDatetime( nextFeedbackForumPostReportAbuse.created_at, settings_js_moment_datetime_format ) }}</strong>
							</div>

							<p class="card-text m-2 description-text" v-html="nextFeedbackForumPostReportAbuse.info"></p>

							<div class="row_content m-2 ml-4">
								<div class="p-1 m-0" style="display: flex; align-items: center">
									<router-link :to="{ name: 'editHostel', params: { id: nextFeedbackForumPostReportAbuse.hostel_id } }" class="a_link"
									             target="_blank">
										<i :class="'i_link '+getHeaderIcon('hostel')"></i> Open Hostel Editor
									</router-link>
								</div>

								<div class="p-1 m-0" style="align-items: center">
									<button type="button" class="btn"
									        @click="removeHostelInquery(nextFeedbackForumPostReportAbuse.id, nextFeedbackForumPostReportAbuse.full_name)">
										<i :class="'i_link '+getHeaderIcon('remove')"></i>&nbsp;Remove
									</button>
								</div>
							</div>

-->
						</div>

					</template>

				</template> <!-- class="hostel_item_container" -->

			</div>
		</div>


	</div> <!-- 	<div class="page_content_container"> -->

</template>

<script>

    import {bus} from '../../../../app';
    import appMixin from '../../../../appMixin';
    import {retrieveAppDictionaries} from "../../../../helpers/commonFuncs";
    import { CalendarView, CalendarViewHeader } from "vue-simple-calendar" // https://github.com/richardtallent/vue-simple-calendar
    // The next two lines are processed by webpack. If you're using the component without webpack compilation,
    // you should just create <link> elements for these. Both are optional, you can create your own theme if you prefer.
    require("vue-simple-calendar/static/css/default.css")
    require("vue-simple-calendar/static/css/holidays-us.css")

    export default {
        mixins: [appMixin],

        components: {
            CalendarView,
            CalendarViewHeader,
        },
        created() {
            this.periodStart= new Date(2013, 7, 1);

        }, //  created() {

        mounted() {
            retrieveAppDictionaries(['hostelInqueriesStatusValueArray']);
            bus.$on('appDictionariesRetrieved', (data) => {
                console.log("data::")
                console.log(data)
                this.hostelInqueriesStatusValueArray = data.hostelInqueriesStatusValueArray
            })

            this.settings_js_moment_date_format = window.settings_js_moment_date_format
            this.settings_js_moment_datetime_format = window.settings_js_moment_datetime_format
            this.loadAcceptedHostelsInqueries()
            // this.loadForumPostReportAbuses()
            this.setAppTitle('Backend', 'Dashboard', bus);
        },

        beforeDestroy() {
        },


        data() {
            return {
                is_debug: true,
                message: '',
                is_page_loaded: false,
                selected_feedback_operation: false,
                usedDays: [],
                hostelInqueriesEvents: [],
                feedbackHostelInqueries: [],
                usedForumPosts: [],
                feedbackForumPostReportAbuses: [],
                settings_js_moment_date_format: '',
                settings_js_moment_datetime_format: '',
                hostelInqueriesStatusValueArray: [],
                periodStart: null,

            }
        },

        methods: {
            showDateChange(d) {
                console.log("showDateChange d::")
                console.log( d )
            },

            setShowDate(d) {
                console.log("setShowDate d::")
                console.log( d )

                this.showDate = d;
            },

            displayPeriodUom(d) {
                return 'displayPeriodUom';
                console.log("displayPeriodUom d::")
                console.log( d )
            },

            clickDate(date, windowEvent) {  // when current month is changed
               console.log("clickDate() windowEvent::")
               console.log( windowEvent )

               console.log("clickDate() date::")
               console.log( date )

            }, // clickDate(date, windowEvent) {  // when current month is changed

            themeClasses(date, windowEvent) {  //
                console.log("themeClasses() windowEvent::")
                console.log(windowEvent)
                console.log("themeClasses() date::")
                console.log(date)
                return 'SSS';
            },

            clickEvent(date, windowEvent) {  //
/*

                console.log("clickEvent() windowEvent::")
                console.log( windowEvent )

                console.log("clickEvent() date::")
                console.log( date )
                console.log("date.originalEvent::")
                console.log( date.originalEvent )
*/

                let routeData = this.$router.resolve(  { path: '/admin/hostels/' + date.originalEvent.hostel_id +"/open_hostel_inquery_feedback/"+date.id});
                window.open(routeData.href, '_blank'); //https://stackoverflow.com/questions/40015037/can-vue-router-open-a-link-in-a-new-tab
            },

            setColorByStatus(status) {
                if (status == 'A') return 'color:red;';
                return 'color:blue;';
            },
            setTitleByStatus(status) {
                if (status == 'A') return 'Accepted';
                if (status == 'N') return 'New';
            },
            loadAcceptedHostelsInqueries() {
                // alert("loadAcceptedHostelsInqueries::" + (-7))
                this.is_page_loaded = false
                axios.get(window.API_BACKEND_VERSION_LINK + '/admin/get_new_accepted_hostels_inqueries', {})
                    .then((response) => {
                        this.usedDays = response.data.usedDays
                        this.hostelInqueriesEvents = response.data.hostelInqueriesEvents
                        this.feedbackHostelInqueries = response.data.feedbackHostelInqueries
                        this.is_page_loaded = true
                    })
                    .catch((error) => {
                        console.error(error)
                        this.showPopupMessage("Hostels inqueries", 'Error loading new hostels inqueries!', 'warn');
                    });

                this.is_page_loaded = true

            }, // loadAcceptedHostelsInqueries() {

            loadForumPostReportAbuses() {
                // alert("loadForumPostReportAbuses::" + (-7))
                this.is_page_loaded = false
                axios.get(window.API_BACKEND_VERSION_LINK + '/admin/get_forum_post_report_abuses', {})
                    .then((response) => {
                        console.log("+11 response.data::")
                        console.log( response.data )

                        this.usedForumPosts = response.data.usedForumPosts
                        this.feedbackForumPostReportAbuses = response.data.feedbackForumPostReportAbuses
                        this.is_page_loaded = true
                    })
                    .catch((error) => {
                        console.error(error)
                        this.showPopupMessage("Hostels inqueries", 'Error loading forum post report abuses!', 'warn');
                    });

                this.is_page_loaded = true

            }, // loadForumPostReportAbuses() {

            removeHostelInquery(hostel_inquery_id, hostel_inquery_creator_name) {

                if (!confirm("Do you want to delete '" + hostel_inquery_creator_name + "' hostel enquery ?")) return;
                axios.delete(window.API_BACKEND_VERSION_LINK + '/admin/hostel_inquery_destroy/' + hostel_inquery_id).then((response) => {
                    this.loadAcceptedHostelsInqueries()
                    this.showPopupMessage("Hostel Enquery", "Hostel Enquery deleted successfully !", 'success');
                }).catch((error) => {
                    console.error(error)
                    this.showPopupMessage("Hostel Enquery", 'Error deleting Hostel Enquery. ', 'warn');
                });
            }, //removeHostelInquery(hostel_inquery_id, hostel_inquery_creator_name, index) {


        },

        computed: {
            header_title() {
                return "Admin feedback";
            },

        },
    }

    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof (oElem) == 'string' || typeof (oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof (oElem) == 'innerHTML' || typeof (oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }


</script>


<style lang="scss" scoped>
	@import "./resources/sass/_variables.scss";

    /*.cv-day.outsideOfMonth .cv-day-number {*/
    /*    display:none;*/
    /*}*/

    /*.cv-day.outsideOfMonth:not(dow6):not(.last) {*/
    /*    border-right-color: transparent;*/
    /*}*/

    .cv-event {
        white-space: normal !important;
        border: 2px dotted green !important;
    }
    .cv-event {
        max-height: 200px !important;
        border: 2px dotted blue !important;
    }
    /*#app {*/
    /*    font-family: 'Avenir', Helvetica, Arial, sans-serif;*/
    /*    color: #2c3e50;*/
    /*    height: 67vh;*/
    /*    width: 90vw;*/
    /*    margin-left: auto;*/
    /*    margin-right: auto;*/
    /*}*/

	.news_page {
		display: flex;
		flex: 1;
		flex-direction: column;
		//flex-basis: auto;
		margin: 10px;
		margin-bottom: 30px;
		border-bottom: $border-separator-color;
	}

	.admin_feedback_listings_container {
		display: flex;
		flex-direction: column;
		border: 0px dotted blue;
		background-color: $background_color;
		flex: 1;
		margin: 20px;
	}


</style>
