<template>
    <div class="backend_listing_container card">

        <div class="backend_listing_title">

            <listing-header :show_loading_image=!is_page_loaded :no_data_found_label="''" :header_icon="getHeaderIcon('dashboard')" :header_title="header_title"
                            :message=message :item_title="''" parent_component_key="dashboard" :right_icon="'fa fa-refresh'"></listing-header>

            accepted_hostel_inqueries_count::{{ maccepted_hostel_inqueries_count }}

            <fieldset v-show="is_debug">
                <legend class="blocks">debug:</legend>
                is_page_loaded: {{ is_page_loaded}}<br>
                hostelFacilitiesCountByFacilityIdArray::{{ hostelFacilitiesCountByFacilityIdArray}}
                colorsList::{{ colorsList }}<br>
                newHostelInqueriesCountByStatesArray::{{ newHostelInqueriesCountByStatesArray}}
                <!--is_page_loaded: {{ is_page_loaded}}<br>-->
                <!--hostels_active_count: {{ hostels_active_count}}<br>-->
                <!--hostels_inactive_count: {{ hostels_inactive_count}}<br>-->
                <!--hostels_new_count: {{ hostels_new_count}}<br>-->
                hostels_all_count: {{ hostels_all_count}}<br>
                customers_all_count: {{ customers_all_count}}<br>
                <!--hostelFeatureValueArray: {{ hostelFeatureValueArray}}<br>-->
                <!--hostelStatusValueArray: {{ hostelStatusValueArray }} <br>-->
            </fieldset>


        </div> <!-- backend_listing_title -->




        <div class="backend_listing_content card-body listing_content_body_block" v-show="is_page_loaded" style="width: 100%;">

            <div class="content_blocks_in_rows">
                <div class="row_content_block">
                    1:1
                </div>


                <div class="row_content_block">
                    1:2
                </div>
            </div>

            <div class="content_blocks_in_rows">
                <div class="row_content_block" v-show="is_debug">

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="offer offer-default">
                                <div class="shape">
                                    <div class="shape-text">
                                        top 1:1
                                    </div>
                                </div>
                                <div class="offer-content">
                                    <h3 class="lead">
                                        A default offer
                                    </h3>
                                    <p>
                                        And a little description.
                                        <br> and so one
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="offer offer-success">
                                <div class="shape">
                                    <div class="shape-text">
                                        top
                                    </div>
                                </div>
                                <div class="offer-content">
                                    <h3 class="lead">
                                        A success offer
                                    </h3>
                                    <p>
                                        And a little description.
                                        <br> and so one
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="offer offer-radius offer-primary">
                                <div class="shape">
                                    <div class="shape-text">
                                        top
                                    </div>
                                </div>
                                <div class="offer-content">
                                    <h3 class="lead">
                                        A primary-radius
                                    </h3>
                                    <p>
                                        And a little description.
                                        <br> and so one
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="offer offer-info">
                                <div class="shape">
                                    <div class="shape-text">
                                        top
                                    </div>
                                </div>
                                <div class="offer-content">
                                    <h3 class="lead">
                                        An new info offer
                                    </h3>
                                    <p>
                                        And a little description.
                                        <br> and so one
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="offer offer-warning">
                                <div class="shape">
                                    <div class="shape-text">
                                        top
                                    </div>
                                </div>
                                <div class="offer-content">
                                    <h3 class="lead">
                                        A warning offer
                                    </h3>
                                    <p>
                                        And a little description.
                                        <br> and so one
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="offer offer-radius offer-danger">
                                <div class="shape">
                                    <div class="shape-text">
                                        top
                                    </div>
                                </div>
                                <div class="offer-content">
                                    <h3 class="lead">
                                        A danger-radius
                                    </h3>
                                    <p>
                                        And a little description.
                                        <br> and so one
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div> <!-- <div class="content_blocks_in_rows"> -->

            <div class="content_blocks_in_rows">
                <div class="row_content_block">


                    <fieldset class="bordered text-muted p-2 m-0">
                        <legend class="bordered"><span class="legend_title">
                            <i :class="getHeaderIcon('hostel')"></i>Hostels</span>
                        </legend>


                        <div class="list-group" style="width: 100%;">

                            <div class="key_values_rows p-3" v-show="hostels_all_count">
                                <div class="key_values_rows_label">
                                    Hostels in system:
                                </div>
                                <div class="key_values_rows_value">
                                    <router-link to="/admin/hostels" target="_blank">
                                        <span class="badge badge-primary badge-pill">{{ hostels_all_count }}</span>
                                    </router-link>
                                </div>
                            </div>

                            <div class="key_values_rows p-3" v-show="hostels_active_count">
                                <div class="key_values_rows_label">
                                    Active hostels:
                                </div>
                                <div class="key_values_rows_value">
                                    <router-link :to="{ name: 'filterListHostels', params: { filter: 'active' } }" target="_blank">
                                        <span class="badge badge-primary badge-pill">{{ hostels_active_count }}</span>
                                    </router-link>
                                </div>
                            </div>

<!--                            children: [-->
<!--                            {-->
<!--                            path: '/admin/hostels/filter/:filter',-->
<!--                            component: hostelsFilterList,-->
<!--                            name: 'filterListHostels'-->
<!--                            },-->

                            <div class="key_values_rows p-3" v-show="hostels_inactive_count">
                                <div class="key_values_rows_label">
                                    Inactive hostels:
                                </div>
                                <div class="key_values_rows_value">
                                    <router-link :to="{ name: 'filterListHostels', params: { filter: 'inactive' } }" target="_blank">
                                        <span class="badge badge-primary badge-pill">{{ hostels_inactive_count }}</span>
                                    </router-link>
                                </div>
                            </div>

                            <div class="key_values_rows p-3" v-show="hostels_new_count">
                                <div class="key_values_rows_label">
                                    New hostels:
                                </div>
                                <div class="key_values_rows_value">
                                    <router-link :to="{ name: 'filterListHostels', params: { filter: 'new' } }" target="_blank">
                                        <span class="badge badge-primary badge-pill">{{ hostels_new_count }}</span>
                                    </router-link>
                                </div>
                            </div>

                            <div class="key_values_rows p-3" v-show="new_hostel_inqueries_count">
                                <div class="key_values_rows_label">
                                    With New Hostel Enqueries
                                </div>
                                <div class="key_values_rows_value">
                                    <router-link :to="{ name: 'filterListHostels', params: { filter: 'with_new_hostel_inqueries' } }" target="_blank">
                                        <span class="badge badge-info badge-pill">{{ new_hostel_inqueries_count }}</span>
                                    </router-link>
                                </div>
                            </div>

                            <div class="key_values_rows p-3" v-show="accepted_hostel_inqueries_count">
                                <div class="key_values_rows_label">
                                    With Accepted Hostel Enqueries
                                </div>
                                <div class="key_values_rows_value">
                                    <router-link :to="{ name: 'filterListHostels', params: { filter: 'with_accepted_hostel_inqueries' } }" target="_blank">
                                        <span class="badge badge-info badge-pill">{{ accepted_hostel_inqueries_count }}</span>
                                    </router-link>
                                </div>
                            </div>

                            <div class="key_values_rows p-3">
                                <div class="key_values_rows_label">
                                    Add Hostel:
                                </div>
                                <div class="key_values_rows_value">
                                    <router-link :to="{ name: 'newHostel' }">
                                        <span class="badge badge-info badge-pill"><i :class="getHeaderIcon('hostel')"></i></span>
                                    </router-link>
                                </div>
                            </div>

                        </div>

                    </fieldset>  <!-- Hostels -->

                </div>

                <div class="row_content_block">
                    <fieldset class="bordered text-muted p-2 m-0">
                        <legend class="bordered">
                            <span class="legend_title"><i :class="getHeaderIcon('customer')"></i>Customers</span>
                        </legend>

                        <div class="list-group" style="width: 100%;">

                            <div class="key_values_rows p-3" v-show="customers_all_count">
                                <div class="key_values_rows_label">
                                    Customers in system:
                                </div>
                                <div class="key_values_rows_value">
                                    <router-link to="/admin/customers" target="_blank">
                                        <span class="badge badge-primary badge-pill">{{ customers_all_count }}</span>
                                    </router-link>
                                </div>
                            </div>

                            <div class="key_values_rows p-3" v-show="customers_active_count">
                                <div class="key_values_rows_label">
                                    Active customers:
                                </div>
                                <div class="key_values_rows_value">
                                    <router-link :to="{ name: 'filterListCustomers', params: { filter: 'active' } }" target="_blank">
                                        <span class="badge badge-primary badge-pill">{{ customers_active_count }}</span>
                                    </router-link>
                                </div>
                            </div>

                            <div class="key_values_rows p-3" v-show="customers_inactive_count">
                                <div class="key_values_rows_label">
                                    Inactive customers:
                                </div>
                                <div class="key_values_rows_value">
                                    <router-link :to="{ name: 'filterListCustomers', params: { filter: 'inactive' } }" target="_blank">
                                        <span class="badge badge-primary badge-pill">{{ customers_inactive_count }}</span>
                                    </router-link>
                                </div>
                            </div>

                            <div class="key_values_rows p-3" v-show="customers_new_count">
                                <div class="key_values_rows_label">
                                    New customers:
                                </div>
                                <div class="key_values_rows_value">
                                    <router-link :to="{ name: 'filterListCustomers', params: { filter: 'new' } }" target="_blank">
                                        <span class="badge badge-primary badge-pill">{{ customers_new_count }}</span>
                                    </router-link>
                                </div>
                            </div>

                            <div class="key_values_rows p-3" v-show="customers_all_count">
                                <div class="key_values_rows_label">
                                    Add Customer:
                                </div>
                                <div class="key_values_rows_value">
                                    <router-link :to="{ name: 'newCustomer' }">
                                        <span class="badge badge-primary badge-pill"><i :class="getHeaderIcon('customer')"></i></span>
                                    </router-link>
                                </div>
                            </div>

                        </div>

                    </fieldset>  <!-- Customers -->

                </div>
            </div>

            <div class="content_blocks_in_rows">
                <div class="row_content_block">
                    <fieldset class="bordered text-muted p-2 m-0">
                        <legend class="bordered"><span class="legend_title">
                            <i :class="getHeaderIcon('inqueries')"></i>New Hostel Inqueries</span>
                        </legend>

                        <div class="row_content_centered">

                            <div v-for="nextNewHostelInqueriesCountByState,index in newHostelInqueriesCountByStatesArray"
                                 :key="nextNewHostelInqueriesCountByState.state_name" style="display:flex; justify-self: center;
                            flex: 1 0 300px;">


<!--                                <div class="new_hostel_inqueries_count_by_states column_content_left_aligned primary" :style="'background-color: '+colorsList[index]+';' ">-->

<!--                                </div>-->

<!--                                <div class="row_content_left_aligned" style="border: 0px dotted olive !important; width: 100%;">-->
<!--                                    <div style="border: 1px dotted red;">-->
<!--                                        <span class="fa fa-2x fa-globe"></span>-->
<!--                                    </div>-->
<!--                                    <div class="m-1 app_title" style="border: 0px dotted brown; width: 100% !important; justify-content: flex-start;">-->
<!--                                        11-->
<!--                                    </div>-->
<!--                                    <div class="p-1" style="border: 0px dotted red; flex: 1 0 70px; justify-self: flex-end; flex-wrap: wrap;">-->
<!--                                        22-->
<!--                                        <span title="13hostels" class="fa fa-check-circle text-success ml-1"></span></div>-->
<!--                                </div>-->

                                                                <div class="new_hostel_inqueries_count_by_states row_content primary" :style="'background-color: '+colorsList[index]+';' ">
                                                                    <i class="fa fa-2x fa-globe"></i>
                                                                    <span class="new_hostel_inqueries_count_value" :style="'color: '+colorsList[index]+'; ' ">{{ nextNewHostelInqueriesCountByState.new_hostel_inqueries_count }}</span>
                                                                    <span class="count-name" :style="'color: '+colorsList[index]+'; ' ">
                                                                        {{ nextNewHostelInqueriesCountByState.state_name }}
                                                                    </span>
                                                                </div>


                            </div>

                        </div>

                    </fieldset>

                </div>
            </div>




            <div class="content_blocks_in_rows">

                <fieldset class="bordered text-muted p-2 m-0">
                    <legend class="bordered"><span class="legend_title">
                            <i :class="getHeaderIcon('facility')"></i>Most used facilities</span>
                    </legend>

                <div class="row_content_block" style="border: 0px dotted yellow; flex-wrap: wrap ">

                        <div class="column_content_left_aligned m-2 bottom_split_border" v-for="nextHostelFacilitiesCount,index in
                        hostelFacilitiesCountByFacilityIdArray" style="min-width: 280px !important;">

                            <div class="row_content_left_aligned" style="border: 0px dotted olive !important; width: 100%; ">
                                <div style="border: 0px dotted red; ">
                                    <span class="fa fa-2x fa fa-list-alt text-success"></span>
                                </div>

                                <div style="border: 0px dotted brown; width: 100% !important; justify-content: flex-start" class="m-1 app_title">
                                    {{ nextHostelFacilitiesCount.facility_name }}
                                </div>

                                <div style="border: 0px dotted red; flex: 1 0 70px; justify-self: flex-end; flex-wrap: wrap" class="p-1">
                                    {{ nextHostelFacilitiesCount.hostel_facilities_count }}
                                    <span class="fa fa-check-circle text-success ml-1"
                                          :title="nextHostelFacilitiesCount.hostel_facilities_count + 'hostels'"></span>
                                </div>

                            </div>  <!-- modal_editor_footer -->

                            <div class="row_content_left_aligned">

                                <div style="border: 0px dotted blue;" class="p-2 small_size">
                                    {{ nextHostelFacilitiesCount.facility_descr }}
                                </div>

                            </div>  <!-- modal_editor_footer -->

                        </div>




                </div>  <!-- <div class="row_content_block"> -->

                </fieldset>


            </div>






            <div class="content_blocks_in_rows" >
                <div class="row_content_block">

                    <a class="a_link" v-on:click="toggleResourcesBlockIsVisible">
                        <i class="fa fa-angle-down a_link">App resources</i>
                    </a>
                    <fieldset v-if="resources_block_is_visible">
                        <legend class="blocks">App resources</legend>
                        <div class="col-md-12">
                            <ul class="list-group">
                                <li>
                                    <a href="https://bootstrap-vue.js.org/docs/components/form-radio/" class="a_link" target="external_link">
                                        https://bootstrap-vue.js.org/docs/components/form-radio/
                                    </a>
                                </li>


                                <li>
                                    <a href=" https://www.bootply.com/new" class="a_link" target="external_link">
                                        https://www.bootply.com/new
                                    </a>
                                </li>


                                <li>
                                    <a href="https://fontawesome.com/" class="a_link" target="external_link">
                                        https://fontawesome.com/
                                    </a>
                                </li>


                                <li>
                                    <a href="https://getbootstrap.com/docs/4.1/components/" class="a_link" target="external_link">
                                        https://getbootstrap.com/docs/4.1/components/
                                    </a>
                                </li>

                                <li>
                                    <a href="http://bootstrap-4.ru/docs/4.1/migration/" class="external_link" target="_blank">
                                        http://bootstrap-4.ru/docs/4.1/migration/
                                    </a>
                                </li>

                                <li>
                                    <a href="https://fontawesome.com/icons?d=gallery" class="a_link" target="_blank">
                                        https://fontawesome.com/icons?d=gallery
                                    </a>
                                </li>

                                <li>
                                    <a href="https://adamwathan.me/2016/01/04/composing-reusable-modal-dialogs-with-vuejs/" class="external_link" target="_blank">
                                        Composing Reusable Modal Dialogs with Vue.js
                                    </a>
                                </li>
                                <li>
                                    <a href="https://murze.be/building-a-realtime-dashboard-powered-by-laravel-and-vue-2017-edition" class="external_link" target="_blank">
                                        Building a realtime dashboard powered by Laravel and Vue (2017 edition)
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/watch?v=53AoDB7vcbU" class="external_link" target="_blank">
                                        1 Open Weather Map API
                                    </a>
                                </li>
                                <li>
                                    <a href="https://vuejs.org/v2/examples/todomvc.html" class="external_link" target="_blank">
                                        TodoMVC Example
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/vuejs/awesome-vue" class="external_link" target="_blank">
                                        awesome-vue list
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/richardtallent/vue-simple-calendar#calendar-event-properties" class="external_link" target="_blank">
                                        vue-simple-calendar
                                    </a>
                                </li>

                                <li>
                                    <a href="http://localhost/info.php" class="a_link" target="_blank">
                                        Local info
                                    </a>
                                </li>

                                <li>
                                    <a href="http://localhost/adminer-4.7.2-mysql.php" class="external_link" target="_blank">
                                        Local adminer
                                    </a>
                                </li>

                                <li>
                                    <a href="http://localhost/phpmyadmin/db_structure.php?server=1&db=tasks_work&token=ed96d0d39be55671ac9c488a4e6217ef" class="external_link"
                                       target="_blank">
                                        Local phpmyadmin
                                    </a>
                                </li>

                                <li>
                                    <a href="http://138.68.107.4/info.php" class="external_link" target="_blank">
                                        Server's info
                                    </a>
                                </li>

                                <li>
                                    <a href="http://138.68.107.4/adminer.php" class="external_link"  target="_blank">
                                        Server's adminer
                                    </a>
                                </li>

                                <li>
                                    <a href="http://138.68.107.4/phpmyadmin" class="external_link"  target="_blank">
                                        Server's phpmyadmin
                                    </a>
                                </li>


                            </ul>
                        </div>
                    </fieldset>



                </div>
            </div>


            <div class="content_blocks_in_rows">
                <div class="row_content_block">
                    6:1
                </div>


                <div class="row_content_block">
                    6:2
                </div>
            </div>


            <div class="backend_listing_footer card-footer" >
                footer TODO ?
            </div> <!-- backend_listing_footer -->



        </div> <!-- backend_listing_content card-body  -->


    </div> <!-- backend_listing_container card -->

</template>


<script>

    import {bus} from '../../../../app';
    import appMixin from '../../../../appMixin';
    import {retrieveAppDictionaries} from "../../../../helpers/commonFuncs";

    export default {
        mixins: [appMixin],

        data: () => ({
            is_debug: false,
            is_page_loaded: false,
            message: '',
            default_block: '',
            hostelFeatureValueArray: [],
            hostelStatusValueArray: [],
            hostels_active_count: null,
            hostels_inactive_count: null,
            hostels_new_count: null,
            hostels_all_count: null,
            new_hostel_inqueries_count: null,
            accepted_hostel_inqueries_count: null,
            newHostelInqueriesCountByStatesArray: [],
            hostelFacilitiesCountByFacilityIdArray: [],

            customers_active_count: null,
            customers_inactive_count: null,
            customers_new_count: null,
            customers_all_count: null,

            loggedUserProfile: {},
            loggedUserInGroups: [],
            is_admin: false,
            is_manager: false,
            resources_block_is_visible: false,
            design_samples_block_is_visible: false,
        }),

        created() {
//            this.invalid_url = this.$route.params.invalid_url
        }, // created() {

        mounted() {
            bus.$on('listingHeaderRightButtonClickedEvent', (parent_component_key) => {
                if (parent_component_key == 'dashboard') {
                    this.loadDashboardData()
                }
            })
            this.loadDashboardData()
            this.setAppTitle('Backend', 'Dashboard', bus);
        }, // mounted() {

        methods: {
            toggleResourcesBlockIsVisible() {
                this.resources_block_is_visible = !this.resources_block_is_visible
            },
            toggleDesignSamplesBlockIsVisible() {
                this.design_samples_block_is_visible = !this.design_samples_block_is_visible
            },
            loadDashboardData() {
//                alert("loadDashboardData::" + (-7))
                this.is_page_loaded = false;
                retrieveAppDictionaries(['hostelFeatureValueArray', 'hostelStatusValueArray',
                    'hostels_active_count', 'hostels_inactive_count', 'hostels_new_count', 'hostels_all_count',
                    'new_hostel_inqueries_count', 'accepted_hostel_inqueries_count', 'newHostelInqueriesCountByStatesArray',
                    'hostelFacilitiesCountByFacilityIdArray',
                    'customers_active_count', 'customers_inactive_count', 'customers_new_count', 'customers_all_count',

                ]);
                bus.$on('appDictionariesRetrieved', (data) => {
//                    alert( "INSIDE appDictionariesRetrieved::"+(-66) )
                    console.log("data::")
                    console.log(data)

//                    debugger
//                    alert( "INSIDE appDictionariesRetrieved::"+(-66) )
//                    debugger
//                    this.facilitiesIdValueArray = data.facilitiesIdValueArray
//                    this.statesIdValueArray = data.statesIdValueArray
                    this.customers_active_count = data.customers_active_count
                    this.customers_inactive_count = data.customers_inactive_count
                    this.customers_new_count = data.customers_new_count
                    this.customers_all_count = data.customers_all_count

                    // debugger
                    this.hostels_active_count = data.hostels_active_count
                    this.hostels_inactive_count = data.hostels_inactive_count
                    this.hostels_new_count = data.hostels_new_count
                    this.hostels_all_count = data.hostels_all_count
                    this.new_hostel_inqueries_count = data.new_hostel_inqueries_count
                    this.accepted_hostel_inqueries_count = data.accepted_hostel_inqueries_count
                    this.newHostelInqueriesCountByStatesArray = data.newHostelInqueriesCountByStatesArray
                    this.hostelFacilitiesCountByFacilityIdArray = data.hostelFacilitiesCountByFacilityIdArray
                    this.hostelFeatureValueArray = data.hostelFeatureValueArray
                    this.hostelStatusValueArray = data.hostelStatusValueArray
                    this.is_page_loaded = true
//                    this.shortUsersSelectionList = data.shortUsersSelectionList
                })


            }, // loadDashboardData() {


        }, // methods : {

        computed: {
            header_title() {
                return "Dashboard";
            },

            colorsList() {
                return window.colorsList;
            },


        }, // computed : {
    }


</script>


<style lang="scss">
    @import "./resources/sass/_variables.scss";

    .content_blocks_in_rows {
        display: flex;
        flex-direction: row;
        padding: 4px;
        /*border: 2px dotted blue;*/
    }

    .row_content_block {
        display: flex;
        justify-self: flex-start;
        flex: 1;
        font-weight: normal;
        border: 0px dotted green;
    }

    .key_values_rows_label {
        display: flex;
        justify-self: flex-start;
        flex: 4;
        font-weight: normal;
    }



    /* 1:1 BLOCK START */
    /*https://bootsnipp.com/snippets/0e5xd*/

/*
    .shape {
        border-style: solid;
        border-width: 0 70px 40px 0;
        float: right;
        height: 0px;
        width: 0px;
        -ms-transform: rotate(360deg); !* IE 9 *!
        -o-transform: rotate(360deg); !* Opera 10.5 *!
        -webkit-transform: rotate(360deg); !* Safari and Chrome *!
        transform: rotate(360deg);
    }

    .shape {
        border-color: rgba(255, 255, 255, 0) #d9534f rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    }

    .offer-danger .shape {
        border-color: transparent #d9534f transparent transparent;
    }

    .offer-success {
        border-color: #5cb85c;
    }

    .offer-success .shape {
        border-color: transparent #5cb85c transparent transparent;
    }

    .offer-default {
        border-color: #999999;
    }

    .offer-default .shape {
        border-color: transparent #999999 transparent transparent;
    }

    .offer-primary {
        border-color: #428bca;
    }

    .offer-primary .shape {
        border-color: transparent #428bca transparent transparent;
    }

    .offer-info {
        border-color: #5bc0de;
    }

    .offer-info .shape {
        border-color: transparent #5bc0de transparent transparent;
    }

    .offer-warning {
        border-color: #f0ad4e;
    }

    .offer-warning .shape {
        border-color: transparent #f0ad4e transparent transparent;
    }

    .shape-text {
        color: #fff;
        font-size: 12px;
        font-weight: bold;
        position: relative;
        right: -40px;
        top: 2px;
        white-space: nowrap;
        -ms-transform: rotate(30deg); !* IE 9 *!
        -o-transform: rotate(360deg); !* Opera 10.5 *!
        -webkit-transform: rotate(30deg); !* Safari and Chrome *!
        transform: rotate(30deg);
    }

    .offer {
        background: #fff;
        border: 1px solid #ddd;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        margin: 15px 0;
        overflow: hidden;
    }

    .offer:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: rotate scale(1.1);
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }

    .offer-radius {
        border-radius: 7px;
    }

    .offer-danger {
        border-color: #d9534f;
    }

    .offer-content {
        padding: 0 20px 10px;
    }

    @media (min-width: 487px) {
        .container {
            max-width: 750px;
        }
        .col-sm-6 {
            width: 50%;
        }
    }

    @media (min-width: 900px) {
        .container {
            max-width: 970px;
        }
        .col-md-4 {
            width: 33.33333333333333%;
        }
    }

    @media (min-width: 1200px) {
        .container {
            max-width: 1170px;
        }
        .col-lg-3 {
            width: 25%;
        }
    }
*/

    /* 1:1 BLOCK END*/


    /* 1:2 BLOCK START */

    /* 1:2 BLOCK END */


    /* 3:1 BLOCK START */
    .new_hostel_inqueries_count_by_states {
        box-shadow: 2px 2px 10px #DADADA;
        margin: 5px;
        padding: 20px 10px;
        background-color: #fff;
        height: 100px;
        border-radius: 5px;
        transition: .3s linear all;
    }

    .new_hostel_inqueries_count_by_states:hover {
        box-shadow: 4px 4px 20px #DADADA;
        transition: .3s linear all;
    }

    .new_hostel_inqueries_count_by_states.primary {
        background-color: #007bff;
        color: #FFF;
    }

    .new_hostel_inqueries_count_by_states.danger {
        background-color: #ef5350;
        color: #FFF;
    }

    .new_hostel_inqueries_count_by_states.success {
        background-color: #66bb6a;
        color: #FFF;
    }

    .new_hostel_inqueries_count_by_states.info {
        background-color: #26c6da;
        color: #FFF;
    }

    .new_hostel_inqueries_count_by_states i {
        /*font-size: 5em;*/
        opacity: 0.2;
    }

    .new_hostel_inqueries_count_by_states .new_hostel_inqueries_count_value {
        /*position: absolute;*/
        color: black !important;
        right: 35px;
        top: 20px;
        /*font-size: 32px;*/
        /*display: block;*/
    }

    .new_hostel_inqueries_count_by_states .count-name {
        /*position: absolute;*/
        color: black !important;
        right: 35px;
        top: 65px;
        font-style: italic;
        text-transform: capitalize;
        opacity: 0.5;
        /*display: block;*/
        /*font-size: 18px;*/
    }

    /* 3:1 BLOCK END */


    /* 4:1 BLOCK START */

    /* 4:1 BLOCK END */

</style>
