<template>
	<section class="card col-sm12 col-md-12 offset-md-0 p-2 m-0">
		file:///mnt/_work_sdb8/wwwroot/lar/lprods/Modules/SqlMonitor/Http/Controllers/SqlMonitorController.php
		file:///mnt/_work_sdb8/wwwroot/lar/lprods/Modules/SqlMonitor/Resources/views/index.blade.php

		getHeaderIcon('monitor'::{{ getHeaderIcon('monitor')}}<br>
		active_tab::{{ active_tab }}<br>
		is_page_loaded::{{ is_page_loaded }}<br>
		sql_statement::{{ sql_statement }}<br>
		prior_sql_statement::{{ prior_sql_statement }}<br>
		selection_output_result_type::{{ selection_output_result_type }}<br>

		<editor-header :show_loading_image="!is_page_loaded || is_page_updating" :header_icon="getHeaderIcon('monitor')" :header_title=header_title
		               :message=message></editor-header>


		<form v-on:submit.prevent="validateBeforeSubmit()">
			<div class="editor_content_body_block card-body" v-show="is_page_loaded">

				<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
					<li class="nav-item">
						<a :class="['nav-link', { 'active' : active_tab == '' || active_tab == 'SqlMonitor'}  ]" id="sql-monitor-tab" data-toggle="pill" href="#sql-monitor"
						   role="tab" aria-controls="sql-monitor" aria-selected="true">Sql Monitor
						</a>
					</li>
					<li :class="['nav-link', { 'active' : active_tab == 'Hostel miscellaneous'}  ]">
						<a class="nav-link " id="pills-hostel-miscellaneous-tab" data-toggle="pill" href="#pills-hostel-miscellaneous" role="tab"
						   aria-controls="pills-hostel-miscellaneous"
						   aria-selected="false">Hostel miscellaneous
						</a>
					</li>
					<li class="nav-item">
						<!--<a class="nav-link " id="pills-hostel-facilities-tab" data-toggle="pill" href="#pills-hostel-facilities" role="tab"-->
						<a :class="['nav-link', { 'active' : active_tab == 'Hostel facilities'}  ]" id="pills-hostel-facilities-tab" data-toggle="pill"
						   href="#pills-hostel-facilities" role="tab" aria-controls="pills-hostel-facilities" aria-selected="false">
							Hostel facilities
						</a>
					</li>
				</ul>


				<div class="tab-content " id="pills-tabContent">
					<div :class="['tab-pane', { 'active' : active_tab == '' || active_tab == 'SqlMonitor'} ]" id="sql-monitor" role="tabpanel" aria-labelledby="sql-monitor-tab">

						<div class="form-row ">
							<div class="col-xs-12 col-sm-3">
								<button class="btn btn-primary btn-rounded waves-effect waves-light btn-sm" @click.prevent="runSqlStatement();" type="button" data-toggle="tooltip"
								        data-html="true" data-placement="top" title="" data-original-title="Run sql-statement in textarea. "><span class="btn-label"><i
										class="fa fa-filter"></i></span>Run
								</button>
<!--								<input class="editable_field" value="1" id="cbx_save_sql" name="cbx_save_sql" type="checkbox" @change="onChange_cbx_save_sql()">&nbsp;&nbsp;&nbsp;&nbsp;Save sql-->
							</div>
							<div class="col-xs-12 col-sm-9" style="padding: 5px;">
							<div class="col-xs-12">
										<v-select
												v-model="selection_output_result_type"
												data-vv-name="selection_output_result_type"
												:options="[ { key:'B', label:'Show Both Result set and Explain'}, { key:'R', label:'Show Only Result set'}, { key:'E', label:
												'ShowOnly Explain'} ]"
												v-validate="'required'"
												id="account_type"
												name="account_type"
												class="form-control editable_field"
												placeholder="Select option"
										></v-select>
										<span v-show="vueErrorsList.has('userRow.account_type')" class="text-danger">{{ clearErrorLabel(vueErrorsList.first('userRow.account_type')) }}</span>
							</div>
							</div>

						</div>

						<div class="form-row" v-if="result_rows_as_text">
							{{ result_rows_as_text }}
						</div>

						<div class="form-row mb-3">
							<div class="col-3 m-0 p-0 pl-2">
								<input
										type="checkbox"
										class="custom-control-input"
										id="cbx_top"
										v-model="sql_save_top"
										data-parsley-multiple="groups"
										data-parsley-mincheck="2"
								>
								<label class="custom-control-label" for="cbx_top">Top</label>
							</div>
						</div>

						<div class="form-row mb-3">
							<label class="col-12 col-sm-4 col-form-label" for="sql_statement">
								Sql statement
								<button class="btn btn-primary btn-rounded waves-effect waves-light btn-sm" @click.prevent="redrawSqlStatement();" type="button"
								        data-toggle="tooltip"
								        data-html="true" data-placement="top" title="" data-original-title="Redraw sql-statement in human-readable way "><span class="btn-label"><i
										class="fa fa-filter"></i></span>Redraw
								</button>

							</label>
							<div class="col-12 col-sm-8">
									<textarea id="sql_statement" name="sql_statement" v-model="sql_statement" placeholder="Enter sql statement"
									          :class="{ 'form-control':true, 'editable_field':true, 'input':true, 'text-danger': vueErrorsList.has('sql_statement') }" rows="4"
									          cols="60"></textarea>
								<span v-show="vueErrorsList.has('sql_statement')" class="text-danger">{{ clearErrorLabel(vueErrorsList.first('sql_statement')) }}</span>
							</div>
						</div>


						<div class="col-sm-12" id="div_result_rows_explain_wrapper" style="display: none; padding: 5px">
							<pre><div id="div_result_rows_explain" style="background-color: white; font-weight: 900; "></div></pre>
						</div>

						<div class="col-sm-12" id="div_result_rows_wrapper" style="display: none; padding: 5px">
							<div id="div_result_rows_count" style="background-color: white; font-weight: bold;"></div>
							<pre><div id="div_result_rows" style="background-color: white; white-space:pre-wrap; font-weight: 900;"></div></pre>
						</div>

						<!--<div class="p-20 align image_outer_loading" id="div_result_rows_block_loading_image" style="display:none;">-->
						<!--<div class="image_inner_loading">-->
						<!--<img src="{{ Module::asset('sqlmonitor:images/big_loading.gif') }}" style="padding: 20px;">-->
						<!--</div>-->
						<!--</div>-->

					</div>

					<div>
						<a style="cursor: pointer;" onclick="javascript: $('#div_system' ).toggle( 'slow', function() { });">
							System
						</a>
					</div>

					<div id="div_system" style="display: none">
						<span class="form-text text-muted small_size ">{!! $system_info_str !!}</span>
					</div>


					<!--<div class="form-row mb-3">-->
					<!--<label class="col-12 col-sm-4 col-form-label" for="short_descr">Short description<span class="required"> * </span></label>-->
					<!--<div class="col-12 col-sm-8">-->
					<!--<input id="short_descr" name="short_descr" v-model="hostelRow.short_descr" type="text" placeholder="Enter short description of hostel" :class="{-->
					<!--'form-control':true, 'editable_field':true, 'input':-->
					<!--true, 'text-danger': vueErrorsList.has('short_descr') }" v-validate="'required|max:255'">-->
					<!--<span v-show="vueErrorsList.has('short_descr')" class="text-danger">{{ clearErrorLabel(vueErrorsList.first('short_descr')) }}</span>-->
					<!--</div>-->
					<!--</div>-->


					<!--<div class="form-row mb-3">-->
					<!--<label class="col-12 col-sm-4 col-form-label" for="descr">-->
					<!--Description-->
					<!--<br>-->
					<!--<span class="description-text">In markdown format</span>-->
					<!--</label>-->
					<!--<div class="col-12 col-sm-8">-->
					<!--<textarea id="descr" name="descr" v-model="hostelRow.descr"-->
					<!--:class="{ 'form-control':true, 'editable_field':true, 'input':true, 'text-danger': vueErrorsList.has('descr') }"></textarea>-->
					<!--&lt;!&ndash;<markdown-editor :content="hostelRow.descr" :editor_type="'hostel'" :unique_id="hostel_id"&ndash;&gt;-->
					<!--&lt;!&ndash;:how_short_help_text=true :show_full_help_link=true></markdown-editor>&ndash;&gt;-->
					<!--<span v-show="vueErrorsList.has('descr')" class="text-danger">{{ clearErrorLabel(vueErrorsList.first('descr')) }}</span>-->
					<!--</div>-->
					<!--</div>-->


				</div> <!-- sql-monitor-tab -->


				<div :class="['tab-pane', { 'active' : active_tab == 'Hostel miscellaneous'} ]" id="pills-hostel-miscellaneous" role="tabpanel"
				     aria-labelledby="pills-hostel-miscellaneous-tab">
					pills-hostel-miscellaneous
				</div>   <!-- pills-hostel-miscellaneous -->

				<div :class="['tab-pane', { 'active' : active_tab == 'Hostel facilities'} ]" id="pills-hostel-facilities" role="tabpanel"
				     aria-labelledby="pills-hostel-facilities-tab">

					pills-hostel-facilities

				</div>   <!-- pills-hostel-facilities -->


				<div class="card-footer">
					<editor-buttons submit_label="Submit" cancel_label="Cancel" :cancel_link="'/admin/hostels'" :is_page_updating="is_page_updating"></editor-buttons>
				</div>
			</div> <!-- <div class="editor_content_body_block card-body" v-show="is_page_loaded">  -->
		</form>

	</section>
</template>

<script>
    import {bus} from '../../../../app';
    import appMixin from '../../../../appMixin';
    import {retrieveAppDictionaries} from "../../../../helpers/commonFuncs";
    //    import Multiselect from 'vue-multiselect'
    //    import validate from 'validate.js';

    import Vue from 'vue';
    import vSelect from 'vue-select'

    Vue.component('v-select', vSelect)

    export default {
        name: 'new',
//        components: { Multiselect },
        data() {
            return {
                sql_info_text:     'sql_info_text',
                sql_statement: 	            "    SELECT `ad_personal_hostel_bookmarks`.`hostel_id`, `ad_hostels`.`name`, `ad_hostels`.`phone`, `ad_hostels`.`slug`     AS `slug`, `ad_hostels`.`short_descr`, `ad_hostels`.`feature`, `ad_hostels`.`rating`,  (   SELECT min(ad_hostel_rooms.price) FROM ad_hostel_rooms     WHERE ad_hostel_rooms.hostel_id = ad_hostels.id )     AS min_hostel_rooms_price, `ad_regions`.`name`     AS `region_name`, `ad_states`.`name`     AS `state_name`, `ad_states`.`slug`     AS `state_slug`, `ad_regions`.`slug`     AS `region_slug`, `ad_subregions`.`slug`     AS `subregion_slug`  FROM `ad_personal_hostel_bookmarks`     INNER JOIN `ad_hostels` on `ad_hostels`.`id` = `ad_personal_hostel_bookmarks`.`hostel_id`    LEFT JOIN `ad_regions` on `ad_regions`.`id` = `ad_hostels`.`region_id`     LEFT JOIN `ad_subregions` on `ad_subregions`.`id` = `ad_hostels`.`subregion_id`  LEFT JOIN `ad_states` on `ad_states`.`id` = `ad_hostels`.`state_id`      WHERE `ad_personal_hostel_bookmarks`.`user_id` = '5'   ORDER BY `ad_personal_hostel_bookmarks`.`created_at` asc \n",
/*
                sql_statement: 	            "   SELECT `ad_hostels`.`id`, `ad_hostels`.`name`, `ad_hostels`.`phone`, `ad_hostels`.`email`, `ad_hostels`.`website`, `ad_hostels`.`subregion_id`, `ad_hostels`.`region_id`, `ad_hostels`.`state_id`, `ad_hostels`.`town`, `ad_hostels`.`slug`, `ad_hostels`.`short_descr`, `ad_hostels`.`is_priority_listing`, `ad_hostels`.`status`, `ad_hostels`.`is_homepage_spotlight`, `ad_hostels`.`descr`, `ad_hostels`.`feature`, `ad_hostels`.`rating`, `ad_hostels`.`updated_at`, `ad_hostels`.`created_at`, `ad_states`.`name`     AS `state_name`, `ad_states`.`slug`     AS `state_slug`, `ad_regions`.`name`     AS `region_name`, `ad_regions`.`slug`     AS `region_slug`, `ad_subregions`.`name`     AS `subregion_name`, `ad_subregions`.`slug`     AS `subregion_slug`,  (   SELECT count(ad_hostel_reviews.id) \n" +
                    "    FROM ad_hostel_reviews \n" +
                    "    WHERE ad_hostel_reviews.hostel_id = ad_hostels.id )     AS hostel_reviews_count,  (   SELECT count(ad_hostel_inqueries.id) \n" +
                    "    FROM ad_hostel_inqueries \n" +
                    "    WHERE ad_hostel_inqueries.hostel_id = ad_hostels.id )     AS hostel_inqueries_count,  (   SELECT min(ad_hostel_rooms.price) \n" +
                    "    FROM ad_hostel_rooms \n" +
                    "    WHERE ad_hostel_rooms.hostel_id = ad_hostels.id )     AS min_hostel_rooms_price,  (   SELECT ad_hostel_images.filename \n" +
                    "    FROM ad_hostel_images \n" +
                    "    WHERE ad_hostel_images.hostel_id = ad_hostels.id     AND ad_hostel_images.is_main = 1 )     AS filename \n" +
                    "    FROM `ad_hostels` \n" +
                    "    LEFT JOIN `ad_states` on `ad_states`.`id` = `ad_hostels`.`state_id` \n" +
                    "    LEFT JOIN `ad_regions` on `ad_regions`.`id` = `ad_hostels`.`region_id` \n" +
                    "    LEFT JOIN `ad_subregions` on `ad_subregions`.`id` = `ad_hostels`.`subregion_id` \n" +
                    "    WHERE `ad_hostels`.`status` = 'A' \n" +
                    "    ORDER BY `subregion_name` asc, `min_hostel_rooms_price` asc \n",
*/
                prior_sql_statement : '',
                sql_save_top: false,
                // selection_output_result_type : { key:'R', label:'Show Only Result set' },
                selection_output_result_type : { key:'B', label:'Both Result set and Explain' },

//                selection_status: null,
//                selection_feature: null,
//                selection_state_id: null,
//                selection_region_id: null,
//                selection_subregion_id: null,

                errorsList: null,
                is_page_loaded: false,
                is_page_updating: false,

                result_explain_text : '',
                resultRows : [],
                result_rows_count : 0,
                result_rows_as_text : '',

                submit_label: "Update",
                active_tab: "SqlMonitor",
                message: '',
                settings_js_moment_datetime_format: '',
//                facilitiesIdValueArray: [],
//                statesIdValueArray: [],
//                subregionsIdValueArray: [],
//                regionsIdValueArray: [],
//                hostelFeatureValueArray: [],
//                hostelStatusValueArray: [],
//                shortUsersSelectionList: [],
            };
        },
        mixins: [appMixin],

        created() {
//            alert( "this.$route.params::"+var_dump(this.$route.params) )
            this.is_page_loaded = true
            bus.$on('MarkdownEditorModifiedEvent', (editor_content, editor_type, unique_id) => {
//                alert( "editor_content::editor_content"+editor_content+"  editor_type::"+editor_type +"  unique_id::"+unique_id)
//                if (editor_type == 'event' && unique_id == this.event.id) {
//                if (editor_type == 'hostel' && ( ( unique_id == this.hostelRow.id ) || ( unique_id == "new" ) )) {
//                    this.hostelRow.descr = editor_content;
//                }
            })

            /* "hostelRow.account_type", "msg": "The hostelRow.account_type field is required.", "rule": "required", "scope": null },
			{ "id": "3", "vmId": 19, "field": "hostelRow.status", "msg": "The hostelRow.status */

        }, // created() {

        mounted() {
//            retrieveAppDictionaries(['hostelFeatureValueArray', 'hostelStatusValueArray', 'shortUsersSelectionList', 'statesIdValueArray', 'facilitiesIdValueArray']);
//            bus.$on('appDictionariesRetrieved', (data) => {
//                this.facilitiesIdValueArray = data.facilitiesIdValueArray
//                this.statesIdValueArray = data.statesIdValueArray
//                this.hostelFeatureValueArray = data.hostelFeatureValueArray
//                this.hostelStatusValueArray = data.hostelStatusValueArray
//                this.shortUsersSelectionList = data.shortUsersSelectionList
//            })

            this.settings_js_moment_datetime_format = window.settings_js_moment_datetime_format
//	        debugger
            this.setAppTitle('Tools', 'Sql Monitor', bus);
        }, // mounted() {


        computed: {
            header_title: function () {
                return "Sql Monitor";
            },
//            created_at_label: function () {
//                return this.momentDatetime(this.hostelRow.created_at, settings_js_moment_datetime_format);
//            },
//            updated_at_label: function () {
//                return this.momentDatetime(this.hostelRow.updated_at, settings_js_moment_datetime_format);
//            },
        }, //computed: {

        methods: {
            runSqlStatement() {
                axios.post(window.API_BACKEND_VERSION_LINK + '/admin/sql-monitor/run-sql-statement', { sql_statement : this.sql_statement, output_result_type :
                    this.selection_output_result_type.key }).then((response) => {
                    this.is_page_loaded = true
                    this.result_explain_text = response.data.result_explain_text
                    this.resultRows = response.data.resultRows
                    this.result_rows_count = response.data.resultRows.length
                    this.result_rows_as_text = response.data.result_rows_as_text
	                /*
	                            return [ 'error_message' => '', 'error_code' => 0, 'output_result_type'=> $output_result_type, 'result_explain_text'=> $result_explain_text, 'resultRows'=> $resultRows, 'result_rows_count'=> count($resultRows), 'result_rows_as_text'=> print_r($resultRows,true), 'sql_statement' => $sql_statement ];


	                      {"error_message":"","error_code":0,"output_result_type":"R","result_explain_text":"","resultRows":[{"id":108,"order_id":35,"product_id":24,"qty":4,"price":"35.00","back_order":false,"created_at":"2017-09-20 14:14:42.202111","updated_at":null,"product_title":"Patient Ninja","product_slug":"patient-ninja"},{"id":113,"order_id":35,"product_id":66,"qty":3,"price":"23.00","back_order":false,"created_at":"2017-09-21 07:46:50.910062","updated_at":null,"product_title":"A4 Tech Laser Gaming Mouse","product_slug":"a4-tech-laser-gaming-mouse"},{"id":104,"order_id":35,"product_id":13,"qty":2,"price":"5.50","back_order":false,"created_at":"2017-09-20 13:55:44.924429","updated_at":"2017-09-21 07:48:43.785637","product_title":"Woo Album #1","product_slug":"woo-album-1"},{"id":107,"order_id":35,"product_id":25,"qty":2,"price":"20.00","back_order":false,"created_at":"2017-09-20 14:14:31.220695","updated_at":null,"product_title":"Ninja Silhouette","product_slug":"ninja-silhouette"},{"id":105,"order_id":35,"product_id":10,"qty":1,"price":"8.60","back_order":false,"created_at":"2017-09-20 13:55:44.924429","updated_at":null,"product_title":"Woo Album #4","product_slug":"woo-album-4"}],"result_rows_count":5,"result_rows_as_text":"Array\n(\n    [0] => Array\n        (\n            [id] => 108\n            [order_id] => 35\n            [product_id] => 24\n            [qty] => 4\n            [price] => 35.00\n            [back_order] => \n            [created_at] => 2017-09-20 14:14:42.202111\n            [updated_at] => \n            [product_title] => Patient Ninja\n            [product_slug] => patient-ninja\n        )\n\n    [1] => Array\n        (\n            [id] => 113\n            [order_id] => 35\n            [product_id] => 66\n            [qty] => 3\n            [price] => 23.00\n            [back_order] => \n            [created_at] => 2017-09-21 07:46:50.910062\n            [updated_at] => \n            [product_title] => A4 Tech Laser Gaming Mouse\n            [product_slug] => a4-tech-laser-gaming-mouse\n        )\n\n    [2] => Array\n        (\n            [id] => 104\n            [order_id] => 35\n            [product_id] => 13\n            [qty] => 2\n            [price] => 5.50\n            [back_order] => \n            [created_at] => 2017-09-20 13:55:44.924429\n            [updated_at] => 2017-09-21 07:48:43.785637\n            [product_title] => Woo Album #1\n            [product_slug] => woo-album-1\n        )\n\n    [3] => Array\n        (\n            [id] => 107\n            [order_id] => 35\n            [product_id] => 25\n            [qty] => 2\n            [price] => 20.00\n            [back_order] => \n            [created_at] => 2017-09-20 14:14:31.220695\n            [updated_at] => \n            [product_title] => Ninja Silhouette\n            [product_slug] => ninja-silhouette\n        )\n\n    [4] => Array\n        (\n            [id] => 105\n            [order_id] => 35\n            [product_id] => 10\n            [qty] => 1\n            [price] => 8.60\n            [back_order] => \n            [created_at] => 2017-09-20 13:55:44.924429\n            [updated_at] => \n            [product_title] => Woo Album #4\n            [product_slug] => woo-album-4\n        )\n\n)\n","sql_statement":"select oi.* , p.title as product_title, p.slug as product_slug FROM pd_order_item as oi inner join pd_product as p on p.id = oi.product_id WHERE oi.order_id = '35' ORDER BY qty desc"}

	                      sqlmonitor.switchRunSqlStatementLoader(true)
        if (result.error_code == 0 && result.success_message!= "" ) {
            $("#div_result_rows_explain").html( result.result_explain_text );
            $("#div_result_rows_count").html( "<span style='color: blue;'>Success with "+result.result_rows_count +" row(s) : </span>" );
            $("#div_result_rows").html( result.result_rows_as_text );
            if ( result.output_result_type == 'B') { // Both Result set and Explain
                $("#div_result_rows_explain_wrapper").css("display","block")
                $("#div_result_rows_wrapper").css("display","block")
            }
            if ( result.output_result_type == 'R') { // Only Result set
                $("#div_result_rows_explain_wrapper").css("display","none")
                $("#div_result_rows_wrapper").css("display","block")
            }
            if ( result.output_result_type == 'E') { // Only Explain
                $("#div_result_rows_explain_wrapper").css("display","block")
                $("#div_result_rows_wrapper").css("display","none")
            }
            $('#cbx_save_sql').prop('checked', false);
        }
        if (result.error_code > 0) {
            // alertMsg( result.error_message, 'Error', 'OK', 'glyphicon glyphicon-remove' )
            $("#div_result_rows_wrapper").css("display","block")
            $("#div_result_rows_explain").html( "" );
            $("#div_result_rows_count").html( "<span style='color: red;'>Error:</span>" );
            $("#div_result_rows").html( result.error_message );
            $('#cbx_save_sql').prop('checked', false);
        }
 */
                }).catch((error) => {
                    console.error(error)
                    this.is_page_loaded = true
                });
            },

            redrawSqlStatement() {
                axios.post(window.API_BACKEND_VERSION_LINK + '/admin/sql-monitor/redraw-sql-statement', { sql_statement : this.sql_statement }).then((response) => {
                    this.is_page_loaded = true
                    this.prior_sql_statement= this.sql_statement
                    this.sql_statement= response.data.sql_statement
                }).catch((error) => {
                    console.error(error)
                    this.is_page_loaded = true
                });

            },

            onChange_cbx_save_sql() {
                alert("onChange_cbx_save_sql::" + (-1))
            },

            onChangeTextareaSqlStatement() {
                alert("onChangeTextareaSqlStatement::" + (-1))
            },

            validateBeforeSubmit() {
                if (this.selection_status != null && typeof this.selection_status == "object" && typeof this.selection_status.key != "undefined") {
                    this.hostelRow.status = this.selection_status.key
                }
                if (this.selection_status == null /*&& typeof this.selection_status == "object" && */ || typeof this.selection_status.key == "undefined") {
                    this.hostelRow.status = null
                }

                if (this.selection_feature != null && typeof this.selection_feature == "object" && typeof this.selection_feature.key != "undefined") {
                    this.hostelRow.feature = this.selection_feature.key
                }
                if (this.selection_feature == null /* && typeof this.selection_feature == "object" && */ || typeof this.selection_feature.key == "undefined") {
                    this.hostelRow.feature = null
                }

                if (this.selection_state_id != null && typeof this.selection_state_id == "object" && typeof this.selection_state_id.key != "undefined") {
                    this.hostelRow.state_id = this.selection_state_id.key
                }


                if (this.selection_subregion_id == null /*&& typeof this.selection_subregion_id == "object" && */ || typeof this.selection_subregion_id.key == "undefined") {
                    this.hostelRow.subregion_id = null
                }

                if (this.selection_region_id == null /*&& typeof this.selection_region_id == "object" && */ || typeof this.selection_region_id.key == "undefined") {
                    this.hostelRow.region_id = null
                }
//                this.updateHostel()
//	            return;
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.updateHostel()
                    } else {
                        bus.$emit('editorValidationFail', 'hostel', this.hostel_id);
                        this.showPopupMessage("Hostels", 'Error ' + 'updating' + ' . ', 'warn');
                    }
                })
            }, // validateBeforeSubmit() {

            updateHostel() {
                this.is_page_updating = true
                axios({
                    method: ( 'post' ),
                    url: window.API_BACKEND_VERSION_LINK + '/admin/hostels/' + this.hostel_id,
                    // url: window.API_BACKEND_VERSION_LINK + '/admin/hostels',
                    data: this.$data.hostelRow,
                }).then((response) => {
                    this.is_page_updating = false
                    this.showPopupMessage("Hostels", 'Hostel updated' + ' successfully !', 'success');
//                    return;
                    this.$router.push({path: '/admin/hostels'});
                }).catch((error) => {
                    console.error(error)
                    this.$setLaravelValidationErrorsFromResponse(error.response.data);
                    this.is_page_updating = false
                    this.showPopupMessage("Hostels", 'Error ' + 'updating' + ' hostel !', 'warn');
                });


            }, //updateHostel() {
            clearErrorLabel(s) {
                if (typeof s == "undefined") return "";
                return s.replace(/hostelRow./g, "").replace(/_/g, " ")
                return 'DDD';
            }

        } // methods: {
    }


    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof(oElem) == 'string' || typeof(oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof(oElem) == 'innerHTML' || typeof(oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }

</script>
