<template>
	<div class="container">

		<listing-header :show_loading_image=!is_page_loaded :no_data_found_label="''" :header_icon="getHeaderIcon('system')" :header_title="header_title"
		                :message=message :item_title="''" parent_component_key="system_info" :right_icon="'fa fa-refresh'"></listing-header>

		<div class="row">
			<div class="col-sm-12">
				<fieldset>
					<legend class="blocks">Application</legend>

					<ul class="list-group">
						<li class="list-group-item d-flex justify-content-between align-items-center">
							Site name :
							<span class="badge badge-primary badge-pill">{{ site_name }}</span>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-center">
							App version :
							<span class="badge badge-primary badge-pill">{{ app_version }}</span>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-center">
							Laravel version :
							<span class="badge badge-primary badge-pill">{{ systemInfo.laravel_version }}</span>
						</li>


						<li class="list-group-item d-flex justify-content-between align-items-center">
							Php version :
							<span class="badge badge-primary badge-pill">{{ systemInfo.php_version }}</span>
						</li>

						<li class="list-group-item d-flex justify-content-between align-items-center">
							Vue version :
							<span class="badge badge-primary badge-pill">{{ vue_version }}</span>
						</li>


						<li class="list-group-item d-flex justify-content-between align-items-center">
							Bootstrap 4 :
							<span class="badge badge-primary badge-pill">{{ bootstrap4_enabled_text }}</span>
						</li>

						<li class="list-group-item d-flex justify-content-between align-items-center">
							Bootstrap version :
							<span class="badge badge-primary badge-pill">{{ bootstrap_version }}</span>
						</li>
						
						<li class="list-group-item d-flex justify-content-between align-items-center">
							Jquery version :
							<span class="badge badge-primary badge-pill">{{ jquery_version }}</span>
						</li>


<!--						<li class="list-group-item d-flex justify-content-between align-items-center">-->
<!--							UI version :-->
<!--							<span class="badge badge-primary badge-pill">{{ ui_version }}</span>-->
<!--						</li>-->


						<li class="list-group-item d-flex justify-content-between align-items-center">
							Device params :
							<span class="badge badge-primary badge-pill">{{ device_params }}</span>
						</li>


						<li class="list-group-item d-flex justify-content-between align-items-center">
							Debug :
							<span class="badge badge-primary badge-pill">{{ systemInfo.debug }}</span>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-center">
							env :
							<span class="badge badge-primary badge-pill">{{ systemInfo.env }}</span>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-center">
							Db connection :
							<span class="badge badge-primary badge-pill">{{ systemInfo.db_connection }}</span>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-center">
							Db version :
							<span class="badge badge-primary badge-pill">{{ systemInfo.db_version }}</span>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-center">
							Database name :
							<span class="badge badge-primary badge-pill">{{ systemInfo.database_name }}</span>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-center">
							Tables prefix :
							<span class="badge badge-primary badge-pill">{{ systemInfo.tables_prefix }}</span>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-center">
							<span v-html="systemInfo.phpinfo"></span>
						</li>
					</ul>


				</fieldset>

			</div>

		</div>
	</div>
</template>

<script>
    import {bus} from '../../../../app';
    import appMixin from '../../../../appMixin';

    export default {

        name: 'SystemInfo',
        mixins: [appMixin],

        data: function () {
            return {
                is_page_loaded: false,
                systemInfo: {},
                message: '',
            }

        },

        created() {
        }, //  created() {

        computed: {
            site_name() {
                return window.SITE_NAME
            },
            app_version() {
                return window.APP_VERSION
            },
            vue_version() {
                return Vue.version;
            },


            bootstrap4_enabled_text() {
                var bootstrap4_enabled = (typeof $().emulateTransitionEnd == 'function');
                if (bootstrap4_enabled) {
                   return 'Bootstrap 4 enabled';
                }
            },


            jquery_version() {
                return $.fn.jquery;
            },

            bootstrap_version() {
                return ($().modal||$().tab).Constructor.VERSION.split('.');
            },


            // ui_version() {
            //     return $.ui.version;
            // },

            device_params() {
                var deviceParams = this.effectiveDeviceWidth()
                if (typeof deviceParams.width != "undefined" && typeof deviceParams.height != "undefined") {
                    return deviceParams.width + "*" + deviceParams.height
                }
            },

            header_title() {
                return this.site_name;
            },

        },


        mounted() {
            bus.$on('listingHeaderRightButtonClickedEvent', (parent_component_key) => {
                if (parent_component_key == 'system_info') {
                    this.loadSystemInfo()
                }
            })
            this.setAppTitle('Dashboard', 'System Info', bus);
            this.loadSystemInfo();
        },

        methods: {

            loadSystemInfo() {
                this.is_page_loaded = false
                axios.get( window.API_BACKEND_VERSION_LINK + '/admin/get-system-info')
                .then((response) => {
                    this.is_page_loaded = true
                    this.systemInfo = response.data.systemInfo;
                })
            },  // loadSystemInfo() {

        }, // methods: {


    }
</script>