<template>

    <div class="page_content_container item_container">

        <section class="page_content_header">

            <!--            newsList::{{ newsList}}<br>-->
<!--            current_page::{{ current_page }}<br>-->
<!--            news_total_count::{{ news_total_count}}<br>-->
<!--            newsList.length::{{ newsList.length}}<br>-->
<!--            news_per_page::{{ news_per_page }}<br>-->

            <listing-header :show_loading_image=!is_page_loaded :current_page=current_page :itemsList="newsList"
                            :rows_count="news_total_count"
                            :header_icon="getHeaderIcon('news')"
                            :header_title=header_title :right_add_button_link="''" :item_title="'News'" :message=message
                            :right_add_button_link_title="''"
                            parent_component_key="news">
            </listing-header>

        </section>     <!-- class="page_content_header" -->


        <div class="news_listings_container mb-5" v-show="newsList.length && is_page_loaded">

            <div class="news_page card" v-for="nextNews, index in newsList" :key="nextNews.id">

                <h2 class="news_title card-title">
                    <router-link :to="{ name: 'SingleNews', params: { slug: nextNews.slug }  }" class="a_link">
                        {{ index }}::{{ nextNews.id }}::
                        <span v-html="nextNews.title"></span>
                        <span class="hidden_info">{{ nextNews.id }}::</span>
                    </router-link>
                </h2>


                <div class="news_body card-body">

                    <div class="row_content_left_aligned">
                        <div class="">
                            <v-lazy-image
                                class="pull-left single_news_image_left_aligned m-3"
                                src="/images/emptyImg.png" alt="No Image"
                                v-if="!newsHasImage(nextNews)"
                            />

                            <template v-if="newsHasImage(nextNews)">
                                <router-link :to="{ name: 'SingleNews', params: { slug: nextNews.slug } }">
                                    <v-lazy-image
                                        class="pull-left single_news_image_left_aligned m-3"
                                        :src="nextNews.filenameData.image_url"
                                        :alt="nextNews.filenameData.image"
                                    />
                                </router-link>
                            </template>

                        </div>

                        <div class="row_content_left_aligned card-text m-3">
                            <span v-html="nextNews.content_shortly"></span>
                        </div>

                    </div>

                    <div class="news_info card-footer">
                        <router-link :to="{ name: 'SingleNews', params: { slug: nextNews.slug }  }" class="a_link">
                            Details
                        </router-link>

                        <span v-if="nextNews.creator_name">Author : <strong>{{ nextNews.creator_name }}</strong></span>

                        <button type="button" class="btn no_cursor" v-show="nextNews.is_featured == 1" v-tooltip="featured_news">
							<span class="badge badge-primary badge-pill">
								<i :class="' '+getHeaderIcon('featured')"></i>&nbsp;Featured
							</span>
                        </button>

                    </div>

                    <div class="news_info card-footer">

                        <span v-if="comments_count_label(nextNews)">{{ comments_count_label(nextNews) }}</span>

                        <span v-if="nextNews.source_type && nextNews.source_url">
							Source : <a :href="nextNews.source_url" target="_blank" class="external_link">
							<strong>{{ nextNews.source_type }}</strong>
						</a>
						</span>

                        <span class="date_ago_label">
                            <i :class="'i_link m-0 p-0 '+getHeaderIcon('clock')" title="Published"></i> <strong>{{ last_modified_label(nextNews) }}</strong>
                        </span>

                    </div>
                </div>
            </div> <!-- <div class="news_page" -->
        </div><!-- <div class="news_listings_container mb-4"> -->

        <div class="m-0 p-0" v-show="!newsList.length && is_page_loaded">
            <div class="alert alert-warning m-3 p-3" role="alert">
                There are no news yet.
            </div>
        </div>

        <div class="news_pagination_container" v-show="newsList.length && is_page_loaded">
            <listing-pagination :current="current_page" :total="news_total_count" :items_per_page="news_per_page" :show_next_prior_buttons=false
                                @paginationPageChangedEvent="paginationPageClicked" :show_rows_label="false"></listing-pagination>
        </div>

    </div> <!-- 	<div class="page_content_container"> -->

</template>

<script>
    import {bus} from '../../../app';
    import appMixin from '../../../appMixin';

    import Vue from 'vue';

    import Vue2Filters from 'vue2-filters' // https://github.com/freearhey/vue2-filters#placeholder
    Vue.use(Vue2Filters)

    import {VLazyImagePlugin} from "v-lazy-image";

    Vue.use(VLazyImagePlugin);


    export default {
        data: function () {
            return {
                is_debug: true,
                is_page_loaded: false,
                message: '',
                current_page: 1,
                news_per_page: 2,

                newsList: [],
                news_total_count: 0,
            }

        },
        name: 'newsList',

        mounted() {
            this.setAppTitle('News', 'News', bus);
            this.loadNewsData()
            this.news_per_page = window.settings_news_per_page;

        }, // mounted() {


        mixins: [appMixin, Vue2Filters.mixin],

        methods: {

            loadNewsData() {
                this.is_page_loaded = false
                axios.get(window.API_VERSION_LINK + '/news/get_list/all/' + this.current_page).then((response) => {
                    this.is_page_loaded = true
                    this.newsList = response.data.newsList;
                    this.news_total_count = response.data.news_total_count;
                }).catch((error) => {
                    console.error(error)
                    if (error.response.data.error_code == 11) {
                        this.showPopupMessage(error.response.data.message, 'warn');
                        this.is_page_loaded = true
                        this.$router.push({path: '/'});
                    }
                });
            }, // loadNewsData() {

            paginationPageClicked(par1) {
                // alert("paginationPageClicked  par1::" + par1)
                this.current_page = par1
                this.loadNewsData();
            },

            newsHasImage(hostel) {
                if (typeof hostel['filenameData'] == "undefined") return false;
                if (typeof hostel['filenameData'].image_url == "undefined") return false;
                if (typeof hostel['filenameData'].image_url == "string") return true;
                return true;
            },

        }, // methods: {

        computed: {
            currentLoggedUser() {
                return this.$store.getters.currentLoggedUser;
            },

            header_title() {
                return "News";
            },

        } //computed: {

    }


</script>

<style lang="scss">
    @import "./resources/sass/_variables.scss";

    /* NEWS BLOCK START */
    .news_page {
        display: flex;
        flex: 1;
        flex-direction: column;
        //flex-basis: auto;
        margin: 10px;
        margin-bottom: 30px;
        border-bottom: $border-separator-color;
        //-webkit-flex : 1;
    }

    .news_listings_container {
        display: flex;
        flex-direction: column;
        border: 0px dotted blue;
        background-color: $background_color;
        flex: 1;
        margin: 2px;
        padding: 0;
    }


    .news_body {
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 20px;
    }

    .news_title {
        color: $title-color;
        flex-shrink: 0;
        font-size: 1.4em;
        font-weight: bold;
        /*font-weight: 700;*/
        line-height: 1.2;
    }


    .news_info {
        display: flex;
        font-size: 0.85em;
        justify-content: space-around;
        align-items: center;
        margin-top: 10px;
    }


    .news_pagination_container {
        border: 1px solid #c2c2c2;
        padding: 0 20px;
    }


    /* NEWS BLOCK END */


</style>
