<template>

    <div class="page_content_container item_container">

        <!--		single_news_slug : {{ single_news_slug }}<br>-->
        <!--		singleNewsRow : {{singleNewsRow}}<br>-->

        <div class="page_content_header" style="border:0px dotted green !important;" v-show="singleNewsRow && is_page_loaded">
            <fieldset v-show="is_debug">
                <legend class="blocks">debug:</legend>
                <!--hostelRoomTypeValueArray : {{hostelRoomTypeValueArray}}<br>-->
                <!--hostelRoomIsDormValueArray : {{hostelRoomIsDormValueArray}}<br>-->
                single_news_slug : {{ single_news_slug }}<br>
                singleNewsRow : {{singleNewsRow}}<br>
                <!--				singleNewsRow.id::{{ singleNewsRow.id }}<br>-->
                <!--				is_page_updating::{{ is_page_updating }}<br>-->
                <!--				is_page_loaded::{{ is_page_loaded }}<br>-->
                <!--single_news_slug::{{ single_news_slug }}<br>-->
            </fieldset>

            <div class="column_content_left_aligned" style="border:0px dotted blue !important;">
                <h2 class="app_title">
                    <i :class="getHeaderIcon('news')"></i> {{ singleNewsRow.title }}
                </h2>

                <v-lazy-image
                    class="pull-left image_width_full_aligned"
                    src="/images/emptyImg.png" alt="No Image"
                    v-if="!newsHasImage(singleNewsRow)"
                    style="width: 100%; height: auto"
                />

                <template v-if="newsHasImage(singleNewsRow)" style="border:0px dotted red !important;">
                    <v-lazy-image
                        class="pull-left image_width_full_aligned"
                        :src="singleNewsRow.filenameData.image_url"
                        :alt="singleNewsRow.filenameData.image"
                        style="border:0px dotted yellow !important;"
                    />
                </template>
            </div>

        </div>   <!-- <div class="page_content_header"> -->


        <div class="column_content_left_aligned p-0 m-0" v-show="singleNewsRow && is_page_loaded">

            <div class="column_content_left_aligned" style="flex:1 1">

                <div class="p-2 pr-5 row_content_left_aligned" style="align-items: center">
                    <div style="flex: 1 0">
                        By&nbsp;
                        <router-link :to="{ name: 'PublicUserProfile', params: { id: singleNewsRow.creator_id }  }" class="a_link public_user_name"
                                     target="_blank">
                            {{ singleNewsRow.creator_name }}
                        </router-link>
                    </div>

                    <div style="flex: 1 0" v-if="singleNewsRow.source_type && singleNewsRow.source_url">
                        <a :href="singleNewsRow.source_url" target="_blank" class="external_link">{{ singleNewsRow.source_type }}</a>
                    </div>

                    <div style="flex: 1 0 150px;" class="row_content_right_aligned btn_right_aligned">
                        <button type="button" class="btn no_cursor" v-show="singleNewsRow.is_featured " v-tooltip="featured_news_tooltip_text">
			                <span class="badge badge-primary badge-pill">
				                <i :class="' '+getHeaderIcon('featured')"></i>&nbsp;Featured
    		                </span>
                        </button>
                    </div>

                </div>

            </div> <!-- <div class="column_content_right_aligned" style="flex:1 1"> -->


            <div class="p-2 column_content_left_aligned">
                <span class="pre-formatted" v-html="nl2br(singleNewsRow.content)"></span>
            </div>

        </div> <!-- <div class="row_content_left_aligned" v-for="(singleNewsRow, index) in newsIsTopList"> -->


        <div class="row_content_left_aligned m-1 p-0 pl-3 pr-3" v-show="singleNewsRow && is_page_loaded">
            <div style="flex: 1 0 120px">
                <i :class="'i_link m-0 p-0 '+getHeaderIcon('clock')" title="Published"></i>
                <span class="date_ago_label">{{ last_modified_label(singleNewsRow) }}</span>
            </div>
        </div>


        <!--		SingleNews.vue-->
        <!--
                <div class="news_page card" v-if="is_page_loaded && singleNewsRow">

                    <h2 class="news_title card-title">
                        {{ singleNewsRow.id }}::
                        {{ singleNewsRow.title }}
                    </h2>


                    <div class="news_body card-body">

                        <div class="news_image is-3by2" v-if="newsHasImage(singleNewsRow)">
                            <a class="a_link" :href="singleNewsRow.filenameData.image_url" target="_blank">
                                <img class="pull-left single_news_image_left_aligned" :src="singleNewsRow.filenameData.image_url"
                                     :alt="singleNewsRow.filenameData.image">
                            </a>
                        </div>

                        <div class="news_content card-text">
                            <span v-html="singleNewsRow.content"></span>
                        </div>

                        <div class="news_info card-footer">

                            <span v-if="singleNewsRow.creator_name">Author : <strong>{{ singleNewsRow.creator_name }}</strong></span>

                            <button type="button" class="btn no_cursor" v-show="singleNewsRow.is_featured" v-tooltip="featured_news">
                                    <span class="badge badge-primary badge-pill">
                                        <i :class="' '+getHeaderIcon('featured')"></i>&nbsp;Featured
                                    </span>
                            </button>

                        </div>

                        <div class="news_info card-footer">

                            <span v-if="comments_count_label(singleNewsRow)">{{ comments_count_label(singleNewsRow) }}</span>

                            <span v-if="singleNewsRow.source_type && singleNewsRow.source_url">
                                    Source : <a :href="singleNewsRow.source_url" target="_blank" class="a_link">
                                    <strong>{{ singleNewsRow.source_type }}</strong>
                                </a>
                                </span>

                            <span v-if="last_modified_label(singleNewsRow)">Published : <strong>{{ last_modified_label(singleNewsRow) }}</strong></span>

                        </div>
                    </div>
                </div> &lt;!&ndash; <div class="news_page" &ndash;&gt;
        -->


    </div>   <!-- <div class="page_content_container"> -->

</template>

<script>
    import {bus} from '../../../app';
    import appMixin from '../../../appMixin';

    import Vue from 'vue';

    export default {
        data: function () {
            return {
                is_debug: false,
                is_page_loaded: false,
                message: '',
                single_news_slug: '',
                singleNewsRow: [],
            }

        },
        name: 'SingleNews',

        created() {
            this.single_news_slug = this.$route.params.slug;
        }, //  created() {

        mounted() {
            this.setAppTitle('News', 'News', bus);
            this.loadSingleNews();
        }, // mounted() {


        mixins: [appMixin],

        methods: {
            loadSingleNews() {
                this.is_page_loaded = false
                axios.get('/api/news/get_single_news_by_slug/' + this.single_news_slug)
                    .then((response) => {
                        this.singleNewsRow = response.data.singleNews;
                        console.log("this.singleNewsRow::")
                        console.log(this.singleNewsRow)
                        this.setAppTitle('News', this.singleNewsRow.title, bus);
                        this.is_page_loaded = true
                    })
            },  // loadSingleNews() {

        }, // methods: {

        computed: {
            featured_news_tooltip_text() {
                return 'Featured news means lorem ipsum dolor sit amet...'
            },
        } //computed: {


    }


</script>


<style lang="scss">

    @import "./resources/sass/_variables.scss"; // resources/sass/_variables.scss

</style>

