<template>

    <div class="page_content_container item_container">

        <h3 class="app_title">
            <i :class="getHeaderIcon('news')"></i> Top News
        </h3>

        <div class="news_listings_container m-1" v-show="is_page_loaded && newsIsTopList">
            <slider
                indicators="center"
                :stopOnHover="true"
                :animation="'fade'"
                :control-btn="true"
                :touch="false"
                :interval="5000"
            >
                <slider-item v-for="(nextNewsIsTop, index) in newsIsTopList"
                    :key="index"
                    :style="'news_is_top'"
                >

                    <div class="row_content_left_aligned p-0 m-0" >

                        <div style="flex:0 0 305px" class=" p-0 m-0">

                            <v-lazy-image
                                class="pull-left m-3 single_news_image_left_aligned"
                                src="/images/emptyImg.png" alt="No Image"
                                v-if="!newsHasImage(nextNewsIsTop)"
                            />

                            <template v-if="newsHasImage(nextNewsIsTop)">
                                <router-link :to="{ name: 'SingleNews', params: { slug: nextNewsIsTop.slug } }">
                                    <v-lazy-image
                                        class="pull-left single_news_image_left_aligned m-3"
                                        :src="nextNewsIsTop.filenameData.image_url"
                                        :alt="nextNewsIsTop.filenameData.image"
                                    />
                                </router-link>
                            </template>

                        </div>


                        <div class="column_content_center_aligned" style="flex:1 1">

                            <p style="" class="app_subtitle p-2">
                                <router-link :to="{ name: 'SingleNews', params: { slug: nextNewsIsTop.slug } }">
                                    <!--                                {{ nextNewsIsTop.id }}::-->
                                    {{ nextNewsIsTop.title }}
                                </router-link>
                            </p>

                            <div class="p-2 row_content_left_aligned" style="align-items: center">
                                <div style="flex: 1 0">
                                    By&nbsp;
                                    <router-link :to="{ name: 'PublicUserProfile', params: { id: nextNewsIsTop.creator_id }  }" class="a_link public_user_name"
                                                 target="_blank">
                                        {{ nextNewsIsTop.creator_name }}
                                    </router-link>
                                </div>

                                <div style="flex: 1 0" v-if="nextNewsIsTop.source_type && nextNewsIsTop.source_url">
                                    <a :href="nextNewsIsTop.source_url" target="_blank" class="external_link">{{ nextNewsIsTop.source_type }}</a>
                                </div>

                            </div>

                            <div class="p-2">
                                <span class="pre-formatted" v-html="nl2br(nextNewsIsTop.content_shortly)"></span>
                            </div>


                        </div> <!-- <div class="column_content_right_aligned" style="flex:1 1"> -->


                    </div> <!-- <div class="row_content_left_aligned" v-for="(nextNewsIsTop, index) in newsIsTopList"> -->


                    <div class="row_content_left_aligned m-1 p-0 pl-3 pr-3">

                        <div style="flex: 1 0 120px">
                            <i :class="'i_link m-0 p-0 '+getHeaderIcon('clock')" title="Published"></i>
                            <span class="date_ago_label"> <strong>{{ last_modified_label(nextNewsIsTop) }}</strong></span>
                        </div>

                        <div style="flex: 1 0 150px;" class="row_content_left_aligned btn_right_aligned">
                            <button type="button" class="btn no_cursor" v-show="nextNewsIsTop.is_featured " v-tooltip="featured_news_tooltip_text">
					                <span class="badge badge-primary badge-pill">
						                <i :class="' '+getHeaderIcon('featured')"></i>&nbsp;Featured
					                </span>
                            </button>
                        </div>


                        <div class="row_content_right_aligned btn_right_aligned ml-5">
                            <router-link :to="{ name: 'SingleNews', params: { slug: nextNewsIsTop.slug }  }" class="a_link">
                                Details
                            </router-link>

                        </div>

                    </div>

                </slider-item>
            </slider>

        </div>


    </div> <!-- 	<div class="page_content_container"> -->

</template>

<script>
    import {bus} from '../../../app';
    import appMixin from '../../../appMixin';

    import Vue from 'vue';
    import Vue2Filters from 'vue2-filters' // https://github.com/freearhey/vue2-filters#placeholder
    Vue.use(Vue2Filters)

    import EasySlider from 'vue-easy-slider'
    import {Slider, SliderItem} from 'vue-easy-slider'

    Vue.use(EasySlider)

    export default {
        components: {
            Slider,
            SliderItem,
        },
        data: function () {


            return {
                is_debug: true,
                is_page_loaded: false,
                message: '',
                newsIsTopList: [],
                news_total_count: 0,
            }

        },
        name: 'TopNewsList',


        mounted() {
            this.setAppTitle('Top News', 'Top News', bus);
            this.loadTopNewsData()
        }, // mounted() {


        mixins: [appMixin, Vue2Filters.mixin],

        methods: {
            loadTopNewsData() {
                this.is_page_loaded = false
                axios.get(window.API_VERSION_LINK + '/news/get_list/is_top').then((response) => {
                    this.is_page_loaded = true
                    this.newsIsTopList = response.data.newsList;
                    this.news_total_count = response.data.news_total_count;
                }).catch((error) => {
                    console.error(error)
                    if (error.response.data.error_code == 11) {
                        this.showPopupMessage(error.response.data.message, 'warn');
                        this.$router.push({path: '/'});
                    }
                    this.is_page_loaded = true
                });

            }, // loadTopNewsData() {

            newsHasImage(hostel) {
                if (typeof hostel['filenameData'] == "undefined") return false;
                if (typeof hostel['filenameData'].image_url == "undefined") return false;
                if (typeof hostel['filenameData'].image_url == "string") return true;
                return true;
            },

            last_modified_label(itemRow) {
                if (itemRow.updated_at != null && typeof itemRow.updated_at != "undefined") {
                    return this.timeInAgoFormat(itemRow.updated_at);
                }
                return this.timeInAgoFormat(itemRow.created_at);
            },

        }, // methods: {

        computed: {

            featured_news_tooltip_text() {
                return 'Featured news means lorem ipsum dolor sit amet...'
            },

        } //computed: {

    }


</script>

<style lang="scss">
    @import "./resources/sass/_variables.scss";


    .slider-items[data-v-6ce668ac] {
        width: 100% !important;
        max-height: 90% !important;
        margin-bottom: 80px !important;
        border: 0px dotted red !important;
    }


/*
    .slider-icon-left[data-v-6ce668ac] {
        transform: rotate(45deg);
        border-left: 3px solid $navigation-color !important;
        border-bottom: 3px solid $navigation-color !important;
    }
*/


    [class^=slider-icon-left]{
        width: 200px;
        height: 200px;
        background: red;
        transform: rotate(45deg);
        border-left: 3px solid $navigation-color !important;
        border-bottom: 3px solid $navigation-color !important;
    }

    .slider-icon-right[data-v-6ce668ac] {
        transform: rotate(45deg);
        border-left: 3px solid $navigation-color !important;
        border-bottom: 3px solid $navigation-color !important;
    }

    .slider-indicators-center[data-v-6ce668ac] {
        left: 50%;
        transform: translateX(-50%);
    }

    .slider-indicator-active[data-v-6ce668ac] {
        background-color: $navigation-color !important;
    }


</style>
