<template>
	<div class="page_content_container">

		<!--		customerAccountTypeValueArray::{{customerAccountTypeValueArray }}<br>-->
<!--				customerRow::{{ customerRow }}<br>-->
<!--				previewCustomerRegister::{{ previewCustomerRegister }}<br>-->
		<!--		vueErrorsList::{{ vueErrorsList }}<br>-->
		<!--		avatarFiles::{{ avatarFiles }}<br>-->


		<!--		customerRow.account_type:{{ customerRow.account_type }}-->
		<!--		vueErrorsList::{{  vueErrorsList }}<br>-->


		<div class="page_content_content card m-3">

			<editor-header :show_loading_image="is_page_updating" :header_icon="getHeaderIcon('customer')" :header_title=customer_register_title
			               :message=message></editor-header>

			<form-wizard
					ref="customer_register_wizard"
					title=""
					finish="Register new customer"
					subtitle="Enter your data"
					:start-index="0"
					shape="circle"
					color="#224A37"
					@on-complete="onWizardComplete"
					@on-change="afterTabChange"
					back-button-text="Prior"
					finish-button-text="Register"
			>


				<template slot="footer" slot-scope="props">
					<div class="wizard-footer-left p-2">
						<wizard-button
								v-if="props.activeTabIndex > 0"
								@click.native="props.prevTab()"
								:style="props.fillButtonStyle">
							Previous
						</wizard-button>
					</div>
					<div class="wizard-footer-right p-2">
						<wizard-button
								v-if="!props.isLastStep" @click.native="props.nextTab()"
								class="wizard-footer-right"
								:style="props.fillButtonStyle">
							Next
						</wizard-button>

						<wizard-button
								v-else @click.native="onWizardComplete"
								class="wizard-footer-right finish-button"
								:style="props.fillButtonStyle"
								:disabled="!is_recaptcha_verified">
							{{props.isLastStep ? 'Register' :'Next'}}
						</wizard-button>
					</div>
				</template>


				<template slot="subtitle" slot-scope="props">
					subtitle
				</template>


				<tab-content
						title="Customer's details"
						subtitle="Enter your data"
						:before-change="beforeTabSwitch"
						class="registration-tab-content"
				>

					<div class="form-row mb-3">
						<label class="col-12 col-sm-4 col-form-label" for="username">Username<span class="required"> * </span></label>
						<div class="col-12 col-sm-8">
							<input id="username" name="username" v-model="customerRow.username" type="text" placeholder="Enter unique username of customer"
							       :class="{
							'form-control':true, 'editable_field':true, 'input': true, 'text-danger': vueErrorsList.has('username') }"
							       v-validate="'required|max:100'">
							<span v-show="vueErrorsList.has('username')" class="text-danger">{{ clearErrorLabel(vueErrorsList.first('username')) }}</span>
						</div>
					</div>

					<div class="form-row mb-3">
						<label class="col-12 col-sm-4 col-form-label" for="email">Email<span class="required"> * </span></label>
						<div class="col-12 col-sm-8">
							<input id="email" name="email"
							       :class="{ 'form-control':true, 'editable_field':true, 'input':true, 'text-danger': vueErrorsList.has('email') }"
							       v-model="customerRow.email"
							       type="text" placeholder="Enter unique email of customer" v-validate="'required|max:255|email'">
							<span v-show="vueErrorsList.has('email')" class="text-danger">{{ clearErrorLabel(vueErrorsList.first('email')) }}</span>
						</div>
					</div>

					<div class="form-row mb-3">
						<label class="col-12 col-sm-4 col-form-label" for="first_name">First name</label>
						<div class="col-12 col-sm-8">
							<input id="first_name" name="first_name" v-model="customerRow.first_name" type="text" placeholder="Enter first name of customer"
							       :class="{  'form-control':true, 'editable_field':true, 'input': true, 'text-danger': vueErrorsList.has('first_name') }" v-validate="'max:50'">
							<span v-show="vueErrorsList.has('first_name')" class="text-danger">{{ vueErrorsList.first('first_name') }}</span>
						</div>
					</div>


					<div class="form-row mb-3">
						<label class="col-12 col-sm-4 col-form-label" for="last_name">Last name</label>
						<div class="col-12 col-sm-8">
							<input id="last_name" name="last_name" v-model="customerRow.last_name" type="text" placeholder="Enter last name of customer"
							       :class="{ 'form-control':true, 'editable_field':true, 'input':
						true, 'text-danger': vueErrorsList.has('last_name') }" v-validate="'max:50'">
							<span v-show="vueErrorsList.has('last_name')" class="text-danger">{{ vueErrorsList.first('last_name') }}</span>
						</div>
					</div>


					<div class="form-row mb-3">
						<label class="col-12 col-sm-4 col-form-label" for="password">Password</label>
						<div class="col-12 col-sm-8">
							<input id="password" name="password" v-model="customerRow.password" type="text" placeholder="Enter password of customer"
							       :class="{ 'form-control':true, 'editable_field':true, 'input':
						true, 'text-danger': vueErrorsList.has('password') }" v-validate="'min:6|max:12'" ref="password">
							<span v-show="vueErrorsList.has('password')" class="text-danger">{{ vueErrorsList.first('password') }}</span>
						</div>
					</div>


					<div class="form-row mb-3">
						<label class="col-12 col-sm-4 col-form-label" for="password_2">Confirm Password</label>
						<div class="col-12 col-sm-8">
							<input id="password_2" name="password_2" v-model="customerRow.password_2" type="text"
							       placeholder="Enter confirm password of customer" :class="{ 'form-control':true, 'editable_field':true, 'input':
						true, 'text-danger': vueErrorsList.has('password_2') }" v-validate="'min:6|max:12|confirmed:password'">
							<span v-show="vueErrorsList.has('password_2')" class="text-danger">{{ clearErrorLabel(vueErrorsList.first('password_2') ) }}</span>
						</div>
					</div>


					<div class="form-row mb-3">
						<label class="col-12 col-sm-4 col-form-label" for="account_type">Account type<span class="required"> * </span></label>
						<div class="col-12 col-sm-8">
							<div class="custom-control custom-radio m-3" v-for="nextCustomerAccountTypeValue, index in customerAccountTypeValueArray"
							     :key="nextCustomerAccountTypeValue.key">

								<input
										:id="'customer_account_type_' + nextCustomerAccountTypeValue.key"
										type="radio"
										name="radio_account_type"
										class="custom-control-input"
										v-model="customerRow.account_type"
										:value="nextCustomerAccountTypeValue.key"
								>

								<label class="custom-control-label" :for="'customer_account_type_' + nextCustomerAccountTypeValue.key">{{
									nextCustomerAccountTypeValue.label}}</label>
							</div>

							<span v-show="vueErrorsList.has('customerRow.account_type')"
							      class="text-danger">{{ clearErrorLabel(vueErrorsList.first('customerRow.account_type')) }}</span>
						</div>
					</div>

					<div class="form-row mb-3">
						<label class="col-12 col-sm-4 col-form-label" for="phone">Phone</label>
						<div class="col-12 col-sm-8">
							<input id="phone" name="phone" v-model="customerRow.phone"
							       :class="{ 'form-control':true, 'editable_field':true, 'input':true, 'text-danger': vueErrorsList.has('phone') }" type="text"
							       placeholder="Enter phone of customer"
							       v-validate="'max:255'">
							<span v-show="vueErrorsList.has('phone')"
							      class="text-danger">{{ clearErrorLabel(vueErrorsList.first('phone'), 'customerRow.') }}</span>
						</div>
					</div>

					<div class="form-row mb-3">
						<label class="col-12 col-sm-4 col-form-label" for="website">Website</label>
						<div class="col-12 col-sm-8">
							<input id="website" name="website" v-model="customerRow.website"
							       :class="{ 'form-control':true,  'editable_field':true, 'input':true, 'text-danger': vueErrorsList.has('website') }"
							       type="text"
							       placeholder="Enter website of customer" v-validate="'max:255|url:{require_protocol: false }'">
							<span v-show="vueErrorsList.has('website')" class="text-danger">{{ clearErrorLabel(vueErrorsList.first('website'), 'customerRow.') }}</span>
						</div>
					</div>

					<div class="form-row mb-3">
						<label class="col-12 col-sm-4 col-form-label" for="notes">Notes</label>
						<div class="col-12 col-sm-8">
							<span v-show="vueErrorsList.has('notes')"
							      class="text-danger">{{ clearErrorLabel(vueErrorsList.first('notes'), 'customerRow.') }}</span>
							<ckeditor :editor="editor" v-model="customerRow.notes" :config="editorConfig" :height="12" :rows="6"></ckeditor>
						</div>
					</div>


				</tab-content>


				<tab-content
						title="Additional Info"
						class="registration-tab-content"
						:before-change="beforeTabSwitch"
				>
					<div class="form-row mb-3">
						<label class="col-12 col-sm-6 col-form-label">Access to privacy details</label>
						<div class="col-12 col-sm-6">
							<input
									class="editable_field custom-control-input "
									value="1" id="access_to_privacy_details" type="checkbox"
									style="width: 50px;margin-left: 40px;"
									:checked="customerRow.access_to_privacy_details"
									v-model="customerRow.access_to_privacy_details"
							>
							<label for="access_to_privacy_details" class="custom-control-label">&nbsp;
								<span v-html="noWrapString('Select all have access')"></span>
							</label>
						</div>
					</div>


					<div class="form-row mb-3" style="border: 0px dotted green">
						<label class="col-12 col-sm-6 col-form-label" style="border: 0px dotted blue">Select show online status</label>
						<div class="col-12 col-sm-6" style="border: 0px dotted red">
							<input
									class="editable_field custom-control-input "
									value="1" id="show_online_status" type="checkbox"
									style="width: 50px;margin-left: 40px;padding-left: 140px;"
									:checked="customerRow.show_online_status"
									v-model="customerRow.show_online_status"
							>
							<label for="show_online_status" class="custom-control-label">&nbsp;
								<span v-html="noWrapString('Select yes')"></span>
							</label>
						</div>
					</div>
				</tab-content>


				<tab-content
						title="Avatar"
						class="registration-tab-content"
						:before-change="beforeTabSwitch"
				>
					<file-upload
							ref="upload"
							v-model="avatarFiles"
							post-action="/post.method"
							put-action="/put.method"
							@input-file="inputFile"
							@input-filter="inputFilter"
							:multiple="false"
							class="btn btn-outline-danger btn-sm"
					>
						<i :class="'action_link '+getHeaderIcon('upload')"></i>Upload avatar
					</file-upload>

					<table>
						<tr v-for="nextFile in avatarFiles">
							<div class="col-12 col-sm-8 column_content_left_aligned">
								<img :src="nextFile.blob" width="256" height="auto" class="img-preview-wrapper" id="uploaded_avatar_file"/>
							</div>
							<div class="row_content_centered p-3">
								<div class="p-2">
									Name : <strong>{{ nextFile.name }}</strong>
								</div>
								<div class="p-2">
									Size : <strong>{{ getFileSizeAsString(nextFile.size) }}</strong>
								</div>

								<div v-show="uploaded_avatar_width" class="p-2">
									Width : <strong>{{ uploaded_avatar_width }}px</strong>
								</div>

								<div v-show="uploaded_avatar_height" class="p-2">
									Height : <strong>{{ uploaded_avatar_height }}</strong>
								</div>
							</div>
						</tr>

					</table>

				</tab-content>


				<tab-content
						title="Preview"
						class="registration-tab-content"
						:before-change="beforeTabSwitch"
				>
					<strong> Preview </strong>
					<!--					previewCustomerRegister::{{ previewCustomerRegister }}<br>-->


					<fieldset class="blocks text-muted p-0 m-0">
						<legend class="blocks"><span class="legend_title">Registered customer data</span></legend>

						<div class="card" style="width:100%">
							<div class="card-body">

								<div class="form-row mb-3">
									<label class="col-12 col-sm-4 col-form-label" for="preview_username">Username</label>
									<div class="col-12 col-sm-8">
										<input type="text" v-model="previewCustomerRegister.username" id="preview_username" class="form-control editable_field"
										       readonly>
									</div>
								</div>

								<div class="form-row mb-3">
									<label class="col-12 col-sm-4 col-form-label" for="preview_email">Email</label>
									<div class="col-12 col-sm-8">
										<input type="text" v-model="previewCustomerRegister.email" id="preview_email" class="form-control editable_field"
										       readonly>
									</div>
								</div>

								<div class="form-row mb-3" v-show="previewCustomerRegister.first_name">
									<label class="col-12 col-sm-4 col-form-label" for="preview_first_name">First name</label>
									<div class="col-12 col-sm-8">
										<input type="text" v-model="previewCustomerRegister.first_name" id="preview_first_name"
										       class="form-control editable_field" readonly>
									</div>
								</div>

								<div class="form-row mb-3" v-show="previewCustomerRegister.last_name">
									<label class="col-12 col-sm-4 col-form-label" for="preview_last_name">Last name</label>
									<div class="col-12 col-sm-8">
										<input type="text" v-model="previewCustomerRegister.last_name" id="preview_last_name"
										       class="form-control editable_field" readonly>
									</div>
								</div>

								<div class="form-row mb-3" v-show="previewCustomerRegister.account_type">
									<label class="col-12 col-sm-4 col-form-label" for="preview_account_type">Account type</label>
									<div class="col-12 col-sm-8">
										<input type="text" v-model="getPreviewCustomerRegisterAccountTypeLabel" id="preview_account_type"
										       class="form-control editable_field"
										       readonly>
									</div>
								</div>

								<div class="form-row mb-3" v-show="previewCustomerRegister.phone">
									<label class="col-12 col-sm-4 col-form-label" for="preview_phone">Phone</label>
									<div class="col-12 col-sm-8">
										<input type="text" v-model="previewCustomerRegister.phone" id="preview_phone" class="form-control editable_field"
										       readonly>
									</div>
								</div>

								<div class="form-row mb-3" v-show="previewCustomerRegister.website">
									<label class="col-12 col-sm-4 col-form-label" for="preview_website">Website</label>
									<div class="col-12 col-sm-8">
										<input type="text" v-model="previewCustomerRegister.website" id="preview_website" class="form-control editable_field"
										       readonly>
									</div>
								</div>

								<div class="form-row mb-3" v-show="previewCustomerRegister.notes">
									<label class="col-12 col-sm-4 col-form-label">Notes</label>
									<div class="col-12 col-sm-8">
										<span v-html="previewCustomerRegister.notes"></span>
									</div>
								</div>

								<div class="form-row mb-3" v-show="previewCustomerRegister.access_to_privacy_details">
									<label class="col-12 col-sm-4 col-form-label">Access to privacy details</label>
									<div class="col-12 col-sm-8">
										<i :class="'i_link '+getHeaderIcon('check')+' fa-3x'"></i>
									</div>
								</div>

								<div class="form-row mb-3" v-show="previewCustomerRegister.show_online_status">
									<label class="col-12 col-sm-4 col-form-label">Show online status</label>
									<div class="col-12 col-sm-8">
										<i :class="'i_link '+getHeaderIcon('check')+' fa-3x'"></i>
									</div>
								</div>


								<div class="form-row p-3" v-show="previewCustomerRegister.avatarFile.blob">

									<label class="col-12 col-sm-4 col-form-label">Avatar</label>
									<div class="col-12 col-sm-8 column_content_left_aligned">

										<img
												class="img-preview-wrapper"
												:src="previewCustomerRegister.avatarFile.blob"
												alt="Your avatar"
												v-show="previewCustomerRegister.avatarFile.blob"
												width="256"
												height="auto"
												id="preview_avatar_file"
										>

										<div class="row_content_centered p-3">
											<div>
												Name : <strong>{{ previewCustomerRegister.avatarFile.name }}</strong><br>
											</div>
											<div>
												Size : <strong>{{ getFileSizeAsString(previewCustomerRegister.avatarFile.size) }}</strong>
											</div>

											<div>
												Width : <strong>{{ uploaded_avatar_width }}px</strong>
											</div>

											<div>
												Height : <strong>{{ uploaded_avatar_height }}</strong>
											</div>

										</div>

									</div>
								</div>  <!-- <div class="form-row p-3" v-show="previewCustomerRegister.avatarFile.blob"> -->

								<vue-recaptcha
										@verify="recaptchaVerified"
										@expired="recaptchaExpired"
										sitekey="6LcyArMUAAAAABqhrIyNB2UbRiYKCCWt0HIx4MJK"
										:load-recaptcha-script="true"
								>
								</vue-recaptcha>

							</div>
						</div>

					</fieldset>

				</tab-content>

			</form-wizard>

		</div>  <!-- <div class="page_content_content card mb-4"> -->


	</div>  <!-- 	<div class="page_content_container"> -->

</template>


<!--<script src="https://www.google.com/recaptcha/api.js?onload=vueRecaptchaApiLoaded&render=explicit" async defer>-->
<!--</script>-->


<script>
    import {bus} from '../../../app';
    import appMixin from '../../../appMixin';

    import Vue from 'vue';

    // VueFormWizard
    import {FormWizard, TabContent, WizardButton} from 'vue-form-wizard'  // https://binarcode.github.io/vue-form-wizard/#/
    import 'vue-form-wizard/dist/vue-form-wizard.min.css'

    const VueUploadComponent = require('vue-upload-component')   // https://lian-yue.github.io/vue-upload-component/#/documents
    Vue.component('file-upload', VueUploadComponent)

    import CKEditor from '@ckeditor/ckeditor5-vue';  //https://ckeditor.com/docs/ckeditor5/latest/builds/guides/integration/frameworks/vuejs.html
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
    Vue.use(CKEditor);

    import VueRecaptcha from 'vue-recaptcha';  // https://github.com/DanSnow/vue-recaptcha

    export default {

        name: 'CustomerRegisterForm',
        components: {
            FormWizard,
            TabContent,
            WizardButton,
            FileUpload: VueUploadComponent,
            VueRecaptcha
        },

        data() {
            return {
                // selection_account_type: [],
                customerRow: {
                    id: null,

                    username: 'man',
                    email: 'man@mail.com',
                    first_name: 'fman',
                    last_name: 'lname',
                    password: '111111',
                    password_2: '111111',
                    account_type: 'I',

                    phone: 'Phone # 1',
                    website: 'website # 2',
                    notes: 'notes 33 <p>Lorem <strong>ipsum dolor sit</strong> amet, consectetur adipiscing elit, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim  veniam, quis <strong>nostrud exercitation</strong> ullamco laboris nisi ut aliquip ex ea  commodo consequat. Duis aute irure dolor in reprehenderit in voluptate  velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint  occaecat cupidatat non proident, sunt in culpa qui officia deserunt  mollit anim id est laborum.\n' +
                        '</p>\n' +
                        '<p>Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim  veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea  commodo consequat. Duis aute irure dolor in reprehenderit in voluptate  velit esse cillum dolore eu fugiat nulla pariatur. <i>Excepteur sint  occaecat<i> cupidatat non proident, sunt in culpa qui officia deserunt  mollit anim id est laborum.\n' +
                        '<p>\n',
                    access_to_privacy_details: true,
                    show_online_status: true,
                    avatarFile: {},
                },

                editor: ClassicEditor,
                editorData: '<p>Content of the editor.</p>',
                editorConfig: {
                    // The configuration of the editor.
                    indent_style: 'tab',
                    tab_width: 4,
                    charset: 'utf-8',
                    end_of_line: 'lf',
                    trim_trailing_whitespace: true,
                    insert_final_newline: true
                },

                avatarFiles: [],
                uploaded_avatar_width: null,
                uploaded_avatar_height: null,
                message: '',
                errorsList: null,
                is_recaptcha_verified: false,
                is_page_updating: false,

            }
        },

        watch: {
            avatarFiles(theFile) {
                // console.log("------ avatarFiles  theFile::")
                // console.log( theFile )
                // console.log("------ avatarFiles  theFile[0].target::")
                // console.log( theFile[0].target )
                var image = new Image();
                image.src = theFile[0].blob;
                // image.src = theFile[0].target.result;
                // image.src = this.toObject(theFile.target.result);

                image.onload = function () {
                    bus.$emit('avatarUploadedEvent', this.width, this.height)
                };
            }

        },


        mixins: [appMixin],

        created() {
            bus.$on('avatarUploadedEvent', (uploaded_avatar_width, uploaded_avatar_height) => {
                this.uploaded_avatar_width = uploaded_avatar_width;
                this.uploaded_avatar_height = uploaded_avatar_height

                if (uploaded_avatar_width < 256) {
                    $('#uploaded_avatar_file').attr('width', uploaded_avatar_width);
                    $('#preview_avatar_file').attr('width', uploaded_avatar_width);
                }
            })

        }, //  created() {

        mounted() {
//            this.user_id = this.currentLoggedUser.id
//             this.loadUser();
            this.setAppTitle('', 'Customer Register', bus);
            // this.settings_js_moment_datetime_format = window.settings_js_moment_datetime_format
            this.$store.dispatch('storeRetrieveDictionaries', ['customerAccountTypeValueArray']);
            //effectiveDeviceWidth
        }, // mounted() {

        computed: {
            customer_register_title: function () {
                return "Customer Register";
            },

            getPreviewCustomerRegisterAccountTypeLabel() {
                return this.getDictionaryLabel(this.previewCustomerRegister.account_type, this.customerAccountTypeValueArray);
            },
            previewCustomerRegister() {
                // alert( "previewCustomerRegister  ::"+var_dump(this.$store.getters.previewCustomerRegister) )
                // console.log("FROM FORM +++this.$store.getters.customerRegister::")
                // console.log(this.$store.getters.customerRegister)
                return this.$store.getters.customerRegister;
            },

            customerAccountTypeValueArray() {
                return this.$store.getters.customerAccountTypeValueArray;
            },


        },

        methods: {
            recaptchaVerified(response) {
                this.is_recaptcha_verified = true;
            },

            recaptchaExpired() {
                this.showPopupMessage("Customer Register", 'Captcha Expired !', 'warn');
                this.is_recaptcha_verified = false;
            },
            /**
             * Has changed
             * @param  Object|undefined   newFile   Read only
             * @param  Object|undefined   oldFile   Read only
             * @return undefined
             */
            inputFile(newFile, oldFile) {
                // console.log("inputFile newFile::")
                // console.log(newFile)
                this.customerRow.avatarFile = newFile

                if (newFile && oldFile && !newFile.active && oldFile.active) {
                    // Get response data
                    // console.log('response', newFile.response)
                    if (newFile.xhr) {
                        //  Get the response status code
                        // console.log('status', newFile.xhr.status)
                    }
                }
            },
            /**
             * Pretreatment
             * @param  Object|undefined   newFile   Read and write
             * @param  Object|undefined   oldFile   Read only
             * @param  Function           prevent   Prevent changing
             * @return undefined
             */
            inputFilter(newFile, oldFile, prevent) {
                // console.log("inputFilter newFile::")
                // console.log(newFile)

                if (newFile && !oldFile) {
                    // Filter non-image file
                    if (!/\.(jpeg|jpe|jpg|gif|png|webp)$/i.test(newFile.name)) {
                        return prevent()
                    }
                }

                // Create a blob field
                newFile.blob = ''
                let URL = window.URL || window.webkitURL
                if (URL && URL.createObjectURL) {
                    newFile.blob = URL.createObjectURL(newFile.file)
                }
            },

            onWizardComplete: function () {
                // alert('Yay. Done!');
                this.is_page_updating = true
                console.log("this.avatarFile::")
                console.log(this.avatarFile)

                // you can probably do fetch(blobUrl).then(res => res.blob()).catch(err => { //handle err
                console.log("this.previewCustomerRegister.avatarFile::")
                console.log(this.previewCustomerRegister.avatarFile)

                console.log("this.previewCustomerRegister.avatarFile.blob::")
                console.log(this.previewCustomerRegister.avatarFile.blob)
                console.log(typeof this.previewCustomerRegister.avatarFile.blob)

                if (typeof this.previewCustomerRegister.avatarFile.blob == "undefined") {

                    let customerRegisterArray =
                        {
                            username: this.previewCustomerRegister.username,
                            email: this.previewCustomerRegister.email,
                            first_name: this.previewCustomerRegister.first_name,
                            last_name: this.previewCustomerRegister.last_name,
                            password: this.previewCustomerRegister.password,
                            account_type: this.previewCustomerRegister.account_type,
                            phone: this.previewCustomerRegister.phone,
                            website: this.previewCustomerRegister.website,
                            notes: this.previewCustomerRegister.notes,
                        };

                    console.log("customerRegisterArray::")
                    console.log(customerRegisterArray)

                    axios({
                        method: ('post'),
                        url: window.API_VERSION_LINK + '/customer_register_store',
                        data: customerRegisterArray,
                    }).then((response) => {
                        this.is_page_updating = false
                        this.message = ''
                        this.$store.dispatch('retrieveActiveCustomersCount' );
                        this.showPopupMessage("Customer Register", 'Customer added successfully ! You can login into the system with provided credentials !',
	                        'success');
                        // this.showPopupMessage("Customer Register", 'Customer added successfully ! Check entered email for activation link !', 'success');
                        // alert("SAVED NO AVATAR!!::" + var_dump())
//                     this.$router.push({path: '/'});
                    }).catch((error) => {
                        console.error(error)
                        this.$setLaravelValidationErrorsFromResponse(error.response.data);
                        this.is_page_updating = false
                        this.showPopupMessage("Customer Register", 'Error adding customer ! Check Details fields !', 'warn');
                        this.$refs.customer_register_wizard.changeTab(3, 0)
                    });

                    return
                }

                var self = this;

                fetch(this.previewCustomerRegister.avatarFile.blob).then(function (response) {
                    // console.log("fetch response::")
                    // console.log( response )

                    if (response.ok) {
                        return response.blob().then(function (avatarBlob) {

                            // var objectURL = URL.createObjectURL(avatarBlob);

                            let data = new FormData()
                            data.append('username', self.previewCustomerRegister.username)
                            data.append('email', self.previewCustomerRegister.email)
                            data.append('first_name', self.previewCustomerRegister.first_name)
                            data.append('last_name', self.previewCustomerRegister.last_name)
                            data.append('password', self.previewCustomerRegister.password)
                            data.append('account_type', self.previewCustomerRegister.account_type)
                            data.append('phone', self.previewCustomerRegister.phone)
                            data.append('website', self.previewCustomerRegister.website)
                            data.append('notes', self.previewCustomerRegister.notes)
                            data.append('avatar_filename', self.previewCustomerRegister.avatarFile.name)
                            data.append('avatar', avatarBlob)
                            axios({
                                method: 'POST',
                                url: window.API_VERSION_LINK + '/customer_register_store',
                                data: data,
                                headers: {
                                    'Accept': 'application/json',
                                    'Content-Type': 'multipart/form-data'  // multipart/form-data - as we need to upload with image
                                }
                            }).then((response) => {
                                console.log("+1 success response::")
                                console.log( response )
                                // debugger

                                self.is_page_updating = false
                                self.message = ''
                                // self.showPopupMessage("Customer Register", 'Customer added successfully ! Check entered email for activation link !', 'success');
                                self.showPopupMessage("Customer Register", 'Customer added successfully ! You can login into the system with provided credentials !',
                                    'success');
                                // alert( "SAVED!!::123")
                                self.$router.push({path: '/'});
                            }).catch((error) => {
                                console.error(error)
                                self.$setLaravelValidationErrorsFromResponse(error.response.data);
                                self.is_page_updating = false
                                // console.log("error::")
                                // console.log( error )

                                self.showPopupMessage("Customer Register", 'Error adding customer ! Check Details fields !', 'warn');
                                // window.grecaptcha.reset()
                                self.is_recaptcha_verified = false;
                                self.$refs.customer_register_wizard.changeTab(3, 0)
                            });


                        });
                    } else {
                        return response.json().then(function (jsonError) {
                            // ...
                        });
                    }
                }).catch(function (error) {
                    console.log('There has been a problem with your fetch operation: ', error.message);
                }); // fetch(this.previewCustomerRegister.avatarFile.blob).then(function (response) {

            },

            afterTabChange: function (prevIndex, nextIndex) {
                this.message = ''
                // window.grecaptcha.reset()
                this.is_recaptcha_verified = false

                if (prevIndex == 0 && nextIndex == 1) { // Details fields were submitted
                    this.$store.commit("refreshCustomerRegisterForm", {
                        username: this.customerRow.username,
                        email: this.customerRow.email,
                        first_name: this.customerRow.first_name,
                        last_name: this.customerRow.last_name,
                        password: this.customerRow.password,
                        account_type: this.customerRow.account_type,
                        phone: this.customerRow.phone,
                        website: this.customerRow.website,
                        notes: this.customerRow.notes,

                    });
                }

                if (prevIndex == 1 && nextIndex == 2) { // Additional info fields were submitted
                    this.$store.commit("refreshCustomerRegisterForm", {
                        access_to_privacy_details: this.customerRow.access_to_privacy_details,
                        show_online_status: this.customerRow.show_online_status
                    });
                }

                if (prevIndex == 2 && nextIndex == 3) { // Additional info fields were submitted
                    this.$store.commit("refreshCustomerRegisterForm", {avatarFile: this.customerRow.avatarFile});
                }

                if (nextIndex == 3) { // Preview page was opened
                    $('#preview_avatar_file').attr('width', this.uploaded_avatar_width);
                }
            }, // afterTabChange: function (prevIndex, nextIndex) {

            beforeTabSwitch: function () {
                return this.vueErrorsList.items.length == 0;
            },

        }, // methods: {

    }

    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof (oElem) == 'string' || typeof (oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof (oElem) == 'innerHTML' || typeof (oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }

</script>

<style lang="scss" scoped>
	@import "./resources/sass/_variables.scss";

	.registration-tab-content {
		border: $border-separator-color;
		padding: 0.4rem;
	}

	.vue-form-wizard .category {
		font-size: 16px  !important;
		font-weight: 700 !important;
		color: $subtitle-color !important;
		margin-bottom: 0 !important;
		text-align: center !important;
		border: 2px dotted red !important;
	}
</style>
