// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
@import "node_modules/font-awesome/scss/font-awesome";

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/roboto/Roboto_regular.ttf');
    font-style: normal
}

// Variables
@import '../variables';


// Font Awesome
//@import "~font-awesome/scss/font-awesome";

@import "~font-awesome/scss/font-awesome";

// Bootstrap
@import '~bootstrap/scss/bootstrap';


/// PAGE LAYOUT BLOCK START


/*
body {
  min-height: 100vh;
}
*/

@media only screen and (min-width: 769px) { // for big devices bigger ipad
    main {
        display: flex;
        min-height: 100vh;
        flex: 1;

        @if ($debug_mode) {
            border: 0.3rem dotted red;
        }
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

@media only screen and (max-width: 768px) { // for ipad and smaller devices
    main {
        min-height: 100vh;

        @if ($debug_mode) {
            border: 1rem dotted red;
        }
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

//
//.sidebar {
//  border: none !important;
//}

/*
.wrapper {
  border: none !important;
}

#app {
  display: flex;
  flex: 1;
  flex-direction: column;
  @if ($debug_mode) {
    border: 0.2rem dotted blue;
  }
  //width: 100%;
  min-height: 100vh;
  //height: calc(100vh - 27px);
  //margin-right: 15px;
  margin: 0;
  padding: 0;
  background-color: $background_color !important;
}
*/


#page_content {
    display: flex;
    @if ($debug_mode) {
        border: 0.3rem dotted blue;
    }
    flex: 1;
    flex-direction: column;
    color: $text-color !important;
    width: 100%;
    margin: 0;
    padding: 6px;
}

.page_content_container {
    //border: 6px dotted maroon;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.page_content_header {
    @if ($debug_mode) {
        border: 0.2rem dotted green;
    }
    padding: 10px;
    margin: 0;
    //background: #9cbb74 linear-gradient(rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0) 100%);
}

.page_content_content {
    flex: 1;
    border: 0 dotted olive;
}

.page_content_footer {
    flex: 1;
    border: 0 dotted olive;
}


///  COMMON FLEX ELEMENTS BLOCK START
.key_values_rows_label_half {
    display: flex;
    justify-self: flex-start;
    flex: 1;
    font-weight: normal;
    border: 0px dotted green;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.key_values_rows_value_half {
    justify-self: flex-end;
    flex: 1;
    font-weight: normal;
    color: #403941;
    border: 0px dotted red;
}

.key_values_rows_label_13 {
    display: flex;
    justify-self: flex-start;
    flex: 1 1 50px;
    font-weight: normal;
    border: 0px dotted green;
    width: auto;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.key_values_rows_value_13 {
    justify-self: flex-end;
    flex: 3 1;
    font-weight: normal;
    color: #403941;
    border: 0px dotted red;
}


.key_values_rows_label_200_label {
    display: flex;
    justify-self: flex-start;
    flex: 0 0 200px;
    font-weight: normal;
    border: 0px dotted green;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.key_values_rows_value_200_label {
    justify-self: flex-end;
    flex: 1 1;
    font-weight: normal;
    color: #403941;
    border: 0px dotted red;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.row_content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    //align-items: center;
    border: 0 dotted olive;
    width: 100% !important;
}

.column_content_centered {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    width: 100% !important;
    border: 0px dotted red !important;
}

.column_content_left_aligned {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    border: 0px dotted maroon;
    width: 100% !important;
}

.column_content_right_aligned {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-end;
    border: 0px dotted maroon;
    width: 100% !important;
}

.row_content_centered {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around !important;
    align-items: center;
    border: 0px dotted red !important;
    width: 100%;
}

.row_content_right_aligned {
    display: flex !important;
    flex-direction: row !important;
    justify-self: flex-end;
    justify-content: flex-end !important;
    align-items: flex-end !important;
    border: 0px dotted green !important;
    width: 100%;
}

.row_content_left_aligned {
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    border: 0px dotted green !important;
    width: 100%;
}

.btn_right_aligned {
    display: flex;
    flex: 1 0 250px;
    padding-right: 10px;
}
.key_values_rows {
    display: flex;
    flex-direction: row;
    padding: 4px;
    border: 0px dotted blue !important;
    width: 100% !important;
}


.key_values_rows_label {
    display: flex;
    justify-self: flex-start;
    flex: 4;
    font-weight: normal;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.key_values_rows_value {
    justify-self: flex-end;
    font-weight: normal;
    color: #403941;
}

.label_control_row {
    display: flex;
    flex-direction: row;
    padding: 4px;
    margin: 10px;
    /*background-color: yellow;*/
}


.label_control_row_label {
    display: flex;
    justify-self: flex-start;
    align-items: center;
    flex: 0 1 150px;
    font-weight: normal;
    padding: 5px;
    margin: 5px;
    flex-wrap: nowrap;
    border: 0px dotted green;
}

.label_control_row_control {
    justify-self: flex-start;
    align-items: center;
    font-weight: normal;
    flex: 1 1;
    color: #403941;
    padding: 5px;
    margin: 5px;
    border: 0px dotted red;
}


.content_with_right_button {
    display: flex;
    flex-direction: row;
}

.content_with_right_button_left_content {
    display: flex;
    flex: 1 1;
    border: 0px dotted green;
}

.content_with_right_button_right_button {
    display: flex;
    flex: 0 0 30px;
    border: 0px dotted red;
    align-items: center;
    justify-content: center;
}

/* Big Media */
.block_2columns_md { /* md */
    display: flex;
    flex-direction: row;
    padding: 4px;
    border: 0 dotted blue !important;
    width: 100% !important;
}

.block_2columns_sm {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 4px;
    border: 0px solid red !important;
    width: 100% !important;

}


///  COMMON FLEX ELEMENTS BLOCK END


///  PUBLIC USER BLOCK START
.hidden_info {
    color:$background_color;
    //display: none;
    //color:$text-color;
    background-color:$background_color;
}

.public_user_name {
    padding: 0;
    font-weight: bold;
    text-decoration: none;
    color: #ff5454 !important;
    a_link {
    }
;
}

.public_user_name > a{
    padding: 0;
    font-weight: normal;
    text-decoration: none;
    color: #ff5454 !important;
    a_link {
    }
;
}

.user_member_level {
    padding: 0;
    font-weight: bold;
    color: #403941;
    text-decoration: underline;
}


///  PUBLIC USER BLOCK END

/// HOSTES(S) LISTING/ITEM BLOCK START
.hostel_items_group_title {
    padding: 6px 6px 6px 20px;
    margin: 6px 15px 6px 15px;
    font-size: 1.4rem;
    //background: #9cbb74 linear-gradient(rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0) 100%);
    justify-content: center;
    align-items: center;
}

.hostel_item_title {
    padding: 6px 6px 6px 20px;
    margin: 6px 15px 6px 15px;
    font-size: 1.2rem;
    background: #9cbb74 linear-gradient(rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0) 100%);
    justify-content: center;
    align-items: center;
}

/*
.hostel_item_title {
  flex: 0 1;
  @if ($debug_mode) {
    background-color: #bbdfff;
  }
  margin: 0 !important;
  padding-bottom: 0.3rem !important;
  padding-top: 1rem !important;
  justify-content: center;
  align-items:center;
}

*/


.hostel_items_listings_container {
    display: flex;
    flex-direction: column;
    //@if( $debug_mode ) {
    //  border: 0.2rem dotted blue;
    //  background-color: white;
    //}
    flex: 1;
}

.hostel_item_container {
    flex: 1;
    flex-direction: column;
    display: flex;
    @if ($debug_mode) {
        border: 0.1rem solid red;
    }
    //border: $border-separator-color;

    margin: 10px !important;
    background-color: rgb(252, 255, 252) !important;
    padding: 10px !important;
    /*margin: 10px auto;*/
    /*border: 3px dotted red;*/
    border: $item-border;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -khtml-border-radius: 10px !important;
    border-radius: 10px !important;

}

.hostel_item_pagination_container {
    flex: 1;
    flex-direction: column;
    display: flex;
    @if ($debug_mode) {
        border: 0.1rem solid red;
    }
    @if (not $debug_mode) {
        border: $border-separator-color;
    }
    //flex-basis: 100px;
    margin: 0 !important;
    padding: 0 !important;
}

.hostel_item_content {
    @if ($debug_mode) {
        border: 2px solid red;
    }
    flex: 1 1 90px;
    flex-direction: column;
    margin: 0 !important;
    padding: 0 !important;
    /*justify-content: flex-start;*/
}

.hostel_item_commands_row {
    flex: 0 0 2rem !important;
    //@if( $debug_mode ) {
    //  background-color: lightpink;
    //}
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}


.hostel_item_commands_row_cell {
    flex-wrap: wrap;
    flex: 1 0;
    //@if( $debug_mode ) {
    //  border: 0.1rem dotted red;
    //}
    align-content: center;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}


.item_columns_container {
    flex: 1;
    flex-direction: column;
    display: flex;
    @if ($debug_mode) {
        border: 0.1rem solid red;
    }
    @if (not $debug_mode) {
        border: $border-separator-color;
    }
    margin: 0 !important;
    padding: 0 !important;
}

.bottom_split_border {
    border-bottom: $border-separator-color !important;
    width: 100% ;
}

.top_split_border {
    border-top: $border-separator-color !important;
}

footer {
    flex-basis: 2rem;
    border-top: $border-separator-color;
    @if ($debug_mode) {
        background-color: #deffd0;
        border: 0.2rem dotted blue;
    }
}

header {
    //flex-basis: 4rem;
    margin: 0;
    padding: 0;
    border-bottom: $border-separator-color;
    @if ($debug_mode) {
        background-color: #bbdfff;
        border: 0.2rem dotted green;
    }
}

aside {
    width: 30vw;
    border-left: $border-separator-color;
    @if ($debug_mode) {
        background-color: #e5dde2;
    }
}

//nav {
//  width: 20vw;
//  order: -1;
//  border-right: $border-separator-color;
//}

#nav_main {
    width: 20vw;
    order: -1;
    border-right: $border-separator-color;
}

/// PAGE LAYOUT BLOCK END

/// HEADER BLOCK START
.app_header_container {
    display: flex;
    flex-direction: row;
    flex: 1;
    //width: 100%;
    margin: 0;
    @if ($debug_mode) {
        background-color: greenyellow;
    }
}

.app_header_left_col {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3px;
    margin: 0;

    @if ($debug_mode) {
        background-color: yellow;
    }


}

.app_header_center_col {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 3px;
    margin: 0;
}

.app_header_right_col {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    //padding-right: 1rem;
    padding: 3px;
    margin: 0;

    @if ($debug_mode) {
        background-color: magenta;
    }

}

.app_header_top_col {
    display: flex;
    justify-content: center;
    padding: 3px;
    margin: 0;
}

.app_header_bottom_col {
    display: flex;
    justify-content: center;
    padding: 0 !important;
    margin: 0 !important;
}

/// HEADER BLOCK END


/* NAVBAR BLOCK START  https://bootsnipp.com/snippets/yN681  */
.navbar {
    background: $navigation-color !important;
    color: $background_color;
}


.dropdown {
    //border-radius:0;
    border: 0;
}

.dropdown-menu {
    background: $navigation-color;
    color: $background_color;

    //border:0;
    top: 80%;
    border-radius: 0px 0px 0.3rem 0.3rem;
}


.dropdown-item {
    //background:#9cccfe;
    font-size: $font_size;
    color: $navigation-color;
}

.dropdown-item:hover {
    //background:#9cccfe;
    font-size: $font_size;
    color: $navigation-color;
}

.dropdown-menu a {
    color: $navigation-color;
    font-size: $font_size;
}

.router-link-active {
    font-weight: bold;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #1f2120 !important;
    //color: $toggle_color;
    font-weight: bold;
    border-bottom: 0.1rem solid;
    background-color: #dfdfdf;
    margin: 4px 10px 4px 10px !important;
}

.navbar .nav-item {
    padding: 0;
    margin: 0;
    margin-left: 10px !important;
    margin-right: 10px !important;
    color: $toggle_color !important;
    //color:$text-color !important;
    font-size: medium;
}

.navbar .nav-item .nav-link:hover .navbar .nav-item {
    color: #919a96 !important;
    //color: $toggle_color !important;
}

.nav-pills .nav-link {
    color: #919a96 !important;
    //color: $toggle_color !important;
    font-weight: normal;
    background-color: #dfdfdf !important;
    font-size: medium;
    margin: 4px 10px 4px 10px !important;
}


.navbar-light .navbar-nav .nav-link {
    color: #919a96 !important;
}

// .nav-pills > li > a

.nav-pills > li > a {
    background-color: #e5e5e5 !important;
}

//.nav-pills .nav-pills > li > a {
//  color: #e5e5e5;
//  border-bottom: 0.1rem dotted grey !important;
//}

.divider {
    height: 0.1rem;
    margin: 9px 0;
    overflow: hidden;
    background-color: #c2c2c2;
}

.app_title_icon_transparent_on_white {
    color: white;
    background-color: transparent;
    //background-color: $navigation-color;
    //color: $background_color;
    margin-right: 0.3rem;
}

.app_title_icon_selected_dashboard {
    color: transparent;
    background-color: white;
    margin-right: 0.3rem;
}


.app_title {
    color: $title-color !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: $font_size_big;
}

.app_subtitle {
    color: $subtitle-color !important;
    display: flex;
    //justify-content: center;
    //align-items: center;
    font-size: $font_size_bigger;
}

.app_title_icon {
    color: $text-color !important;
    background-color: transparent;
    margin-right: 0.3rem;
}

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.04);
}


.navbar .navbar-nav > li > a {
    height: 40px;
    line-height: 40px;
    padding: 0 0.3rem 0 0.6rem;
}


/* NAVBAR BLOCK END */

/// HOSTEL ITEM BLOCK START

body {
    font-family: 'Roboto', 'Open Sans';
    font-size: $font_size;
    //color: yellow;
}

h1, h2, h3, h4, h5, h6, span, div, p {
    font-family: 'Roboto', 'Open Sans';
    //color: red;
}


.loading {
    display: flex;
    align-self: center !important;
    align-items: center !important;
    background-image: url(/images/big_loading.gif);
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    margin: 10px;
    margin-right: 0.6rem;
    padding: 0;
}

///
.integer_cell {
    border: 0.1rem dotted yellow;
}

.datetime_cell {
    border: 0.1rem dotted olive;
}

.errors {
    background: #ffddd0;
    border-radius: 0.3rem;
    border: 0.1rem solid #ffddd0;
    padding: 0.3rem;
}

.no_data_found {
    color: $warning-text-color;
}


@font-face {
    font-family: 'Roboto';
    src: url('/fonts/roboto/Roboto_regular.ttf');
    font-style: normal;
}

//@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
//@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
//#app {
//   margin: 0 !important;
//   padding: 0 !important;
//   @if( $debug_mode ) {
//      border: 0.2rem dotted green;
//   }
//}


//.content {
//  margin: 0 !important;
//  padding: 0 !important;
//  @if( $debug_mode ) {
//    border: 0.1rem dotted blue;
//  }
//}
//body {
//  font-family: 'Roboto', 'Open Sans';
//  font-size: $font_size;
//}


.listing_content_body_block {
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    @if ($debug_mode) {
        border: 0.1rem dotted red;
    }
}

.editor_content_body_block {
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    @if ($debug_mode) {
        border: 0.1rem dotted red;
    }
}

.listing_content_table {
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    @if ($debug_mode) {
        border: 0.1rem dotted green;
    }

}

h1, h2, h3, h4, h5, h6, span, div, p {
    font-family: 'Roboto', 'Open Sans';
}

input, select, textarea {
    font-size: $font_size;
}

.form-control:disabled, .form-control[readonly] {
    font-size: $font_size !important;
}

.col-form-label {
    color: $text-color !important;
}

//@media screen and (max-width:1024px) {
.td_nowrap td {
    white-space: nowrap;
    word-wrap: normal;
}

.td_nowrap td:nth-child(2) {
    width: 80%;
}

//}

*:hover {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.container {
    padding: 0 !important;
    //margin: 0 !important;
    margin: auto !important;
    //width: 100%;
    //width: 100vh;
    //min-height: 100vh;

    @if ($debug_mode) {
        border: 0.2rem dotted yellow;
    }

}

.card, .card-header, .card-body, .card-text, .card-title, .card-footer, .card-subtitle {
    font-size: $font_size;
    background-color: $background_color !important;
    color: $text-color !important;
    //background-color: green  !important;
    font-family: 'Roboto', 'Open Sans' !important;
    text-decoration: none !important;
    border: none;
    padding: 0;
    margin: 0;
    //line-height: 1.0em !important;
    //@if( $debug_mode ) {
    //  border: 0.2rem dotted darkblue !important;
    //}
}

.card-title {
    font-size: large;
    font-weight: bold;
    text-align: center;
    color: $title-color;
    background-color: $background_color;
    font-family: 'Roboto', 'Open Sans';
    //font-size: $font_size;
    @if ($debug_mode) {
        border: 0.1rem dotted red !important;
    }
    //line-height: 1.0em !important;

}

.card-body {
    font-size: $font_size;
    background-color: $background_color !important;
    font-family: 'Roboto', 'Open Sans' !important;
    //@if( $debug_mode ) {
    //  border: 0.1rem dotted darkblue !important;
    //}
}

/*

.card-text {
  font-size: $font_size;
  background-color: $background_color !important;
  //background-color: green  !important;
  font-family: 'Roboto', 'Open Sans' !important;
  line-height: 1.0em !important;
  //@if( $debug_mode ) {
  //  border: 0.2rem dotted red !important;
  //}
}
*/

.description-text {
    font-size: $font_size;
    background-color: $background_color !important;
    //background-color: green  !important;
    font-family: 'Roboto', 'Open Sans' !important;
    //@if( $debug_mode ) {
    //  border: 0.1rem dotted red !important;
    //}
}

section {
    float: left;
    width: 100%;
    background: $background_color; /* fallback for old browsers */
    padding: 10px 0;
}

//h1{float:left; width:100%; color:#232323; margin-bottom:30px; font-size: 14px;}
//h1 span{font-family: Roboto, serif; display:block; font-size:45px; text-transform:none; margin-bottom:20px; margin-top:30px; font-weight:700}
//h1 a{color:#131313; font-weight:bold;}


.bordered {
    border: 0px solid yellow;
}

.found_text {
    background-color: #faff98;
}

.badge {
    display: inline-block;
    min-width: 0.6rem;
    padding: 0.3rem 0.6rem;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.4;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 0.6rem;
    z-index: 5 !important;
}

.badge-primary {
    background-color: #19be87 !important;
}

.badge-secondary {
    background-color: #599bbe !important;
}

/* VUE_CAROUSEL BLOCK END  */
.VueCarousel-pagination {
    border: 0.1rem gray solid !important;
    color: green !important;
    opacity: 1 !important;
}

.VueCarousel-dot-container {
    border: 0.1rem gray solid !important;
    opacity: 1 !important;
}

.VueCarousel-dot {
    color: green !important;
    background-color: yellow !important;
    opacity: 1 !important;
}

/* VUE_CAROUSEL BLOCK END  */

.image_width_full_aligned {
    border: 1px solid gray;
    padding: 0.1rem;
    margin: 0.3rem;
    width: 100% !important;
    height: auto;
}

.single_news_image_left_aligned {
    border: 1px solid gray;
    //border: 0.1rem dotted red;
    padding: 0.1rem;
    margin: 0.3rem;
    max-width: 300px !important;
    height: auto;
}

.single_hostel_image_left_aligned {
    border: 1px solid gray;
    //border: 0.1rem dotted red;
    padding: 0.1rem;
    margin: 0.3rem;
    max-width: 240px;
    height: auto;
}

.img-preview-wrapper {
    text-align: center !important;
    border: none;
}

.news-preview-wrapper {
    text-align: center !important;
    border: none;
}


/* TEXT BLOCK START */
.small_title {
    font-size: medium;
    //color: green;
}

.small_size {
    font-size: 14px;
}


/* TEXT BLOCK END */

/* COMMON BLOCK START */

.pre-formatted > p {
    white-space: normal !important;
    margin: 0 !important;
    margin-bottom: 10px !important;
    padding: 2px !important;
    line-height: 1.6em !important;
    //border: 2px dotted blue !important;
}


.text_wrapper > p {
    width: 450px !important;
    margin: 0 !important;
    //border: 2px dotted red !important;
}

i {
    padding-right: 4px !important;
}


::placeholder { /* Most modern browsers support this now. */
    color: #8b8b8b !important;
    //background-color: yellow;
}

.validation_error {
    border: 0.1rem solid red;
}

.error-help-block {
    color: red;
}


a {
    text-decoration: none !important;
}

/*
.a_link {
  cursor: pointer !important;
  color: $navigation-color !important;
}
*/

.a_link {
    cursor: pointer !important;
    color: $link_color !important;
    margin-right: 0.3rem;
}

.toggle_link {
    cursor: row-resize !important;
    color: $toggle_color !important;
    margin-right: 0.3rem !important;
}

.action_link {
    cursor: cell !important;
    color: $action_color !important;
    margin-right: 0.3rem;
}


.external_link {
    cursor: cell !important;
    color: $external_color !important;
    margin-right: 0.3rem;
}


.i_link {
    cursor: pointer !important;
    margin-right: 0.3rem !important;
}

.no_cursor {
    cursor: default !important;
}


.tooltip {
    display: block !important;
    z-index: 10000;
}

.tooltip .tooltip-inner {
    background: $text-color !important;
    color: #efefef;
    border-radius: 16px;
    padding: 0.3rem 0.6rem 0.2rem;
}

.tooltip .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 0.3rem;
    border-color: $background_color;
}

.tooltip[x-placement^="top"] {
    margin-bottom: 0.3rem;
}

.tooltip[x-placement^="top"] .tooltip-arrow {
    border-width: 0.3rem 0.3rem 0 0.3rem;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    bottom: -0.2rem;
    left: calc(50% - 0.3rem);
    margin-top: 0;
    margin-bottom: 0;
}

.tooltip[x-placement^="bottom"] {
    margin-top: 0.3rem;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow {
    border-width: 0 0.3rem 0.3rem 0.3rem;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
    top: -0.2rem;
    left: calc(50% - 0.3rem);
    margin-top: 0;
    margin-bottom: 0;
}

.tooltip[x-placement^="right"] {
    margin-left: 0.3rem;
}

.tooltip[x-placement^="right"] .tooltip-arrow {
    border-width: 0.3rem 0.3rem 0.3rem 0;
    border-left-color: transparent !important;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    left: -0.2rem;
    top: calc(50% - 0.3rem);
    margin-left: 0;
    margin-right: 0;
}

.tooltip[x-placement^="left"] {
    margin-right: 0.3rem;
}

.tooltip[x-placement^="left"] .tooltip-arrow {
    border-width: 0.3rem 0 0.3rem 0.3rem;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    right: -0.2rem;
    top: calc(50% - 0.3rem);
    margin-left: 0;
    margin-right: 0;
}

.tooltip[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
}

.tooltip[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
}


ul {
    list-style-type: none;
    padding: 0.1rem;
}

ul.no_list_style {
    list-style-type: none
}

.list-group {
    background-color: $background_color;
}

.list-group-item {
    background-color: $background_color;
}

td.details-control {
    background: url(/images/details_open.png) no-repeat center center;
    cursor: pointer;
    width: 18px;
}

tr.shown td.details-control {
    background: url(/images/details_close.png) no-repeat center center;
}

fieldset.notes-block {
    border: $border-separator-color;
    font-size: $font_size !important;
    color: $text-color !important;

    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
    width: 100%;
}

legend.notes-blocks {
    font-size: medium !important;
    font-weight: bold !important;
    text-align: left !important;
    width: auto;
    padding: 0 0.6rem;
    border-bottom: none;
}

/* DIALOGS BLOCK START */
.modal_editor_container {
    flex: 1;
    flex-direction: column;
    display: flex;
    border: $border-separator-color;
    flex-basis: 100%;
    background-color: yellow !important;
    height: 100%;
    padding: 0;
    margin: 0;
    z-index: 10000 !important;
}

.modal_editor_title {
    flex: 0 0;
    padding: 0 !important;
    margin: 0 !important;
    border-bottom: $border-separator-color;
    background-color: #D0E1D9 !important;
    color: $title-color;
    z-index: 10000 !important;
}


.modal_editor_fields {
    flex: 1 0;
    @if ($debug_mode) {
        background-color: #bbdfff;
    }
    margin: 10px !important;
    padding: 0 !important;
    border: $item-border;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -khtml-border-radius: 10px !important;
    border-radius: 10px !important;
    z-index: 10000 !important;

    /*background-color: olive !important;*/
}

.modal_editor_details {
    flex: 1 1;

    @if ($debug_mode) {
        background-color: #bbdfff;
    }
    margin: 0 !important;
    padding: 1rem !important;
    z-index: 10000 !important;
    //background-color: yellow !important;
}

.modal-title {
    color: $text-color !important;
    font-weight: bold;
    z-index: 10000 !important;
}

.modal_editor_footer {
    flex: 0 0;
    border-top: $border-separator-color;
    padding-top: 0.6rem !important;
    padding-right: 0.6rem !important;
    background-color: #D0E1D9 !important;
    color: $title-color;
    z-index: 10000 !important;
}


.v-select ul {
    color: $text-color !important;
    background-color: $background_color !important;
    //margin: 0 !important;
    //padding: 0 !important;
}

.v-select {
    //color : $text-color !important;
    //background-color: $background_color !important;
    margin: 0 !important;
    padding: 0 !important;
}


.v-select input[type=search], .v-select input[type=search]:focus {
    //appearance: none;
    //-webkit-appearance: none;
    //-moz-appearance: none;
    line-height: 1.7 !important;
    /*
    font-size: 1em;
    display: inline-block;
    border: 1px solid transparent;
    border-left: none;
    outline: none;
    margin: 4px 0 0;
    padding: 0 7px;
    max-width: 100%;
    background: none;
    box-shadow: none;
    flex-grow: 1;
    width: 0;
    height: inherit;
    */
}

.v--modal-box .v--modal .vue-dialog {
    z-index: 100 !important;
    opacity: 1 !important;
}

.dialog-content {
    z-index: 100 !important;
    font-size: $font_size !important;
    opacity: 1 !important;
    border: 0 solid red;
}

.vue-dialog-buttons button {
    font-size: 18px !important;
    font-weight: 900;
    margin: 20px !important;
    padding: 10px 20px 10px 20px !important;
    border: $border-separator-color;
    //background-color: red !important;
}

.modal_image_view_container {
    border: $border-separator-color;
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
}

/* DIALOGS BLOCK END */


/* vue-js-popover BLOCK START  https://github.com/euvl/vue-js-popover */
div[data-popover="foo"] {
    background: #444;
    color: #f9f9f9;

    font-size: 12px;
    line-height: 1.5;
    margin: 5px;
}

/* vue-js-popover BLOCK END */

/* BUTTONS BLOCK START */
.btn-cancel-action {
    margin-left: 20px;
    color: $button_color;
    background-color: $cancel_background_color;
    min-width: 120px;
}

//.btn-prev-action {
//  color: $button_color;
//  background-color: $prev_background_color;
//}
.btn-label {
    padding: 0;
    margin: 0;

}

.btn-link {
    padding: 0;
    margin: 0;
    font-size: medium;
}

.btn-group { /*   pull-right   */
    padding: 0px;
    margin: 0;
    //margin-bottom:  $indent_sm;
    //margin-top:  $indent_sm;
    border: 0px solid blue; /* DEBUGGING */
    vertical-align: text-top;
    //background-color: yellow;
}

.btn-file {
    padding-right: 100px;
}

.required {
    color: red;
}

.text-primary {
    color: $text-color !important;
}

.text-info {
    color: darkgreen !important;
}

.reversed_style_hard .text-info {
    color: #eeeeee !important;
}

.alert-disable {
    background-color: #d0d0d0 !important;
}


.service_key_word {
    color: #1e1e1e !important;
}

.date_ago_label {
    color: #5d5d5d !important;
}

.text-danger {
    color: red !important;
    //text-align: center;
}

.inactive {
    color: grey !important;
}

/* BUTTONS BLOCK END */


/* STYLING TAGS START */


.legend_title {
    color: $text-color !important;
}

.ul_multiline {
    padding: $indent_xs_2 $indent_sm $indent_sm $indent_sm;

    a {
        cursor: pointer;
    }

    li {
        list-style: none;
    }
}


/* STYLING TAGS END */


/* FILTERS BLOCK END */
.filter_box_columns {
    display: flex;
    flex-direction: column;
    margin: 0.6rem;
}

.filter_box_radio {
    margin-top: 6px;
    margin-right: 0.1rem;
}

.filter_box_radio_label {
    margin-left: 0.1rem;
    padding: 0;
    color: $text-color !important
}

.filter_box_radio_cell {
    display: flex;
    flex-wrap: nowrap;
    padding: 0.6rem;
    border: 0px dotted green;
}

.filter_box_items_row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.filter_box_items_row_left_aligned {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.filter_box_input_label {
    display: flex;
    flex: 1 0;
    color: $text-color !important
}

.filter_box_input {
    display: flex;
    flex: 3 0;
}

/* FILTERS BLOCK END */


/* COMMON BACKEND BLOCK END */
.backend_listing_container {
    flex: 1;
    flex-direction: column;
    display: flex;
    @if ($debug_mode) {
        border: 1px solid red;
    }
    @if (not $debug_mode) {
        border: $border-separator-color;
    }
    //flex-basis: 430px;
    margin: 5px !important;
    padding: 10px !important;
}

.backend_listing_title {
    flex: 0 1 50px;
    @if ($debug_mode) {
        background-color: #bbdfff;
    }
    margin: 0 !important;
    padding-bottom: 0.3rem !important;
    padding-top: 1rem !important;
}

.backend_listing_footer {
    flex: 0 1 50px;
    //@if ($debug_mode) {
    background-color: olive;
    //}
    margin: 0 !important;
    padding-bottom: 0.3rem !important;
    padding-top: 1rem !important;
}


.backend_listing_filters {
    @if ($debug_mode) {
        border: 0.1rem solid blue;
    }
    flex: 1 1 3rem;
    //flex: 1 1 100px;
    flex-direction: row;
    margin: 0 !important;
    padding: 0 !important;
    justify-content: flex-start;
}

.backend_listing_content {
    @if ($debug_mode) {
        border: 0.1rem solid red;
    }
    flex: 1 1 5rem;
    //flex: 1 1 150px;
    flex-direction: row;
    margin: 0 !important;
    padding: 0 !important;
    justify-content: flex-start;
}

/* COMMON BACKEND BLOCK END */



/* vue-upload-component BLOCK START */

.file-uploads {
    overflow: hidden;
    position: relative;
    text-align: center;
    display: inline-block;
    border: 1px solid darkgray !important;
}

.file-uploads.file-uploads-html4 input[type="file"] {
    opacity: 0;
    font-size: 20em;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px dotted blue !important;
}

.file-uploads.file-uploads-html5 input[type="file"] {
    overflow: hidden;
    position: fixed;
    width: 1px;
    height: 1px;
    z-index: -1;
    opacity: 0;
    border: 2px dotted green !important;
}

/* vue-upload-component BLOCK END */


/* VUE COMPONENTS BLOCK START */


.vs__search {
    border: none;
    background: #fff;
    height: 35px;
    padding-left: 15px;
    font-size: 15px;
    color: #e6e7e8;
    width: 140px;
    position: relative;
    margin-top: 0 !important;

}


.vs__search::placeholder {
    font-size: 15px;
    color: #e6e7e8;
}

.vs__selected-options {
    position: relative;
    box-shadow: 0 0 8px #e0e0e0 !important;
}

.vs__selected-options::before {
    content: "";

    color: #a9aeb4;
    font-size: 18px;
    position: absolute;
    margin-left: -75px;
    top: 18px;
}


.vs__selected-options:after {
    position: absolute;
    content: "";
    width: 12px;
    height: 18px;
    right: 0;
    margin-right: 15px;
    top: 19px;
    background: url(/svg/down-filters-arrow.svg) no-repeat;
    background-size: contain;
}


#sorting_type > div > .vs__selected-options:after {
    //border: 4px dotted green;
    //background-color: red;
    background: none;
}


.vs__search-sorted {
    border: none;
    background: black;
    height: 55px;
    padding-left: 15px;
    font-size: 15px;
    color: #e6e7e8;
    width: 140px;
    position: relative;
}

.vs__search-sorted::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 18px;
    right: 25px;
    top: 25px;
    background: url(/svg/sort-arrow.svg) no-repeat;
    background-size: contain;
}

.vs__search--input {
    width: 220px;
    position: relative;
    border: none;
    background: #fff;
    font-size: 15px;
    color: #e6e7e8;
    border-radius: 0;
    height: 35px;
    padding: 0 0 0 15px;
    margin: 0;
}


.vs__dropdown-toggle {
    border: 0 !important;
}


.vs__open-indicator {
    display: none;
}


.vs--searchable .vs__dropdown-toggle {
    cursor: text;
    padding: 0;
    background: #fff;
    box-shadow: 0 0 8px #e0e0e0 !important;
}

.vs__selected-options {
    box-shadow: none !important;
}


.vs__search:valid .vs__search-sorted::after {
    background: none;
}


.vs__clear {
    margin-right: 0 !important;
    margin-left: -26px;
}


.vs__search:focus .vs__search-sorted::after {
    background: none !important;
}

.vs__actions {
    z-index: 99 !important;
}

/* VUE COMPONENTS BLOCK END */

.v-lazy-image {
    filter: blur(10px);
    transition: filter 0.7s;
}

.v-lazy-image-loaded {
    filter: blur(0);
}


/* FORUMS BLOCK START */

.forum_category_block {
    display: flex;
    flex: 1 1 50px;
    flex-direction: column;
    margin: 0;
    padding: 0;
    @if ($debug_mode) {
        border: 2px dotted yellow;
    }
    /*margin-bottom: 30px;*/
    /* border-bottom: $border-separator-color;  */
    //-webkit-flex : 1;

}

.forums_listings_container {
    display: flex;
    flex-direction: column;
    /*border: 0px dotted blue;*/
    flex: 1;
    margin: 20px;
    background-color: rgb(252, 255, 252);
    padding: 10px;
    /*margin: 10px auto;*/
    /*border: 3px dotted red;*/
    border: $item-border;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

.forum_category_forums_sublistings_container {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
    /*background-color: chartreuse !important;*/
    @if ($debug_mode) {
        border: 5px dotted gray;
    }
}

.forum_category_info {
    display: flex;
    font-size: 0.85em;
    justify-content: space-around;
    align-items: flex-start;
    margin: 6px;
    margin-bottom: 12px;
    border-bottom: 1px solid #c2dac7;
}


.forum_category_title {
    padding: 6px 6px 6px 20px;
    margin: 6px 15px 6px 15px;
    font-size: 1.4rem;
    background: #9cbb74 linear-gradient(rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0) 100%);
}

.forum_title {
    padding: 4px !important;
    margin: 4px !important;
    font-size: 1.2rem;
    font-weight: bold;
}

.latest_item {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    background: #f2faf7 linear-gradient(rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0) 100%) !important;
}

.latest_forum {
    flex: 1 0 150px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    border: $item-border;

    .latest_item {
    }
;
}

.latest_post {
    border: $item-border;

    .latest_item {
    }
;
    font-size: 0.6rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    //flex: 1 0 200px;
    padding: 0 !important;
    margin: 0 !important;
    background-color: #f7f9f7 !important;
}

.threads_footer {
    background: #c2dac7 linear-gradient(rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0) 100%);
    overflow: hidden;
    zoom: 1;
    /*background: #c2dac7 url(styles/default/xenforo/gradients/category-23px-light.png) repeat-x top;*/

    font-size: 11px;
    color: #618872;
    padding: 4px 10px;
    border-bottom: $item-border;
    line-height: 16px;
}

a.action_button, input.action_button {
    background: #92baa7 url(/images/gradients/form-button-white-25px.png) repeat-x center top;
    padding: 4px;
    border: $item-border;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    display: inline-block;
    line-height: 26px;
    -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
    -khtml-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
    outline: 0 none;
    height: 32px;
    cursor: pointer !important;
}

.forum_view_container {
    display: flex;
    flex-direction: column;
    //flex: 1;
    margin: 20px;
    background-color: rgb(252, 255, 252);
    padding: 10px;
    border: $item-border;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}


.forum_threads_header {
    padding: 6px;
    margin: 2px;
    font-size: 0.6rem;
    background: #9cbb74 linear-gradient(rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0) 100%);
}

.forum_threads_listing_container {
    border: 0px dotted blue;
}

.forum_threads_listing {
    border: 0px dotted green;
    margin: 2px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}


/* FORUMS BLOCK END */

/* BACKEND BLOCK START */
.backend_editor_container {
    flex: 1;
    flex-direction: column;
    display: flex;
    @if ($debug_mode) {
        border: 1px solid red;
    }
    @if (not $debug_mode) {
        border: $border-separator-color;
    }
    flex-basis: 430px;
    margin: 10px 5px 5px 5px;
    padding: 10px !important;
}

.backend_editor_title {
    flex: 0 1 50px;
    @if ($debug_mode) {
        background-color: #bbdfff;
    }
    margin: 0 !important;
    padding-bottom: 5px !important;
    padding-top: 15px !important;
    justify-content: center;
    align-items: center;
}

.backend_editor_details {
    flex: 0 1 50px;
    @if ($debug_mode) {
        background-color: #bbdfff;
    }
    margin: 0 !important;
    padding-bottom: 5px !important;
    padding-top: 15px !important;
}

.backend_editor_footer {
    flex: 0 1 50px;
    @if ($debug_mode) {
        background-color: #bbdfff;
    }
    margin: 0 !important;
    padding-bottom: 5px !important;
    padding-top: 15px !important;
}


.backend_editor_filters {
    @if ($debug_mode) {
        border: 1px solid red;
    }
    flex: 1 1 150px;
    flex-direction: row;
    margin: 0 !important;
    padding: 0 !important;
    justify-content: flex-start;
}

.backend_editor_fields {
    @if ($debug_mode) {
        border: 1px solid red;
    }
    flex: 1 1 150px;
    flex-direction: row;
    margin: 0 !important;
    padding: 0 !important;
    justify-content: flex-start;
}

fieldset.bordered {
    font-size: $font_size !important;
    color: $text-color !important;
    border: 0.3px groove #ddd !important;
    width: 100%;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

legend.bordered {
    font-size: 1.2em !important;
    font-weight: bold !important;
    width: 100%;
    text-align: left !important;
    padding: 0 10px;
    border-bottom: none;
}

/* BACKEND BLOCK END */


.item_container {
    flex: 1;
    flex-direction: column;
    display: flex;
    @if ($debug_mode) {
        border: 0.1rem solid red;
    }
    //border: $border-separator-color;

    margin: 10px !important;
    background-color: rgb(252, 255, 252) !important;
    padding: 10px !important;
    /*margin: 10px auto;*/
    /*border: 3px dotted red;*/
    border: $item-border;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -khtml-border-radius: 10px !important;
    border-radius: 10px !important;

}
