<template>

    <div class="page_content_container">

        <!--        https://bootsnipp.com/snippets/92erW -->
        <section class="page_content_header">

            <editor-header :show_loading_image="!is_page_loaded || is_page_updating" :header_icon="getHeaderIcon('subscription')" :header_title=header_title
                :message=message></editor-header>

            <fieldset v-show="is_debug">
                <legend class="blocks">debug:</legend>
                selected_active_payment_package_id::{{ selected_active_payment_package_id }}<br>
                selectedActivePaymentPackage::{{ selectedActivePaymentPackage }}<br>
                is_page_loaded::{{ is_page_loaded }}<br>
                is_page_updating::{{ is_page_updating }}<br>
                complete::{{ complete }}<br>
                stripeOptions::{{ stripeOptions }}<br>
            </fieldset>


<!--            <editor-header :show_loading_image="!is_page_loaded || is_page_updating" :header_icon="getHeaderIcon('customer')" :header_title=header_title-->
<!--                           :message=message>-->
<!--            </editor-header>-->

            <!--            <listing-header :show_loading_image=!is_page_loaded :current_page=0 :itemsList="activePaymentPackagesArray"-->
            <!--                            :rows_count="activePaymentPackagesArray.length"-->
            <!--                            :header_icon="getHeaderIcon('payment_package')"-->
            <!--                            :header_title=header_title :right_add_button_link="''" :item_title="'Select Payment Package'" :message=message-->
            <!--                            :right_add_button_link_title="''"-->
            <!--                            parent_component_key="payment_packages">-->
            <!--            </listing-header>-->
            ConfirmSelectedPersonalSubscription.vue

        </section>     <!-- class="page_content_header" -->


        <div class="payment_packages_listings_container mb-5" v-if="selectedActivePaymentPackage && is_page_loaded">

<!--            <form v-on:submit.prevent="validateBeforeSubmit()">-->

                <!--
                y::[ { "id": 1, "name": "Free", "stripe_plan_id": "plan_G2hLjiYeoQ87cu", "active": 1, "is_premium": 0, "is_free": 1, "description": "Free description Lorem <strong>ipsum dolor sit</strong> amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis <strong>nostrud exercitation</strong> ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.", "color": "#3e3e3e", "background_color": "#cccccc", "subscription_weight": 1, "price": null, "created_at": "2019-10-31 17:25:27", "updated_at": null, "price_whole": 0, "price_fraction": 0 },
                -->

                <h4 style="padding-top:10px">Pricing Table Style : Demo-1</h4>

                <div class="row">

                    <div class="pricingTable">
                        <div class="column_content_centered"
                             :style="'background-color:'+selectedActivePaymentPackage.background_color+'; color:'+selectedActivePaymentPackage.color+'; ' ">
                            <div class="row_content_centered p-2">

                                <div style="font-size: 48px;">
                                    {{ moneyLabel()+selectedActivePaymentPackage.price_whole }}
                                </div>

                                <div style="font-size: 16px; font-weight: bold;  display: flex;flex-direction: column !important;
                                justify-items: flex-start !important; justify-items: flex-end !important; border: 2px solid yellow !important;">
                                    .{{selectedActivePaymentPackage.price_fraction }}
                                </div>

                                <div style="font-size: 12px; flex-direction: column !important; display: flex; justify-items: flex-end !important;justify-items:
                                flex-end !important; border: 2px solid red !important;">
                                    /Month
                                </div>

                            </div>

                            <div class="row_content_centered p-2" style="font-size: 48px;">
                                {{ selectedActivePaymentPackage.name }}
                            </div>

                            <div class="row_content_left_aligned p-2">
                                <div class="pre-formatted" v-html="nl2br(selectedActivePaymentPackage.description)"></div>
                            </div>

                            <div class="column_content_centered">
                                <h1>Please give us your payment details:</h1>

                                <div>
                                    sample card : 4242424242424242

                                    <card class='stripe-card'
                                          :class='{ complete }'
                                          stripe='pk_test_TINpC9piOq3K9aP3njyZiCj3'
                                          :options='stripeOptions'
                                          @change='complete = $event.complete'
                                    />

                                    <i :class="getHeaderIcon('check')" v-show="complete"></i> complete::{{ complete }}
                                </div>

                                <div class="row_content_right_aligned p-2">
                                    <button class='action_button btn btn-primary' @click='pay' :disabled='!complete' type="button">
                                        <i :class="getHeaderIcon('subscription')"></i>Pay
                                    </button>
                                    <button @click.prevent="cancelSubscribeNow()" class="btn btn-cancel-action pl-4" type="button">
                                        <i :class="getHeaderIcon('cancel')"></i> Cancel
                                    </button>
                                </div>

                            </div>

                        </div> <!-- <div class="column_content_centered" -->

                    </div>

                </div><!-- <div class="row"> -->

<!--            </form>-->

        </div> <!-- 	<div class="payment_packages_listings_container"> -->

    </div> <!-- 	<div class="page_content_container"> -->

</template>

<script>
    import {bus} from '../../../app';
    import appMixin from '../../../appMixin';

    import Vue from 'vue';
    import {retrieveAppDictionaries} from "../../../helpers/commonFuncs";
    // import { stripeKey, stripeOptions } from './stripeConfig.json'
    import {Card, createToken} from 'vue-stripe-elements-plus'

    export default {
        data: function () {
            return {
                is_debug: false,
                is_page_loaded: false,
                is_page_updating: false,
                message: '',
                selected_active_payment_package_id: null,
                selectedActivePaymentPackage: null,

                stripeKey: 'sk_test_a688Z68gBFrUlIAI53S5Cw2N',
                complete: false,
                stripeOptions: {
                    // see https://stripe.com/docs/stripe.js#element-options for details
                }
            }

        },  // data: function () {

        components: {Card},

        name: 'SubscribeNow',

        created() {
            this.selected_active_payment_package_id = this.$route.params.id
        }, // created() {

        mounted() {
            this.setAppTitle('Subscribe now', 'Select Payment Package', bus);
            this.loadSelectedPaymentPackage()
        }, // mounted() {


        mixins: [appMixin],

        methods: {
            loadSelectedPaymentPackage() {
                this.is_page_loaded = false
                retrieveAppDictionaries(['activePaymentPackagesArray']);
                bus.$on('appDictionariesRetrieved', (data) => {
                    data.activePaymentPackagesArray.map((nextActivePaymentPackage, index) => {
                        if (nextActivePaymentPackage.id == this.selected_active_payment_package_id) {
                            this.selectedActivePaymentPackage = nextActivePaymentPackage;
                            this.is_page_loaded = true
                            return true;
                        }
                    });

                    if (this.selectedActivePaymentPackage == null) {
                        this.showPopupMessage("Subscribe now", "Selected payment package not found !", 'warn');
                        this.$router.push({path: '/personal-select-subscription'});
                    }
                })

                this.is_page_loaded = true
            }, // loadSelectedPaymentPackage() {

            cancelSubscribeNow() {
                this.$router.push({path: '/personal-select-subscription'});
            },


            pay() {
                console.log("!!! pay::")
                // createToken returns a Promise which resolves in a result object with
                // either a token or an error key.
                // See https://stripe.com/docs/api#tokens for the token object.
                // See https://stripe.com/docs/api#errors for the error object.
                // More general https://stripe.com/docs/stripe.js#stripe-create-token.
                createToken().then(data => console.log(data.token))
            }

        }, // methods: {

        computed: {
            header_title() {
                return "Subscribe now";
            },

            currentLoggedUser() {
                return this.$store.getters.currentLoggedUser;
            },

        } //computed: {

    }


</script>

<style lang="scss">
    @import "./resources/sass/_variables.scss";

    .stripe-card {
        width: 300px;
        /*border: 3px solid grey;*/
        border: 1px solid grey;
        padding : 8px;
        margin : 10px;
    }

    .stripe-card.complete {
        /*border-color: green;*/
        border: 1px solid green;
    }
</style>
