<template>

    <div class="page_content_container">

        <!--        https://bootsnipp.com/snippets/92erW -->
        <section class="page_content_header">
            activePaymentPackagesArray::{{ activePaymentPackagesArray }}

            <listing-header :show_loading_image=!is_page_loaded :current_page=0 :itemsList="activePaymentPackagesArray"
                            :rows_count="activePaymentPackagesArray.length"
                            :header_icon="getHeaderIcon('payment_package')"
                            :header_title=header_title :right_add_button_link="''" :item_title="'Select Payment Package'" :message=message
                            :right_add_button_link_title="''"
                            parent_component_key="payment_packages">
            </listing-header>
        </section>     <!-- class="page_content_header" -->


        <div class="payment_packages_listings_container mb-5">

            <!--
            y::[ { "id": 1, "name": "Free", "stripe_plan_id": "plan_G2hLjiYeoQ87cu", "active": 1, "is_premium": 0, "is_free": 1, "description": "Free description Lorem <strong>ipsum dolor sit</strong> amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis <strong>nostrud exercitation</strong> ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.", "color": "#3e3e3e", "background_color": "#cccccc", "subscription_weight": 1, "price": null, "created_at": "2019-10-31 17:25:27", "updated_at": null, "price_whole": 0, "price_fraction": 0 },
            -->

            <h4 style="padding-top:10px">Pricing Table Style : Demo-1</h4>

            <div class="row">
                <div class="col-md-4 col-sm-6" v-for="nextPaymentPackage, index in activePaymentPackagesArray" :key="nextPaymentPackage.id">
                    <div class="pricingTable">
                        <div class="column_content_centered"
                             :style="'background-color:'+nextPaymentPackage.background_color+'; color:'+nextPaymentPackage.color+'; ' ">
                            <div class="row_content_centered p-2">

                                <div style="font-size: 48px;">
                                    {{ moneyLabel()+nextPaymentPackage.price_whole }}
                                </div>

                                <div style="font-size: 16px; font-weight: bold;  display: flex;flex-direction: column !important;
                                justify-items: flex-start !important; justify-items: flex-end !important; border: 2px solid yellow !important;">
                                    .{{nextPaymentPackage.price_fraction }}
                                </div>

                                <div style="font-size: 12px; flex-direction: column !important; display: flex; justify-items: flex-end !important;justify-items:
                                flex-end !important; border: 2px solid red !important;">
                                    /Month
                                </div>

                            </div>

                            <div class="row_content_centered p-2" style="font-size: 48px;">
                                {{ nextPaymentPackage.name }}
                            </div>

                            <div class="row_content_left_aligned p-2">
                                <div class="pre-formatted" v-html="nl2br(nextPaymentPackage.description)"></div>
                            </div>

                            <div class="pricing-content row_content_centered p-2">
                                <router-link :to="{ name: 'ConfirmSelectedPersonalSubscription', params : { id : nextPaymentPackage.id } }"
                                             class="pricingTable-signup">
                                    <i :class="'i_link '+getHeaderIcon('subscription')" :title="'Subscribe now'"></i>Subscribe Now
                                </router-link>
                            </div>

                        </div>

                    </div>
                </div>


            </div>

            <!--

                        <div class="payment_package_category_block" v-for="nextPaymentPackage, index in activePaymentPackagesArray" :key="nextPaymentPackage.id">

                            <h2 class="payment_package_category_title" v-tooltip="concatStr(cleartags(nextPaymentPackage.description),200)">
                                <i :class="'i_link '+getHeaderIcon('payment_package_category')"></i>&nbsp;<span class="hidden_info">{{ nextPaymentPackage.id }}::</span>{{
                                nextPaymentPackage.title }}
                            </h2>
                        </div> &lt;!&ndash;  <div class="payment_package_category_block"  &ndash;&gt;
            -->


        </div><!-- <div class="payment_packages_listings_container mb-4"> -->


    </div> <!-- 	<div class="page_content_container"> -->

</template>

<script>
    import {bus} from '../../../app';
    import appMixin from '../../../appMixin';

    import Vue from 'vue';
    import {retrieveAppDictionaries} from "../../../helpers/commonFuncs";


    // import Vue2Filters from 'vue2-filters' // https://github.com/freearhey/vue2-filters#placeholder
    // Vue.use(Vue2Filters)

    // import {VLazyImagePlugin} from "v-lazy-image";
    // Vue.use(VLazyImagePlugin);


    export default {
        data: function () {
            return {
                is_debug: true,
                is_page_loaded: false,
                message: '',
                activePaymentPackagesArray: [],
                payment_packages_total_count: 0,
                // payment_package_posts_published_count : 0,
                // payment_package_threads_published_count : 0,
            }

        },
        name: 'payment_packagesList',

        mounted() {
            // this.is_page_loaded = true
            this.setAppTitle('Select Payment Package', 'Select Payment Package', bus);
            this.loadPaymentPackages()
        }, // mounted() {


        mixins: [appMixin],

        methods: {
            loadPaymentPackages() {
                this.is_page_loaded = false
                retrieveAppDictionaries(['activePaymentPackagesArray']);
                bus.$on('appDictionariesRetrieved', (data) => {
                    // alert("INSIDE appDictionariesRetrieved::" + (-66))
                    console.log("data::")
                    console.log(data)

                    this.activePaymentPackagesArray = data.activePaymentPackagesArray;
                })

                this.is_page_loaded = true

            }, // loadPaymentPackages() {

        }, // methods: {

        computed: {
            header_title() {
                return "Select Payment Package";
            },

            currentLoggedUser() {
                return this.$store.getters.currentLoggedUser;
            },

        } //computed: {

    }

    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof (oElem) == 'string' || typeof (oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof (oElem) == 'innerHTML' || typeof (oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }


</script>

<style lang="scss">
    @import "./resources/sass/_variables.scss";

    .pricingTable .pricingTable-signup {
        display: inline-block;
        padding: 8px 50px;
        background: #ae003d;
        border-radius: 20px;
        font-size: 20px;
        font-weight: 600;
        color: #fff;
        text-transform: uppercase;
        position: relative;
        transition: all .3s ease 0s
    }

    .pricingTable:hover .pricingTable-signup {
        box-shadow: 0 0 10px #ae003d;
        border-radius: 20px;
    }

    .pricingTable .pricingTable-signup:hover {
        color: #ae003d;
        background: #fff;
        box-shadow: 0 0 10px #ae003d, 0 0 10px #000 inset;
        border-radius: 20px;
    }

    .pricingTable.blue .title {
        color: #005c99
    }

    .pricingTable.blue .pricingTable-signup {
        background: #005c99
    }

    .pricingTable.blue:hover .pricingTable-signup {
        box-shadow: 0 0 10px #005c99
    }

    .pricingTable.blue .pricingTable-signup:hover {
        color: #005c99;
        background: #fff;
        box-shadow: 0 0 10px #005c99, 0 0 10px #000 inset
    }

    .pricingTable.red .title {
        color: #db2c29
    }

    .pricingTable.red .pricingTable-signup {
        background: #db2c29
    }

    .pricingTable.red:hover .pricingTable-signup {
        box-shadow: 0 0 10px #db2c29
    }

    .pricingTable.red .pricingTable-signup:hover {
        color: #db2c29;
        background: #fff;
        box-shadow: 0 0 10px #db2c29, 0 0 10px #000 inset
    }

</style>
