<template>
    <div class="page_content_container personal card p-2">


        <!--        forumPostBookmarks::{{ forumPostBookmarks}}<br>-->
        <!--        forumPostsUserSubscribed::{{ forumPostsUserSubscribed}}<br>-->


        <form v-on:submit.prevent="validateBeforeSubmit()">

<!--            personalOptions.chat_color::{{ personalOptions.chat_color}}-->

            <div class="page_content_header row_content_left_aligned">

                <editor-header :show_loading_image="!is_page_loaded || is_page_updating" :header_icon="getHeaderIcon('profile')" :header_title=header_title
                               :message=message></editor-header>

                <div class="row_content_right_aligned ml-5">
                    <router-link :to="{ name: 'PublicUserProfile', params: { id: userRow.id }  }" class="a_link public_user_name" target="_blank">
                        Public profile
                    </router-link>
                </div>

                <!--			settings_js_moment_datetime_format::{{ settings_js_moment_datetime_format }}<br>-->
                <!--							customerAccountTypeValueArray::{{ customerAccountTypeValueArray }}<br>-->
                <!--				selection_account_type::{{ selection_account_type }}<br>-->
                <!--			customerRow::{{ customerRow }}<br>-->
                <!--			vueErrorsList::{{ vueErrorsList }}<br>-->

            </div> <!-- page_content_header -->


            <div class="editor_content_body_block card-body" v-show="is_page_loaded">


                <vue-tabs active-tab-color="#224A37"
                          active-text-color="white"
                          v-model="active_tab"
                >

                    <v-tab title="Personal" :icon="getHeaderIcon('profile')">


                        <div class="form-row mb-3">
                            <label class="col-12 col-sm-4 col-form-label" for="id">ID</label>
                            <div class="col-12 col-sm-8">
                                <input type="text" v-model="userRow.id" id="id" class="form-control editable_field" readonly>
                            </div>
                        </div>

                        <div class="form-row mb-3">
                            <label class="col-12 col-sm-4 col-form-label" for="username">Username</label>
                            <div class="col-12 col-sm-8">
                                <input type="text" id="Username" v-model="userRow.username" class="form-control" readonly>
                            </div>
                        </div>

                        <div class="form-row mb-3">
                            <label class="col-12 col-sm-4 col-form-label" for="email">Email</label>
                            <div class="col-12 col-sm-8">
                                <input type="text" id="email" v-model="userRow.email" class="form-control" readonly>
                            </div>
                        </div>

                        <div class="form-row mb-3">
                            <label class="col-12 col-sm-4 col-form-label">Status</label>
                            <div class="col-12 col-sm-8">
                                <strong>{{ status_label }} </strong>
                                <button type="button" class=" btn btn-cancel-action" v-on:click.prevent="confirmRemoveAccount()">
                                    <i :class="'i_link '+getHeaderIcon('remove')"></i>&nbsp;Remove account
                                </button>


                                <!--											<div class="col-6" v-if="userRow.status == 'A'">-->
                                <!--												<button type="submit" class=" btn btn-primary editor_button_submit" :disabled="is_page_updating" >-->
                                <!--													<i :class="'i_link '+getHeaderIcon('activate')"></i>&nbsp;Activate-->
                                <!--												</button>-->
                                <!--											</div>-->

                                <!--											<div class="col-6" v-if="userRow.status == 'A'">-->
                                <!--												<button type="submit" class=" btn btn btn-cancel-action editor_button_submit" :disabled="is_page_updating" >-->
                                <!--													<i :class="'i_link '+getHeaderIcon('deactivate')"></i>&nbsp;Deactivate-->
                                <!--												</button>-->
                                <!--											</div>-->

                                <!--											<v-select-->
                                <!--													v-model="selection_status"-->
                                <!--													data-vv-name="userRow.status"-->
                                <!--													:options="customerStatusValueArray"-->
                                <!--													v-validate="'required'"-->
                                <!--													id="status"-->
                                <!--													name="status"-->
                                <!--													class="form-control editable_field"-->
                                <!--													placeholder="Select option"-->
                                <!--											></v-select>-->
                                <!--											<span v-show="vueErrorsList.has('userRow.status')" class="text-danger">{{ clearErrorLabel(vueErrorsList.first('userRow.status')) }}</span>-->

                            </div>
                        </div>


                        <div class="form-row mb-3">
                            <label class="col-12 col-sm-4 col-form-label" for="account_type">Account type<span class="required"> * </span></label>
                            <div class="col-12 col-sm-8">
                                <v-select
                                    v-model="selection_account_type"
                                    data-vv-name="userRow.account_type"
                                    :options="customerAccountTypeValueArray"
                                    v-validate="'required'"
                                    id="account_type"
                                    name="account_type"
                                    class="form-control editable_field"
                                    placeholder="Select option"
                                ></v-select>
                                <span v-show="vueErrorsList.has('userRow.account_type')" class="text-danger">{{ clearErrorLabel(vueErrorsList.first('userRow.account_type')) }}</span>
                            </div>
                        </div>


                        <div class="form-row mb-3">
                            <label class="col-12 col-sm-4 col-form-label" for="first_name">First name<span class="required"> * </span></label>
                            <div class="col-12 col-sm-8">
                                <input id="first_name" name="first_name" v-model="userRow.first_name" type="text" placeholder="Enter first name" :class="{
											'form-control':true, 'editable_field':true, 'input': true, 'text-danger': vueErrorsList.has('first_name') }"
                                       v-validate="'required|max:50'">
                                <span v-show="vueErrorsList.has('first_name')"
                                      class="text-danger">{{ clearErrorLabel(vueErrorsList.first('first_name')) }}</span>
                            </div>
                        </div>

                        <div class="form-row mb-3">
                            <label class="col-12 col-sm-4 col-form-label" for="last_name">Last name<span class="required"> * </span></label>
                            <div class="col-12 col-sm-8">
                                <input id="last_name" name="last_name" v-model="userRow.last_name" type="text" placeholder="Enter last_name"
                                       :class="{ 'form-control':true, 'editable_field':true, 'input':	true, 'text-danger': vueErrorsList.has('last_name') }"
                                       v-validate="'required|max:50'">
                                <span v-show="vueErrorsList.has('last_name')" class="text-danger">{{ clearErrorLabel(vueErrorsList.first('last_name')) }}</span>
                            </div>
                        </div>

                        <div class="form-row mb-3">
                            <label class="col-12 col-sm-4 col-form-label" for="phone">Phone</label>
                            <div class="col-12 col-sm-8">
                                <input id="phone" name="phone" v-model="userRow.phone" type="text" placeholder="Enter phone" :class="{ 'form-control':true,
											'editable_field':true, 'input':	true, 'text-danger': vueErrorsList.has('phone') }"
                                       v-validate="'required|max:255'">
                                <span v-show="vueErrorsList.has('phone')" class="text-danger">{{ clearErrorLabel(vueErrorsList.first('phone')) }}</span>
                            </div>
                        </div>

                        <div class="form-row mb-3">
                            <label class="col-12 col-sm-4 col-form-label" for="website">Website</label>
                            <div class="col-12 col-sm-8">
                                <input id="website" name="website" v-model="userRow.website" type="text" placeholder="Enter website" :class="{ 'form-control':true,
											'editable_field':true, 'input':	true, 'text-danger': vueErrorsList.has('website') }"
                                       v-validate="'required|max:100'">
                                <!--											|url: {require_protocol: false }}/-->
                                <span v-show="vueErrorsList.has('website')" class="text-danger">{{ clearErrorLabel(vueErrorsList.first('website')) }}</span>
                            </div>
                        </div>


                        <div class="form-row mb-3">
                            <label class="col-12 col-sm-12 col-form-label" for="notes">Notes</label>
                            <div class="col-12 col-sm-12">
                                <!--											<div style=" width:500px; height:400px; border: 2px dotted green;"  >-->
                                <div :style="'border: 0px dotted green; width:'+wysiwyg_editor_width+'px; outline-style: outset; outline-color:#eaeaea;' ">
                                    <wysiwyg
                                        v-model="userRow.notes"
                                    />
                                </div>
                            </div>
                        </div>


                        <div class="form-row mb-3">
                            <label class="col-12 col-sm-4 col-form-label">Created at</label>
                            <div class="col-12 col-sm-8">
                                <input type="text" v-model="created_at_label" class="form-control" readonly>
                            </div>
                        </div>

                        <div class="form-row mb-3" v-if="updated_at_label">
                            <label class="col-12 col-sm-4 col-form-label">Updated at</label>
                            <div class="col-12 col-sm-8">
                                <input type="text" v-model="updated_at_label" class="form-control" readonly>
                            </div>
                        </div>

                    </v-tab>  <!-- Personal Tab -->


                    <v-tab title="Chats" :icon="getHeaderIcon('user_chat')">
                        Second tab content
                        <!--									<chat-app :customerRow="userRow"></chat-app>-->
                        <!--user: {-->
                        <!--type: Object,-->
                        <!--required: true-->
                        <!--}-->

                    </v-tab> <!-- Chats tab -->


                    <v-tab title="Enqueries" :icon="getHeaderIcon('enqueries')">
                        pills-customer-inqueries
                    </v-tab>  <!-- Enqueries -->


                    <v-tab title="Options" :icon="getHeaderIcon('options')">


                        <div class="m-0 p-0"> <!-- Personal options details Tab Start -->

                            <h4 class="col-12 app_subtitle">
                                Personal options
                            </h4>


                            <div class="block_2columns_md m-0">

                                <div class="block_2columns_sm p-3">
                                    <div class="key_values_rows_label_half">
                                        <label for="last_login" class="col-form-label">&nbsp;
                                            <span>Last login :</span>
                                        </label>
                                    </div>
                                    <div class="key_values_rows_value_half">
                                        <input type="text" v-model="last_login_label" id="last_login" class="form-control editable_field" readonly>
                                    </div>
                                </div>

                                <div class="block_2columns_sm p-3">
                                    <div class="key_values_rows_label_half">
                                        <label for="chat_last_visit" class="col-form-label">&nbsp;
                                            <span>Chat last visit :</span>
                                        </label>
                                    </div>
                                    <div class="key_values_rows_value_half">
                                        <input type="text" v-model="chat_last_visit_label" id="chat_last_visit" class="form-control editable_field" readonly>
                                    </div>
                                </div>

                            </div> <!-- <div class="block_2columns_md m-0"> last_login chat_last_visit -->


                            <div class="block_2columns_md m-0">

                                <div class="block_2columns_sm p-3">
                                    <div class="key_values_rows_label_half">
                                        <label for="access_to_privacy_details" class="col-form-label">&nbsp;
                                            <span>Access to privacy details :
                                				<span class="small_size">
					                                <br>( Notes, contacts can be visible. )
				                                </span>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="key_values_rows_value_half ml-5">
                                        <input class="editable_field custom-control-input" value="1" id="access_to_privacy_details" type="checkbox"
                                               :checked="personalOptions.access_to_privacy_details=='Y'">
                                        <label for="access_to_privacy_details" class="custom-control-label">&nbsp;
                                            <span v-html="noWrapString('Select yes')"></span>
                                        </label>
                                    </div>
                                </div>

                                <div class="block_2columns_sm p-3">
                                    <div class="key_values_rows_label_half">
                                        <label for="show_online_status" class="col-form-label">&nbsp;
                                            <span>Select show online status :</span>
                                        </label>
                                    </div>
                                    <div class="key_values_rows_value_half ml-5">
                                        <input class="editable_field custom-control-input" value="1" id="show_online_status" type="checkbox"
                                               :checked="personalOptions.show_online_status=='Y'">
                                        <label for="show_online_status" class="custom-control-label">&nbsp;
                                            <span v-html="noWrapString('Select yes')"></span>
                                        </label>
                                    </div>
                                </div>

                            </div> <!-- <div class="block_2columns_md m-0"> access_to_privacy_details show_online_status -->



                        </div> <!-- Personal options details Tab End -->


                    </v-tab>  <!-- Options -->


                    <v-tab title="Hostel bookmarks" :icon="getHeaderIcon('bookmark')">
                        <template class="card-text" v-if="!hostelBookmarks.length">
                            <div class="card-body listing_content_body_block">
                                <div class="alert alert-warning m-1 p-1" role="alert">
                                    You have no Personal Hostel Bookmarks yet.
                                </div>
                            </div>
                        </template>

                        <template class="card-text" v-if="hostelBookmarks.length">
                            <h4 class="card-header">
                                <i :class="'i_link '+getHeaderIcon('bookmark')"></i> Your {{ hostelBookmarks.length }} hostel bookmark{{
                                pluralize(hostelBookmarks.length,'','s') }}
                            </h4>
                            <table class="table table-striped text-primary table-responsive td_nowrap">
                                <tr v-for="nextPersonalHostelBookmark, index in hostelBookmarks" :key="nextPersonalHostelBookmark.id">

                                    <td>
<!--                                        <router-link-->
<!--                                            :to="{ name: 'hostelViewPage', params: { slug: nextPersonalHostelBookmark.slug, state_slug : nextPersonalHostelBookmark.state_slug, region_slug : nextPersonalHostelBookmark.region_slug, subregion_slug : nextPersonalHostelBookmark.subregion_slug } }"-->
<!--                                            target="_blankc">-->
                                        <button @click.prevent="selectPersonalHostelBookmark(nextPersonalHostelBookmark)" class="btn btn-primary btn-sm" type="button">
                                            <i :class="getHeaderIcon('select')"></i> Select
                                        </button>
                                        {{ nextPersonalHostelBookmark.name }}
<!--                                        </router-link>-->
                                    </td>

                                    <td>
                                        {{ nextPersonalHostelBookmark.region_name }}/{{ nextPersonalHostelBookmark.region_name }}
                                    </td>

                                    <td>
                                        {{ getDictionaryLabel(nextPersonalHostelBookmark.feature, hostelFeatureValueArray) }}
                                    </td>

                                    <td>
                                        <rating-stars-line :rating="nextPersonalHostelBookmark.rating"></rating-stars-line>
                                    </td>

                                    <td>
                                        {{ moneyFormat(nextPersonalHostelBookmark.min_hostel_rooms_price) }}
                                    </td>

                                    <td>
                                        <a v-on:click="confirmDeleteFromBookmarked(nextPersonalHostelBookmark.hostel_id, nextPersonalHostelBookmark.name, index)"
                                           :class="'a_exclude_from_bookmarked_'+nextPersonalHostelBookmark.hostel_id" class="ml-2">
                                            <i :class="getHeaderIcon('remove')" title="Exclude from bookmarks"></i>
                                        </a>
                                    </td>

                                </tr>
                            </table>
                        </template>

                    </v-tab>  <!-- Hostel bookmarks -->


                    <v-tab title="Forums" :icon="getHeaderIcon('forum')">
                        Forums tab content
                    </v-tab> <!-- Forums tab -->

                    <v-tab title="Subscriptions" :icon="getHeaderIcon('subscription')">
                        Subscriptions tab content
                        <div class="alert alert-info m-1 " role="alert" v-show="has_subscription">
                            You are subscribed
                        </div>
                        <div class="alert alert-info m-1 " role="alert" v-show="!has_subscription">
                            You are not subscribed. You can
                            <router-link :to="{ name: 'PersonalSelectSubscription' }">
                                <i :class="'i_link '+getHeaderIcon('subscription')" :title="'Select subscription'"></i>select
                            </router-link>
                            subscription
                        </div>
                    </v-tab> <!-- Forums tab -->


                </vue-tabs>


            </div>

            <div class="card-footer">
                <editor-buttons submit_label="Submit" cancel_label="Cancel" :cancel_link="'/'" :is_page_updating="is_page_updating"></editor-buttons>
            </div>

        </form>


        <modal name="modal-color-picker" transition="pop-out" :height="modalHeight" :width="modalWidth">
            <div class="partition-title p-3">
                dialog_colors::{{ dialog_colors }}<br>
                <strong>Pick Color</strong>
                <p> {{ show_color_dialog_text}}</p>
            </div>
            <div class="row p-3 p-2">
                <photoshop-picker
                    id="color_picker" v-model="dialog_colors"
                    style="width: 100%"
                >
                </photoshop-picker>
            </div>


            <div class="row row_content_right_aligned pr-4">
                <div class="p-2">
                    <button type="button" class="btn btn-outline-pink btn-round waves-effect waves-light mr-5" @click.prevent="cancelColorPicker()">
                        <i :class="getHeaderIcon('cancel')"></i> Cancel
                    </button>

                    <button class="btn btn-success btn-round waves-effect waves-light" type="button" @click.prevent="selectColorPicker()">
                        <i :class="getHeaderIcon('save')"></i> Select
                    </button>
                </div>
            </div>


        </modal>

    </div> <!-- <div class="page_content_container personal card p-2"> -->

</template>

<script>
    import {bus} from '../../../app';
    import appMixin from '../../../appMixin';
    //    import 'vue-color';
    //    import 'vue-color/dist/vue-color';


    // import { retrieveAppDictionaries } from "../../helpers/commonFuncs";
    //    import Multiselect from 'vue-multiselect'
    //    import validate from 'validate.js';

    import Vue from 'vue';
    import vSelect from 'vue-select'
    import {confirmAddToBookmarks, confirmDeleteFromBookmarked} from "../../../helpers/commonFuncs";

    Vue.component('v-select', vSelect)

    import wysiwyg from "vue-wysiwyg"; // https://github.com/chmln/vue-wysiwyg
    Vue.use(wysiwyg, {
        maxHeight: "400px",
        width: "500px"
    });
    import 'vue-wysiwyg/dist/vueWysiwyg.css'       //
    //    var Chrome = VueColor.Chrome;
    import {Photoshop, Compact} from 'vue-color'


    /*
		import { compact } from 'vue-color' ;// https://github.com/xiaokaike/vue-color , https://codepen.io/Brownsugar/pen/NaGPKy
		var Chrome = VueColor.Chrome;
		Vue.component('colorpicker', {
			components: {
				'chrome-picker': Chrome,
			}
		});
	*/


    import Tabs from 'vue-nav-tabs/dist/vue-tabs.js' // https://github.com/cristijora/vue-tabs
    Vue.use(Tabs)

    import {VueTabs, VTab} from 'vue-nav-tabs/dist/vue-tabs.js'

    Vue.use(VueTabs)
    Vue.use(VTab)
    import 'vue-nav-tabs/themes/vue-tabs.css'
    import { /*deleteFromBookmarksKey,*/ getModalCalculatedWidth, getModalCalculatedHeight} from "../../../helpers/commonFuncs";


    export default {
        name: "Personal",
        components: {
            'photoshop-picker': Photoshop
        },
        data() {
            return {
                user_id: null,
                has_subscription: false,
                userRow: {
                    id: null,
                    username: '',
                    first_name: '',
                    last_name: '',
                    account_type: '',
                    status: '',
                    email: '',
                    phone: '',
                    website: '',
                    notes: ''
                },

                deviceParams: {},
                wysiwyg_editor_width: 500,
                personalOptions: {
                    access_to_privacy_details: '',
                    chat_background_color: '',
                    chat_color: '',
                    show_online_status: '',
                    skin_name: '',
                },

                selection_account_type: [],
                selection_status: [],
                selection_skin_name: [],

                errorsList: null,
                is_page_loaded: false,
                is_page_updating: false,
                // active_tab: "customerHostelBookmarks",
                active_tab: "Options",
                // active_tab: "Personal",
                // active_tab: "",
                message: '',
                settings_js_moment_datetime_format: '',

                dialog_colors: {hex: '#f5ff7c'},

                // dialog_colors : {
                //     hex: '#194d33',
                //     hsl: { h: 150, s: 0.5, l: 0.2, a: 1 },
                //     hsv: { h: 150, s: 0.66, v: 0.30, a: 1 },
                //     rgba: { r: 25, g: 77, b: 51, a: 1 },
                //     a: 1
                // },

                show_color_dialog_text: '',
                select_color_type: '',

            };
        },  // data() {

        mixins: [appMixin],


        watch: {
            customerStatusValueArray: function (newVal, oldVal) {
                if (newVal.length > 0) {
                    this.loadUser()
                }
            }
        },


        created() {
            this.user_id = this.currentLoggedUser.id
            this.height = "auto"


            this.deviceParams = this.effectiveDeviceWidth()
            // alert( "this.deviceParams::"+var_dump(this.deviceParams) )

            this.wysiwyg_editor_width = 800;  // lg

            if (parseInt(this.deviceParams.width) <= 1024) { // md
                this.wysiwyg_editor_width = 620;
            }

            if (parseInt(this.deviceParams.width) <= 768) { // sm
                this.wysiwyg_editor_width = 470;
            }

            if (parseInt(this.deviceParams.width) <= 600) {
                this.wysiwyg_editor_width = 420;
            }
            if (parseInt(this.deviceParams.width) <= 480) {
                this.wysiwyg_editor_width = 400;
            }
            if (parseInt(this.deviceParams.width) <= 320) {  // xs 320
                this.wysiwyg_editor_width = 280;
            }

        }, // created() {

        mounted() {
            this.setAppTitle('Personal', 'Personal Page', bus);
            this.settings_js_moment_datetime_format = window.settings_js_moment_datetime_format
            bus.$on('dialog_confirmed', (paramsArray) => {
                // alert("resources/js/components/BS4/personal/Personal.vue:: " + var_dump(paramsArray))
                if (paramsArray.key == this.personalRemoveAccount()) {
                    this.runPersonalRemoveAccount();
                }
            })
            this.$store.dispatch('storeRetrieveDictionaries', ['customerAccountTypeValueArray', 'customerStatusValueArray', 'customerSkinsArray']);
        }, // mounted() {

        beforeDestroy() {
            bus.$off('dialog_confirmed')
        },

        methods: {
            // 														<button class="btn btn-primary" @click.prevent="showColorDialog('chat_font_color')">
            confirmAddToBookmarks, confirmDeleteFromBookmarked,

            changeTab() {
                this.tabName = this.tabToChange
            },
            showColorDialog(color_type) {
                // alert("showColorDialog ::" + var_dump(color_type))
                this.select_color_type = color_type
                // debugger
                if (color_type == 'chat_font_color') {
                    this.show_color_dialog_text = 'For chat font color';
                    this.dialog_colors.hex = this.personalOptions.chat_color;
                }
                if (color_type == 'chat_background_color') {
                    this.show_color_dialog_text = 'For chat background color';
                    this.dialog_colors.hex = this.personalOptions.chat_background_color;
                }
                this.message = ''
                this.vueErrorsList.clear();
                this.$modal.show('modal-color-picker', {
                    title: "Select Color",
                })
            },

            selectColorPicker() {
                // alert( "selectColorPicker::"+var_dump(-77) )
                if (this.select_color_type == 'chat_font_color') {
                    this.personalOptions.chat_color = this.dialog_colors.hex;
                }
                if (this.select_color_type == 'chat_background_color') {
                    this.personalOptions.chat_color = this.dialog_colors.hex;
                }
                this.cancelColorPicker();
            },

            cancelColorPicker() {
                // alert( "cancelColorPicker::"+var_dump(-78) )
                // this.new_user_list_title = ''
                // this.selection_existing_user_list_id = ''
                // this.user_list_label = ' -Select- '
                this.vueErrorsList.clear();
                this.$modal.hide('modal-color-picker');
                this.dialog_colors = {}
                this.select_color_type = {}
            },

            confirmRemoveAccount() {
                this.confirmMsg("Do you want to remove your account ?", {key: this.personalRemoveAccount(), id: this.userRow.id}, 'Confirm', bus);
            },

            personalRemoveAccount() {
                // alert( "addToBookmarksKey hostel_id::"+var_dump(hostel_id) )
                return 'personal_remove_account_' + this.userRow.id;
            },


            runPersonalRemoveAccount() {
                // alert("runPersonalRemoveAccount userRow.id::" + var_dump(this.userRow.id))
                this.is_page_updating = true
                axios({
                    method: 'delete',
                    url: window.API_VERSION_LINK + '/personal/personal/' + this.user_id,
                    data: this.$data.userRow,
                }).then((response) => {
                    this.is_page_updating = false
                    this.showPopupMessage("Personal", 'Your account deleted successfully !', 'success');
                    this.$store.commit('setLogout');
                    this.$store.dispatch('retrieveActiveCustomersCount' );
                    this.$router.push({path: '/'});
                }).catch((error) => {
                    this.$setLaravelValidationErrorsFromResponse(error.response.data);
                    this.is_page_updating = false
                    this.showPopupMessage("Personal", 'Error updating personal !', 'warn');
                });
            },


            tabClicked(selectedTab) {
                console.log('Current tab re-clicked:' + selectedTab.tab.name);
            },
            tabChanged(selectedTab) {
                console.log('Tab changed to:' + selectedTab.tab.name);
            },

            selectPersonalHostelBookmark(selected_personal_hostel_bookmark) {
                if ( this.currentLoggedUser == null || typeof this.currentLoggedUser.id == "undefined" ) {
                    this.showPopupMessage("Bookmarks", 'You need to login into the system for this functionality !', 'warn');
                    return;
                }
                let routeData = this.$router.resolve(  { path:
                        '/hostel/' + selected_personal_hostel_bookmark.slug +"/"+selected_personal_hostel_bookmark.state_slug+"/"+selected_personal_hostel_bookmark.region_slug+"/"+selected_personal_hostel_bookmark.subregion_slug });
                window.open(routeData.href);
            },


            loadUser() {
                this.is_page_loaded = false
                // alert( "window.API_VERSION_LINK::"+var_dump(window.API_VERSION_LINK) )
                axios.get(window.API_VERSION_LINK + '/personal/personal/' + this.user_id).then((response) => {
                    // debugger
                    this.userRow = response.data.user;
                    this.personalOptions = response.data.personalOptions;

                    this.customerAccountTypeValueArray.map((nextCustomerAccountTypeValue, index) => {
                        // debugger
                        if (nextCustomerAccountTypeValue.key == this.userRow.account_type) {
                            this.selection_account_type = {key: this.userRow.account_type, label: nextCustomerAccountTypeValue.label};
                        }
                    });

                    this.customerStatusValueArray.map((nextCustomerStatusValue, index) => {
                        if (nextCustomerStatusValue.key == this.userRow.status) {
                            this.selection_status = {key: this.userRow.status, label: nextCustomerStatusValue.label};
                        }
                    });

                    // customerSkinsArray
                    /*
										debugger
											this.customerSkinsArray.map((nextSkin, index) => {
												if (nextSkin.key == 'BS4') {
													this.selection_skin_name = {key: nextSkin.key, label: nextSkin.label};
												}
											});
					*/

                    // this.$store.dispatch( 'storeRetrieveDictionaries', ['customerAccountTypeValueArray','customerStatusValueArray', 'hostelFeatureValueArray'] );
                    this.is_page_loaded = true;
                    // this.showColorDialog('chat_font_color'); // DEBUGGING
                }).catch((error) => {
                    console.error(error)
                    if (error.response.data.error_code == 11) {
                        this.showPopupMessage('Personal', error.response.data.message, 'warn');
                        this.$router.push({path: '/'});
                    }
                    this.is_page_loaded = true
                });


            }, // loadUser() {

            validateBeforeSubmit() {
                alert("validateBeforeSubmit::" + var_dump(-6))
//                this.updatePersonal()
//	            return;
                this.$validator.validateAll().then((result) => {
                    console.log("result::")
                    console.log(result)

                    if (result) {
                        this.updatePersonal()
                    } else {
                        bus.$emit('editorValidationFail', 'personal', this.user_id);
                        this.showPopupMessage('Personal', 'Error updating personal information . ', 'danger');
                    }
                })
            }, // validateBeforeSubmit() {

            updatePersonal() {
                alert("updatePersonal::" + var_dump(-11))
                this.is_page_updating = true
                axios({
                    method: 'patch',
                    url: window.API_VERSION_LINK + '/personal/personal/' + this.user_id,
                    data: this.$data.userRow,
                }).then((response) => {
                    this.is_page_updating = false
                    this.showPopupMessage("Personal", 'Personal updated successfully !', 'success');
                    this.loadUser();

                    // this.$router.push({path: '/personal'});
                }).catch((error) => {
                    console.error(error)
                    this.$setLaravelValidationErrorsFromResponse(error.response.data);
                    this.is_page_updating = false
                    this.showPopupMessage("Personal", 'Error updating personal !', 'warn');
                });
            },

            // clearErrorLabel(s) {
            //     if (typeof s == "undefined") return "";
            //     return this.Capitalize(s.replace(/userRow./g, "").replace(/_/g, " "))
            // }

        }, // methods: {


        computed: {
            header_title: function () {
                // if (!this.is_insert) return "Edit customer";
                return "Personal Area";
            },

            modalWidth() {
                var deviceParams = this.effectiveDeviceWidth()
                var calculated_width = getModalCalculatedWidth(deviceParams.width) - 20
                return calculated_width;
            },

            modalHeight() {
                var deviceParams = this.effectiveDeviceWidth()
                var calculated_height = getModalCalculatedHeight(deviceParams.height)
                return calculated_height;
            },

            set_btn_chat_font_color() {
                if (typeof this.personalOptions.chat_color != 'undefined') {
                    return 'backgroundColor:' + this.personalOptions.chat_color
                }
                return '#ccc'
            },

            hostelFeatureValueArray() {
                return this.$store.getters.hostelFeatureValueArray;
            },
            hostelBookmarks() {
                return this.$store.getters.hostelBookmarks;
            },


            forumPostBookmarks() {
                return this.$store.getters.forumPostBookmarks;
                /*  ad_forum_post_bookmark
    id	bigint(20) unsigned Автоматическое приращение
    user_id	int(10) unsigned
    forum_post_id	bigint(20) unsigned
    info	varchar(255) NULL
    created_at	timestamp [CURRENT_TIMESTAMP] */
            },


            /* ad_forum_post_user_subscribed
id	bigint(20) unsigned Автоматическое приращение
user_id	int(10) unsigned
forum_post_id	bigint(20) unsigned
created_at	timestamp [CURRENT_TIMESTAMP] */
            forumPostsUserSubscribed() {
                return this.$store.getters.forumPostsUserSubscribed;
            },

            currentLoggedUser() {
                return this.$store.getters.currentLoggedUser;
            },
            // personalOptions() {
            //     return this.$store.getters.personalOptions;
            // },
            authError() {
                return this.$store.getters.authError;
            },
            customerStatusValueArray() {
                return this.$store.getters.customerStatusValueArray;
            },
            customerSkinsArray() {
                return this.$store.getters.customerSkinsArray;
            },
            customerAccountTypeValueArray() {
                return this.$store.getters.customerAccountTypeValueArray;
            },

            last_login_label: function () {
                return this.momentDatetime(this.personalOptions.last_login, this.settings_js_moment_datetime_format);
            },

            chat_last_visit_label: function () {
                return this.momentDatetime(this.personalOptions.chat_last_visit, this.settings_js_moment_datetime_format);
            },
            created_at_label: function () {
                return this.momentDatetime(this.userRow.created_at, this.settings_js_moment_datetime_format);
            },
            updated_at_label: function () {
                return this.momentDatetime(this.userRow.updated_at, this.settings_js_moment_datetime_format);
            },


            status_label: function () {
                return this.selection_status.label;
            }
        }
    }

    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof (oElem) == 'string' || typeof (oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof (oElem) == 'innerHTML' || typeof (oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }

</script>

<style scoped>
    .error {
        text-align: center;
        color: red;
    }

</style>
