<template>

    <div class="user_external_block_info" style="display: flex;   flex-wrap: wrap;">
        <div class="user_internal_block_info">

            <div class="user_avatar_wrapper details_block p-1">
                <router-link :to="{ name: 'PublicUserProfile', params: { id: nextThreadPost.user_id }  }" class="a_link public_user_name" target="_blank">
                    <img :src="nextThreadPost.filenameData.avatar_url" width="64px" height="auto" title="User avatar"
                         v-if="userHasAvatar(nextThreadPost)">
                    <img :src="'/images/user-avatar.jpg'" width="64px" height="auto" title="User avatar" v-if="!userHasAvatar(nextThreadPost)">
                </router-link>
            </div>


            <div class="column_content_left_aligned">

                <div class="key_values_rows">
                    <div class="public_user_name">
                        <router-link :to="{ name: 'PublicUserProfile', params: { id: nextThreadPost.user_id }  }" class="a_link public_user_name" target="_blank">
                            {{ nextThreadPost.creator_id }}=>{{ nextThreadPost.creator_name }}
                        </router-link>
                    </div>
                </div>

                <div class="key_values_rows">
                    <span class="user_member_level">Member</span>&nbsp;<span class="small_size p-1">from</span>
                </div>

                <div class="key_values_rows">
                    <span class="public_user_name">
                        {{ momentDatetime(nextThreadPost.creator_created_at,settings_js_moment_date_format) }}
                    </span>
                </div>

            </div>

            <div class="details_block column_content_left_aligned">
                <div class="key_values_rows small_size">
                    <div class="key_values_rows_label">
                        Messages:
                    </div>
                    <div class="key_values_rows_value">
                        {{ nextThreadPost.author_thread_posts_count }}
                    </div>
                </div>
                <div class="key_values_rows small_size">
                    <div class="key_values_rows_label">
                        Likes:
                    </div>
                    <div class="key_values_rows_value">
                        87
                    </div>
                </div>
                <div class="key_values_rows small_size">
                    <div class="key_values_rows_label">
                        Best&nbsp;Answers:
                    </div>
                    <div class="key_values_rows_value">
                        21
                    </div>
                </div>

            </div>
        </div>
    </div> <!-- user_external_block_info -->


</template>

<script>
    import {bus} from '../../../app';
    import appMixin from '../../../appMixin';

    import Vue from "vue";
    import {VLazyImagePlugin} from "v-lazy-image";

    Vue.use(VLazyImagePlugin);

    export default {

        data: function () {
            return {
                settings_js_moment_datetime_format: '',
                settings_js_moment_date_format: '',
            }

        },

        mounted() {
            this.settings_js_moment_datetime_format = window.settings_js_moment_datetime_format
            this.settings_js_moment_date_format = window.settings_js_moment_date_format
        },

        props: {

            currentLoggedUser: {
                required: true,
            },

            nextThreadPost: {
                required: true,
            },

            index: {
                required: true,
            },

        }, //props: {

        computed: {

        }, //computed: {

        methods: {

            userHasAvatar(user) {
                if (typeof user['filenameData'] == "undefined") return false;
                if (typeof user['filenameData'].avatar_url == "undefined") return false;
                if (typeof user['filenameData'].avatar_url == "string") return true;
                return true;
            },


        }, // methods: {

        mixins: [appMixin]

    }
</script>

<style lang="scss">
    @import "./resources/sass/_variables.scss";

    .user_external_block_info {
        /*float: left;*/
        width: 170px !important;
        margin: 8px !important;
        border: 0px dotted red !important;
    }


    .user_internal_block_info {
        width: 100% !important;
        background: #c2dac7 url(/images/gradients/tab-selected-light.png) repeat-x bottom;
        border: 5px solid #92baa7;
        padding-right: 8px !important;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 0 7px #92baa7;
        -moz-box-shadow: 0 0 7px #92baa7;
        -khtml-box-shadow: 0 0 7px #92baa7;
        box-shadow: 0 0 7px #92baa7;
        position: relative;
    }

    .user_avatar_wrapper {
        display: flex;
        justify-content: center;
    }

</style>
