<template>
	<div class="backend_editor_container card p-2">

		<form v-on:submit.prevent="validateBeforeSubmit()">


			<div class="backend_editor_title">
				<editor-header :show_loading_image="!is_page_loaded || is_page_updating" :header_icon="getHeaderIcon('facility')" :header_title=header_title
				               :message=message></editor-header>

				<!--		settings_js_moment_datetime_format::{{ settings_js_moment_datetime_format }}<br>-->
				<!--usersSelectionList::{{ usersSelectionList }}<br>-->
				<!--		facilityRow::{{ facilityRow }}<br>-->
				<!--facility_id::{{ facility_id }}<br>-->
				<!--is_page_loaded::{{ is_page_loaded }}<br>-->
				<!--is_page_updating::{{ is_page_updating }}<br>-->
				<!--is_insert::{{ is_insert }}<br>-->
				<!--		vueErrorsList::{{ vueErrorsList }}<br>-->
			</div> <!-- backend_editor_title -->


			<div class="backend_editor_fields editor_content_body_block card-body" v-show="is_page_loaded">

				<!--&& facilityRow.id-->
				<div class="form-row mb-3" v-if="!is_insert">
					<label class="col-12 col-sm-4 col-form-label" for="id">ID</label>
					<div class="col-12 col-sm-8">
						<input type="text" v-model="facilityRow.id" id="id" class="form-control" readonly>
					</div>
				</div>


				<div class="form-row mb-3">
					<label class="col-12 col-sm-4 col-form-label" for="name">Name<span class="required"> * </span></label>
					<div class="col-12 col-sm-8">
						<input id="name" name="name" v-model="facilityRow.name" type="text" placeholder="Enter unique name of facility" :class="{ 'form-control':true, 'editable_field':true, 'input':
						true, 'text-danger': vueErrorsList.has('name') }" v-validate="'required|max:100'">
						<span v-show="vueErrorsList.has('name')" class="text-danger">{{ clearErrorLabel(vueErrorsList.first('name')) }}</span>
					</div>
				</div>


				<div class="form-row mb-3">
					<label class="col-12 col-sm-4 col-form-label" for="descr">Description<span class="required"> * </span></label>
					<div class="col-12 col-sm-8">
						<input id="descr" name="descr" :class="{ 'form-control':true, 'editable_field':true, 'input':true, 'text-danger': vueErrorsList.has('descr') }"
						       v-model="facilityRow.descr"
						       type="text" placeholder="Enter descriopn of facility" v-validate="'required|max:50'">
						<span v-show="vueErrorsList.has('descr')" class="text-danger">{{ clearErrorLabel(vueErrorsList.first('descr')) }}</span>
					</div>
				</div>

				<div class="form-row mb-3" v-if="!is_insert">
					<label class="col-12 col-sm-4 col-form-label">Created at</label>
					<div class="col-12 col-sm-8">
						<input type="text" v-model="created_at_label" class="form-control" readonly>
					</div>
				</div>

			</div> <!-- <div class="backend_editor_fields editor_content_body_block card-body" v-show="is_page_loaded">  -->

			<div class="backend_editor_details" style="display: none">
				backend_editor_details
			</div> <!-- backend_editor_details -->

			<div class="backend_editor_footer card-footer">
				<editor-buttons submit_label="Submit" cancel_label="Cancel" :cancel_link="'/admin/facilities'" :is_page_updating="is_page_updating"></editor-buttons>
			</div> <!-- backend_editor_footer -->

		</form>


	</div> <!-- backend_editor_container card -->
</template>

<script>
    import {bus} from '../../../../app';
    import appMixin from '../../../../appMixin';
    import {retrieveAppDictionaries} from "../../../../helpers/commonFuncs";
    //    import Multiselect from 'vue-multiselect'
    //    import validate from 'validate.js';

    import Vue from 'vue';
    import vSelect from 'vue-select'

    Vue.component('v-select', vSelect)

    export default {
        name: 'new',
        data() {
            return {
                facilityRow: {
                    id: null,
                    name: '',
                    descr: '',
                    logo: ''
                },
                selection_account_type: null,
                selection_status: null,
                errorsList: null,
                is_page_loaded: false,
                is_page_updating: false,
                is_insert: false,
                submit_label: "Update",
                facility_id: null,
                message: '',
                settings_js_moment_datetime_format: ''
            };
        },
        mixins: [appMixin],

        created() {
//            alert( "this.$route.params::"+var_dump(this.$route.params) )

            if (this.$route.fullPath == "/admin/facilities/new") {
                this.is_insert = true
                this.is_page_loaded = true
                this.facility_id = "new"
                this.submit_label = 'Insert'
            } else {
                this.facility_id = this.$route.params.id
            }
        }, // created() {

        mounted() {

            this.settings_js_moment_datetime_format = window.settings_js_moment_datetime_format
//	        debugger
            if (!this.is_insert) { // retrieve row for editing
                this.loadFacility();
            }
            this.setAppTitle('Backend', 'Facility Editor', bus);
        }, // mounted() {


        computed: {
            header_title: function () {
                if (!this.is_insert) return "Edit facility";
                return "Add facility";
            },
            creator_name: function () {
                return this.getDictionaryLabel(this.facilityRow.creator_id, this.shortUsersSelectionList, this.facilityRow.creator_id);
            },
            created_at_label: function () {
                return this.momentDatetime(this.facilityRow.created_at, settings_js_moment_datetime_format);
            },
        }, //computed: {

        methods: {

            loadFacility() {
                this.is_page_loaded = false
                axios.get(window.API_BACKEND_VERSION_LINK + '/admin/facilities/' + this.facility_id, {})
                    .then((response) => {
                        this.facilityRow = response.data.facility
                        this.is_page_loaded = true
                    })
                    .catch((error) => {
                        console.error(error)
                        this.showPopupMessage("Facilities", 'Error loading facility !', 'warn');
                    });

            }, // loadFacility() {

            validateBeforeSubmit() {
//                this.updateFacility()
//	            return;
                this.$validator.validateAll().then((result) => {
                    if (result) {
                        this.updateFacility()
                    } else {
                        bus.$emit('editorValidationFail', 'facility', this.facility_id);
                        this.showPopupMessage("Facilities", 'Error ' + (this.is_insert ? 'adding' : 'updating') + ' facility. ', 'warn');
                    }
                })
            }, // validateBeforeSubmit() {

            updateFacility() {
                this.is_page_updating = true
                axios({
                    method: (this.is_insert ? 'post' : 'patch'),
//                    url: window.API_BACKEND_VERSION_LINK + '/admin/facilities/' + ( !this.is_insert ? "/" + this.facility_id : ''),
                    url: window.API_BACKEND_VERSION_LINK + '/admin/facilities' + (!this.is_insert ? "/" + this.facility_id : ''),
                    data: this.$data.facilityRow,
                }).then((response) => {
                    this.is_page_updating = false
                    this.showPopupMessage("Facilities", 'Facility ' + (this.is_insert ? 'added' : 'updated') + ' successfully !', 'success');
//                    return;
                    this.$router.push({path: '/admin/facilities'});
                }).catch((error) => {
                    console.error(error)
                    this.$setLaravelValidationErrorsFromResponse(error.response.data);
                    this.is_page_updating = false
                    this.showPopupMessage("Facilities", 'Error ' + (this.is_insert ? 'adding' : 'updating') + ' facility !', 'warn');
                });


            }, //updateFacility() {
            clearErrorLabel(s) {
                if (typeof s == "undefined") return "";
                return s.replace(/facilityRow./g, "").replace(/_/g, " ")
                return 'DDD';
            }

        } // methods: {
    }


    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof (oElem) == 'string' || typeof (oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof (oElem) == 'innerHTML' || typeof (oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }

</script>
