<template>
	<div class="backend_listing_container card">

		<div class="backend_listing_title">

			<listing-header :show_loading_image=!is_page_loaded :current_page=current_page :itemsList="facilitiesList" :rows_count="table_rows_count"
			                :header_icon="getHeaderIcon('facility')"
			                :header_title=header_title :right_add_button_link="'editFacility'" :item_title="'row(s)'" :message=message
			                :right_add_button_link_title="'New'"
			                parent_component_key="facilities"></listing-header>

			<!--settings_js_moment_datetime_format::{{ settings_js_moment_datetime_format }}<br>-->
			<!--filter_name::{{ filter_name }}<br>-->
			<!--is_page_loaded::{{ is_page_loaded }}<br>-->
			<!--current_page::{{ current_page }}<br>-->
			<!--table_rows_count::{{ table_rows_count }}<br>-->
			<!--filtered_rows_count::{{ filtered_rows_count }}<br>-->
<!--			per_page::{{ per_page }}<br>-->
<!--			filtered_rows_count::{{ filtered_rows_count }}<br>-->
			<!--facilitiesList::{{ facilitiesList }}<br>-->
			<!--facilityAccountTypeValueArray::{{ facilityAccountTypeValueArray }}<br>-->

		</div> <!-- backend_listing_title -->

<!--		-->
		<div class="backend_listing_filters card-title m-0 p-0">
			<fieldset class="blocks text-muted p-0 m-0">
				<legend class="blocks"><span class="legend_title">Filters</span></legend>

				<div class="filter_box_columns">
					<div class="filter_box_items_row">
						<label class="filter_box_input_label" for="filter_name">Filter by name</label>
						<input name="filter_name" id="filter_name" class="filter_box_input" type="input" value="" v-model="filter_name" v-on:change="facilitiesFilterApplied()">
					</div>
				</div>

			</fieldset>
		</div> <!-- backend_listing_filters card-title -->


		<div class="backend_listing_content card-body listing_content_body_block" v-show="is_page_loaded && facilitiesList.length" style="width: 100%;">
			<table class="table listing_content_table table-striped text-primary table-responsive td_nowrap">
				<thead>
				<th>#</th>
				<th>Name</th>
				<th>Description</th>
				<th>Created at</th>
				<th></th>
				<th></th>
				</thead>
				<tbody>
				<tr v-for="nextFacility, index in facilitiesList" :key="nextFacility.id">
					<td>{{ nextFacility.id }}</td>
					<td>{{ nextFacility.name }}</td>
					<td>{{ nextFacility.descr }}</td>
					<td>{{ momentDatetime(nextFacility.created_at, settings_js_moment_datetime_format) }}</td>
					<td>
						<router-link :to="`/admin/facilities/${nextFacility.id}`"><i :class="getHeaderIcon('edit')" title="'Edit facility') )"></i></router-link>
					</td>
					<td>
						<a v-on:click="confirmRemoveFacility(nextFacility.id, nextFacility.name, index)" :class="'a_delete_item_'+nextFacility.id">
							<i :class="getHeaderIcon('remove')" title="Delete Facility"></i>
						</a>
					</td>
				</tr>

				</tbody>
			</table>
		</div> <!-- backend_listing_content card-body  -->


		<div class="backend_listing_footer card-footer" v-show="is_page_loaded && per_page > 0 && filtered_rows_count > per_page">
			<listing-pagination :current="current_page" :total="filtered_rows_count" :items_per_page="per_page" :show_next_prior_buttons=true
			                    @paginationPageChangedEvent="loadFacilitiesList"></listing-pagination>
		</div> <!-- backend_listing_footer -->


	</div> <!-- backend_listing_container card -->

</template>

<script>
    import {bus} from '../../../../app';
    import appMixin from '../../../../appMixin';
    // import { retrieveAppDictionaries } from "../../../../helpers/commonFuncs";

    export default {
        data: function () {
            return {
                facilitiesList : [],
                is_page_loaded: false,
                message: '',
                table_rows_count: 0,
                filtered_rows_count: 0,
                per_page: 10,
                current_page: 1,
                order_by: 'name',
                order_direction: 'desc',
                filter_name: '',
                settings_js_moment_datetime_format: '',
            }

        },
        name: 'facilitiesList',

        created() {
        }, //  created() {

        mounted() {
            this.settings_js_moment_datetime_format = window.settings_js_moment_datetime_format
            this.is_page_loaded = false
            this.loadFacilitiesList(1, this.order_by, this.order_direction)
            this.setAppTitle( 'Backend', 'Facilities Listing', bus);

            bus.$on('dialog_confirmed', (paramsArray) => {
               // alert("dialog_confirmed paramsArray::" + var_dump(paramsArray))
	            // debugger
                if (paramsArray.key == this.deleteFromFacilitiesKey(paramsArray.facility_id)) {
                    this.removeFacility(paramsArray.facility_id, paramsArray.item_type);
                }
            })

        }, // mounted() {


        mixins: [appMixin],

        methods: {
            // deleteFromFacilitiesKey, confirmDeleteFacility ,

            loadFacilitiesList(page, order_by, order_direction) {
                this.message = '';
                this.is_page_loaded = false

                if (typeof order_by == "undefined") {
                    order_by = this.order_by
                }
                if (typeof order_direction == "undefined") {
                    order_direction = this.order_direction
                }
                var params_str = '';// this.getPaginationParams(page, order_by, order_direction, true)
//	            alert( "loadFacilitiesList params_str ::"+var_dump(params_str) )
//	            alert( "::"+var_dump(window.API_BACKEND_VERSION_LINK + '/admin/facilities' + params_str) )
//                axios.get(window.API_BACKEND_VERSION_LINK + '/admin/facilities' + params_str).then((response) => {
                axios.post(window.API_BACKEND_VERSION_LINK + '/admin/facilities-filter', { page : page, order_by : order_by, order_direction : order_direction, filter_name :
                this.filter_name }).then((response) => {
                    this.current_page = page
                    this.is_page_loaded = true
                    this.facilitiesList = response.data.facilitiesList;
//                    console.log("this.facilitiesList::")
//                    console.log( this.facilitiesList )
                    this.filtered_rows_count = response.data.filtered_rows_count;
                    this.table_rows_count = response.data.table_rows_count;
                    this.per_page = response.data.per_page
                }).catch((error) => {
                    console.error(error)
                    this.is_page_loaded = true
                });

            }, // loadFacilitiesList() {


            confirmRemoveFacility(facility_id, facility_name, index) {
                // this.message = '';
                this.confirmMsg( "Do you want to delete '" + facility_name + "' facility ?" , {
                    key: this.deleteFromFacilitiesKey(facility_id), facility_id: facility_id, facility_name: facility_name, index: index
                }, 'Confirm', bus);
            }, //confirmRemoveFacility(id, facility_name, index) {

            deleteFromFacilitiesKey(facility_id) {
                return 'facility__remove_' + facility_id;
            },

            removeFacility(id, item_type) {
               // alert("removeFacility   id::" + var_dump(id) + "   item_type::" + var_dump(item_type))
                this.message = '';
                this.is_page_loaded = false
                axios.delete(window.API_BACKEND_VERSION_LINK + '/admin/facilities/' + id).then((response) => {
                    this.loadFacilitiesList(1, this.order_by, this.order_direction)
                    this.showPopupMessage("Facilities", "Facility deleted successfully !", 'success');
                }).catch((error) => {
                    console.error(error)
                    this.showPopupMessage("Facilities", 'Error deleting Facility. ', 'warn');
                });
            }, // removeFacility(id, item_type) {

            facilitiesFilterApplied() {
                this.loadFacilitiesList( 1, this.order_by, this.order_direction )
            },



        }, // methods: {

        computed: {

            header_title() {
                return "Facilities";
            },

        } //computed: {

    }

    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof(oElem) == 'string' || typeof(oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof(oElem) == 'innerHTML' || typeof(oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }


</script>

