<section class="card col-sm12 col-md-12 offset-md-0 p-2 m-0" style="width: 100%;">

	<listing-header :show_loading_image=!is_page_loaded :current_page=current_page :itemsList="facilitiesList" :rows_count="table_rows_count"
	                :header_icon="getHeaderIcon('facility')"
	                :header_title=header_title :right_add_button_link="'editFacility'" :item_title="'row(s)'" :message=message
	                :right_add_button_link_title="'New'"
	                parent_component_key="facilities"></listing-header>

	<!--settings_js_moment_datetime_format::{{ settings_js_moment_datetime_format }}<br>-->
	<!--filter_name::{{ filter_name }}<br>-->
	<!--is_page_loaded::{{ is_page_loaded }}<br>-->
	<!--current_page::{{ current_page }}<br>-->
	<!--table_rows_count::{{ table_rows_count }}<br>-->
	<!--filtered_rows_count::{{ filtered_rows_count }}<br>-->
	<!--per_page::{{ per_page }}<br>-->
	<!--facilitiesList::{{ facilitiesList }}<br>-->
	<!--facilityAccountTypeValueArray::{{ facilityAccountTypeValueArray }}<br>-->
	<div class="card-title ml-0 mr-0 pb-2 pt-2">
		<fieldset class="blocks text-muted p-0 m-0">
			<legend class="blocks"><span class="legend_title">Filters</span></legend>

			<div class="form-row">
				<label class="col-12 col-sm-3 col-form-label" for="filter_name">Filter by name</label>
				<div class="col-12 col-sm-3">
					<input name="filter_name" type="input" value="" v-model="filter_name" v-on:change="facilitiesFilterApplied()">
				</div>
			</div>
		</fieldset>
	</div>

	<div class="card-body listing_content_body_block" v-show="is_page_loaded && facilitiesList.length">
		<table class="table listing_content_table table-striped text-primary table-responsive td_nowrap">
			<thead>
			<th>#</th>
			<th>Name</th>
			<th>Description</th>
			<th>Created at</th>
			<th></th>
			<th></th>
			</thead>
			<tbody>
			<tr v-for="nextFacility, index in facilitiesList" :key="nextFacility.id">
				<td>{{ nextFacility.id }}</td>
				<td>{{ nextFacility.name }}</td>
				<td>{{ nextFacility.descr }}</td>
				<td>{{ momentDatetime(nextFacility.created_at, settings_js_moment_datetime_format) }}</td>
				<td>
					<router-link :to="`/admin/facilities/${nextFacility.id}`"><i :class="getHeaderIcon('edit')" title="'Edit facility') )"></i></router-link>
				</td>
				<td>
					<a v-on:click="removeFacility(nextFacility.id, nextFacility.name, index)" :class="'a_delete_item_'+nextFacility.id">
						<i :class="getHeaderIcon('remove')" title="Delete Facility"></i>
					</a>
				</td>
			</tr>

			</tbody>
		</table>
		<div class="card-footer" v-show="per_page > 0">
			<listing-pagination :current="current_page" :total="filtered_rows_count" :items_per_page="per_page" :show_next_prior_buttons=false
			                    @paginationPageChangedEvent="loadFacilitiesList"></listing-pagination>
		</div>
	</div> <!-- <div class="card-body listing_content_body_block" v-show="is_page_loaded && facilitiesList.length"> -->

</section> <!-- class="card" -->
