<template>
	<div class="backend_listing_container card">
		<div class="backend_listing_title">

			<!--selectedNode::{{ selectedNode }}<br>-->
			<!--is_region_selected::{{ is_region_selected }}<br>-->
			<!--is_region_active::{{ is_region_active }}<br>-->

			<!--is_state_selected::{{ is_state_selected }}<br>-->
			<!--is_state_active::{{ is_state_active }}<br>-->


			<!--statesList::{{ statesList }}-->
			<listing-header :show_loading_image=!is_page_loaded :current_page=0 :itemsList="statesList" :rows_count="statesList.length"
			                :header_icon="getHeaderIcon('state')"
			                :header_title=header_title :right_add_button_link="''" :item_title="'state(s)'" :message=message
			                :right_add_button_link_title="''" :right_icon="'fa fa-refresh'"
			                parent_component_key="stateList"></listing-header>

		</div> <!-- backend_listing_title -->


		<div class="backend_listing_content card-body listing_content_body_block" v-show="is_page_loaded && statesList.length">

			<v-jstree :data="statesList"
			          :size="'large'"
			          :whole-row="true"
			          :no-dots="true"
			          @item-click="menuItemSelected"></v-jstree>

			<p v-if="selectedNode != null">{{ selectedNode.item_type }} <strong>{{ selectedNode.label }}</strong> selected</p>
		</div> <!-- backend_listing_content card-body listing_content_body_block -->

		<div class="backend_listing_footer card-footer" v-show="is_page_loaded && statesList.length">
			<div class="btn-group m-2">

				<div class="col-6" v-show="is_state_selected && !is_state_active">
					<button type="button" @click="confirmActivateState()" class="btn btn-primary">
						<i :class="'i_link '+getHeaderIcon('on')"></i>&nbsp;Activate&nbsp;State
					</button>
				</div>

				<div class="col-6" v-show="is_state_selected && is_state_active">
					<button type="button" @click="confirmDeactivateState()" class="btn btn-cancel-action">
						<i :class="'i_link '+getHeaderIcon('off')"></i>&nbsp;Deactivate&nbsp;State
					</button>
				</div>

				<div class="col-6" v-show="is_region_selected && !is_region_active">
					<button type="button" @click="confirmActivateRegion()" class="btn btn-primary">
						<i :class="'i_link '+getHeaderIcon('on')"></i>&nbsp;Activate&nbsp;Region
					</button>
				</div>

				<div class="col-6" v-show="is_region_selected && is_region_active">
					<button type="button" @click="confirmDeactivateRegion()" class="btn btn-cancel-action">
						<i :class="'i_link '+getHeaderIcon('off')"></i>&nbsp;Deactivate&nbsp;Region
					</button>
				</div>

			</div>
		</div> <!-- backend_listing_footer card-footer -->

	</div> <!-- backend_listing_container card -->

</template>

<script>
    import {bus} from '../../../../app';
    import appMixin from '../../../../appMixin';
    import {retrieveAppDictionaries} from "../../../../helpers/commonFuncs";
    import VJstree from 'vue-jstree' // https://github.com/dmlzj/vue-jstree

    export default {
        components: {
            VJstree
        },

        data: function () {

            return {
                statesList: [],
                selectedNode: {},
                is_page_loaded: false,
                message: '',
                is_region_selected: false,
                is_state_selected: false,

                is_region_active: false,
                is_state_active: false,


                settings_js_moment_datetime_format: '',
            }

        },

        name: 'list',

        created() {
        }, //  created() {

        mounted() {
            this.settings_js_moment_datetime_format = window.settings_js_moment_datetime_format
            this.is_page_loaded = false
            this.loadStatesList()
            this.setAppTitle('Backend', 'States Listing', bus);
            bus.$on('dialog_confirmed', (paramsArray) => {
//                alert("dialog_confirmed paramsArray::" + var_dump(paramsArray))
                if (paramsArray.key == this.changeStateActiveStatusKey(paramsArray.id)) {
                    this.runChangeStateActiveStatus(paramsArray.id, paramsArray.item_type);
                }
                if (paramsArray.key == this.changeStateDeactiveStatusKey(paramsArray.id)) {
                    this.runChangeStateDeactiveStatus(paramsArray.id, paramsArray.item_type);
                }

                if (paramsArray.key == this.changeRegionActiveStatusKey(paramsArray.id)) {
                    this.runChangeRegionActiveStatus(paramsArray.id, paramsArray.item_type);
                }
                if (paramsArray.key == this.changeRegionDeactiveStatusKey(paramsArray.id)) {
                    this.runChangeRegionDeactiveStatus(paramsArray.id, paramsArray.item_type);
                }
            })

            bus.$on('listingHeaderRightButtonClickedEvent', (parent_component_key) => {
                if (parent_component_key == 'stateList') {
                    this.loadStatesList()
                }
            })
        }, // mounted() {


        beforeDestroy(){
            bus.$off( 'dialog_confirmed' )
        },


        mixins: [appMixin],

        methods: {

            menuItemSelected(node) {
                this.selectedNode = node.model;
                this.is_region_selected = false;
                this.is_state_selected = false;
                this.is_region_active = false;
                this.is_state_active = false;
                if (node.model.item_type == "region") {
                    if (node.model.active == "A") {
                        this.is_region_active = true;
                    }
                    this.is_region_selected = true;
                }


                if (node.model.item_type == "state") {
                    if (node.model.active == "A") {
                        this.is_state_active = true;
                    }
                    this.is_state_selected = true;
                }
                console.log(node.model)
                console.log(node.model.label + ' clicked !')
            },
            changeStateActiveStatusKey(id) {
                return 'change_state_active_status_key_' + id;
            },

            changeStateDeactiveStatusKey(id) {
                return 'change_state_inactive_status_key_' + id;
            },


            changeRegionActiveStatusKey(id) {
                return 'change_region_active_status_key_' + id;
            },

            changeRegionDeactiveStatusKey(id) {
                return 'change_region_inactive_status_key_' + id;
            },


            confirmActivateState() {
                this.confirmMsg("Do you want to activate '" + this.selectedNode.label + "' state  ?", {
                    key: this.changeStateActiveStatusKey(this.selectedNode.id), id: this.selectedNode.id,
                    item_type: this.selectedNode.item_type
                }, 'Confirm', bus);
            },
            runChangeStateActiveStatus(id, item_type) {
//                alert("runChangeStateActiveStatus   id::" + var_dump(id) + "   item_type::" + var_dump(item_type))
                this.message = '';
                this.is_page_loaded = false

                axios.post(window.API_BACKEND_VERSION_LINK + '/admin/state-set-active', {state_id: id}).then((response) => {
                    this.loadStatesList()
                    this.is_page_loaded = true
                    this.showPopupMessage("State activation", 'State was activated successfully !', 'success');
                }).catch((error) => {
                    console.error(error)
                    this.is_page_loaded = true
                    this.showPopupMessage("State activation", 'Error state activation !', 'warn');
                });
            }, // runChangeStateActiveStatus(id, item_type) {


            confirmDeactivateState() {
//                alert("deactivateState()::" + var_dump(-1))
                this.confirmMsg("Do you want to deactivate '" + this.selectedNode.label + "' state  ?", {
                    key: this.changeStateDeactiveStatusKey(this.selectedNode.id), id:
                    this.selectedNode.id, item_type: this.selectedNode.item_type
                }, 'Confirm', bus);
            },
            runChangeStateDeactiveStatus(id, item_type) {
//                alert("runChangeStateActiveStatus   id::" + var_dump(id) + "   item_type::" + var_dump(item_type))
                this.message = '';
                this.is_page_loaded = false

                axios.post(window.API_BACKEND_VERSION_LINK + '/admin/state-set-inactive', {state_id: id}).then((response) => {
                    this.loadStatesList()
                    this.is_page_loaded = true
                    this.showPopupMessage("State deactivation", 'State was deactivated successfully !', 'success');
                }).catch((error) => {
                    console.error(error)
                    this.is_page_loaded = true
                    this.showPopupMessage("State deactivation", 'Error state deactivation !', 'warn');
                });
            }, // runChangeStateDeactiveStatus(id, item_type) {


            confirmActivateRegion() {
//                alert("activateRegion()::" + var_dump(-1))
                this.confirmMsg("Do you want to activate '" + this.selectedNode.label + "' region  ?", {
                    key: this.changeRegionActiveStatusKey(this.selectedNode.id), id:
                    this.selectedNode.id, item_type: this.selectedNode.item_type
                }, 'Confirm', bus);
            },
            runChangeRegionActiveStatus(id, item_type) {
//                alert("runChangeRegionActiveStatus   id::" + var_dump(id) + "   item_type::" + var_dump(item_type))
                this.message = '';
                this.is_page_loaded = false

                axios.post(window.API_BACKEND_VERSION_LINK + '/admin/region-set-active', {region_id: id}).then((response) => {
                    this.loadStatesList()
                    this.is_page_loaded = true
                    this.showPopupMessage("Region activation", 'Region was activated successfully !', 'success');
                }).catch((error) => {
                    console.error(error)
                    this.is_page_loaded = true
                    this.showPopupMessage("Region activation", 'Error region activation !', 'warn');
                });
            }, // runChangeRegionActiveStatus(id, item_type) {


            confirmDeactivateRegion() {
               // alert("deactivateRegion()::" + var_dump(-1))
                this.confirmMsg( "Do you want to deactivate '" + this.selectedNode.label + "' region  ?", { key : this.changeRegionDeactiveStatusKey(this.selectedNode.id), id : this.selectedNode.id, item_type: this.selectedNode.item_type },
                    'Confirm', bus );
            },

            runChangeRegionDeactiveStatus(id, item_type) {
//                alert("runChangeRegionActiveStatus   id::" + var_dump(id) + "   item_type::" + var_dump(item_type))
                this.message = '';
                this.is_page_loaded = false

                axios.post(window.API_BACKEND_VERSION_LINK + '/admin/region-set-inactive', {region_id: id}).then((response) => {
                    this.loadStatesList()
                    this.is_page_loaded = true
                    this.showPopupMessage("Region deactivation", 'Region was deactivated successfully !', 'success');
                }).catch((error) => {
                    console.error(error)
                    this.is_page_loaded = true
                    this.showPopupMessage("Region deactivation", 'Error region deactivation !', 'warn');
                });
            }, // runChangeRegionDeactiveStatus(id, item_type) {


            loadStatesList() {
                this.message = '';
                this.is_page_loaded = false
                this.selectedNode = null;
                axios.post(window.API_BACKEND_VERSION_LINK + '/admin/get-states').then((response) => {
                    this.is_page_loaded = true
                    this.statesList = response.data.statesList;
                }).catch((error) => {
                    console.error(error)
                    this.is_page_loaded = true
                });
            }, // loadStatesList() {

        }, // methods: {

        computed: {

            header_title() {
                return "States";
            },

        } //computed: {

    }

    function var_dump(oElem, from_line, till_line) {
        if (typeof oElem == 'undefined') return 'undefined';
        var sStr = '';
        if (typeof(oElem) == 'string' || typeof(oElem) == 'number') {
            sStr = oElem;
        } else {
            var sValue = '';
            for (var oItem in oElem) {
                sValue = oElem[oItem];
                if (typeof(oElem) == 'innerHTML' || typeof(oElem) == 'outerHTML') {
                    sValue = sValue.replace(/</g, '&lt;').replace(/>/g, '&gt;');
                }
                sStr += 'obj.' + oItem + ' = ' + sValue + '\n';
            }
        }
        //alert( "from_line::"+(typeof from_line) )
        if (typeof from_line == "number" && typeof till_line == "number") {
            return sStr.substr(from_line, till_line);
        }
        if (typeof from_line == "number") {
            return sStr.substr(from_line);
        }
        return sStr;
    }


</script>

