<template>
    <div class="chat-app">
        <!--selectedContact::{{ selectedContact }}<br>-->
        customerRow::{{ customerRow.id }}<br>
        <Conversation :contact="selectedContact" :customerRow="customerRow" :messages="messages" @new="saveNewMessage"/>
        <ContactsList :contacts="contacts" @selected="startConversationWith"/>
    </div>
</template>

<script>
    import Conversation from './Conversation';
    import ContactsList from './ContactsList';

    export default {
        props: {
            customerRow: {
                type: Object,
                required: true
            }
        },
        data() {
            return {
                selectedContact: null,
                messages: [],
                contacts: []
            };
        },
        mounted() {
            Echo.private(`messages.${this.customerRow.id}`)
                .listen('NewMessage', (e) => {
                    this.hanleIncoming(e.message);
                });
            this.loadCustomers()
        },
        methods: {
            loadCustomers() {
                this.is_page_loaded = false
                axios.get(window.API_VERSION_LINK + '/personal/managers').then((response) => {
                    this.contacts= response.data.managersList;
                    this.is_page_loaded = true;
                }).catch((error) => {
                    console.error(error)
                    if ( error.response.data.error_code == 11 ) {
                        this.showPopupMessage(error.response.data.message, 'warn');
                        this.$router.push({path: '/'});
                    }
                    this.is_page_loaded = true
                });


            }, // loadCustomers() {

            startConversationWith(contact) {
                this.updateUnreadCount(contact, true);
                axios.get(window.API_VERSION_LINK + '/personal/get_manager_messages/'+this.customerRow.id+'/'+contact.id)
                    .then((response) => {
                        this.messages = response.data;
                        this.selectedContact = contact;
                    })
            },
            saveNewMessage(message) {
                this.messages.push(message);
            },
            hanleIncoming(message) {
                if (this.selectedContact && message.from == this.selectedContact.id) {
                    this.saveNewMessage(message);
                    return;
                }

                this.updateUnreadCount(message.from_contact, false);
            },
            updateUnreadCount(contact, reset) {
                this.contacts = this.contacts.map((single) => {
                    if (single.id !== contact.id) {
                        return single;
                    }

                    if (reset)
                        single.unread = 0;
                    else
                        single.unread += 1;

                    return single;
                })
            }
        },
        components: {Conversation, ContactsList}
    }
</script>


<style lang="scss" scoped>
.chat-app {
    display: flex;
}
</style>
