<template>
    <div class="conversation">
        is_page_updating::{{ is_page_updating }}<br>
        customerRow.id::{{ customerRow.id }}<br>
        <!--contact.id::{{ contact.id }}<br>-->
        <!--<h1>{{ contact ? contact.name : 'Select a Contact' }}</h1>-->
        <MessagesFeed :contact="contact" :messages="messages"/>
        <MessageComposer @send="sendChatMessage"/>
    </div>
</template>

<script>
    import {bus} from '../../../app';
    import appMixin from '../../../appMixin';
    import MessagesFeed from './MessagesFeed';
    import MessageComposer from './MessageComposer';

    export default {

        data() {
            return {
                is_page_updating: false,
            };
        },
        mixins: [appMixin],

        props: {
            contact: {
                type: Object,
                default: null
            },
            customerRow: {
                type: Object
            },
            messages: {
                type: Array,
                default: []
            }
        },
        methods: {
            sendChatMessage(text) {
                if (!this.contact) {
                    this.showPopupMessage("Chat with Manager", 'Select Manager', 'warn');
                    return;
                }
                this.is_page_updating = true
                axios({
                    method: ( 'post' ),
                    url: window.API_VERSION_LINK + '/personal/send_message',
                    data: { text: text, from : this.customerRow.id, to: this.contact.id,  },
                }).then((response) => {
                    console.log("response::")
                    console.log( response )

                    console.log("response.data.message::")
                    console.log( response.data.message )
                    this.messages.push(response.data.message)

                    this.is_page_updating = false
                    this.showPopupMessage("Chat with Manager", 'New was sent successfully !', 'success');
//                    return;
                }).catch((error) => {
                    console.error(error)
                    this.$setLaravelValidationErrorsFromResponse(error.response.data);
                    this.is_page_updating = false
                    this.showPopupMessage("Chat with Manager", 'Error sending message !', 'warn');
                });
            }
        },
        components: {MessagesFeed, MessageComposer}
    }
</script>

<style lang="scss" scoped>
.conversation {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1 {
        font-size: 20px;
        padding: 10px;
        margin: 0;
        border-bottom: 1px dashed lightgray;
    }
}
</style>
